{% extends 'events/manager/calendar/update.html' %}
{% load widget_tweaks %}

{% block calendar_edit_title %}Users and Permissions{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hidden-xs">
                <li class="active">
                    <a href="{% url 'calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
                </li>
                <li>
                    <a href="{% url 'calendar-update' pk=calendar.pk %}">Calendar Info</a>
                </li>
                <li>
                    <a href="{% url 'calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
                </li>
            </ul>
            <div class="btn-group dropdown mobile-nav-tabs visible-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Options... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="active">
                        <a href="{% url 'calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
                    </li>
                    <li>
                        <a href="{% url 'calendar-update' pk=calendar.pk %}">Calendar Info</a>
                    </li>
                    <li>
                        <a href="{% url 'calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
                    </li>
                </ul>
            </div>
            {% if user == calendar.owner or user.is_superuser %}
            <a id="manager-calendar-delete" class="secondary-nav-action object-modify" href="{% url 'calendar-delete' pk=calendar.pk %}">
                <i class="fa fa-trash-o"></i>Delete Calendar
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row page-content">
        <div class="col-md-12" id="users-permissions">

            <h2>Add New User</h2>
            <label for="id_username_d" class="sr-only">Search a user</label>
            <label for="id_role" class="sr-only">Select a role</label>
            <form class="form-inline" id="manager-calendar-add-user" method="GET" action="{% url 'calendar-add-update-user' pk=calendar.pk username="username" role="role" %}">
                <div class="form-group">
                    <select id="id_username_d" name="username_d" class="form-control">
                        {% for user in users %}
                        <option value="{{ user.username|escapejs }}" {% if user in calendar.admins.all or user in calendar.editors.all or user == calendar.owner %}disabled="disabled"{% endif %}>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input id="id_add_user" style="display:none;" class="form-control user-search" type="text" autocomplete="off" placeholder="Search by first, last name or NID" name="add_user">
                </div>
                <div class="form-group">
                    <select id="id_role" class="form-control" name="role">
                        <option value="admin">Admin</option>
                        <option value="editor" selected>Editor</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block-xs" id="add-user-submit">Add User</button>
            </form>

            <h2>Users With Access to this Calendar</h2>
            <div class="panel panel-default">
                <table class="table table-hover manager-item-table" id="manager-calendar-access">
                    <thead>
                        <tr>
                            <th class="calendar-access-name">Name</th>
                            <th class="calendar-access-username">NID</th>
                            <th class="calendar-access-role"><span class="line-break">Access Role</span></th>
                            <th class="calendar-access-actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Calendar Owner -->
                        <tr {% if user == calendar.owner %}class="info"{% endif %}>
                            <td class="calendar-access-name"><span class="line-break">{{ calendar.owner.first_name }} {{ calendar.owner.last_name }}</span></td>
                            <td class="calendar-access-username">{{ calendar.owner.username }}</td>
                            <td class="calendar-access-role">Owner</td>
                            <td class="calendar-access-actions actions-col">
                                {% if calendar in user.owned_calendars.all or user.is_superuser %}
                                    {% if calendar.admins.count > 0 or calendar.editors.count > 0 %}
                                    <a class="btn btn-default btn-xs" href="#calendar-reassign-ownership" data-toggle="modal"><i class="fa fa-exchange"></i> Re-assign Ownership</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Calendar Admins -->
                        {% for admin in calendar.admins.all %}
                        <tr {% if user == admin %}class="info"{% endif %}>
                            <td class="calendar-access-name"><span class="line-break">{{ admin.first_name }} {{ admin.last_name }}</span></td>
                            <td class="calendar-access-username">{{ admin.username }}</td>
                            <td class="calendar-access-role">Admin</td>
                            <td class="calendar-access-actions actions-col">
                                {% if user == admin %}
                                <a class="btn btn-default btn-xs" href="#calendar-demote-self-editor" data-toggle="modal"><i class="fa fa-arrow-circle-down"></i> Make Editor</a>
                                <a class="btn btn-default btn-xs" href="#calendar-remove-self" data-toggle="modal"><i class="fa fa-times-circle"></i> Remove User</a>
                                {% else %}
                                <a class="btn btn-default btn-xs" href="{% url 'calendar-add-update-user' pk=calendar.pk username=admin.username role="editor" %}"><i class="fa fa-arrow-circle-down"></i> Make Editor</a>
                                <a class="btn btn-default btn-xs" href="{% url 'calendar-delete-user' pk=calendar.pk username=admin.username %}"><i class="fa fa-times-circle"></i> Remove User</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Calendar Editors -->
                        {% for editor in calendar.editors.all %}
                        <tr {% if user == editor %}class="info"{% endif %}>
                            <td class="calendar-access-name"><span class="line-break">{{ editor.first_name }} {{ editor.last_name }}</span></td>
                            <td class="calendar-access-username">{{ editor.username }}</td>
                            <td class="calendar-access-role">Editor</td>
                            <td class="calendar-access-actions actions-col">
                                <a class="btn btn-default btn-xs" href="{% url 'calendar-add-update-user' pk=calendar.pk username=editor.username role="admin" %}"><i class="fa fa-arrow-circle-up"></i> Make Admin</a>
                                <a class="btn btn-default btn-xs" href="{% url 'calendar-delete-user' pk=calendar.pk username=editor.username %}"><i class="fa fa-times-circle"></i> Remove User</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Reassign ownership modal -->
            {% if user.is_superuser or calendar in user.owned_calendars.all %}
            <div class="modal fade" id="calendar-reassign-ownership" tabindex="-1" role="dialog" aria-labelledby="calendar-reassign-ownership-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title" id="calendar-reassign-ownership-label">Reassign Ownership of Calendar: <span class="alt">{{ calendar.title }}</span></h2>
                        </div>
                        <div class="modal-body">
                            <p>
                                You are about to reassign ownership of this calendar to an existing user.<br/>
                                {% if user.is_superuser and not calendar in user.owned_calendars.all %}
                                The owner of this calendar
                                {% else %}
                                You
                                {% endif %}
                                will be reassigned as an Admin.
                            </p>
                            <select id="new-owner-select" class="form-control">
                                <option value="">Select a User</option>
                                {% for admin in calendar.admins.all %}
                                <option value="{{ admin.username }}">{{ admin.first_name }} {{ admin.last_name }} (Admin)</option>
                                {% endfor %}
                                {% for editor in calendar.editors.all %}
                                <option value="{{ editor.username }}">{{ editor.first_name }} {{ editor.last_name }} (Editor)</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'calendar-reassign-ownership' pk=calendar.pk username=calendar.owner.username %}" class="btn btn-primary">Reassign Ownership</a>
                            <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Demote self to Editor modal -->
            {% if user in calendar.admins.all %}
            <div class="modal fade" id="calendar-demote-self-editor" tabindex="-1" role="dialog" aria-labelledby="calendar-demote-self-editor-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title" id="calendar-demote-self-editor-label">Demote Self to Editor</h2>
                        </div>
                        <div class="modal-body">
                            <p>
                                <strong>Warning:</strong> You are about to demote yourself to an Editor role.
                                As an Editor, you will no longer have access to this calendar's management options
                                and you will be redirected to your Dashboard when you click 'Continue'. Proceed?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'calendar-add-update-user' pk=calendar.pk username=user role='editor' %}" class="btn btn-danger">Continue</a>
                            <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Remove self from calendar modal -->
            {% if user in calendar.admins.all %}
            <div class="modal fade" id="calendar-remove-self" tabindex="-1" role="dialog" aria-labelledby="calendar-remove-self-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title" id="calendar-remove-self-label">Remove Self from Calendar</h2>
                        </div>
                        <div class="modal-body">
                            <p>
                                <strong>Warning:</strong> You are about to remove yourself from this calendar.
                                You will no longer be able to submit events to this calendar or access this
                                calendar's management options. Clicking 'Continue' will redirect you to your
                                Dashboard. Proceed?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'calendar-delete-user' pk=calendar.pk username=user %}" class="btn btn-danger">Continue</a>
                            <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
