{% extends 'events/manager/calendar/update.html' %}
{% load widget_tweaks %}
{% load url %}

{% block calendar_edit_title %}Update Subscriptions{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hidden-xs">
                <li>
                    <a href="{% url 'calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
                </li>
                <li>
                    <a href="{% url 'calendar-update' pk=calendar.pk %}">Calendar Info</a>
                </li>
                <li class="active">
                    <a href="{% url 'calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
                </li>
            </ul>
            <div class="btn-group dropdown mobile-nav-tabs visible-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Options... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
                    </li>
                    <li>
                        <a href="{% url 'calendar-update' pk=calendar.pk %}">Calendar Info</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
                    </li>
                </ul>
            </div>
            {% if user == calendar.owner or user.is_superuser %}
            <a id="manager-calendar-delete" class="secondary-nav-action object-modify" href="{% url 'calendar-delete' pk=calendar.pk %}">
                <i class="fa fa-trash-o"></i>Delete Calendar
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row page-content">
        <div class="col-md-12" id="subscriptions">

            <h2>Your Subscribed Calendars</h2>
            <p>
                Below are calendars that <em>{{ calendar.title }}</em> is currently subscribed to.
                Events from the calendars listed below will automatically publish to your calendar and receive updates from the original when they are made.
            </p>
            {% if calendar.subscriptions.all %}
            <div class="panel panel-default">
                <table class="table manager-item-table table-hover" id="manager-calendar-your-subscriptions">
                    <thead>
                        <tr>
                            <th class="calendar-subscriptions-name"><span class="line-break">Calendar Name</span></th>
                            <th class="calendar-subscriptions-owner">Owner</th>
                            <th class="calendar-subscriptions-actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub_cal in calendar.subscriptions.all %}
                        <tr>
                            <td class="calendar-subscriptions-name">
                                <a class="line-break" href="{% url 'calendar' pk=sub_cal.pk slug=sub_cal.slug %}">{{ sub_cal.title }}</a>
                            </td>
                            <td class="calendar-subscriptions-owner">
                                <span class="line-break">
                                    {{ sub_cal.owner }}
                                    {% if sub_cal.owner.first_name and sub_cal.owner.last_name %}
                                        ({{ sub_cal.owner.first_name }} {{ sub_cal.owner.last_name }})
                                    {% endif %}
                                </span>
                            </td>
                            <td class="calendar-subscriptions-actions">
                                <a class="btn btn-default btn-xs" href="{% url 'calendar-unsubscribe' pk=calendar.pk subscribed_calendar_id=sub_cal.pk %}"><i class="fa fa-times-circle"></i> Unsubscribe</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info">
                <p>
                    <strong><em>This calendar is currently not subscribed to any other calendars.</em></strong>
                </p>
                <p>
                    To subscribe to a calendar, go to that calendar's event list and click the "Subscribe" link at the top of the page, next to the calendar title.
                </p>
            </div>
            {% endif %}

            <h2>Subscribing Calendars</h2>
            <p>
                Below are calendars that are subscribed to <em>{{ calendar.title }}</em>.  These calendars will automatically receive copies of events you publish.
            </p>
            {% if calendar.subscribing_calendars %}
            <div class="panel panel-default">
                <table class="table manager-item-table table-hover" id="manager-calendar-subscribing-cals">
                    <thead>
                        <tr>
                            <th class="calendar-subscriptions-name"><span class="line-break">Calendar Name</span></th>
                            <th class="calendar-subscriptions-owner">Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub_cal in calendar.subscribing_calendars.all %}
                        <tr>
                            <td class="calendar-subscriptions-name">
                                <a class="line-break" href="{% url 'calendar' pk=sub_cal.pk slug=sub_cal.slug %}">{{ sub_cal.title }}</a>
                            </td>
                            <td class="calendar-subscriptions-owner">
                                <span class="line-break">
                                    {{ sub_cal.owner }} ({{ sub_cal.owner.first_name }} {{ sub_cal.owner.last_name }})
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info">
                <p>
                    <strong><em>No calendars are currently subscribed to this calendar.</em></strong>
                </p>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
