<footer class="ucf-footer" aria-label="University of Central Florida footer">
  <a class="ucf-footer-title" href="https://www.ucf.edu/">University of Central Florida</a>
  <ul class="ucf-footer-social">
    <li class="ucf-footer-social-item">
      <a class="ucf-footer-social-link" href="https://www.facebook.com/UCF" target="" aria-label="Facebook"></a>
    </li>
    <li class="ucf-footer-social-item">
      <a class="ucf-footer-social-link" href="https://twitter.com/UCF" target="" aria-label="Twitter"></a>
    </li>
    <li class="ucf-footer-social-item">
      <a class="ucf-footer-social-link" href="https://www.ucf.edu/social/" target="" aria-label="Social"></a>
    </li>
    <li class="ucf-footer-social-item">
      <a class="ucf-footer-social-link" href="https://www.youtube.com/user/UCF" target="" aria-label="YouTube"></a>
    </li>
    <li class="ucf-footer-social-item">
      <a class="ucf-footer-social-link" href="https://www.instagram.com/ucf.edu/" target="" aria-label="Instagram"></a>
    </li>
  </ul>
  <ul class="ucf-footer-nav">
    <li class="ucf-footer-nav-item">
      <a class="ucf-footer-nav-link" target="_blank" href="{% url 'help' %}">Help &amp; Documentation</a>
    </li>
    <li class="ucf-footer-nav-item">
      <a class="ucf-footer-nav-link"href="mailto:webcom@ucf.edu">UCF Events Contact</a>
    </li>
    <li class="ucf-footer-nav-item">
      <a class="ucf-footer-nav-link" target="_blank" href="https://www.ucf.edu/about-ucf/">About UCF</a>
    </li>
    <li class="ucf-footer-nav-item">
      <a class="ucf-footer-nav-link" target="_blank" href="https://www.ucf.edu/announcements/">UCF Announcements</a>
    </li>
    <li class="ucf-footer-nav-item">
      <a class="ucf-footer-nav-link" target="_blank" href="https://www.ucf.edu/news/">UCF News</a>
    </li>
  </ul>
  <p class="ucf-footer-address">
    4000 Central Florida Blvd. Orlando, Florida, 32816 | <a rel="nofollow" class="ucf-footer-underline-link"
      href="tel:4078232000">407.823.2000</a>
    <br>
    © <a class="ucf-footer-underline-link" href="https://www.ucf.edu/">University of Central Florida</a>
  </p>
</footer>
