{% load core_tags %}
{% if user.is_authenticated %}
<ul class="nav nav-tabs hidden-sm-down mb-3">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'search_view' %}?q={{ request.GET.q|quote_plus }}">All Calendars and Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'search_manager_view' %}?q={{ request.GET.q|quote_plus }}">Just My Events</a>
  </li>
</ul>
<div class="dropdown hidden-md-up mb-3">
  <button class="btn btn-default dropdown-toggle" type="button" id="mobileSearchDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    View By...
  </button>
  <div class="dropdown-menu" aria-labelledby="mobileSearchDropdownMenuButton">
    <li><a class="dropdown-item" href="{% url 'search_view' %}?q={{ request.GET.q|quote_plus }}">All Calendars and Events</a>
    <a class="dropdown-item active" href="{% url 'search_manager_view' %}?q={{ request.GET.q|quote_plus }}">Just My Events</a>
  </div>
</div>
{% endif %}
