{% if user.is_authenticated %}
<body class="logged-in">
  <div id="ucfhb" style="min-height: 50px; background-color: #000;"></div>
  <nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
    <div class="container">
      <span class="navbar-text mr-xl-3"><a class="text-secondary font-weight-bold" href="{% url 'home' %}">UCF Events</a>: <a href="{% url 'dashboard' %}" class="pl-1 text-secondary font-weight-bold">Admin</a> </span>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav">
          <li class="nav-item hidden-xl-up">
            <a class="nav-link" href="{% url 'profiles.views.profile-settings' %}">
              <span class="fa fa-user pr-1" aria-hidden="true"></span>Account Settings
            </a>
          </li>
          <li class="nav-item dropdown hidden-lg-down">
            <a class="nav-link dropdown-toggle user-dropdown-link" href="{% url 'profiles.views.profile-settings' %}" id="navbarDropdownUserSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-user pr-1" aria-hidden="true"></span>Hi, {{ user.first_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownUserSettings">
              <span class="dropdown-header text-uppercase">Your Account</span>
              <a class="dropdown-item" href="{% url 'profiles.views.profile-settings' %}">
                <span class="fa fa-cog pr-1" aria-hidden="true"></span>Settings
              </a>
            </div>
          </li>
        </ul>
        {% if not first_login %}
        <ul class="navbar-nav ml-auto">
          {% if user.calendars %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events.views.manager.event-create' %}">
              <span class="fa fa-pencil-alt pr-1" aria-hidden="true"></span>Create Event
            </a>
          </li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'events.views.manager.calendar-list' %}" id="navbarDropdownAdminMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-key pr-1" aria-hidden="true"></span>Admin Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownAdminMenu">
              <span class="dropdown-header text-uppercase">Moderate</span>
              <a class="dropdown-item" href="{% url 'events.views.manager.location-list' %}">
                <span class="fa fa-map-marker-alt fa-fw mr-2" aria-hidden="true"></span>Locations
              </a>
              <a class="dropdown-item" href="{% url 'events.views.manager.category-list' %}">
                <span class="fa fa-tag fa-fw mr-2" aria-hidden="true"></span>Categories
              </a>
              <a class="dropdown-item" href="{% url 'events.views.manager.tag-list' %}">
                <span class="fa fa-tags fa-fw mr-2" aria-hidden="true"></span>Tags
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'profiles.views.profile-list' %}">
                <span class="fa fa-users fa-fw mr-2" aria-hidden="true"></span>All Users
              </a>
              <a class="dropdown-item" href="{% url 'events.views.manager.calendar-list' %}">
                <span class="far fa-calendar-alt fa-fw mr-2" aria-hidden="true"></span>All Calendars
              </a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" id="navbarDropdownCalendars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="far fa-calendar-alt pr-1" aria-hidden="true"></span>My Calendars
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownCalendars">
              <a class="dropdown-item" href="{% url 'dashboard' %}">View All</a>
              <div class="dropdown-divider"></div>
              {% if user.calendars %}
                {% for calendar in user.calendars %}
                  <a class="dropdown-item" href="{% url 'dashboard' pk=calendar.pk %}">
                    <span class="far fa-calendar-alt fa-fw mr-2" aria-hidden="true"></span>{{ calendar.title }}
                  </a>
                {% endfor %}
                <div class="dropdown-divider"></div>
              {% endif %}

              <a class="dropdown-item" href="{% url 'events.views.manager.calendar-create' %}">
                <span class="fa fa-plus fa-fw mr-2" aria-hidden="true"></span>Create New Calendar
              </a>
            </div>
          </li>
          <li class="nav-item mt-2 mt-xl-0 ml-xl-3">
            <a class="nav-link" href="{% url 'accounts-logout' %}">
              <span class="fa fa-sign-out-alt pr-1" aria-hidden="true"></span>Log Out
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
{% else %}
<body>
{% endif %}
<div class="alert alert-info">
  <div class="container">
    <div class="d-flex">
      <span class="fa fa-info-circle fa-2x mr-3 mr-md-4 mt-1" aria-hidden="true"></span>
      <div>
        <p class="mb-2">To help minimize the spread of COVID-19, some events are being offered virtually, and in-person events have additional safety requirements.</p>
        <p class="mb-0">If you have questions about what’s open around campus, please check out <a href="https://www.ucf.edu/coronavirus/whats-open-at-ucf/" class="alert-link">this regularly updated guide</a>.</p>
      </div>
    </div>
  </div>
</div>
