{% if user.is_authenticated %}
<body class="logged-in">
    <div class="container-wide nav-wrap" data-spy="affix" data-offset-top="50">
        <nav class="container">
            <div class="row">
                <div class="col-md-12 nav-inner">
                    <div class="pull-left">
                        <span class="navbar-title"><a href="{% url 'home' %}">UCF Events</a>: <a href="{% url 'dashboard' %}">Admin</a></span>

                        <span class="nav-divider"></span>

                        <ul class="nav-actions user">
                            <li class="dropdown">
                                <a class="dropdown-toggle username" data-toggle="dropdown" href="{% url 'profiles.views.profile-settings' %}">
                                    <i class="fa fa-user"></i>
                                    <span class="greeting">Hi,</span>
                                    <span class="action-text"><strong>{{ user.first_name }}</strong></span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Your Account</li>
                                    <li role="presentation">
                                        <a href="{% url 'profiles.views.profile-settings' %}">
                                            <i class="fa fa-cog fa-fw"></i>
                                            <span class="action-text">Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="pull-right">
                        {% if not first_login %}
                        <ul class="nav-actions actions-primary">
                            {% if user.calendars %}
                            <li class="create-event">
                                <a class="btn btn-primary btn-sm" href="{% url 'events.views.manager.event-create' %}">
                                    <span class="fa-stack fa-md">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                                    </span>
                                    <span class="action-text">Create Event</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'events.views.manager.calendar-list' %}">
                                    <i class="fa fa-key"></i>
                                    <span class="action-text">Admin Menu</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">Moderate</li>
                                    <li role="presentation">
                                        <a href="{% url 'events.views.manager.location-list' %}">
                                            <i class="fa fa-map-marker fa-fw"></i>
                                            <span class="action-text">Locations</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'events.views.manager.category-list' %}">
                                            <i class="fa fa-tag fa-fw"></i>
                                            <span class="action-text">Categories</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'events.views.manager.tag-list' %}">
                                            <i class="fa fa-tags fa-fw"></i>
                                            <span class="action-text">Tags</span>
                                        </a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation">
                                        <a href="{% url 'profiles.views.profile-list' %}">
                                            <i class="fa fa-group fa-fw"></i>
                                            <span class="action-text">All Users</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'events.views.manager.calendar-list' %}">
                                            <i class="fa fa-calendar fa-fw"></i>
                                            <span class="action-text">All Calendars</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'dashboard' %}">
                                    <i class="fa fa-calendar"></i>
                                    <span class="action-text">My Calendars</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li role="presentation">
                                        <a href="{% url 'dashboard' %}">View All</a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                {% if user.calendars %}
                                    {% for calendar in user.calendars %}
                                        <li role="presentation"{% if current_calendar == calendar %} class="selected"{% endif %}>
                                            <a href="{% url 'dashboard' pk=calendar.pk %}" class="name">
                                                <i class="fa fa-calendar"></i> {{ calendar.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="divider" role="presentation"></li>
                                 {% endif %}
                                    <li role="presentation">
                                        <a href="{% url 'events.views.manager.calendar-create' %}">
                                            <i class="fa fa-plus"></i>
                                            <span class="action-text">Create New Calendar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}

                        <span class="nav-divider"></span>

                        <ul class="nav-actions logout">
                            <li>
                                <a href="{% url 'accounts-logout' %}">
                                    <i class="fa fa-power-off"></i>
                                    <span class="action-text">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% else %}
<body>
{% endif %}
<div class="alert alert-info">
  <div class="container">
    <div class="d-flex">
      <span class="fa fa-info-circle fa-2x mr-3 mr-md-4 mt-1" aria-hidden="true"></span>
      <div>
        <p class="mb-2">To help minimize the spread of COVID-19, some events are being offered virtually, and in-person events have additional safety requirements.</p>
        <p class="mb-0">If you have questions about what’s open around campus, please check out <a href="https://www.ucf.edu/coronavirus/whats-open-at-ucf/" class="alert-link">this regularly updated guide</a>.</p>
      </div>
    </div>
  </div>
</div>
