{% load core_tags %}
{% if user.is_authenticated %}
<ul class="nav nav-tabs hidden-xs">
    <li class="active">
        <a href="{% url 'search_view' %}?q={{ request.GET.q|quote_plus }}">All Calendars and Events</a>
    </li>
    <li>
        <a href="{% url 'search_manager_view' %}?q={{ request.GET.q|quote_plus }}">Just My Events</a>
    </li>
</ul>
<div class="btn-group dropdown mobile-nav-tabs visible-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        View By... <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li class="active">
            <a href="{% url 'search_view' %}?q={{ request.GET.q|quote_plus }}">All Calendars and Events</a>
        </li>
        <li>
            <a href="{% url 'search_manager_view' %}?q={{ request.GET.q|quote_plus }}">Just My Events</a>
        </li>
    </ul>
</div>
{% endif %}
