{% extends 'events/frontend/base.html' %}
{% load widgets %}
{% load core_tags %}
{% load url %}

{# NOTE: these block declarations must be kept separate so that {{ block.super }} renders properly #}
{% block title %}UCF {{ category.title }} Events | {% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }}{% endblock %}
{% block og_title %}UCF {{ category.title }} Events | {% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }}{% endblock %}

{% block meta_description %}{% block og_description %}Join us for {{ category.title }} events at the University of Central Florida in Orlando Florida{% endblock %}{% endblock %}

{% block meta %}{% include 'events/frontend/meta-alt-feeds.html' %}{% endblock %}

{% block content_title %}
  <div class="col-12 mb-4">
    <h1 class="h2">
      {% if not calendar.is_main_calendar %}
      <a class="text-secondary" href="{% url 'events.views.event_views.calendar' pk=calendar.pk slug=calendar.slug %}">{{ calendar.title }}</a>: <span class="font-weight-normal">by Category <span class="font-italic">&ldquo;{{ category.title }}&rdquo;</span></span>
      {% else %}
      Events By Category: <span class="font-weight-normal font-italic">&ldquo;{{ category.title }}&rdquo;</span>
      {% endif %}
    </h1>
  </div>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_body %}
  <div class="row">
    <div class="col-lg-8" id="term-events">
      {% if event_instances %}
      <ul class="event-list list-unstyled">
        {% include 'events/frontend/event-listing/listing.html' %}
      </ul>
      {% else %}
      <div class="alert alert-info">
        No events found.
      </div>
      {% endif %}

      {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}
    </div>
    <aside class="col-lg-4" id="calendar-events-sidebar">
      <h3 class="h5">Categories:</h3>
      {% if calendar %}
        {% category_filters calendar=calendar.pk %}
      {% else %}
        {% category_filters %}
      {% endif %}

      <div class="d-flex align-items-center">
        <h3 class="h5 mb-0 mr-2">Feeds:</h3>
        {% feed_btns url=request.build_absolute_uri %}
      </div>
    </aside>
  </div>
{% endblock %}
