<div id="sidebar-minicals" class="carousel slide calendar-slider" data-interval="false">
    <ul class="pager">
        <li class="previous">
            <a class="carousel-control left" href="#sidebar-minicals" data-slide="prev"><i class="icon-chevron-left"></i><span>{{last_month|date:"F"}}</span></a>
        </li>
        <li class="next">
            <a class="carousel-control right next" href="#sidebar-minicals" data-slide="next"><i class="icon-chevron-right"></i><span>{{next_month|date:"F"}}</span></a>
        </li>
    </ul>
    <div class="carousel-inner">
        {% for key, cal in cals.items %}
        <div class="item {% if key == this_month.month %}active{% endif %}">
             <h2>
                 {% if key == this_month.month %}
                    {{ this_month|date:"F" }} <span class="alt">{{ this_month.year }}</span>
                 {% elif key == last_month.month %}
                    {{ last_month|date:"F" }} <span class="alt">{{ last_month.year }}</span>
                 {% else %}
                    {{ next_month|date:"F" }} <span class="alt">{{ next_month.year }}</span>
                 {% endif %}
             </h2>
             <table class="table minical">
                <thead>
                    <tr>
                        <th>Su</th>
                        <th>M</th>
                        <th>Tu</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day, events in cal.items %}
                        {% if forloop.counter|add:"-1"|divisibleby:7 %}<tr class="week">{% endif %}
                            <td class="day{% if events %} hasevents{% endif %}{% if relative == day %} active{% endif %}{% if today == day %} today{% endif %}{% if day.month != key %} muted{% endif %}">
                                {% if is_manager %}
                                    {% if not calendar %}
                                        <a href="{% url manager-all-calendars-day-listing day.year day.month day.day %}">
                                        {{ day.day }}
                                        </a>
                                    {% else %}
                                        <a href="{% url manager-day-listing calendar.id day.year day.month day.day %}">
                                            {{ day.day }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url day-listing calendar.slug day.year day.month day.day %}">
                                        {{ day.day }}
                                    </a>
                                {% endif %}
                            </td>
                        {% if forloop.counter|divisibleby:7 and forloop.counter != 0 %}</tr>{% endif %}
                    {% endfor %}
                </tbody>
             </table>
        </div>
        {% endfor %}
    </div>
</div>