<div class="calendar-large">
    {% for key, cal in calendar_map.items %}
    <h2>
        {% if key.month == this_month.month %}
           <a href="{% url month-listing calendar=calendar.slug year=this_month.year month=this_month.month %}">{{ this_month|date:"F" }}</a> <a href="{% url year-listing calendar=calendar.slug year=this_month.year %}"><span class="alt">{{ this_month.year }}</span></a>
        {% endif %}
    </h2>
    <div class="row calendar-grid calendar-grid-labels">
        <span>Sunday</span>
        <span>Monday</span>
        <span>Tuesday</span>
        <span>Wednesday</span>
        <span>Thursday</span>
        <span>Friday</span>
        <span>Saturday</span>
    </div>
    <ul class="calendar-grid">
        {% for day, events in cal.items %}
        <li class="day{% if events %} hasevents{% endif %}{% if relative == day %} active{% endif %}{% if today == day %} today{% endif %}{% if day.month != key.month %} muted{% endif %}">
            {% if events %}
            <a class="event-expander" href="#">
                <span class="help-text">Expand Events List</span>
                <span class="icon-text"><i class="icon-chevron-sign-down"></i></span>
            </a>
            {% endif %}
            <div>
                <a class="date" href="{% url day-listing calendar=calendar.slug year=day.year month=day.month day=day.day %}"><span>{{ day|date:"F" }}</span>{{ day|date:"j" }}</a>
                <!--<span class="holiday"></span>-->
                {% if events %}
                <ul class="event-list-condensed">
                    {% for event in events %}
                    <li>
                        <a href="{% url event event.event.calendar.slug event.id %}{{ event.event.slug }}">
                            <time>
                                {% if event.start.time %}
                                    {{ event.start|date:"f a" }}
                                {% else %}
                                    All Day
                                {% endif %}
                            </time>
                            {{ event.event.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>