{% load url %}
{# CANONICAL_ROOT is only used in this file because of the legacy widget that is used on other websites #}
<div id="sidebar-minical" class="calendar-slider" {% if calendar %}data-calendar-slug="{{ calendar.slug }}"{% endif %} data-view="{% if is_manager %}manager{% else %}frontend{% endif %}" data-year="{{ this_month.year }}" data-month="{{ this_month.month }}">
    {% if use_pagers %}
    <ul class="pager">
        <!-- Pager links go to the 1st day of the previous/next month -->
        {% if is_manager %}
            {% if not calendar %}
                {% if last_month %}
                    <li class="previous">
                        <a rel="nofollow" class="btn btn-default left" data-ajax-link="{% url 'calendar-widget' view='manager' size='small' year=last_month.year month=last_month.month %}" href="{% url 'events.views.manager.manager-all-calendars-day-listing' year=last_month.year month=last_month.month day=last_month.day %}">
                            <i class="fa fa-chevron-left"></i><span class="sr-only">{{ last_month|date:"F" }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if next_month %}
                    <li class="next">
                        <a rel="nofollow" class="btn btn-default right" data-ajax-link="{% url 'calendar-widget' view='manager' size='small' year=next_month.year month=next_month.month %}" href="{% url 'events.views.manager.manager-all-calendars-day-listing' year=next_month.year month=next_month.month day=next_month.day %}">
                            <i class="fa fa-chevron-right"></i><span class="sr-only">{{ next_month|date:"F" }}</span>
                        </a>
                    </li>
                {% endif %}
            {% else %}
                {% if last_month %}
                    <li class="previous">
                        <a rel="nofollow" class="btn btn-default left" data-ajax-link="{% url 'calendar-widget-by-calendar' view='manager' pk=calendar.pk calendar_slug=calendar.slug size='small' year=last_month.year month=last_month.month %}" href="{% url 'manager-day-listing' pk=calendar.pk year=last_month.year month=last_month.month day=last_month.day %}">
                            <i class="fa fa-chevron-left"></i><span class="sr-only">{{ last_month|date:"F" }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if next_month %}
                    <li class="next">
                        <a rel="nofollow" class="btn btn-default right" data-ajax-link="{% url 'calendar-widget-by-calendar' view='manager' pk=calendar.pk calendar_slug=calendar.slug size='small' year=next_month.year month=next_month.month %}" href="{% url 'manager-day-listing' pk=calendar.pk year=next_month.year month=next_month.month day=next_month.day %}">
                            <i class="fa fa-chevron-right"></i><span class="sr-only">{{ next_month|date:"F" }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% else %}
            {% if last_month %}
                <li class="previous">
                    <a rel="nofollow" class="btn btn-default left" data-ajax-link="{% url 'calendar-widget-by-calendar' view='frontend' pk=calendar.pk calendar_slug=calendar.slug size='small' year=last_month.year month=last_month.month %}" href="{{ CANONICAL_ROOT }}{% url 'events.views.event_views.month-listing' pk=calendar.pk slug=calendar.slug year=last_month.year month=last_month.month %}">
                        <i class="fa fa-chevron-left"></i><span class="sr-only">{{ last_month|date:"F" }}</span>
                    </a>
                </li>
            {% endif %}
            {% if next_month %}
                <li class="next">
                    <a rel="nofollow" class="btn btn-default right" data-ajax-link="{% url 'calendar-widget-by-calendar' view='frontend' pk=calendar.pk calendar_slug=calendar.slug size='small' year=next_month.year month=next_month.month %}" href="{{ CANONICAL_ROOT }}{% url 'events.views.event_views.month-listing' pk=calendar.pk slug=calendar.slug year=next_month.year month=next_month.month %}">
                        <i class="fa fa-chevron-right"></i><span class="sr-only">{{ next_month|date:"F" }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    {% endif %}
    {% for key, cal in calendar_map.items %}
    <div class="item {% if key.month == this_month.month %}active{% endif %}">
         <h3>
             {% if key.month == this_month.month %}
                {% if is_manager %}
                    {{ this_month|date:"F" }} {{ this_month.year }}
                {% else %}
                    <a href="{{ CANONICAL_ROOT }}{% url 'events.views.event_views.month-listing' pk=calendar.pk slug=calendar.slug year=this_month.year month=this_month.month %}">{{ this_month|date:"F" }}</a> <a href="{{ CANONICAL_ROOT }}{% url 'year-listing' pk=calendar.pk slug=calendar.slug year=this_month.year %}">{{ this_month.year }}</a>
                {% endif %}
             {% endif %}
         </h3>
         <table class="table minical">
            <thead>
                <tr>
                    <th>Su</th>
                    <th>M</th>
                    <th>Tu</th>
                    <th>W</th>
                    <th>Th</th>
                    <th>F</th>
                    <th>Sa</th>
                </tr>
            </thead>
            <tbody>
                {% for day, event_instances in cal.items %}
                    {% if forloop.counter|add:"-1"|divisibleby:7 %}<tr class="week">{% endif %}
                        <td class="day{% if event_instances %} hasevents{% endif %}{% if relative == day %} active{% endif %}{% if today == day %} today{% endif %}{% if day.month != key.month %} muted{% endif %}">
                            {% if is_manager %}
                                {% if not calendar %}
                                    <a href="{% url 'events.views.manager.manager-all-calendars-day-listing' day.year day.month day.day %}">
                                    {{ day.day }}
                                    </a>
                                {% else %}
                                    <a href="{% url 'manager-day-listing' calendar.pk day.year day.month day.day %}">
                                        {{ day.day }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ CANONICAL_ROOT }}{% url 'events.views.event_views.day-listing' pk=calendar.pk slug=calendar.slug year=day.year month=day.month day=day.day %}">
                                    {{ day.day }}
                                </a>
                            {% endif %}
                        </td>
                    {% if forloop.counter|divisibleby:7 and forloop.counter != 0 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
         </table>
    </div>
    {% endfor %}
</div>
