{% load url %}
{% load core_tags %}
<div class="calendar-large">
    {% for key, cal in calendar_map.items %}
    <h2>
        {% if key.month == this_month.month %}
           <a href="{% url 'events.views.event_views.month-listing' pk=calendar.pk slug=calendar.slug year=this_month.year month=this_month.month %}"><span class="alt">{{ this_month|date:"F" }}</span></a> <a href="{% url 'events.views.event_views.year-listing' pk=calendar.pk slug=calendar.slug year=this_month.year %}">{{ this_month.year }}</a>
        {% endif %}
    </h2>
    <div class="calendar-grid calendar-grid-labels">
        <span>Sunday</span>
        <span>Monday</span>
        <span>Tuesday</span>
        <span>Wednesday</span>
        <span>Thursday</span>
        <span>Friday</span>
        <span>Saturday</span>
    </div>
    <ul class="calendar-grid">
        {% for day, event_instances in cal.items %}
        <li class="day{% if event_instances %} hasevents{% else %} noevents{% endif %}{% if relative == day %} active{% endif %}{% if today == day %} today{% endif %}{% if day.month != key.month %} muted{% endif %}">
            {% if event_instances %}
            <a class="event-expander" href="#">
                <span class="sr-only">Expand Events List</span>
                <span class="event-expander-icon"><i class="fa fa-caret-down"></i></span>
            </a>
            {% endif %}
            <div>
                <a class="date" href="{% url 'events.views.event_views.day-listing' pk=calendar.pk slug=calendar.slug year=day.year month=day.month day=day.day %}"><span>{{ day|date:"F" }}</span>{{ day|date:"j" }}</a>
                <!--<span class="holiday"></span>-->
                {% if event_instances %}
                <ul class="event-list-condensed">
                    {% for instance in event_instances %}
                        {% with event_instance=instance.object.get_all_parent_instances.0|default:instance %}
                            {% with param_start=event_instance.start|date:"c" param_end=event_instance.end|date:"c" %}
                                {% with param_start_q='instance_start='|add:param_start param_end_q='&instance_end='|add:param_end %}
                                    {% include_esi 'eventinstance' event_instance.pk 'list-item' params=param_start_q|add:param_end_q %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
