<div id="sidebar-minicals" class="carousel slide calendar-slider" data-interval="false">
    <ul class="pager">
        <li class="previous">
            <a class="carousel-control left" href="#sidebar-minicals" data-slide="prev"><i class="icon-chevron-left"></i><span>{{last_month|date:"F"}}</span></a>
        </li>
        <li class="next">
            <a class="carousel-control right next" href="#sidebar-minicals" data-slide="next"><i class="icon-chevron-right"></i><span>{{next_month|date:"F"}}</span></a>
        </li>
    </ul>
    <div class="carousel-inner">
        <div class="item"></div>
        <div class="item active">
            <h2>{{this_month|date:"F"}} <span class="alt">{{this_month|date:"Y"}}</span></h2>
            <table class="table minical">
                <thead>
                    <tr>
                        <th>Su</th>
                        <th>M</th>
                        <th>Tu</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in weeks %}
                    <tr class="week">
                        {% for day, events, weight in week %}
                        <td class="day{% if weight %} {{ weight }}{% endif %}{% if today == day.date %} active{% endif %}">
                            {% if is_manager %}
                                {% if not calendar %}
                                    <a href="{% url manager-all-calendars-day-listing day.year day.month day.day %}">
                                      {{ day.day }}
                                    </a>
                                {% else %}
                                    <a href="{% url manager-day-listing calendar.id day.year day.month day.day %}">
                                      {{ day.day }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url day-listing calendar.slug day.year day.month day.day %}">
                                  {{ day.day }}
                                </a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="item"></div>
    </div>
</div>