{% load widgets %}

{% if params.view == 'manager' %}
    {% if params.calendar_slug %}
        {% calendar_widget calendars=params.calendar_slug is_manager=1 year=params.year month=params.month day=params.day size=params.size %}
    {% else %}
        {% calendar_widget calendars=user.editable_calendars.all is_manager=1 year=params.year month=params.month day=params.day size=params.size %}
    {% endif %}
{% else %}
    {% calendar_widget calendars=params.calendar_slug is_manager=0 year=params.year month=params.month day=params.day size=params.size %}
{% endif %}