{% load widgets %}
<ul class="category-filter-list">
	{% for category in categories %}
	<li class="category-text {{ category.slug }}">
		<i class="fa fa-tag"></i>
		{% if calendar and not calendar.is_main_calendar %}
		<a href="{% url 'category-by-calendar' pk=calendar.pk slug=calendar.slug category_pk=category.pk category=category.slug %}">
		{% else %}
		<a href="{% url 'category' category_pk=category.pk category=category.slug %}">
		{% endif %}
			{{ category.title }}
		</a>
	</li>
	{% endfor %}
</ul>