{% load widgets %}
<div class="feeds-list d-flex">
    <a href="{{ url }}feed.ics" class="ical" data-toggle="tooltip" data-placement="bottom" title="Apple iCal Feed (ICS)">
      Apple iCal Feed (ICS)
    </a>
    <a href="{{ url }}feed.ics" class="outlook" data-toggle="tooltip" data-placement="bottom" title="Microsoft Outlook Feed (ICS)">
      Microsoft Outlook Feed (ICS)
    </a>
    <a href="{{ url }}feed.rss" class="rss" data-toggle="tooltip" data-placement="bottom" title="RSS Feed">
      RSS Feed
    </a>
    <a href="{{ url }}feed.xml" class="xml" data-toggle="tooltip" data-placement="bottom" title="XML Feed">
      XML Feed
    </a>
    <a href="{{ url }}feed.json" class="json" data-toggle="tooltip" data-placement="bottom" title="JSON Feed">
      JSON Feed
    </a>
</div>
