{% load widgets %}
<div class="pagination">
    <ul>
        {% if paginator.has_previous %}
        <li>
            <a href="{{ url }}page={{ paginator.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">&laquo;</a>
        </li>
        {% endif %}
        {% for page in range %}
        <li{% if page == current_page %} class="active"{% endif %}>
            <a href="{{ url }}page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% if paginator.has_next %}
        <li>
            <a href="{{ url }}page={{ paginator.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>