{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UCF Events Calendar</title>
        <link rel="stylesheet" href="{{ CANONICAL_ROOT }}{% static 'events-widget/style.css' %}" charset="utf-8" />
        <style type="text/css">
            body { font-size:75%; font-family: "Trebuchet MS", sans-serif; text-align:left; }
        </style>
    </head>
    <body>
        <div class="events">
            <h4 class="upcoming-header">Upcoming Events</h4>
            {% if event_instances %}
            <table class="eventlisting">
                <thead>
                    <th class="date" scope="col">
                        Date
                    </th>
                    <th class="description" scope="col">
                        Description
                    </th>
                </thead>
                <tbody>
                {% for event_instance in event_instances %}
                    <tr class="vevent{% cycle ' alt' '' %}">
                        <td class="date">
                            {{ event_instance.start|date:"M j h:i a" }}
                        </td>
                        <td class="description">
                            <a class="url summary" href="{{ event_instance.get_absolute_url }}">
                                {{ event_instance.title }}
                            </a>
                            <span class="location">
                                {% if event_instance.location.url %}
                                <a href="{{ event_instance.location.url }}">
                                {% endif %}
                                    {{ event_instance.location.comboname }}
                                {% if event_instance.location.url %}
                                </a>
                                {% endif %}
                            </span>
                            <div class="details">
                                {{ event_instance.event.description }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="well well-empty">
                No events found.
            </div>
            {% endif %}
            <p class="feeds">
                <a class="icsformat" href="{% url 'home' %}feed.ics" title="ics format for upcoming events">
                    ics format for upcoming events
                </a>
                <a class="rssformat" href="{% url 'home' %}feed.rss" title="rss format for upcoming events" target="_blank">
                    rss format for upcoming events
                </a>
            </p>
            <a class="more" href="{% url 'home' %}">
                More Events
            </a>
        </div>
    </body>
</html>