{% load widgets %}

<div id="calendar-events-year">
  <h2 class="h3 font-weight-normal mb-3 text-center">{{ list_title }}</h2>
  {% for month in all_months %}
    {% if forloop.counter|add:"-1"|divisibleby:3 %}<div class="row mb-3">{% endif %}
      <div class="col-lg-4">
        {% calendar_widget calendars=calendar is_manager=0 year=start_date.year month=month use_pagers=False %}
      </div>
    {% if forloop.counter|divisibleby:3 and forloop.counter != 0 %}</div>{% endif %}
  {% endfor %}
</div>
