{% load widgets %}
<div class="row">
    <div class="col-md-8 col-sm-8 sidebarfix page-content" id="{% block page_content_id %}calendar-events-default{% endblock %}">
        <h2>{% block list_title %}{{ list_title }}{% endblock %}</h2>
        {% if event_instances %}

            {% if use_grouping %}
                {% regroup event_instances by start.date|date:"l, F j, Y" as dates %}

                {% if not start_date %}
                <ul class="event-list">
                {% endif %}

                {% for day in dates %}
                    {% if start_date %}
                    <span class="day-heading">{{ day.grouper }}</span>
                    <ul class="event-list">
                    {% endif %}

                    {% with listing_templ="events/frontend/event-listing/listing.html" event_instances=day.list %}
                    {% include listing_templ %}
                    {% endwith %}

                    {% if start_date %}
                    </ul>
                    {% if not forloop.last %}<hr/>{% endif %}
                    {% endif %}
                {% endfor %}

                {% if not start_date %}
                </ul>
                <hr/>
                {% endif %}

            {% else %}
            <ul class="event-list">
                {% with listing_templ="events/frontend/event-listing/listing.html" %}
                {% include listing_templ %}
                {% endwith %}
            </ul>
            {% endif %}

        {% else %}
        <div class="well well-empty">
            No events found.
        </div>
        {% endif %}

        {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}
    </div>
    <aside class="col-md-4 col-sm-4 page-sidebar" id="calendar-events-sidebar">
        {% calendar_widget pk=calendar.pk calendars=calendar.slug is_manager=0 year=start_date.year month=start_date.month day=start_date %}

        <h3 class="alt h4">Filter by Category:</h3>
        {% category_filters calendar=calendar.pk %}

        <h3 class="alt h4 pull-left">Feeds:</h3>
        {% feed_btns url=request.build_absolute_uri %}
    </aside>
</div>
