{% load humanize %}
{% load widgets %}
<div class="row">
    <div class="span8 sidebarfix page-content" id="{% block page_content_id %}calendar-events-default{% endblock %}">
        <h2>{% block list_title %}{{ list_title }}{% endblock %}</h2>
        {% include 'events/frontend/event-listing/listing.html' %}
        {% pager paginator=paginator current_page=request.GET.page %}
    </div>
    <aside class="span4 page-sidebar" id="calendar-events-sidebar">
        {% calendar_widget calendars=calendar is_manager=0 year=start_date.year month=start_date.month day=start_date %}

        <h2>Subscribe</h2>
        feed download links

        <h2>Toggle Categories</h2>
        category toggles here...
    </aside>
</div>
