{% extends 'events/frontend/calendar/calendar.html' %}
{% load humanize %}

{% block content_tabs %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li{% if list_type == None %} class="active"{% endif %}>
                    <a href="{% url named-listing calendar "this-week" %}">List View</a>
                </li>
                <li{% if list_type == 'month' %} class="active"{% endif %}>
                    <a href="{% url named-listing calendar "this-month" %}">Month View</a>
                </li>
                <li{% if list_type == 'year' %} class="active"{% endif %}>
                    <a href="{% url named-listing calendar "this-year" %}">Year View</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    {% if list_type == 'month' %}
        {% include 'events/frontend/calendar/event-list/listing-month.html' %}
    {% elif list_type == 'year' %}
        {% include 'events/frontend/calendar/event-list/listing-year.html' %}
    {% else %}
        {% include 'events/frontend/calendar/event-list/listing-default.html' %}
    {% endif %}
{% endblock %}