{%extends 'events/frontend/base.html'%}
{%load humanize%}
{%load widgets%}

{%block title%}{{block.super}}{%if list_title%} - {{list_title}}{%endif%}{%endblock%}
{%block links%}{{block.super}}
		<link rel="alternate" type="application/rss+xml" title="{{calendar.name}}{%if list_title%} - {{list_title}}{%endif%}'s Events" href="./.rss" />
{%endblock%}

{%block content_body%}

<div id="events-content" class="event-listing">
	<div class="left-column span-15 append-1">
	    {%if list_title%}<h2>{{list_title}}</h2>{%endif%}
		{%format_event_list events calendar%}
	</div>
	<div class="right-column span-8 last">
		{% calendar_widget calendar start.year start.month%}
		
		<section class="browse-widget">
			<h1>Event Listings</h1>
			<ul>
				<li><a class="load" href="{%url named-listing calendar.slug 'today'%}">Today</a></li>
				<li><a class="load" href="{%url named-listing calendar.slug 'this-week'%}">This Week</a></li>
				<li><a class="load" href="{%url named-listing calendar.slug 'this-month'%}">This Month</a></li>
			</ul>
		</section>
		
		{% include "events/calendar/widgets/search.html" %}
		
		<section class="subscribe-widget">
			<h1>Subscribe</h1>
			<ul class="inline">
				<li class="rss"><a href="./.rss">RSS</a></li>
				<li class="ical"><a href="webcal://{{request.get_host}}{{request.path}}.ics">iCal</a></li>
				<li class="gcal"><a href="#">Google Calendar</a></li>
			</ul>
		</section>
	</div>
</div>
{%endblock%}