{% load humanize %}

<div class="row">
    <div class="span12 page-content" id="calendar-events-month">
        <h2>{{ list_title }}</h2>
        {% if events %}
            <div class="row">
                <div class="span4">
                    month toggle here...
                </div>
                <div class="span4">
                    <h3><span class="alt">Month</span> 2013</h3>
                </div>
            </div>
            <div class="row calendar-grid calendar-grid-labels">
                <span>Monday</span>
                <span>Tuesday</span>
                <span>Wednesday</span>
                <span>Thursday</span>
                <span>Friday</span>
                <span>Saturday</span>
                <span>Sunday</span>
            </div>
            <ul class="calendar-grid">
            <!-- TODO: output dates as list items... -->
            </ul>
        {% endif %}
    </div>
</div>