static/*
*.pyc
*.sqlite3
settings_local.py
settings_local_events.py
apache/python.wsgi
apache/python_events.wsgi
newrelic.ini
._*
Thumbs.db
.DS_Store

*.db
*.db-journal
*.log

# IDEs
.idea
.project
.pydevproject

# SASS
.sass-cache
