static/*
*.pyc
*.sqlite3
app_version.py
settings_local.py
settings_local_events.py
apache/python.wsgi
apache/python_events.wsgi
newrelic.ini
static_files/static/robots.txt
._*
Thumbs.db
.DS_Store

*.db
*.db-journal
*.log

# IDEs
.idea
.project
.pydevproject

# SASS
.sass-cache

# Bower
static_files/assets/components/*

# Gulp
node_modules/*
gulp-config.json
