<ul>
	{%for event in events%}
	<li class="event{%if forloop.first%} first{%endif%} {%cycle 'even' 'odd'%} span-15 last">
		<div class="start span-4 append-1">
			<div class="date">{{event.start|date:"F d"}}</div>
			<div class="time">{{event.start|date:"fA"|lower}}</div>
		</div>
		<div class="details span-10 last">
			<div class="heading">
				<a href="{%url event calendar.slug event.id %}{{event.event.slug}}" class="title">{{event.title}}</a>
			</div>
			<div class="description span-10 last">{{event.description|truncatewords:"32"}}</div>
		</div>
	</li>
	{%endfor%}
</ul>