{%extends 'events/base.html'%}
{% block links %}
	{{block.super}}
	<link href="{{MEDIA_URL}}-/css/manager.css" rel="stylesheet" media="all" />
{% endblock %}
{%block content%}
<div id="manager-base" class="container">
	{%block content_header%}
		<header class="span-24 last">
			<h1><a href="{% url calendar-manage %}">Events | Manager</a></h1>
			{% if user.is_authenticated %}
				<ul id="nav">
					<li><a href="{% url accounts-profile %}">Profile</a></li>
					<li><a href="{% url accounts-logout %}">Logout</a></li>
				</ul>
			{% endif %}
		</header>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{%endblock%}
	{%block content_body%}{%endblock%}
	{%block content_footer%}{%endblock%}
</div>
{%endblock%}