{%extends 'events/base.html'%}
{% block links %}
	{{block.super}}
	<link href="{{MEDIA_URL}}-/css/manager.css" rel="stylesheet" media="all" />
{% endblock %}
{%block content%}
<div id="manager-base" class="container">
	{%block content_header%}
		<header class="span-24 last">
			<h1>Events | Manager</h1>
		</header>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{%endblock%}
	{%block content_body%}{%endblock%}
	{%block content_footer%}{%endblock%}
</div>
{%endblock%}