{% extends 'events/manager/base.html' %}
{% block content_body %}
	{% include 'events/manager/sidebar.html' %}
	<div class="span-18 last">
		<h2>Manager Content</h2>
		<ul id="manager-calendar-controls">
			<li>Pending</li>
			<li>Posted</li>
			<li>Archived</li>
		</ul>
		<table>
			<thead>
				<tr>
					<th scope="col">
						<input type="checkbox" />
					</th>
					<th scope="col">
						Event Title
					</th>
					<th scope="col">
						Date(s)
					</th>
				</tr>
			</thead>
		</table>
	</div>
{% endblock %}