{% extends 'events/manager/base.html' %}
{% load humanize %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#search > input[type="text"]')	
				.focus(function() {
					if($(this).val() == 'Search events...') {
						$(this).val('');
						$(this).removeClass('prefill');
					}
				});
			$('#events > tbody > tr')
				.each(function(index, row) {
					var row = $(row);
					row
						.hover(
							function() {
								row.find('.calendars .actions').show();
							},
							function() {
								row.find('.calendars .actions').hide();	
							}
					)
				});
			(function() {
				var other_actions = $('#other_actions');
				other_actions
					.find('li:gt(0)')
						.each(function(count, li) {
							$(li).css('top', (count + 1) * 25);
						})
				other_actions
					.hover(
						function() {
							other_actions.find('li:gt(0)').show();
						},
						function() {
							other_actions.find('li:gt(0)').hide();	
						})
			})();
			
		});
	</script>
{% endblock %}
{% block content_body %}
	<div class="span-24 last">
		<div class="span-7">
			<a id="event_create" href="{% url event-create %}" class="button">Create New Event</a>
			<ul id="other_actions">
				<li><button>Other Actions <span>&#9660;</span></button></li>
				<li><a class="button" href="{% url calendar-create %}">Create Calendar</a></li>
				<li><a class="button" href="">Import/Export</a></li>
			</ul>
			<form id="search" class="clear">
				<input type="text" name="query" value="Search events..." class="prefill" />
				<button type="submit">Search</button>
			</form>
			<ul id="calendars" class="clear">
				<li{% if not current_calendar %} class="selected"{% endif %}>
					<a href="{% url dashboard %}">Everything Else</a>
					<p>
						Any events you have submitted to calendars that you cannot own or edit.
					</p>
				</li>
				{% for calendar in user.calendars %}
					<li class="clearfix{% if current_calendar == calendar %} selected{% endif %}">
						<a href="{% url dashboard calendar_id=calendar.id %}" class="name">{{calendar.name}}</a>
						<ul class="links span-3">
							<li><a href="{% url calendar calendar.slug %}" class="view">View</a></li>
							<li><a class="manage" href="{% url calendar-update id=calendar.id %}">Manage</a></li>
						</ul>
						<div class="details span-4 last">
							<span class="visibility">
								{% if calendar.public %}Public{% else %}Private{% endif %}
							</span>
							&mdash;
							<span class="shared">
								{% if not calendar.shared %}Not {% else %}{% endif %}Shared
							</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="span-17 last">
			<div id="event_date">
				<p>Upcoming Events Starting on:</p>
				{{dates.relative|date:"l, F j, Y"}}
				<div id="event_date_nav">
					{% if current_calendar %}
						<a id="prev_month" href="{% url dashboard _date=dates.prev_month calendar_id=current_calendar.id %}">
							Last Month
						</a>
						-
						<a id="prev_day" href="{% url dashboard _date=dates.prev_day calendar_id=current_calendar.id %}">
							Yesterday
						</a>
						-
						<a id="prev_day" href="{% url dashboard _date=dates.today calendar_id=current_calendar.id %}">
							Today
						</a>
						-
						<a id="next_day" href="{% url dashboard _date=dates.next_day calendar_id=current_calendar.id %}">
							Tomorrow
						</a>
						-
						<a id="next_month" href="{% url dashboard _date=dates.next_month calendar_id=current_calendar.id %}">
							Next Month
						</a>
					{% else %}
						<a id="prev_month" href="{% url dashboard _date=dates.prev_month %}">Last Month</a>
						-
						<a id="prev_day" href="{% url dashboard _date=dates.prev_day %}">Yesterday</a>
						-
						<a id="prev_day" href="{% url dashboard _date=dates.today %}">Today</a>
						-
						<a id="next_day" href="{% url dashboard _date=dates.next_day %}">Tomorrow</a>
						-
						<a id="next_month" href="{% url dashboard _date=dates.next_month %}">Next Month</a>
					{% endif %}
				</div>
			</div>
			<ul id="instances" class="span-17 last">
				{% for instance in instances %}
				<li class="{% cycle 'even' 'odd' %} clear clearfix">
					<div>
						<div class="image span-2">
							{% if instance.event.image %}
								<img src="{{instance.event.image.url}}" />
							{% else %}
								<img src="{{MEDIA_URL}}-/img/test-64x64.png" />
							{% endif %}
						</div>
						<div class="span-6">
							<div class="title">{{instance.event.title}}</div>
							<div class="description">{{instance.event.description|truncatewords:25}}</div>
						</div>
						<div class="span-9 last">
							<div class="datetime">
								{{instance.start|date:"g:m a"}}
								{% if instance.end %} &ndash; {{instance.end|date:"g a"}}{% endif %}
							</div>
							<div class="location">
								{% if instance.location %}{{instance.location.name}}{% endif %}
							</div>
						</div>
						<div class="span-17 admin">
							<div class="num_instances">
								{% if instance.event.instances.count > 1 %}
									This is one of {{instance.event.instances.count|digit_to_word}} instances of this event.  
								{% endif %}
							</div>
							<div class="actions">
								{% if current_calendar and instance.event not in current_calendar.events.all %}
										Result of subscription to {{instance.event.calendar.name}}
								{% else %}
									<a href="{% url event-update id=instance.event.id %}">Update</a>
									&ndash;
									{% if instance.event.get_state_display == 'pending' %}
										<a href="{% url event-post id=instance.event.id %}">Mark as Posted</a>
									{% else %}
										{% if instance.event.get_state_display == 'posted' %}
											<a href="{% url event-pend id=instance.event.id %}" class="serious">
												Mark as Pending
											</a>
										{% endif %}
									{% endif %}
									
									&ndash;
									<a href="{% url event-update id=instance.event.id %}" class="serious">Delete</a>
								{% endif %}
							</div>
						</div>
					</div>
				</li>
				{% empty %}
				<li>No upcoming events</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}