{% extends 'events/manager/base.html' %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#search > input[type="text"]')	
				.focus(function() {
					if($(this).val() == 'Search events...') {
						$(this).val('');
						$(this).removeClass('prefill');
					}
				});
			$('#events > tbody > tr')
				.each(function(index, row) {
					var row = $(row);
					row
						.hover(
							function() {
								row.find('.calendars .actions').show();
							},
							function() {
								row.find('.calendars .actions').hide();	
							}
					)
				});
			(function() {
				var other_actions = $('#other_actions');
				other_actions
					.find('li:gt(0)')
						.each(function(count, li) {
							$(li).css('top', (count + 1) * 25);
						})
				other_actions
					.hover(
						function() {
							other_actions.find('li:gt(0)').show();
						},
						function() {
							other_actions.find('li:gt(0)').hide();	
						})
			})();
			
		});
	</script>
{% endblock %}
{% block content_body %}
	<div class="span-24 last">
		<a id="event_create" href="{% url event-create %}" class="button">Create New Event</a>
		<ul id="other_actions">
			<li><button>Other Actions &#9660;</button></li>
			<li><a class="button" href="{% url calendar-create %}">Create Calendar</a></li>
			<li><a class="button" href="">Manage Calendars</a></li>
			<li><a class="button" href="">Import/Export</a></li>
		</ul>
		<form id="search">
			<input type="text" name="query" value="Search events..." class="prefill" />
			<button type="submit">Search</button>
		</form>
		<div id="event_date">
			{{dates.relative|date:"l, F j, Y"}}
		</div>
		<ul id="events" class=" last">
			{% for event in events %}
			<li class="{% cycle 'even' 'odd' %} clear clearfix span-24">
				<div>
					<div class="image span-2">
						<img src="{{event.image.url}}" />
					</div>
					<div class="span-8">
						<div class="title">{{event.title}}</div>
						<div class="description span-">{{event.description|truncatewords:25}}</div>
					</div>
					<div class="instances span-7">
						<h3>Instances:</h3>
						<ul>
						{% for instance in event.upcoming_instances|slice:":3" %}
							<li>
								{{instance.start}}
								{% if instance.end %} - {{instance.end}}{% endif %}
								{% if instance.location %}at {{instance.location.name}}{% endif %}
							</li>
						{% endfor %}
						</ul>
						{% if event.upcoming_instances and event.upcoming_instances|length > 3 %}
						<p>Future instances..</p>
						{% endif %}
					</div>
					<div class="status span-7 last">
						<h3>Management:</h3>
						{{event.calendar.name}}
						<span class="{{event.get_state_display|lower}}">
							{{event.get_state_display}}
						</span>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}