{% extends 'events/manager/base.html' %}
{% block content_body %}
	<div class="span-24 last">
		<a id="event_create" href="{% url event-create %}" class="button">Create New Event</a>
		<ul id="other_actions">
			<li>
				<a class="button">
					Other Actions &#9660;
				</a>
			</li>
			<li><a class="button" href="{% url calendar-create %}">Calendar Create</a></li>
			<li><a class="button">Subcribe</a></li>
			<li><a class="button">Import</a></li>
		</ul>
		<div id="event_date">
			{{dates.relative|date:"l, F j, Y"}}
			<div id="event_date_nav">
				<a id="prev_month" href="{% url manager _date=dates.prev_month %}">Last Month</a>
				-
				<a id="prev_day" href="{% url manager _date=dates.prev_day %}">Yesterday</a>
				-
				<a id="prev_day" href="{% url manager _date=dates.today %}">Today</a>
				-
				<a id="next_day" href="{% url manager _date=dates.next_day %}">Tomorrow</a>
				-
				<a id="next_month" href="{% url manager _date=dates.next_month %}">Next Month</a>
			</div>
		</div>
		<table id="events">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Dates &amp;Times</th>
					<th scope="col">Calendars</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td class="title">{{event.title}}</td>
					<td class="description">{{event.description|truncatewords:25}}</td>
					<td class="instances">
						{% if event.were_previous_instances %}<p>Previous instances...</p>{% endif %}
						<ul>
						{% for instance in event.upcoming_instances|slice:":3" %}
							<li>{{instance.start}}</li>
						{% endfor %}
						</ul>
						{% if event.upcoming_instances|length > 3 %}<p>Future instances..</p>{% endif %}
						</td>
					<td class="calendars">
						{% if event.calendar %}{{event.calendar.name}}{% endif %}
						<ul class="actions">
							<li>Edit</li>
							<li>Copy</li>
							<li>Delete</li>
						</ul>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="3">
						{% if calendar %}
							There are no upcoming events for this calendar.
						{% else %}
							There are no upcoming events.
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}