{%extends 'base.html'%}
{%block content%}
{%block content_header%}
<header>
	<h1></h1>
	<ul class="menu">
		<li><a href="#">Upcoming</a></li>
		<li><a href="#">Featured</a></li>
		<li><a href="{%url named-event-list calendar.slug "today"%}">Today</a></li>
		<li><a href="{%url named-event-list calendar.slug "this-week"%}">This Week</a></li>
		<li><a href="{%url named-event-list calendar.slug "this-month"%}">This Month</a></li>
		<li><a href="#">About</a></li>
	</ul>
</header>
{%endblock%}
{%block content_body%}{%endblock%}
{%block content_footer%}{%endblock%}
{%endblock%}