{%if events|length%}
<ul class="listing {{class|default_if_none:"event-listing"}}">
	{%for event in events%}
	<li>
		<a class="title" href="{{event.get_absolute_url}}">{{event.title}}</a>
		<div class="start">{{event.start}}</div>
		<div class="end">{{event.end}}</div>
		{%with location as event.location%}
			{%include "events/location.html"%}
		{%endwith%}
		<div class="description">
			{{event.description}}
		</div>
	</li>
	{%endfor%}
</ul>
{%else%}
<p class="empty-{{class|default_if_none:"event-listing"}}">
	No events to display.
</p>
{%endif%}