{% load humanize %}
{% load widgets %}
<div class="row">
    <div class="span8 sidebarfix page-content" id="calendar-events-week">
        <h2>{{ list_title }}</h2><!-- TODO: use proper context -->
        {% include 'events/frontend/event-listing/event-listing.html' %}
    </div>
    <aside class="span4 page-sidebar" id="calendar-events-sidebar">
        <h2>Mini Calendar</h2>
        {% calendar_widget calendars=calendar is_manager=0 day=start %}

        <h2>Subscribe</h2>
        feed download links

        <h2>Toggle Categories</h2>
        category toggles here...
    </aside>
</div>