{% load humanize %}
{% load widgets %}

<div class="row">
    <div class="span12 page-content" id="calendar-events-month">
        <h2>{{ list_title }}</h2>
        <div class="row">
            <div class="span4">
                <form class="form-inline" id="month-toggle" method="POST" action="{% url month-listing calendar=calendar.slug year=start.year month=start|date:"m" %}">
                    <label for="id_year">Switch Year</label>
                    <select id="id_year" name="year">
                        {% for year in all_years %}
                        <option{% if year == start.year %} selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_month">Switch Month</label>
                    <select id="id_month" name="month">
                        {% for option, value in all_months.items %}
                        <option{% if value == start|date:"m" %} selected{% endif %} value="{{ value }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn" type="submit">View</button>
                </form>
            </div>
            <div class="span4">
                <h3><span class="alt">{{ start|date:"F" }}</span> {{ start.year }}</h3>
            </div>
        </div>
        {% calendar_widget calendars=calendar is_manager=0 year=start.year month=start.month day=start size='large' %}
    </div>
</div>