//
// Forms - General
//

form {
  &.form-horizontal {
    margin: 20px 0 30px;
  }

  &.form-tabbed,
  &.form-tabbed .tab-content .tab-pane h2 {
    margin-top: 0;
  }
}

.form-horizontal {
  .control-label {
    font-weight: bold;

    @include respond-to(xs) {
      margin-bottom: 3px;
    }
  }

  legend.control-label {
    border: 0px solid transparent;
    color: #333;
    line-height: 20px;
    margin-bottom: 5px;

    @include respond-to(xs-sm) {
      text-align: left;
    }
  }

  .form-group {
    &.large {
      .control-label-group,
      .control-label {
        font-size: 18px;
        text-align: right;

        @include respond-to(xs-sm) {
          text-align: left;
        }
      }
    }

    .control-label-group {
      text-align: right;

      @include respond-to(xs-sm) {
        text-align: left;
      }
    }
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 3px;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  @include respond-to(xs) {
    margin-top: 8px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-inline {
  @include body-prefix(ie8) {
    clear: both;
    float: left;
    width: 100%;
  }

  & > * {
    @include body-prefix(ie8) {
      float: left;
      margin-right: 5px;
    }
  }
}


//
// Textareas
//

textarea {
  height: 175px;
}


//
// Select fields
//

select option {
  padding-bottom: 3px;
  padding-top: 3px;
}


//
// Bulk select form elements
//

.form-horizontal.bulk-action-form {
  margin-bottom: 20px;
}

label[for='bulk-select'],
.field-bulk-select label {
  @include text-hide();
}

#bulk-select-all,
.field-bulk-select input {
  margin-top: -4px;
}


//
// Labels, faux-labels, label descriptions
//

.label-inner {
  color: $gray-light;
  font-size: 16px;
  font-weight: 300;
  width: 100%;

  &.vertical-label-inner {
    margin-top: 10px;
  }

  &.location-types-label {
    display: block;
    margin-bottom: 10px;
  }
}

.label-desc {
  color: $gray-light;
  font-size: 12px;
  line-height: 16px;
}

.copy-btn {
  margin-bottom: 10px;
}


//
// Help text
//

.help-block {
  color: $gray-light;
  font-size: 11px;
  font-style: italic;
  line-height: 1.4em;

  & + .dropdown-menu {
    top: 30px;
  }
}


//
// Autocomplete fields
//
.autocomplete-new-btn {
  border-radius: 0 20px 20px 0;
  bottom: auto;
  padding-left: 12px;
  padding-right: 14px;
  position: absolute;
  right: 3px;
  top: 0;

  @include respond-to(xs) {
    border-radius: 0 4px 4px 0;
    padding-left: 9px;
    padding-right: 9px;
    right: 15px;
  }
}


//
// Date, time fields
//

.field-date {
  margin-right: 10px;
}

.field-time {
  margin-right: 0;

  &+ .input-group-addon {
    display: none;
  }
}

.field-date,
.field-time {
  @include ie-no-ms-clear();
}

$bootstrap-dtp-border-radius: 4px;

.bootstrap-dtp {
  background: #fff;
  border-radius: $bootstrap-dtp-border-radius;
  clear: left;
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 49%;

  input {
    background-color: transparent;
    font-size: 13px;
    position: relative;
    z-index: 2;

    @include respond-to(lg) {
      font-size: 14px;
    }

    @include respond-to(sm) {
      font-size: 14px;
    }
  }

  i {
    bottom: 12px;
    color: #ccc;
    font-size: 11px;
    position: absolute;
    right: 8px;
    z-index: 1;

    @include respond-to(lg) {
      bottom: 10px;
      font-size: 14px;
      right: 10px;
    }

    @include respond-to(sm) {
      bottom: 10px;
      font-size: 14px;
      right: 10px;
    }
  }
}

.bootstrap-timepicker {
  clear: right;
  float: right;

  input {
    border-radius: $bootstrap-dtp-border-radius;
  }
}

.datepicker {
  overflow: hidden;
  padding: 0 10px 5px 10px;

  &:before,
  &:after {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  td {
    &.active,
    &.active:hover,
    span.active {
      background-color: $ucf-gold !important;
      background-image: none;
      font-weight: bold;
      text-shadow: 0 0 0 transparent;
    }
  }

  td,
  th,
  td span {
    border-radius: 0;
  }

  td span {
    height: 40px;
    line-height: 40px;
    width: 38px;
  }

  .year.old {
    color: inherit;
  }

  .disabled {
    color: $gray-lighter !important;
  }
}

.ui-timepicker-wrapper {
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  overflow-x: hidden;
  width: 105px;
}


//
// Errors - label, input styles
//

label.error,
div.error label,
.form-group.error .control-label,
.form-group.error .help-block,
.form-group.error .help-inline {
  color: $brand-danger;
}

input.error,
textarea.error,
select.error,
div.error input,
div.error textarea,
.form-group.error input,
.form-group.error select,
.form-group.error textarea {
  border: 1px solid $btn-danger-border;
  color: $brand-danger;
}


//
// Errors - error lists
//

ul.errorlist {
  background: none repeat scroll 0 0 $btn-danger-border;
  border-radius: 4px;
  clear: both;
  color: #fff;
  display: block;
  list-style-type: none;
  margin: 10px 0;
  max-width: 220px;
  padding: 10px;
  position: relative;

  &:before {
    border-bottom: 5px solid $btn-danger-border;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    left: 10px;
    position: absolute;
    top: -5px;
    width: 0;
  }

  li {
    margin-top: 5px;
    padding-left: 20px;
    text-indent: 0;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      content: '';
      float: left;
      font-family: 'FontAwesome';
      margin-left: -20px;
      width: 20px;
    }
  }
}


//
// Object Modify Views (non-modal)
//

.modal-footer-content {
  margin-top: 30px;
}


//
// Our custom switch styles
//
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  margin-top: 6px;

  &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
  }
}

.checkbox-switch {
  display: none;

  &:checked {
    &+ .switch {
      background-color: $brand-success;

      &::after {
        left: 20px;
      }
    }
  }
}


