//
// Adds styles for a vertically scrolling div.
// Applies kinetic/momentum scrolling for touch devices.
//
@mixin scrollbox() {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}


@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
