/** 
 * Note: this is a bit backwards due to BS3's "mobile-first" design (we use
 * "md" as our "base", where BS3 uses "xs".)
 *
 * Allows for nice one-line media query declarations using Bootstrap's defined
 * breakpoints.
 *
 * Usage:
 * .my-elem {
 *   float: left;
 *   width: 250px;
 *   @include respond-to(lg) { float: none; }
 *   @include respond-to(sm) { width: 125px; }
 *   @include respond-to(xs) { width: 100%; }
 * }
 **/
@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == xs-sm {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
}


/**
 * Adds styles for a vertically scrolling div.
 * Applies kinetic/momentum scrolling for touch devices.
 **/
@mixin scrollbox() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


/**
 * Prepends body.<class> to a selector. Useful when defining IE overrides.
 **/
@mixin body-prefix($class) {
  body.#{$class} & {
    @content;
  }
}