.select2-container {
  width: 320px !important;

  .select2-selection--single {
    height: 32px !important;
  }

  @include media-breakpoint-down(sm) {
    width: 100% !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px !important;
}
