.container-wide {
  width: 100%;
}

/* Force IE8 to use a fixed-width layout (instead of using respond.js) */
.container {
  @include body-prefix(ie8) {
    max-width: none !important;
    width: 970px;
  }
}

/* Columns that only span the width of their children */
.col-lg-auto,
.col-md-auto,
.col-sm-auto,
.col-xs-auto {
  width: auto;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/* Click-to-expand content */
.content-expand {
  @include respond-to(xs) {
    max-height: 175px;
    overflow: hidden;
    position: relative;
  }
  .content-expander {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #d4d4d4;
  }

  &.expanded {
    max-height: none;
    transition: height 0.3s ease-in-out;

    .content-expander {
      display: none !important;
    }
  }
}