//
// General
//

#manager-base {
  margin-top: 25px;

  @include respond-to(xs) {
    margin-top: 15px;
  }

  .sidebarfix > * {
    @include respond-to(sm) {
      margin-right: 0;
      padding-right: 0;
    }
  }
}

.manager-item-table {
  table-layout: fixed;

  & > thead > tr > th,
  & > thead > tr > td,
  & > tbody > tr > th,
  & > tbody > tr > td,
  & > tfoot > tr > th,
  & > tfoot > tr > td {
    border-top: 1px solid $table-border-color;

    @include respond-to(xs) {
      font-size: 11.5px;
      line-height: 1.2em;
    }
  }

  & > thead > tr > th {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  & > tbody > tr > td {
    background-color: #fafafa;
  }

  & > thead > tr > th > abbr {
    display: inline-block;
  }

  .field-bulk-select {
    width: 5%;

    @include respond-to(xs) {
      width: 8%;
    }
  }

  .text-overflow {
    display: block;
    @include text-overflow();
  }

  .line-break {
    display: block;
    white-space: normal;
  }

  .actions-col {
    padding-bottom: 5px;

    & > .btn,
    & > .btn-group {
      margin-bottom: 3px;
    }
  }

  .location-title {
    width: 20%;
  }

  .location-room {
    width: 15%;
  }

  .location-url {
    width: 30%;
  }
}


//
// Dashboard/My Calendars View
//

.manager-item-table {
  .field-recommended,
  .location-imported {
    width: 5%;

    @include respond-to(xs) {
      width: 8%;
    }
  }

  .event-title {
    width: 42%;

    abbr {
      margin-right: 6px;
    }
  }

  .event-time {
    width: 30%;
  }

  .recurrences-toggle {
    color: #777;
    display: block;
    font-size: 11px;
    font-weight: bold;

    @include respond-to(xs) {
      margin-top: 4px;
    }
  }

  .recurrences {
    display: none;
    font-size: 12px;
    line-height: 16px;
    margin-left: 0;
    max-height: 152px;
    padding-left: 20px;
    @include scrollbox();

    .archived-instance {
      color: #888;
      text-decoration: line-through;
    }
  }
}


//
// Calendar Create View
//

#manager-calendar-delete {
  color: #B71713;
  font-weight: bold;

  @include respond-to(xs) {
    margin-bottom: 0;
    top: 7px;
  }
}


//
// Calendar Update View - Calendar Info (base)
//

form#calendar-update {
  margin-bottom: 0;
}


//
// Calendar Update View - Users
//

input#id_add_user {
  width: 300px;
}

select#id_role {
  width: 150px;
}

input#id_add_user,
select#id_role {
  @include respond-to(xs) {
    width: 100%;
  }
}

#users-permissions {
  .calendar-access-username {
    font-weight: bold;
  }
}

form#manager-calendar-add-user {
  margin-bottom: 30px;
  position: relative;

  > .form-group {
    @include respond-to(xs) {
      margin-bottom: 10px;
    }
  }
}


//
// Category List View
//

.category-color span {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0 5px;
}


//
// Event Create/Update View
//

// Cancel/Delete btns
.event-update-cancel,
.event-update-delete {
  @include respond-to(xs) {
    margin-top: 15px;
  }
}

// When/Where
#event_instances-__prefix__ {
  display: none;
}

.whenwhere-wrap,
#cloner > div {
  background: #f9f9f9;
  border: 1px solid #c8c8c8;
  border-radius: 4px 0 4px 4px;
  margin-bottom: 5px;
  padding: 20px;
}

.cloneable:only-child .whenwhere-wrap {
  border-radius: 4px;
}

.whenwhere-wrap {
  hr {
    border-bottom: 1px solid #c8c8c8;
    border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-width: 1px 0;
    margin-top: 15px;
  }
}

.whenwhere.end,
.whenwhere-until,
.location-selected {
  float: right;

  @include respond-to(xs) {
    float: none;
  }

  @include body-prefix(ie8) {
    float: right !important;
  }
}

.whenwhere.end,
.whenwhere-until {
  @include respond-to(xs) {
    margin-right: 0;
  }
}

.location-selected {
  @include respond-to(xs) {
    margin-right: 20px;
    margin-top: 15px;
  }
}

.whenwhere.start label,
.whenwhere.end label {
  display: block;
  float: left;
  margin-right: 4px;
  position: relative;
  width: auto;
  z-index: 3;
}

#cloner {
  position: relative;

  &:hover {
    cursor: pointer;

    > div {
      background: #DFF0D8;
      border-color: #62C462;
      color: #2D792D;
    }
  }

  > div {
    border-radius: 4px 0 0 4px;
    border-style: dashed;
    color: #646464;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
  }

  > a {
    border-radius: 0 4px 4px 0;
    padding: 8px 14px;
    position: absolute;
    right: -25px;
    top: 0;

    @include respond-to(xs) {
      padding: 8px 9px;
      right: -15px;
    }
  }

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;

    > div {
      background-color: #fcfcfc;
      border-color: #ddd;
      color: #bbb;
    }

    > a {
      @extend .btn.disabled;
    }
  }
}

.remove-instance {
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  padding: 8px 14px;
  position: absolute;
  right: -25px;

  @include respond-to(xs) {
    padding: 8px 9px;
    right: -15px;
  }

  &:hover,
  &:focus,
  &:active {
    @include body-prefix(ie8) {
      background-color: $brand-danger;
      box-shadow: 0 0 0 transparent;
    }
  }
}

.remove-instance:hover + .whenwhere-wrap,
.remove-instance:focus + .whenwhere-wrap {
  background-color: #F2DEDE;
  border-color: #EE5F5B;

  @include body-prefix(ie8) {
    background-color: #f9f9f9;
    border-color: #c8c8c8;
  }
}

.location-search,
.tag-search {
  position: relative;

  input[type='text'] {
    @include ie-no-ms-clear();
  }
}

.location-search .autocomplete-new-btn {
  top: 28px;
}

.location-selected {
  position: relative;
}

.location-selected-remove {
  color: #A8A8A8;
  font-size: 20px;
  font-weight: bold;
  padding: 0 6px 1px 6px;
  position: absolute;
  right: 0;
  top: -6px;

  @include respond-to(xs) {
    right: -15px;
  }
}

.location-selected-remove {
  &:hover {
    text-decoration: none;
  }

  &:hover ~ span,
  &:focus ~ span {
    text-decoration: line-through;
  }
}

.location-selected-title,
.location-selected-room,
.location-selected-url {
  display: block;
  float: left;
  overflow: hidden;
  width: 95%; // Add spacing between .location-selected-remove
  word-wrap: break-word;
}

.clone-delete-hiddenfield {
  display: none;
}

// Tags
#event-tags-selected li {
  background: #aaa;
  border-radius: 20px;
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0 5px 5px 0;
  padding: 2px 12px 2px 28px;
  position: relative;

  a {
    border-radius: 20px 0 0 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 22px;
    margin-right: 6px;
    padding: 0 5px 0 9px;
    position: absolute;
    top: 0;

    &:hover,
    &:focus {
      background-color: #EE5F5B;
      text-decoration: none;
    }
  }
}

// Contact information
#add-user-contact-info {
  margin-bottom: 10px;
}
