/* General */
#manager-base {
  margin-top: 25px;
  @include respond-to(xs) { margin-top: 15px; }

  .sidebarfix > * {
    @include respond-to(sm) {
      padding-right: 0;
      margin-right: 0;
    }
  }
}

.manager-item-table {
  table-layout: fixed;

  & > thead > tr > th,
  & > thead > tr > td,
  & > tbody > tr > th,
  & > tbody > tr > td,
  & > tfoot > tr > th,
  & > tfoot > tr > td {
    border-top: 1px solid $table-border-color;
    @include respond-to(xs) {
      font-size: 11.5px;
      line-height: 1.2em;
    }
  }
  & > thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  & > tbody > tr > td {
    background-color: #fafafa;
  }
  & > thead > tr > th > abbr {
    display: inline-block;
  }

  .field-bulk-select {
    width: 5%;
    @include respond-to(xs) { width: 8%; }
  }

  .text-overflow {
    display: block;
    @include text-overflow();
  }
  .line-break {
    display: block;
    white-space: normal;
  }
}


/* Dashboard/My Calendars View */
.manager-item-table {
  .field-recommended {
    width: 5%;
    @include respond-to(xs) { width: 8%; }
  }
  .event-title { width: 42%; }
  .event-time { width: 30%; }

  .event-title abbr {
    margin-right: 6px;
  }

  .recurrences-toggle {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #777;
    @include respond-to(xs) { margin-top: 4px; }
  }
  .recurrences {
    display: none;
    font-size: 12px;
    line-height: 16px;
    margin-left: 0;
    padding-left: 20px;
    max-height: 152px;
    @include scrollbox();

    .archived-instance {
      text-decoration: line-through;
      color: #888;
    }
  }
}


/* Calendar Create View */
#manager-calendar-delete {
  font-weight: bold;
  color: #B71713;
  @include respond-to(xs) {
    margin-bottom: 0;
    top: 7px;
  }
}


/* Calendar Update View - Calendar Info (base) */
form#calendar-update {
  margin-bottom: 0;
}


/* Calendar Update View - Users */
input#id_add_user {
  width: 300px;
}
input#id_role {
  width: 150px;
}
input#id_add_user,
input#id_add_role {
  @include respond-to(xs) {
    width: 100%;
  }
}

#users-permissions {
  .calendar-access-username {
    font-weight: bold;
  }
}

form#manager-calendar-add-user {
  position: relative;
  margin-bottom: 30px;

  > .form-group {
    @include respond-to(xs) {
      margin-bottom: 10px;
    }
  }
}


/* Category List View */
.category-color span {
  display: block;
  padding: 0 5px;
  font-weight: bold;
  color: #fff;
}


/* Location List View */
.manager-item-table {
  .location-title { width: 20%; }
  .location-room { width: 15%; }
  .location-url { width: 30%; }
}


/* Event Create/Update View */

// Cancel/Delete btns
.event-update-cancel,
.event-update-delete {
  @include respond-to(xs) { margin-top: 15px; }
}

// When/Where
.whenwhere-wrap,
.cloner > div {
  border-radius: 4px 0 4px 4px;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #c8c8c8;
  margin-bottom: 5px;
}
.cloneable:only-child .whenwhere-wrap {
  border-radius: 4px;
}

.whenwhere-wrap {
  hr {
    border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
    border-width: 1px 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-top: 15px;
  }
}

.whenwhere.end,
.whenwhere-until,
.location-selected {
  float: right;
  margin-right: 10px;
  @include respond-to(xs) { float: none; }
  @include body-prefix(ie8) { float: right !important; }
}
.whenwhere.end,
.whenwhere-until {
  @include respond-to(xs) {
    margin-right: 0;
  }
}
.whenwhere.end {
  @include respond-to(xs) {
    margin-top: 9px;
  }
}
.location-selected {
  @include respond-to(xs) {
    margin-right: 20px;
    margin-top: 15px;
  }
}

.whenwhere.start label,
.whenwhere.end label {
  display: block;
  width: auto;
  float: left;
  margin-right: 4px;
  position: relative;
  z-index: 3;
}

.cloner {
  position: relative;

  &:hover {
    cursor: pointer;

    > div {
      background: #DFF0D8;
      border-color: #62C462;
      color: #2D792D;
    }
  }

  > div {
    padding: 8px 20px;
    border-style: dashed;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    font-weight: bold;
    color: #646464;
  }

  > a {
    position: absolute;
    top: 0;
    right: -25px;
    border-radius: 0 4px 4px 0;
    padding: 8px 14px;
    @include respond-to(xs) {
      padding: 8px 9px;
      right: -15px;
    }
   }
}

.remove-instance {
  position: absolute;
  right: -25px;
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  padding: 8px 14px;
  @include respond-to(xs) {
    padding: 8px 9px;
    right: -15px;
  }
}
.remove-instance:hover + .whenwhere-wrap,
.remove-instance:focus + .whenwhere-wrap {
  background-color: #F2DEDE;
  border-color: #EE5F5B;
  @include body-prefix(ie8) { /* IE8 chokes with the adjacent selector here; just unset */
    background-color: inherit;
    border-color: inherit;
  }
}

.location-search,
.tag-search {
  position: relative;

  input[type="text"] {
    @include ie-no-ms-clear();
  }
}

.location-search .autocomplete-new-btn {
  top: 28px;
}

.location-selected {
  position: relative;
}

.location-selected-remove {
  font-weight: bold;
  font-size: 20px;
  padding: 0 6px 1px 6px;
  position: absolute;
  top: -6px;
  right: 0;
  color: #A8A8A8;
  @include respond-to(xs) {
    right: -15px;
  }
}

.location-selected-remove {
  &:hover {
    text-decoration: none;
  }

  &:hover ~ span,
  &:focus ~ span{
    text-decoration: line-through;
  }
}

.location-selected-title,
.location-selected-room,
.location-selected-url {
  display: block;
  float: left;
  width: 95%; /* Add spacing between .location-selected-remove */
  overflow: hidden;
  word-wrap: break-word;
}

.clone-delete-hiddenfield {
  display: none;
}

// Tags
#event-tags-selected li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  border-radius: 20px;
  padding: 2px 12px 2px 28px;
  background: #aaa;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: relative;

  a {
    padding: 0 5px 0 9px;
    border-radius: 20px 0 0 20px;
    color: #fff;
    font-weight: bold;
    margin-right: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 14px;
    line-height: 22px;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #EE5F5B;
    }
  }
}

// Contact information
#add-user-contact-info {
  margin-bottom: 10px;
}