//
// Styles for inner TinyMCE editor content
//

@import './tinymce/skins/lightgray/content.min';

body {
  font-family: 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
