{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block alerts %}
{{ block.super }}
{% if form.non_field_errors %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger">
        <strong>Error: </strong>
        {{form.non_field_errors}}
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block title %}New User Setup: Create a Calendar | {{ block.super }}{% endblock %}

{% block content_title_icon %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content_subheader %}{% endblock %}
{% block content_tabs %}{% endblock %}

{% block content_body %}
<div class="row mt-3 mt-md-4">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-block">
        <h1 class="h2 mb-3"><span class="font-weight-normal">New User Setup:</span> Create a Calendar</h1>
        <div class="progress mb-1">
          <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="text-default">Step 2 of 2</p>
        <p>To create or subscribe to events, you'll need a calendar to put them in. Use the form below to create your first calendar.</p>
        <p class="mb-4">If you know you'll be added to an existing calendar later, you can <a href="{% url 'dashboard' %}">skip this step</a>. You will have limited access to the events system until you're added to a calendar.</p>

        <h2 class="h5 mb-3">Create your first calendar below.</h2>

        <form action="{% url 'events.views.manager.calendar-create' %}" method="post" id="calendar-create">
          {% csrf_token %}
          <div class="form-group{% if form.title.errors %} has-danger{% endif %}">
            <label class="form-control-label" for="id_title">Calendar Name</label>
            {{ form.title|add_class:"form-control" }}
            {% if form.title.errors %}
              {% for error in form.title.errors %}
                <div class="form-control-feedback">{{error}}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group{% if form.description.errors %} has-danger{% endif %}">
            <label class="form-control-label" for="id_description">Calendar Description</label>
            {{ form.description|add_class:"form-control" }}
            {% if form.description.errors %}
              {% for error in form.description.errors %}
                <div class="form-control-feedback">{{error}}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Create Calendar</button>
            <a class="btn btn-default" href="{% url 'dashboard' %}">Skip This Step</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
  {{block.super}}
  <script type="text/javascript">
    $().ready(function() {
      $('#id_name')
        .keyup(function() {
          $('#id_slug').val(sluggify($(this).val()));
        })
    });
  </script>
{% endblock %}
