{% extends 'events/manager/base.html' %}

{% block alerts %}
    {{ block.super }}
    {% if forms.user.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{forms.user.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if forms.profile.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{forms.profile.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title_icon %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content_subheader %}{% endblock %}
{% block content_tabs %}{% endblock %}

{% block content_body %}
<div class="row">
    <div class="span8 offset2 page-content">
        <div class="popout">
            <h1><span class="alt">Step 1:</span> My Profile</h1>
            <div class="progress">
                <div class="bar" style="width: 33%;"></div>
            </div>
            <p class="progress-desc">Step 1 of 2</p>
            <p>
                Welcome to the UCF Events system! It looks like this is your
                first time logging in.
                <br/>
                <strong>Please review your personal information and
                confirm that it is correct.</strong>
            </p>
            <form action="{% url 'profile-settings' %}" method="post" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="id_user-first_name">First Name</label>
                    <div class="controls">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_user-last_name">Last Name</label>
                    <div class="controls">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_user-email">Email</label>
                    <div class="controls">
                        {{ form.email }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Save Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
