.calendar-slider {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;

  .pager {
    margin: 0;
    position: relative;
    z-index: 2;

    li {
      position: absolute;
      top: 22px;

      @include respond-to(sm) {
        top: 25px;
      }
      @include respond-to(xs) {
        top: 4px;
      }

      &.previous {
        left: 0;
      }

      &.next {
        right: 0;
      }

      i {
        color: $brand-primary;
      }

      & > a,
      & > span {
        padding: 4px 10px;
        @include respond-to(sm) {
          padding: 2px 8px;
        }
      }
    }
  }

  .item {
    h3 {
      font-size: 17.5px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 0;
      text-align: center;

      @include respond-to(sm) {
        font-size: 16px;
      }
      @include respond-to(xs) {
        margin-top: 0;
      }
    }

    .table {
      border-collapse: separate;
      border-spacing: 3px;

      @include respond-to(xs) {
        margin-bottom: 20px;
      }

      th,
      td {
        border-top: 0;
        text-align: center;
      }

      th {
        border-bottom: 0;
        font-weight: 500;

        @include respond-to(sm) {
          font-size: 12px;
          padding: 2px;
        }
      }

      td {
        font-size: 12.5px;
        line-height: 18px;
        padding: 0;

        @include respond-to(sm) {
          font-size: 11.5px;
        }

        a {
          border-radius: 32px;
          color: $gray-light;
          display: block;
          height: 32px;
          line-height: 32px;
          margin: auto;
          position: relative;
          width: 32px;
          z-index: 1;

          @include respond-to(sm) {
            border-radius: 28px;
            height: 28px;
            line-height: 28px;
            width: 28px;
          }

          &:hover {
            background-color: $gray-lighter;
            color: #000;
            text-decoration: none;
          }
        }



        &.active {
          background-color: #fff;

          a {
            background-color: #000;
            color: #fff;

            &:hover {
              background-color: $gray-lighter;
              color: #000;
            }
          }

        }

        &.hasevents a {
          color: #000;
          font-weight: 500;
        }

        &.active.hasevents a {
          color: #fff;

          &:hover {
            color: #000;
          }
        }

        &.muted a {
          color: $gray-lighter;

          &:hover {
            color: $gray-light;
          }
        }

        &.today a {
          text-decoration: underline;
        }
      }
    }
  }
}
