{% extends 'events/manager/base.html' %}
{% load widgets %}

{% block page_header %}
  {% spaceless %}
  {{block.super}} | Locations
  {% endspaceless %}
{% endblock %}

{% block title %}All Locations | {{ block.super }}{% endblock %}

{% block content_title %}
  <div class="col-12">
    <h1 class="h2 mb-4">Locations</h1>
  </div>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
  <ul class="nav nav-tabs mb-3 mb-md-4">
    <li class="nav-item">
      <a class="nav-link {{ state|yesno:',,active' }}" href="{% url 'events.views.manager.location-state' %}">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if state == 'review' %} active{% endif %}" href="{% url 'events.views.manager.location-state' state='review' %}">
        Review {% if review_count and review_count > 0 %}<span class="badge badge-pill badge-default ml-1">{{ review_count }}</span>{% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if state == 'approved' %} active{% endif %}" href="{% url 'events.views.manager.location-state' state='approved' %}">Approved</a>
    </li>
  </ul>
{% endblock %}

{% block content_body %}
  <div class="row">
    <div class="col-12">
      <a class="btn btn-primary btn-sm mb-4" href="{% url 'events.views.manager.location-create' %}">
        <span class="fa fa-plus" aria-hidden="true"></span> Create New Location
      </a>
      {% if locations %}
        <form action="{% url 'events.views.manager.location-bulk-action' %}" method="post">
          {% csrf_token %}
          <div class="card mb-4">
            <div class="card-header">
              <div class="form-group row mb-0">
                <div class="col-md-5">
                  <label for="bulk-action_0" class="sr-only">Bulk Action:</label>
                  <select id="bulk-action_0" class="form-control form-control-sm" name="bulk-action_0" onchange="this.form.submit()">
                    <option value="empty">Select Bulk Action...</option>
                    <option value="approve">Approve</option>
                    <option value="review">Move to Review</option>
                    <option value="delete">Delete</option>
                  </select>
                </div>
              </div>
            </div>
            <table class="location-manager-table table">
              <thead>
                <tr>
                  <th class="field-bulk-select">
                    <label class="sr-only" for="bulk-select-all">Select All</label>
                    <input type="checkbox" id="bulk-select-all" name="bulk-select-all" value="" />
                  </th>
                  <th class="location-imported">
                    <a href="#" class="text-secondary" data-toggle="tooltip" data-placement="top" title="Is Imported Location">
                      <span class="fas fa-cloud-download-alt"></span>
                    </a>
                  </th>
                  <th class="location-title">Location Name</th>
                  <th class="location-room">Room</th>
                  <th class="location-url">URL</th>
                  <th class="location-count">
                    <a href="#" class="text-secondary" data-toggle="tooltip" data-placement="top" title="Number of events that have instances with this location. Includes copied events and events that are pending and posted on other calendars.">
                      Event Count
                    </a>
                  </th>
                  <th class="location-status">Status</th>
                  <th class="location-actions">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for location in locations %}
                <tr>
                  <td class="field-bulk-select">
                    <label class="sr-only" for="bulk-select">Bulk Action Select</label>
                    <input type="checkbox" name="object_ids" value="{{ location.pk }}" />
                  </td>
                  <td class="location-imported">
                    {% if location.import_id %}
                    <a href="#" class="text-secondary" data-toggle="tooltip" data-placement="top" title="This location was imported from map.ucf.edu">
                      <span class="fas fa-cloud-download-alt" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                  </td>
                  <td class="location-title">
                    <a href="{% url 'events.views.manager.location-update' pk=location.pk %}">{{ location.title }}</a>
                  </td>
                  <td class="location-room">
                    {{ location.room }}
                  </td>
                  <td class="location-url">
                    <a href="{{ location.url }}" target="_blank">{{ location.url }}</a>
                  </td>
                  <td class="location-count">
                    {{ location.event_count }}
                  </td>
                  <td class="location-status">
                    {% if location.reviewed %}
                    Approved
                    {% else %}
                    Needs Review
                    {% endif %}
                  </td>
                  <td class="location-actions">
                    <div class="dropdown">
                      <a class="btn btn-default btn-sm dropdown-toggle" href="#" role="button" id="locationSelectDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="locationSelectDropdownMenu">
                        <a class="dropdown-item" href="{% url 'events.views.manager.location-update' pk=location.pk %}">
                          <span class="fa fa-pencil-alt fa-fw mr-1" aria-hidden="true"></span>Edit Location
                        </a>

                        {% if location.event_instances.count > 0 %}
                        <a class="dropdown-item location-merge" href="{% url 'events.views.manager.location-merge' location_from_id=location.pk location_to_id=1 %}" data-object-title="{{ location.comboname }}" data-object-pk="{{ location.pk }}">
                          <span class="fa fa-compress fa-fw mr-1" aria-hidden="true"></span>Merge Location
                        </a>
                        {% else %}
                        <a class="dropdown-item object-modify" href="{% url 'events.views.manager.location-delete' pk=location.pk %}">
                          <span class="fa fa-trash-alt fa-fw mr-1" aria-hidden="true"></span>Delete Location
                        </a>
                        {% endif %}
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="card-footer">
              <div class="form-group row mb-0">
                  <label for="bulk-action_1" class="control-label sr-only">Bulk Action:</label>
                  <div class="controls col-md-5">
                    <select id="bulk-action_1" class="form-control form-control-sm" name="bulk-action_1" onchange="this.form.submit()">
                      <option value="empty">Select Bulk Action...</option>
                      <option value="approve">Approve</option>
                      <option value="review">Move to Review</option>
                      <option value="delete">Delete</option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
        </form>
      {% else %}
      <div class="alert alert-info">
        No locations found. Want to <a class="alert-link" href="{% url 'events.views.manager.location-create' %}">create one?</a>
      </div>
      {% endif %}

      {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}

      <!-- Modal for Object Merge -->
      <div class="modal fade" id="object-merge-modal" tabindex="-1" role="dialog" aria-labelledby="object-merge-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title h4" id="object-merge-modal-label">Merge Location: <span class="font-weight-normal"></span></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="fa fa-times" aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  You are about to merge this location with another existing location. Merging this location will assign any events that are currently assigned with this location to the location that you select below.
                </p>
                <p>
                  Note: <em>The location you're merging will be <strong>deleted</strong> once you merge it.</em> There is no undo!
                </p>
                <select id="new-object-select" class="form-control">
                  <option value="">Select an Existing Location</option>
                  {% for location in location_list %}
                  <option value="{{ location.pk }}">{{ location.comboname }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm">Merge Location</a>
                <a href="#" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
