{% extends 'events/manager/base.html' %}
{% load widgets %}

{% block page_header %}
    {% spaceless %}
    {{block.super}} | Locations
    {% endspaceless %}
{% endblock %}

{% block title %}All Locations | {{ block.super }}{% endblock %}

{% block content_title %}
    <h1 class="col-md-12">Locations</h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="{{ state|yesno:',,active' }}">
                    <a href="{% url 'location-state' %}">All</a>
                </li>
                <li class="{% if state == 'review' %} active{% endif %}">
                    <a href="{% url 'location-state' state='review' %}">
                        Review {% if review_count and review_count > 0 %}<span class="badge">{{ review_count }}</span>{% endif %}
                    </a>
                </li>
                <li class="{% if state == 'approved' %} active{% endif %}">
                    <a href="{% url 'location-state' state='approved' %}">Approved</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-md-12 page-content">
            <a class="btn btn-primary page-top-action" href="{% url 'location-create' %}">
                <i class="fa fa-plus"></i> Create New Location
            </a>

            {% if locations %}
                <form action="{% url 'location-bulk-action' %}" class="form-horizontal bulk-action-form" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="form-group">
                                <label for="bulk-action_0" class="control-label sr-only">Bulk Action:</label>
                                <div class="controls col-md-6 col-sm-5">
                                    <select id="bulk-action_0" class="form-control" name="bulk-action_0" onchange="this.form.submit()">
                                        <option value="empty">Select Bulk Action...</option>
                                        <option value="approve">Approve</option>
                                        <option value="review">Move to Review</option>
                                        <option value="delete">Delete</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover manager-item-table">
                            <thead>
                                <tr>
                                    <th class="field-bulk-select">
                                        <label class="sr-only" for="bulk-select-all">Select All</label>
                                        <input type="checkbox" id="bulk-select-all" name="bulk-select-all" value="" />
                                    </th>
                                    <th class="location-imported"><abbr title="Is Imported Location"><i class="fa fa-cloud-download"></i></abbr></th>
                                    <th class="location-title"><span class="line-break">Location Name</span></th>
                                    <th class="location-room">Room</th>
                                    <th class="location-url">URL</th>
                                    <th class="location-count"><abbr title="Number of events that have instances with this location. Includes copied events and events that are pending and posted on the Main Calendar."><span class="line-break">Event Count</span></abbr></th>
                                    <th class="location-status">Status</th>
                                    <th class="location-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td class="field-bulk-select">
                                        <label class="sr-only" for="bulk-select">Bulk Action Select</label>
                                        <input type="checkbox" name="object_ids" value="{{ location.pk }}" />
                                    </td>
                                    <td class="location-imported">
                                        {% if location.import_id %}
                                        <abbr title="This location was imported from map.ucf.edu"><i class="fa fa-cloud-download"></i></abbr>
                                        {% endif %}
                                    </td>
                                    <td class="location-title">
                                        <a class="line-break" href="{% url 'location-update' pk=location.pk %}">{{ location.title }}</a>
                                    </td>
                                    <td class="location-room">
                                        <span class="line-break">{{ location.room }}</span>
                                    </td>
                                    <td class="location-url">
                                        <a class="text-overflow" href="{{ location.url }}" target="_blank">{{ location.url }}</a>
                                    </td>
                                    <td class="location-count">
                                        {{ location.event_count }}
                                    </td>
                                    <td class="location-status">
                                        {% if location.reviewed %}
                                        Approved
                                        {% else %}
                                        Needs Review
                                        {% endif %}
                                    </td>
                                    <td class="location-actions">
                                        <div class="dropdown btn-group">
                                            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Select
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li role="presentation">
                                                    <a href="{% url 'location-update' pk=location.pk %}">
                                                        <i class="fa fa-pencil fa-fw"></i>
                                                        Edit Location
                                                    </a>
                                                </li>
                                                {% if location.event_instances.count > 0 %}
                                                <li role="presentation">
                                                    <a class="location-merge" href="{% url 'location-merge' location_from_id=location.pk location_to_id=1 %}" data-object-title="{{ location.comboname }}" data-object-pk="{{ location.pk }}">
                                                        <i class="fa fa-compress fa-fw"></i>
                                                        Merge Location
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li role="presentation">
                                                    <a class="object-modify" href="{% url 'location-delete' pk=location.pk %}">
                                                        <i class="fa fa-trash-o fa-fw"></i>
                                                        Delete Location
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="panel-footer">
                            <div class="form-group">
                                <label for="bulk-action_1" class="control-label sr-only">Bulk Action:</label>
                                <div class="controls col-md-6 col-sm-5">
                                    <select id="bulk-action_1" class="form-control" name="bulk-action_1" onchange="this.form.submit()">
                                        <option value="empty">Select Bulk Action...</option>
                                        <option value="approve">Approve</option>
                                        <option value="review">Move to Review</option>
                                        <option value="delete">Delete</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="well well-empty">
                    No locations found. Want to <a href="{% url 'location-create' %}">create one?</a>
                </div>
            {% endif %}
                {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}

                <!-- Modal for Object Merge -->
                <div class="modal fade" id="object-merge-modal" tabindex="-1" role="dialog" aria-labelledby="object-merge-modal-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h2 class="modal-title" id="object-merge-modal-label">Merge Location: <span class="alt"></span></h2>
                            </div>
                            <div class="modal-body">
                                <p>
                                    You are about to merge this location with another existing location. Merging this location
                                    will assign any events that are currently assigned with this location to the location that
                                    you select below.
                                </p>
                                <p>
                                    Note: <em>The location you're merging will be <strong>deleted</strong> once you merge it.</em>
                                    There is no undo!
                                </p>
                                <select id="new-object-select" class="form-control">
                                    <option value="">Select an Existing Location</option>
                                    {% for location in location_list %}
                                    <option value="{{ location.pk }}">{{ location.comboname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-primary">Merge Location</a>
                                <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
