{% extends 'events/manager/base.html' %}

{% block page_header %}
    {% spaceless %}
    {{block.super}} | Locations
    {% endspaceless %}
{% endblock %}

{% block content_title_icon %}
<i class="icon-map-marker" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>Locations</h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="{{ state|yesno:',,active' }}">
                    <a href="{% url location-state %}">All</a>
                </li>
                <li class="{% if state == 'review' %} active{% endif %}">
                    <a href="{% url location-state state='review' %}">Review ({{ review_count }})</a>
                </li>
                <li class="{% if state == 'approved' %} active{% endif %}">
                    <a href="{% url location-state state='approved' %}">Approved</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    {% if locations %}
        <div class="row">
            <div class="span8 sidebarfix page-content">
                <form action="{% url location-bulk-action %}" class="form-horizontal bulk-action-form" method="post">
                    <div class="control-group">
                        <label for="bulk-action_0" class="control-label">Bulk Action:</label>
                        <div class="controls">
                            <select id="bulk-action_0" name="bulk-action_0" onchange="this.form.submit()">
                                <option>Select Action...</option>
                                <option value="approve">Approve</option>
                                <option value="review">Move to Review</option>
                                <option value="delete">Delete</option>
                            </select>
                        </div>
                    </div>
                    <table class="table table-striped table-hover manager-item-table">
                        <thead>
                            <tr>
                                <th class="field-bulk-select">
                                    <label class="label-hidden" for="bulk-select-all">Select All</label>
                                    <input type="checkbox" id="bulk-select-all" name="bulk-select-all" value="" />
                                </th>
                                <th class="location-title">Location Name</th>
                                <th class="location-room">Room</th>
                                <th class="location-url">URL</th>
                                <th class="location-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for location in locations %}
                            <tr>
                                <td class="field-bulk-select">
                                    <label class="label-hidden" for="bulk-select">Bulk Action Select</label>
                                    <input type="checkbox" name="location_ids" value="{{ location.id }}" />
                                </td>
                                <td class="location-title">
                                    <a href="{% url location-update location_id=location.id %}">{{ location.title }}</a>
                                </td>
                                <td class="location-room">
                                    {{ location.room }}
                                </td>
                                <td class="location-url">
                                    <a href="{{ location.url }}" target="_blank">{{ location.url }}</a>
                                </td>
                                <td class="location-actions">
                                    <a class="btn btn-mini" href="{% url location-update location_id=location.id %}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="control-group">
                        <label for="bulk-action_1" class="control-label">Bulk Action:</label>
                        <div class="controls">
                            <select id="bulk-action_1" name="bulk-action_1" onchange="this.form.submit()">
                                <option>Select Action...</option>
                                <option value="approve">Approve</option>
                                <option value="review">Move to Review</option>
                                <option value="delete">Delete</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <p>No locations found. Want to <a href="{% url location-create %}">create one?</a></p>
    {% endif %}
{% endblock %}
