{% if user.is_authenticated %}
<body class="logged-in">
    <div class="container-wide nav-wrap">
        <nav class="container">
            <div class="row">
                <div class="col-md-12 nav-inner">
                    <div class="pull-left">
                    <span class="navbar-title"><a href="{% url 'home' %}">UCF Events</a> <a href="{% url 'dashboard' %}">Admin</a></span>

                        <span class="nav-divider"></span>

                        <div class="user dropdown">
                            <a class="dropdown-toggle username" data-toggle="dropdown" href="{% url 'profile-settings' %}">
                                <i class="fa fa-user"></i>Hi, <strong>{{ user.first_name }}</strong>
                            </a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Your Account</li>
                                <li role="presentation">
                                    <a href="{% url 'profile-settings' %}">
                                        <i class="fa fa-cog fa-fw"></i>
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pull-right">
                        {% if first_login %}
                        {% else %}
                        <ul class="actions-primary">
                            {% if user.calendars %}
                            <li id="create-event">
                                <a class="btn btn-primary btn-sm" href="{% url 'event-create' %}">
                                    <span class="fa-stack fa-md">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                                    </span>
                                    Create Event
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="dropdown">
                                <i class="fa fa-key"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'calendar-list' %}">
                                    Admin Menu
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Moderate</li>
                                    <li role="presentation">
                                        <a href="{% url 'location-list' %}">
                                            <i class="fa fa-map-marker fa-fw"></i>
                                            Locations
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'category-list' %}">
                                            <i class="fa fa-tag fa-fw"></i>
                                            Categories
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'tag-list' %}">
                                            <i class="fa fa-tags fa-fw"></i>
                                            Tags
                                        </a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation">
                                        <a href="{% url 'profile-list' %}">
                                            <i class="fa fa-group fa-fw"></i>
                                            All Users
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'calendar-list' %}">
                                            <i class="fa fa-calendar fa-fw"></i>
                                            All Calendars
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="dropdown">
                                <i class="fa fa-calendar"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'dashboard' %}">
                                    My Calendars
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                        <a href="{% url 'dashboard' %}">View All</a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                {% if user.calendars %}
                                    {% for calendar in user.calendars %}
                                        <li role="presentation"{% if current_calendar == calendar %} class="selected"{% endif %}>
                                            <a href="{% url 'dashboard' pk=calendar.pk %}" class="name">
                                                <i class="fa fa-calendar"></i> {{ calendar.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="divider" role="presentation"></li>
                                 {% endif %}
                                    <li role="presentation">
                                        <a href="{% url 'calendar-create' %}"><i class="fa fa-plus"></i> Create New Calendar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}

                        <span class="nav-divider"></span>

                        <div class="logout">
                            <i class="fa fa-power-off"></i>
                            <a href="{% url 'accounts-logout' %}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% else %}
<body>
{% endif %}