<div class="featured-event row no-gutters mb-4">
  <div class="col-md-6 push-md-6">
    <picture>
      <source srcset="{{ featured_event.desktop_feature_image.url }}" media="(min-width: 767px)" />
      <source srcset="{{ featured_event.mobile_feature_image.url }}" media="(max-width: 757px)" />
      <img class="img-fluid" src="{{ featured_event.mobile_feature_image.url }}" />
    </picture>
  </div>
  <div class="col-md-6 pull-md-6">
    <div class="card h-100">
      <div class="card-block">
        <h2 class="h3">{{ featured_event.event.title }}</h2>
        {% with next_instance=featured_event.event.get_next_instance %}
        <p class="card-text mb-2">
          <span class="fas fa-map-marker-alt mr-2" aria-hidden="true"></span> {{ next_instance.location.title }}
        </p>
        <p class="card-text mb-2">
          <div class="row">
            <div class="col-6">
              <span class="fas fa-calendar mr-2" aria-hidden="true"></span> {{ next_instance.start.date }}
            </div>
            <div class="col-6">
              <span class="fas fa-clock mr-2" aria-hidden="true"></span> {{ next_instance.start.time }} to {{ next_instance.end.time }}
            </div>
          </div>
        </p>
        <p class="card-text mb-0">
          {{ featured_event.event.description|truncatewords:25|safe }}
        </p>
      </div>
      <div class="card-footer">
        <a href="{{ next_instance.get_absolute_url }}" class="btn btn-primary btn-block stretched-link">
          More Details
        </a>
      </div>
        {% endwith %}
      </div>
    </div>
  </div>
</div>
