{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block title %}
    {% spaceless %}
    {{ block.super }}
    |
    {% if mode == 'create' %}
        Create Tag
    {% else %}
        {% if mode == 'update' %}
            Update Tag
        {% endif %}
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title_icon %}
<i class="icon-tags" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    {% if object %}
        <h1>Update Tag: <span class="alt">{{ tag.name }}</span></h1>
    {% else %}
        <h1>Create a Tag</h1>
    {% endif %}
{% endblock %}

{% block content_subheader_text %}
    {% if object %}
        Use the form below to update the tag "{{ tag.name }}". Events with this tag will be updated with these changes.
    {% else %}
        Use the form below to create a new tag.
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if object %}
        <form class="form-horizontal" action="{% url 'tag-update' pk=tag.id %}" method="post">
    {% else %}
        <form class="form-horizontal" action="{% url 'tag-create' %}" method="post">
    {% endif %}
            {{ form.non_field_errors }}
            {{ form.name.errors }}
            <div class="control-group large">
                <label class="control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group large">
                <div class="controls">
                    {% if object %}
                        <button class="btn btn-primary" type="submit">Update Tag</button>
                        <a href="{% url 'tag-list' %}" class="btn">Cancel</a>
                    {% else %}
                        <button class="btn btn-primary" type="submit">Create Tag</button>
                    {% endif %}
                </div>
            </div>
        </form>
{% endblock %}

