{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block title %}
    {% spaceless %}
    {{ block.super }}
    |
    {% if mode == 'create' %}
        Create Tag
    {% else %}
        {% if mode == 'update' %}
            Update Tag
        {% endif %}
    {% endif %}
    | {{ block.super }}
    {% endspaceless %}
{% endblock %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Error: </strong>
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if object %}
        <h1 class="col-md-12">Update Tag: <span class="alt">{{ tag.name }}</span></h1>
    {% else %}
        <h1 class="col-md-12">Create a Tag</h1>
    {% endif %}
{% endblock %}

{% block content_subheader_text %}
    {% if object %}
        Use the form below to update the tag "{{ tag.name }}". Events with this tag will be updated with these changes.
    {% else %}
        Use the form below to create a new tag.
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if object %}
        <form class="form-horizontal" action="{% url 'tag-update' pk=tag.pk %}{% if form_action_next %}?next={{ form_action_next }}{% endif %}" method="post">
    {% else %}
        <form class="form-horizontal" action="{% url 'tag-create' %}{% if form_action_next %}?next={{ form_action_next }}{% endif %}" method="post">
    {% endif %}
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group large">
                <label class="control-label col-md-3" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                <div class="controls col-md-5">
                    {{ form.name|add_class:"form-control" }}
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="form-group large">
                <div class="col-md-5 col-md-offset-3">
                    {% if object %}
                        <button class="btn btn-primary btn-block-xs" type="submit">Update Tag</button>
                        <a href="{% url 'tag-list' %}" class="btn btn-default btn-block-xs">Cancel</a>
                    {% else %}
                        <button class="btn btn-primary btn-block-xs" type="submit">Create Tag</button>
                    {% endif %}
                </div>
            </div>
        </form>
{% endblock %}

