{% extends 'events/manager/modify-object.html' %}
{% load widget_tweaks %}

{% block content_title_icon %}
    <i class="fa fa-trash-o" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>Delete Tag: <span class="alt">{{ tag.title }}</span></h1>
{% endblock %}

{% block content_form_action %}
    {% url 'tag-delete' pk=tag.pk %}
{% endblock %}

{% block content_form_id %}tag-delete{% endblock %}

{% block content_form_body %}
    <p>Are you sure you want to delete this tag? There is no undo!</p>
{% endblock %}

{% block content_form_footer %}
    <button type="submit" class="btn btn-danger">Delete Tag</button>
    <a href="{% url 'tag-update' pk=tag.pk %}" class="btn btn-default" data-dismiss="modal">Cancel</a>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
