{% load humanize %}
{{ start_date }}
{% if event_instances %}
    {% regroup event_instances by start|date:"l, F j" as dates %}
    {% for date in dates %}
        {% if date.list.0.start|naturalday == "today" %} <!-- Can't compare to date.grouper, so get 1st event's start date -->
            <h3>Today: <span class="alt">{{ date.grouper }}</span></h3>
        {% elif date.list.0.start|naturalday == "tomorrow" %}
            <h3>Tomorrow: <span class="alt">{{ date.grouper }}</span></h3>
        {% else %}
            <h3>{{ date.grouper }}</h3>
        {% endif %}

        <ul class="event-list">
        {% for event_instance in date.list %}
            <li class="event {{ event_instance.event.category.slug }}">
                <a class="event-content url" href="{% url 'event' pk=event_instance.pk slug=event_instance.event.slug %}">
                    <!-- if img -->
                    <!--<img src="" alt="image" title="image" />-->
                    <!-- endif -->
                    <h4>
                        <span class="summary">{{ event_instance.title }}</span>
                        {% if event_instance.is_recurring %}
                        <i class="icon-repeat"></i>
                        <span class="recurring">(Recurring Event)</span>
                        {% endif %}
                    </h4>
                    <span class="location">{{ event_instance.location }}</span>
                    <span class="description">
                        {{ event_instance.event.description|striptags|truncatewords:160 }}
                    </span>
                    <time class="dtstart" datetime="{{ event_instance.start|date:"cZ" }}">
                        {% if event_instance.start.time %}
                            {{ event_instance.start|date:"f a" }}
                        {% else %}
                            All Day
                        {% endif %}
                        <span class="value-title" title="{{ event_instance.start|date:"cZ" }}"></span>
                    </time>
                </a>
                <span class="category {{ event_instance.event.category.slug }}">{{ event_instance.event.category.title }}</span>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
<p>No events found.</p>
{% endif %}
