{% load humanize %}
{% load core_tags %}
{% comment %}
This partial template assumes that event_instances (a list of event instances
or event search results) exists before the partial is included.

Make sure to catch listing.html as a variable before checking if event_instances
exists; i.e.:

    with listing_templ="events/frontend/event-listing/listing.html"
        if event_instances:
            include listing_templ
        else:
            print "No events found."
        endif
    endwith
{% endcomment %}

{% for instance in event_instances %}
    {% with event_instance=instance.object.get_all_parent_instances.0|default:instance %}
    {% include_esi 'eventinstance' event_instance.pk 'listing' %}
    {% endwith %}
{% endfor %}