{% extends 'events/manager/base.html' %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#event_instance_add')
				.click(function() {
					extend_formset('#instances > li:last', 'event_instance');
					return false;
				});
		})
	</script>
{% endblock %}
{% block content_body %}
	{% if mode == 'create' %}
	<h2>Create an Event</h2>
	{% else %}
		{% if mode == 'update' %}
		<h2>Update Event</h2>
		{% endif %}
	{% endif %}
	<div id="event" class="span-24">
			{{event_form.non_field_errors}}
			{{event_form.errors}}
			{% for form in event_formset %}
				{{form.non_field_errors}}
				{{form.errors}}
			{% endfor %}
			{% if mode == 'create' %}
			<form action="{% url event-create %}" method="post" enctype="multipart/form-data">
			{% else %}
				{% if mode == 'update' %}
				<form action="{% url event-update id=event.id %}" method="post" enctype="multipart/form-data">
				{% endif %}
			{% endif %}
			
				<div id="details" class="span-8">
					<p>{{event_form.title.label_tag}}</p>
					{{event_form.title}}
					<p>{{event_form.description.label_tag}}</p>
					{{event_form.description}}
					<p>{{event_form.tags.label_tag}}</p>
					<p>{{event_form.tags}}</p>
					<p>{{event_form.categories.label_tag}}</p>
					<p>{{event_form.categories}}</p>
					<p>{{event_form.image.label_tag}}</p>
					<p>{{event_form.image}}</p>
					<p>{{event_form.calendar.label_tag}}</p>
					<p>{{event_form.calendar}}</p>
					{{event_formset.management_form}}
					{% csrf_token %}
					{% if mode == 'create' %}
					<button type="submit">Create Event</button>
					{% else %}
						{% if mode == 'update' %}
						<button type="submit">Update Event</button>
						{% endif %}
					{% endif %}
				</div>
				<div class="span-15 prepend-1 last">
					<label>Date, Time &amp; Location:</label>
					<ul id="instances">
						{% for form in event_formset %}
							<li class="clearfix">
								{{form.id}}
								<div class="dates span-8">
									<div class="start">
										{{form.start.label_tag}}
										{{form.start}}
									</div>
									<div class="end">
										{{form.end.label_tag}}
										{{form.end}}
									</div>
								</div>
								<div class="span-7 last">
									<div class="recur">
										{{form.interval.label_tag}}
										{{form.interval}} {{form.limit}}
									</div>
									<div class="location">
										{{form.location.label_tag}}
										{{form.location}}
									</div>
									<p>{{form.DELETE}} Delete this event instance</p>
								</div>
							</li>
						{% endfor %}
					</ul>
					<button id="event_instance_add" class="clear">Add Another Event Instance</button>
				</div>
			</form>
		</div>
{% endblock %}