/**
 * University Header Overrides
 **/
#UCFHBSearch_ucf fieldset #q {
	line-height: 11px;
	color: #000000;
	padding: 2px!important;
	font-size: 11px;
	font-family: 'Lucida Grande',sans-serif;
	height: 13px;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
}
select#UCFHBHeaderLinks {
	height: 18px;
	font-size: 11px;
	color: #000000;
	font-family: 'Lucida Grande', sans-serif;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
	padding: 0;
	line-height: 15px;
}
#UCFHBHeader { position: relative; z-index: 999; }
@media (max-width: 979px) {
	#UCFHBSearch_and_links { display: none; }
	#UCFHBHeader div.UCFHBWrapper { width: 100%; }
}
@media (max-width: 767px) {
	#UCFHBHeader { margin-left: -20px; width: 100%; padding-right: 40px; }
}


/**
 * Universal Styles
 **/

/* Body */
body { background: url('../img/gradient.png') top left repeat-x; }

/* Header tags, basic text */
h1 .alt,
h2 .alt,
h3 .alt,
h4 .alt,
h5 .alt,
h6 .alt { font-weight: 300; }
h2 { letter-spacing: 0; font-weight: 300; }
.icon-circle-wrap { 
	display: block; 
	width: 25px; 
	height: 18px;
	padding-top: 5px; 
	border-radius: 25px; 
	box-shadow: 0 2px 0 0 #3566c9;
	background-color: #4380fc; 
	color: #fff; 
	text-align: center;
	margin-top: -2px;
}
form a:not([class]),
.page-content a:not([class]),
.page-sidebar a:not([class]) { color: #3566C9; } /* Add color to links that don't have a class assigned to them */
a:not(.btn) > i { padding-right: 6px; }
a:hover > i { text-decoration: none; }
a.btn-mini { font-weight: 500; letter-spacing: 0.3px; }

/* Dropdowns */
.btn b.caret { border-top: 4px solid #fff; }
.dropdown li i { padding-right: 6px; }
.dropdown.open a.btn.dropdown-toggle {  
	background-image: none;
	box-shadow: 0 2px 0 0 #4D4D4D inset, 0 2px 0 0 #8D8D8D;
	outline: 0 none;
}

/* Modals */
.modal h2 { font-weight: bold; line-height: 30px; }
.modal-header .object-type,
.modal-footer .object-type {
	text-transform: capitalize;
}

/* Forms */
form.form-horizontal { margin: 20px 0 30px 0;}
form.form-tabbed,
form.form-tabbed .tab-content .tab-pane h2 { margin-top: 0; }
.form-horizontal .control-label { font-weight: bold; }
.form-horizontal .control-group.large .control-label { 
	font-size: 18px; 
	text-indent: -1px;
	width: 200px; 
}
.label-desc { 
	display: block; 
	float: left; 
	width: 160px; 
	clear: left; 
	text-align: right; 
	font-size: 12px;
	line-height: 16px;
	color: #8d8d8d;
}
.control-group.large .label-desc { width: 200px; }
.form-horizontal .control-group.large .controls { margin-left: 220px; }
.form-horizontal .control-group .controls > .row { 
	margin-top: 5px; 
	display: inline-block; /* req'd for .rows in .controls to clear properly */
}
.field-date,
.field-time {
	width: 40%; /* .field-time overridden by bootstrap timepicker plugin */
}
.field-date { margin-right: 10px; }
.field-time { margin-right: 0; }
.field-time + .add-on { display: none; }

textarea { height: 175px; }
select option { padding-top: 3px; padding-bottom: 3px; }
.typeahead { margin-top: 0; }

form p.help-text { font-size: 11px; font-style: italic; line-height: 18px; color: #888; padding-top: 8px; }
form p.help-text + .dropdown-menu { top: 30px; }

/* Date/Timepicker overrides */
.bootstrap-timepicker { width: 35%; }
.bootstrap-timepicker input { width: 100%; }
.bootstrap-timepicker span.add-on {
	border: 0;
	background-color: #a8a8a8;
	box-shadow: 0 2px 0 0 #686868;
	color: #fff;
}
.bootstrap-timepicker span.add-on:hover {
	background-color: #8D8D8D;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}
.bootstrap-timepicker .open + span.add-on {
	background-color: #8D8D8D;
	box-shadow: 0 2px 0 0 #4D4D4D inset, 0 2px 0 0 #8D8D8D;
}
.bootstrap-timepicker span.add-on i:before,
a > i[class^="icon-"]:before, 
a > i[class*=" icon-"]:before { cursor: pointer; }

/** WYSIWYG overrides **/
ul.wysihtml5-toolbar { display: inline-block; }
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
	background-color: #8D8D8D;
	box-shadow: 0 2px 0 0 #4d4d4d inset, 0 2px 0 0 #8d8d8d;
}
ul.wysihtml5-toolbar span.current-font,
ul.wysihtml5-toolbar a[data-wysihtml5-command="italic"],
ul.wysihtml5-toolbar a[data-wysihtml5-command="underline"] { 
	font-weight: normal; 
}
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="div"] { color: #333; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
	font-weight: bold;
	color: #333;
}
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] {
	letter-spacing: -1px;
	line-height: 40px;
}
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
	line-height: 20px;
}
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"] { font-size: 36px; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"] { font-size: 30px; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] { font-size: 24.5px; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"] { font-size: 17.5px; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"] { font-size: 14px; }
ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] { font-size: 11.9px; }
ul.wysihtml5-toolbar a:hover { color: #fff; }

/* Calendar Sliders */
.calendar-slider {  }
.calendar-slider .pager { margin: 0; position: relative; z-index: 2; }
.calendar-slider .pager li { position: absolute; top: 15px; }
.calendar-slider .pager li.previous { left: 0; }
.calendar-slider .pager li.next { right: 0; }
.calendar-slider .pager li .carousel-control { 
	font-size: 14px; 
	padding: 0; 
	position: static; 
	height: auto; 
	opacity: 1;
	margin: 0;
	float: none;
}
.calendar-slider .carousel-inner { position: relative; z-index: 1; }
.calendar-slider .carousel-inner .item h3 { text-align: center; }

/* Calendar Grids */
.calendar-grid { 
	width: 100%;
	list-style-type: none;
	margin-left: 0;
}
.calendar-grid > li,
.calendar-grid-labels > span {
	width: 14.285%;
}
.calendar-grid-labels > span {
	font-size: 18px;
	color: #6e6e6e;
	text-align: center;
	font-weight: 300;
	display: block;
	float: left;
	padding: 10px 0;
}
.calendar-grid > li {
	height: 130px;
	border-top: 0px solid transparent;
	padding: 0;
	float: left;
	border-bottom: 4px solid #fff;
	overflow: hidden;
	position: relative;
}
.calendar-grid > li:hover { overflow: visible; }
.calendar-grid > li > a.event-expander {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	z-index: 3;
	cursor: default;
	text-align: center;
	color: #fff;
}
.calendar-grid > li > a.event-expander:hover {
	display: none;
}
.calendar-grid > li > a.event-expander > span.help-text {
	text-indent: -9999px;
	display: block;
	width: 0;
	height: 0;
}
.calendar-grid > li > a.event-expander > span.icon-text {
	display: block;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	background-color: #d4d4d4;
	height: 100%;
	line-height: 20px;
}
.calendar-grid > li > div {
	background-color: #f1f1f1;
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	padding-top: 30px;
}
.calendar-grid > li > div:after { /* Add some faux padding btwn the edge of the li and its child div */
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 2px;
	height: 6px;
	background-color: #f1f1f1;
	z-index: 10;
}
.calendar-grid > li:hover > div {
	width: auto;
	z-index: 10;
	overflow: visible;
}
.calendar-grid > li:hover > div:after { display: none; }
.calendar-grid > li > div > ul {
	position: absolute;
	left: 0;
}
.calendar-grid > li:hover > div > ul { 
	background-color: #fffbe9; 
	width: 200px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.calendar-grid > li > div > ul > li { padding: 0 8px; width: 114px; }
.calendar-grid > li:hover > div > ul > li { width: 184px; }
.calendar-grid > li > div > a.date {
	font-size: 24px;
	font-weight: 400;
	color: #8d8d8d;
	padding: 8px 5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.calendar-grid > li:hover > div > a.date {
	color: #fcc904;
}
.calendar-grid > li > div > a.date > span { display: none; }
.calendar-grid > li > div > .holiday {
	font-size: 12px;
	font-weight: 500;
	color: #8d8d8d;
	display: block;
	line-height: 14px;
	padding: 8px 8px 0 8px;
}
.calendar-grid > li.muted > div { background-color: #fff; }
.calendar-grid > li.muted > div:after {
	background-color: #fff;
}
.calendar-grid > li.muted > div > a.date { color: #e2e2e2; }
.calendar-grid > li.today > div > a.date {
	background-color: #a8a8a8;
	color: #fff;
	font-weight: bold;
}
.calendar-grid > li.today:hover > div > a.date { background-color: #fcc904; }


/**
 * Utility
 **/
.fullwidth { width: 100%; }
.label-hidden { line-height: 0; text-indent: -9999px; width: 1px !important; height: 1px; display: block; }
.label-inner { font-size: 16px; color: #8d8d8d; font-weight: 300; }
.sidebarfix > * { padding-right: 10px; }
.sidebarfix > .modal { padding-right: 0; }
.recurring { /* Helper text for designating recurring events */
	width: 0;
	height: 0;
	text-indent: -9999px;
	display: block;
}


/**
 * Header
 **/
header { padding-top: 15px; }
header #header-title {
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 10px 0;
	display: block;
}
header #header-title .alt { font-weight: 300; }
header form.form-search { padding-top: 19px; float: right; }


/**
 * Main Navigation (subheader)
 **/
#navwrap { background: #f1f1f1; }
#navinner { padding: 10px 0; }
nav .user { float: left; padding-right: 30px; padding-top: 5px; padding-bottom: 5px; }
nav .user i { color: #8d8d8d; }
nav #actions-primary,
nav #actions-secondary { 
	list-style-type: none; 
	margin: 0; 
}
nav #actions-primary { float: left; }
nav #actions-primary > li,
nav #actions-secondary > li { 
	float: left; 
	padding-left: 15px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	position: relative;
}
nav #actions-primary > li > i { color: #4380fc; font-size: 16px; padding-right: 4px; }
nav #actions-primary > li > span.label { position: absolute; left: 25px; top: -3px; }
nav #actions-secondary { float: right; }
nav #actions-secondary > li > i { color: #8d8d8d; font-size: 16px; padding-right: 4px; }
nav li#create-event { border-left: 3px solid #e1e1e1; margin-left: 15px; }
nav li#create-event .icon-circle-wrap { float: left; margin-right: 6px; }


/**
 * Alert Messages
 **/
#messages { margin: 10px 0 0 0; }

/**
 * Page Tabs
 **/
.nav.nav-tabs { margin-bottom: 5px; }


/**
 * Page Titles
 **/ 
#page-title-wrap { position: relative; margin-top: 10px; } 
#page-title-wrap #page-title-icon { position: absolute; top: 10px; left: -48px; font-size: 36px; color: #a8a8a8; }
#page-title-wrap #page-title-icon.icon-plus { top: 13px; }
#page-title-wrap #page-title-icon.icon-cog { top: 12px; }
#page-title-wrap h1 { display: block; float: left; margin-bottom: 10px; }


/**
 * Page Subtitles
 **/
.page-subtitle { line-height: 28px; color: #8d8d8d; margin-top: 0; margin-bottom: 20px; }
.subtitle-backlink-wrap { margin-top: -5px; margin-bottom: 25px; }
.subtitle-backlink-wrap .subtitle-backlink { font-weight: bold; }


/**
 * Login/Initial Setup
 **/
.popout { 
	padding: 10px 20px 20px 20px; 
	margin-top: 30px; 
	margin-bottom: 50px;
	border: 1px solid rgba(0, 0, 0, 0.3); 
	border-radius: 6px;  
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}


/**
 * Sidebars
 **/



/**
 * My Calendars
 **/

/** Title **/
#calendar-edit-options { list-style-type: none; float: left; margin-top: 15px; margin-left: 10px; }
#calendar-edit-options > li { float: left; margin-left: 10px; }
#calendar-edit-options > li > a { font-weight: bold; color: #a8a8a8; }
#calendar-edit-options > li > a > .caret { border-top: 4px solid #a8a8a8; }

/** Event List **/ 
.form-horizontal.bulk-action-form { margin-bottom: 20px; }
.form-horizontal.bulk-action-form .control-label { width: 85px; font-weight: 400; }
.form-horizontal.bulk-action-form .controls { margin-left: 95px; }

label[for="bulk-select"],
th#thead-recommend,
td.field-bulk-select label,
td.field-recommended > span { display: block; text-indent: -9999px; line-height: 1px; margin: 0; }
#bulk-select-all,
td.field-bulk-select input { margin-top: -4px; }
td.field-recommended { text-align: center; }
td.event-actions .btn { margin-top: -4px; }

#manager-posted-events .field-bulk-select { width: 5%; }
#manager-posted-events .field-recommended { width: 8%; }
#manager-posted-events .event-title { width: 42%; }
#manager-posted-events .event-time { width: 29%; }
#manager-posted-events .event-actions { width: 16%; }

#manager-posted-events .recurrences-toggle {
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #777;
}
#manager-posted-events .recurrences { display: none; font-size: 12px; line-height: 16px; }
#manager-posted-events .recurrences .archived-instance {
	text-decoration: line-through;
	color: #888;
}

/**
 * Create/Update Calendar
 **/
#manager-calendar-delete {
	float: right;
	position: relative;
	top: -33px;
	font-weight: bold;
	color: #B71713;
}

/**
 * Edit Calendar
 **/

/* Users & Permissions */ 
#users-permissions > h2,
#subscriptions > h2 { width: 0; height: 0; display: block; text-indent: -9999px; margin: 0; }
#users-permissions > h3,
#subscriptions > h3 { font-size: 24.5px; font-weight: 300; line-height: 40px; margin: 0; } /* Look like h2 */
#users-permissions label[for="id_add_user"],
#users-permissions label[for="id_add_role"] { width: 0; height: 0; display: block; text-indent: -9999px; }
#users-permissions label[for="id_add_role"] + .form-inline { margin-bottom: 30px; }
#users-permissions .calendar-access-username { font-weight: bold; }
#manager-calendar-add-user { position: relative; }

/* Calendar Info */
#calendar-info h2 { margin-top: 0; }
#calendar-info button { margin-top: 70px; }
#calendar-update { margin-bottom: 0; }

/* Subscriptions */
#users-permissions { }


/**
 * Frontend Single Calendar
 **/

/* General */
ul.event-list { margin-bottom: 30px; list-style-type: none; margin-left: 0; }
ul.event-list li {
	background-color: #f1f1f1;
	position: relative;
	margin-bottom: 5px;
	padding: 5px 0 20px 30px;
	overflow: auto;
}
ul.event-list li:after { /* Because border-left on the li ignores z-index? */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 30px;
	background-color: #666;
}
ul.event-list li:hover { background-color: #fffbe9; }
ul.event-list li .event-content { display: block; margin-left: 20px; padding-right: 20px; }
ul.event-list li:hover .event-content {	text-decoration: none; }
ul.event-list li .event-content img {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	background-color: #666;
	margin: 0 20px 5px 0;
}
ul.event-list li .event-content h5 { margin-right: 100px; margin-bottom: 0; } /* Room for event time */
ul.event-list li:hover .event-content h5 { color: #7c6b27; }
ul.event-list li .event-content .location {
	color: #666;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	margin-right: 100px; /* Room for event time */
}
ul.event-list li .event-content .description { display: block; font-size: 12px; line-height: 18px; }
ul.event-list li .event-content .dtstart {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 0;
	width: 100px;
	background-color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: right;
}
ul.event-list li .category {
	position: absolute;
	left: 0;
	bottom: -20px;
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	line-height: 30px;
	z-index: 3;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(270deg); 
    -moz-transform: rotate(270deg); 
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

ul.event-list-condensed { 
	margin: 8px 0 0 0; 
	list-style-type: none;
	width: 100%;
}
ul.event-list-condensed li {
	text-overflow: ellipsis;
	width: 114px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 11px;
	line-height: 23px;
}
ul.event-list-condensed li time { font-weight: bold; }

/* Week View */
#calendar-events-week h2 { margin-bottom: 20px; }
#calendar-events-week h3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
} 

/* Month View */
#calendar-events-month h2 {
	margin: 0;
	width: 0;
	height: 0;
	display: block;
	text-indent: -9999px;
}
#calendar-events-month h3 {
	text-align: center;
	font-size: 24.5px;
	line-height: 40px;
}
#month-toggle { margin: 15px 0 0 0; width: 280px; position: relative; top: 0; left: 0; }
#month-toggle label { width: 0; height: 0; text-indent: -9999px; }
#month-toggle select#id_year { width: 68px; }
#month-toggle select#id_month { width: 107px; }

/* Year View */


/**
 * Create/Update Event
 **/

/* When/Where */ 
.whenwhere-wrap,
.cloner > div {
	border-radius: 4px 0 4px 4px;
	background: #f9f9f9;
	padding: 10px 20px 20px 20px;
	border: 1px solid #c8c8c8;
	margin-bottom: 5px;
}
.cloneable:only-child .whenwhere-wrap { border-radius: 4px; }
.whenwhere-wrap hr {
	border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
    border-width: 1px 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}
.whenwhere-wrap label { margin-top: 10px; }
label[for*="-location-autocomplete"] { margin-top: 0; }
.whenwhere-end,
.whenwhere-until,
.location-selected { float: right; margin-right: 10px; }
.whenwhere-start label,
.whenwhere-end label {
	display: block;
	width: 50%;
	float: left;
}

.cloner { position: relative; }
.cloner:hover { cursor: pointer; }
.cloner > div { padding: 8px 20px; border-radius: 4px 0 0 4px; font-size: 14px; font-weight: bold; color: #646464; }
.cloner:hover > div { background: #DFF0D8; border-color: #62C462; color: #2D792D; }
.cloner > a { position: absolute; top: 0; right: -39px; border-radius: 0 4px 4px 0; padding: 8px 14px; }
.remove-instance {
	border-radius: 0 4px 4px 0;
	font-size: 18px;
	float: right;
	padding: 8px 14px;
}
.remove-instance:hover ~ div > .whenwhere-wrap { background-color: #F2DEDE; border-color: #EE5F5B; }

.location-search,
.tag-search {
	position: relative;
}

.location-autocomplete {}
.location-new-btn {
	position: absolute;
	bottom: 2px;
	right: -16px;
	padding-left: 12px;
	padding-right: 16px;
	border-radius: 4px 20px 20px 4px;
}
.location-suggestions li.selected a,
#id_event-tags-suggestions li.selected a {
	background-color: #3979fc;
	background-image: linear-gradient(to bottom, #4380FC, #2A6FFC);
	color: #fff;
}

.location-selected { position: relative; }
.location-selected-remove {
	font-weight: bold;
	font-size: 20px;
	padding: 0 6px 1px 6px;
	position: absolute;
	top: 0;
	right: -16px;
	color: #A8A8A8;
}
.location-selected-remove:hover { text-decoration: none; }
.location-selected-remove:hover ~ span { text-decoration: line-through; }
.location-selected-title,
.location-selected-room,
.location-selected-url { display: block; float: left; width: 90%; }

.clone-delete-hiddenfield { display: none; }

/* Tags */
#event-tags-selected li {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	border-radius: 20px;
	padding: 2px 12px 2px 28px;
	background: #aaa;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
#event-tags-selected li a {
	padding: 0 5px 0 9px;
	border-radius: 20px 0 0 20px;
	color: #fff;
	font-weight: bold;
	margin-right: 6px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 14px;
	line-height: 22px;
}
#event-tags-selected li a:hover { text-decoration: none; background-color: #EE5F5B; }
