/**
 * University Header Overrides
 **/
#UCFHBSearch_ucf fieldset #q {
	line-height: 11px;
	color: #000000;
	padding: 2px!important;
	font-size: 11px;
	font-family: 'Lucida Grande',sans-serif;
	height: 13px;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
}
select#UCFHBHeaderLinks {
	height: 18px;
	font-size: 11px;
	color: #000000;
	font-family: 'Lucida Grande', sans-serif;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
	padding: 0;
	line-height: 15px;
}
#UCFHBHeader { position: relative; z-index: 999; }
@media (max-width: 979px) {
	#UCFHBSearch_and_links { display: none; }
	#UCFHBHeader div.UCFHBWrapper { width: 100%; }
}
@media (max-width: 767px) {
	#UCFHBHeader { margin-left: -20px; width: 100%; padding-right: 40px; }
}


/**
 * Universal Styles
 **/

/* Body */
body { background: url('../img/gradient.png') top left repeat-x; }

/* Header tags, text */
h1 .alt,
h2 .alt,
h4 .alt,
h5 .alt,
h6 .alt { font-weight: 300; }
h3 { letter-spacing: 0; font-weight: 300; }
.icon-circle-wrap { 
	display: block; 
	width: 25px; 
	height: 18px;
	padding-top: 5px; 
	border-radius: 25px; 
	box-shadow: 0 2px 0 0 #3566c9;
	background-color: #4380fc; 
	color: #fff; 
	text-align: center;
	margin-top: -2px;
}

/* Dropdowns */
.btn b.caret { border-top: 4px solid #fff; }
.dropdown li i { padding-right: 6px; }

/* Forms */
form.form-horizontal { margin: 20px 0 30px 0;}
.form-horizontal .control-label { font-weight: bold; }
.form-horizontal .control-group.large .control-label { 
	font-size: 18px; 
	text-indent: -1px;
	width: 200px; 
}
.label-desc { 
	display: block; 
	float: left; 
	width: 160px; 
	clear: left; 
	text-align: right; 
	font-size: 12px;
	line-height: 16px;
	color: #8d8d8d;
}
.control-group.large .label-desc { width: 200px; }
.form-horizontal .control-group.large .controls { margin-left: 220px; }
.form-horizontal .control-group .controls > .row { 
	margin-top: 5px; 
	display: inline-block; /* req'd for .rows in .controls to clear properly */
}
.field-date { width: 40%; margin-right: 10px; }
.bootstrap-timepicker { width: 35%; }
.bootstrap-timepicker input { width: 100%; }
.field-time + span.add-on i:before,
a > i[class^="icon-"]:before, 
a > i[class*=" icon-"]:before { cursor: pointer; }
textarea { height: 175px; }
ul.wysihtml5-toolbar { display: inline-block; }


/**
 * Utility
 **/
.fullwidth { width: 100%; }
.label-hidden { line-height: 0; text-indent: -9999px; }
.label-inner { font-size: 16px; color: #8d8d8d; font-weight: 300; }


/**
 * Header
 **/
header { padding-top: 10px; }
header form.form-search { padding-top: 19px; float: right; }


/**
 * Main Navigation (subheader)
 **/
#navwrap { background: #f1f1f1; }
#navinner { padding: 10px 0; }
nav .user { float: left; padding-right: 30px; padding-top: 5px; padding-bottom: 5px; }
nav .user i { color: #8d8d8d; }
nav #actions-primary,
nav #actions-secondary { 
	list-style-type: none; 
	margin: 0; 
}
nav #actions-primary { float: left; }
nav #actions-primary > li,
nav #actions-secondary > li { 
	float: left; 
	padding-left: 15px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	position: relative;
}
nav #actions-primary > li > i { color: #4380fc; font-size: 16px; padding-right: 4px; }
nav #actions-primary > li > span.label { position: absolute; left: 25px; top: -3px; }
nav #actions-secondary { float: right; }
nav #actions-secondary > li > i { color: #8d8d8d; font-size: 16px; padding-right: 4px; }
nav li#create-event { border-left: 3px solid #e1e1e1; margin-left: 15px; }
nav li#create-event .icon-circle-wrap { float: left; margin-right: 6px; }


/**
 * Alert Messages
 **/
#messages { margin: 10px 0 0 0; }

/**
 * Page Tabs
 **/
.nav.nav-tabs { margin-bottom: 5px; }


/**
 * Page Titles
 **/ 
#page-title-wrap { position: relative; margin-top: 10px; } 
#page-title-wrap #page-title-icon { position: absolute; top: 10px; left: -48px; font-size: 36px; color: #a8a8a8; }
#page-title-wrap #page-title-icon.icon-plus { top: 13px; }
#page-title-wrap #page-title-icon.icon-cog { top: 12px; }
#page-title-wrap h2 { display: block; float: left; margin-bottom: 10px; }


/**
 * Page Subtitles
 **/
.page-subtitle { line-height: 28px; color: #8d8d8d; margin-top: 0; margin-bottom: 20px; }


/**
 * Login/Initial Setup
 **/
.popout { 
	padding: 10px 20px 20px 20px; 
	margin-top: 30px; 
	margin-bottom: 50px;
	border: 1px solid rgba(0, 0, 0, 0.3); 
	border-radius: 6px;  
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}


/**
 * Sidebars
 **/
#sidebar-minicals {  }
#sidebar-minicals .pager { margin: 0; position: relative; z-index: 2; }
#sidebar-minicals .pager li { position: absolute; top: 15px; }
#sidebar-minicals .pager li.previous { left: 0; }
#sidebar-minicals .pager li.next { right: 0; }
#sidebar-minicals .pager li .carousel-control { 
	font-size: 14px; 
	padding: 0; 
	position: static; 
	height: auto; 
	opacity: 1;
	margin: 0;
	float: none;
}
#sidebar-minicals .carousel-inner { position: relative; z-index: 1; }
#sidebar-minicals .carousel-inner .item h3 { text-align: center; }


/**
 * My Calendars
 **/

/** Title **/
#calendar-edit-options { list-style-type: none; float: left; margin-top: 15px; margin-left: 10px; }
#calendar-edit-options > li { float: left; margin-left: 10px; }
#calendar-edit-options > li > a { font-weight: bold; color: #a8a8a8; }
#calendar-edit-options > li > a > .caret { border-top: 4px solid #a8a8a8; }

/** Event List **/ 
.form-horizontal.bulk-action-form { margin-bottom: 20px; }
.form-horizontal.bulk-action-form .control-label { width: 85px; font-weight: 400; }
.form-horizontal.bulk-action-form .controls { margin-left: 95px; }

label[for="bulk-select"],
th#thead-recommend,
td.field-bulk-select label,
td.field-recommended > span { display: block; text-indent: -9999px; line-height: 1px; margin: 0; }
#bulk-select-all,
td.field-bulk-select input { margin-top: -4px; }
td.field-recommended { text-align: center; }
td.event-actions .btn { margin-top: -4px; }


/**
 * Create/Update
 **/
