@charset "UTF-8";
/**
 * Universal Styles
 **/
/* Body */
/* line 6, ../sass/style.scss */
body {
  background: url("../img/gradient.png") top left repeat-x; }

/* Header tags, basic text */
/* line 15, ../sass/style.scss */
h1 .alt,
h3 .alt,
h4 .alt,
h5 .alt,
h6 .alt {
  font-weight: 300; }

/* line 19, ../sass/style.scss */
h2 {
  letter-spacing: 0;
  font-weight: 300; }
  /* line 21, ../sass/style.scss */
  h2 .alt {
    font-weight: bold; }

/* line 26, ../sass/style.scss */
.icon-circle-wrap {
  display: block;
  width: 25px;
  height: 18px;
  padding-top: 5px;
  border-radius: 25px;
  box-shadow: 0 2px 0 0 #3566c9;
  background-color: #4380fc;
  color: #fff;
  text-align: center;
  margin-top: -2px; }

/* line 41, ../sass/style.scss */
form a:not([class]),
.page-content a:not([class]),
.page-sidebar a:not([class]) {
  /* Add color to links that don't have a class assigned to them */
  color: #3566C9; }

/* line 47, ../sass/style.scss */
a:not(.btn) > i {
  padding-right: 6px; }
/* line 51, ../sass/style.scss */
a:hover > i {
  text-decoration: none; }
/* line 55, ../sass/style.scss */
a.btn-mini {
  font-weight: 500;
  letter-spacing: 0.3px; }

/* line 60, ../sass/style.scss */
i + a:not(.btn) {
  padding-left: 6px; }

/* Dropdowns */
/* line 66, ../sass/style.scss */
.btn b.caret {
  border-top: 4px solid #fff; }

/* line 73, ../sass/style.scss */
.dropdown.open a.btn.dropdown-toggle {
  background-image: none;
  box-shadow: 0 2px 0 0 #4D4D4D inset, 0 2px 0 0 #8D8D8D;
  outline: 0 none; }
/* line 79, ../sass/style.scss */
.dropdown li i {
  padding-right: 6px; }

/* line 86, ../sass/style.scss */
.dropdown-menu li i {
  padding-right: 6px; }
/* line 92, ../sass/style.scss */
.dropdown-menu > li > a {
  color: #333 !important; }
  /* line 95, ../sass/style.scss */
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff !important; }

/* Modals */
/* line 103, ../sass/style.scss */
.modal h2 {
  font-weight: bold;
  line-height: 30px; }
  /* line 106, ../sass/style.scss */
  .modal h2 .alt {
    font-weight: 300; }

/* line 112, ../sass/style.scss */
.modal-header .object-type,
.modal-footer .object-type {
  text-transform: capitalize; }

/* Pagination */
/* line 117, ../sass/style.scss */
.pagination {
  text-align: center;
  margin-top: 30px; }
  /* line 120, ../sass/style.scss */
  .pagination a {
    color: #fff !important; }

/* Wells */
/* line 126, ../sass/style.scss */
.well-empty {
  padding: 60px 30px; }

/* Forms */
/* line 132, ../sass/style.scss */
form.form-horizontal {
  margin: 20px 0 30px 0; }
/* line 137, ../sass/style.scss */
form.form-tabbed, form.form-tabbed .tab-content .tab-pane h2 {
  margin-top: 0; }
/* line 141, ../sass/style.scss */
form p.help-text {
  font-size: 11px;
  font-style: italic;
  line-height: 18px;
  color: #888;
  padding-top: 8px; }
  /* line 143, ../sass/style.scss */
  form p.help-text + .dropdown-menu {
    top: 30px; }

/* line 150, ../sass/style.scss */
.form-horizontal .control-label {
  font-weight: bold; }
/* line 154, ../sass/style.scss */
.form-horizontal legend.control-label {
  border: 0px solid transparent;
  color: #333;
  margin-bottom: 5px;
  line-height: 20px; }
/* line 163, ../sass/style.scss */
.form-horizontal .control-group.large .control-label {
  font-size: 18px;
  text-indent: -1px;
  width: 200px; }
/* line 169, ../sass/style.scss */
.form-horizontal .control-group.large .controls {
  margin-left: 220px; }
/* line 174, ../sass/style.scss */
.form-horizontal .control-group .controls > .row {
  margin-top: 5px;
  display: inline-block;
  /* req'd for .rows in .controls to clear properly */ }

/* line 181, ../sass/style.scss */
.label-desc {
  display: block;
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #8d8d8d; }

/* line 192, ../sass/style.scss */
.control-group.large .label-desc {
  width: 200px; }

/* line 198, ../sass/style.scss */
.field-date {
  width: 70%;
  margin-right: 10px;
  margin-bottom: 8px !important; }

/* line 204, ../sass/style.scss */
.field-time {
  width: 70%;
  margin-right: 0; }
  /* line 208, ../sass/style.scss */
  .field-time + .add-on {
    display: none; }

/* line 213, ../sass/style.scss */
textarea {
  height: 175px; }

/* line 217, ../sass/style.scss */
select option {
  padding-top: 3px;
  padding-bottom: 3px; }

/* line 221, ../sass/style.scss */
.typeahead {
  margin-top: 0; }

/* line 229, ../sass/style.scss */
label.error,
div.error label,
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #EE5F5B; }

/* line 240, ../sass/style.scss */
input.error,
textarea.error,
select.error,
div.error input,
div.error textarea,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border: 1px solid #EE5F5B;
  color: #B71713; }

/* line 246, ../sass/style.scss */
ul.errorlist {
  background: none repeat scroll 0 0 #EE5F5B;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  max-width: 220px; }
  /* line 257, ../sass/style.scss */
  ul.errorlist:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #EE5F5B;
    position: absolute;
    top: -5px;
    left: 10px; }
  /* line 269, ../sass/style.scss */
  ul.errorlist li {
    margin-top: 5px;
    text-indent: 0;
    padding-left: 20px; }
    /* line 274, ../sass/style.scss */
    ul.errorlist li:first-child {
      margin-top: 0; }
    /* line 278, ../sass/style.scss */
    ul.errorlist li:before {
      font-family: "FontAwesome";
      content: "";
      float: left;
      width: 20px;
      margin-left: -20px; }

/* Date/Timepicker overrides */
/* line 295, ../sass/style.scss */
.bootstrap-datepicker {
  position: relative; }
  /* line 298, ../sass/style.scss */
  .bootstrap-datepicker i {
    position: absolute;
    right: 60px;
    bottom: 15px;
    color: #cccccc; }

/* line 306, ../sass/style.scss */
.bootstrap-timepicker {
  position: relative; }
  /* line 309, ../sass/style.scss */
  .bootstrap-timepicker input {
    border-radius: 4px; }
  /* line 313, ../sass/style.scss */
  .bootstrap-timepicker i {
    position: absolute;
    right: 60px;
    bottom: 7px;
    color: #cccccc; }

/* line 322, ../sass/style.scss */
.datepicker:before, .datepicker:after {
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }
/* line 331, ../sass/style.scss */
.datepicker td.active, .datepicker td.active:hover,
.datepicker td span.active {
  background-image: none;
  background-color: #ffc904 !important;
  text-shadow: 0 0 0 transparent;
  font-weight: bold; }
/* line 341, ../sass/style.scss */
.datepicker td,
.datepicker th,
.datepicker td span {
  border-radius: 0; }

/* line 346, ../sass/style.scss */
.ui-timepicker-wrapper {
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

/** WYSIWYG overrides **/
/* line 353, ../sass/style.scss */
ul.wysihtml5-toolbar {
  display: inline-block; }
  /* line 356, ../sass/style.scss */
  ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-color: #8D8D8D;
    box-shadow: 0 2px 0 0 #4d4d4d inset, 0 2px 0 0 #8d8d8d; }
  /* line 363, ../sass/style.scss */
  ul.wysihtml5-toolbar span.current-font,
  ul.wysihtml5-toolbar a[data-wysihtml5-command="italic"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command="underline"] {
    font-weight: normal; }
  /* line 367, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="div"] {
    color: #333; }
  /* line 376, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    font-weight: bold;
    color: #333; }
  /* line 383, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] {
    letter-spacing: -1px;
    line-height: 40px; }
  /* line 390, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    line-height: 20px; }
  /* line 394, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"] {
    font-size: 36px; }
  /* line 398, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"] {
    font-size: 30px; }
  /* line 402, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] {
    font-size: 24.5px; }
  /* line 406, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"] {
    font-size: 17.5px; }
  /* line 410, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"] {
    font-size: 14px; }
  /* line 414, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    font-size: 11.9px; }
  /* line 418, ../sass/style.scss */
  ul.wysihtml5-toolbar a:hover {
    color: #fff; }

/* Calendar Sliders */
/* line 425, ../sass/style.scss */
.calendar-slider {
  position: relative;
  z-index: 1; }
  /* line 428, ../sass/style.scss */
  .calendar-slider .pager {
    margin: 0;
    position: relative;
    z-index: 2; }
    /* line 431, ../sass/style.scss */
    .calendar-slider .pager li {
      position: absolute;
      top: 15px; }
      /* line 434, ../sass/style.scss */
      .calendar-slider .pager li.previous {
        left: 0; }
      /* line 438, ../sass/style.scss */
      .calendar-slider .pager li.next {
        right: 0; }
      /* line 442, ../sass/style.scss */
      .calendar-slider .pager li .carousel-control {
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        padding: 0;
        position: static;
        height: auto;
        opacity: 1;
        margin: 0;
        float: none; }
        /* line 453, ../sass/style.scss */
        .calendar-slider .pager li .carousel-control > i {
          padding-right: 0; }
        /* line 457, ../sass/style.scss */
        .calendar-slider .pager li .carousel-control > span {
          width: 0;
          height: 0;
          text-indent: -9999px;
          display: block;
          line-height: 0; }
  /* line 469, ../sass/style.scss */
  .calendar-slider .item h2 {
    text-align: center;
    font-size: 21px;
    line-height: 36px;
    margin-bottom: 0; }
  /* line 473, ../sass/style.scss */
  .calendar-slider .item .table {
    border-collapse: separate;
    border-spacing: 3px; }
    /* line 477, ../sass/style.scss */
    .calendar-slider .item .table th,
    .calendar-slider .item .table td {
      border-top: 0;
      text-align: center; }
    /* line 481, ../sass/style.scss */
    .calendar-slider .item .table td {
      background: #f1f1f1;
      font-size: 18px;
      line-height: 18px;
      padding: 0; }
      /* line 487, ../sass/style.scss */
      .calendar-slider .item .table td a {
        font-weight: bold;
        color: #8d8d8d;
        display: block;
        padding: 11px 8px;
        position: relative;
        z-index: 1; }
        /* line 495, ../sass/style.scss */
        .calendar-slider .item .table td a:hover {
          background: #fffbe9;
          text-decoration: none; }
      /* line 500, ../sass/style.scss */
      .calendar-slider .item .table td.active {
        background: #fcc904; }
        /* line 503, ../sass/style.scss */
        .calendar-slider .item .table td.active a {
          color: #fff; }
          /* line 506, ../sass/style.scss */
          .calendar-slider .item .table td.active a:hover {
            background-color: #daad00; }
      /* line 513, ../sass/style.scss */
      .calendar-slider .item .table td.hasevents a:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #daae00 transparent;
        z-index: 2; }
      /* line 527, ../sass/style.scss */
      .calendar-slider .item .table td.muted {
        background-color: #fff; }
        /* line 530, ../sass/style.scss */
        .calendar-slider .item .table td.muted a {
          color: #e2e2e2; }
          /* line 532, ../sass/style.scss */
          .calendar-slider .item .table td.muted a:hover {
            color: #8d8d8d; }
      /* line 537, ../sass/style.scss */
      .calendar-slider .item .table td.hasevents.muted a:after {
        border-color: transparent transparent #EFDB97 transparent; }
      /* line 541, ../sass/style.scss */
      .calendar-slider .item .table td.today a {
        text-decoration: underline; }

/* Calendar Grids */
/* line 552, ../sass/style.scss */
.calendar-grid-labels > span {
  width: 14.285%;
  font-size: 18px;
  color: #6e6e6e;
  text-align: center;
  font-weight: 300;
  display: block;
  float: left;
  padding: 10px 0; }

/* line 563, ../sass/style.scss */
.calendar-grid {
  width: 100%;
  list-style-type: none;
  margin-left: 0; }
  /* line 569, ../sass/style.scss */
  .calendar-grid > li {
    width: 14.285%;
    height: 130px;
    border-top: 0px solid transparent;
    padding: 0;
    float: left;
    border-bottom: 4px solid #fff;
    overflow: hidden;
    position: relative; }
    /* line 579, ../sass/style.scss */
    .calendar-grid > li:hover {
      overflow: visible; }
    /* line 584, ../sass/style.scss */
    .calendar-grid > li > a.event-expander {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      z-index: 3;
      cursor: default;
      text-align: center;
      color: #fff; }
      /* line 596, ../sass/style.scss */
      .calendar-grid > li > a.event-expander:hover {
        display: none; }
      /* line 600, ../sass/style.scss */
      .calendar-grid > li > a.event-expander > span.help-text {
        text-indent: -9999px;
        display: block;
        width: 0;
        height: 0; }
      /* line 607, ../sass/style.scss */
      .calendar-grid > li > a.event-expander > span.icon-text {
        display: block;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        background-color: #d4d4d4;
        height: 100%;
        line-height: 20px; }
    /* line 618, ../sass/style.scss */
    .calendar-grid > li > div {
      background-color: #f1f1f1;
      height: 100px;
      overflow: hidden;
      position: relative;
      z-index: 2;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      padding-top: 30px; }
      /* line 628, ../sass/style.scss */
      .calendar-grid > li > div:after {
        /* Add some faux padding btwn the edge of the li and its child div */
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 2px;
        height: 6px;
        background-color: #f1f1f1;
        z-index: 10; }
      /* line 640, ../sass/style.scss */
      .calendar-grid > li > div > ul {
        position: absolute;
        left: 0; }
        /* line 644, ../sass/style.scss */
        .calendar-grid > li > div > ul > li {
          padding: 0 8px;
          width: 114px; }
      /* line 649, ../sass/style.scss */
      .calendar-grid > li > div > a.date {
        font-size: 24px;
        font-weight: 400;
        color: #8d8d8d;
        padding: 8px 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3; }
        /* line 659, ../sass/style.scss */
        .calendar-grid > li > div > a.date > span {
          display: none; }
      /* line 664, ../sass/style.scss */
      .calendar-grid > li > div > .holiday {
        font-size: 12px;
        font-weight: 500;
        color: #8d8d8d;
        display: block;
        line-height: 14px;
        padding: 8px 8px 0 8px; }
    /* line 674, ../sass/style.scss */
    .calendar-grid > li:hover > div {
      width: auto;
      z-index: 10;
      overflow: visible; }
      /* line 679, ../sass/style.scss */
      .calendar-grid > li:hover > div > a.date {
        color: #fcc904; }
      /* line 683, ../sass/style.scss */
      .calendar-grid > li:hover > div > ul {
        background-color: #fffbe9;
        width: 200px;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); }
        /* line 688, ../sass/style.scss */
        .calendar-grid > li:hover > div > ul > li {
          width: 184px; }
      /* line 693, ../sass/style.scss */
      .calendar-grid > li:hover > div:after {
        display: none; }
    /* line 696, ../sass/style.scss */
    .calendar-grid > li.muted > div {
      background-color: #fff; }
      /* line 699, ../sass/style.scss */
      .calendar-grid > li.muted > div:after {
        background-color: #fff; }
      /* line 703, ../sass/style.scss */
      .calendar-grid > li.muted > div > a.date {
        color: #e2e2e2; }
    /* line 709, ../sass/style.scss */
    .calendar-grid > li.today > div > a.date {
      background-color: #a8a8a8;
      color: #fff;
      font-weight: bold; }
    /* line 715, ../sass/style.scss */
    .calendar-grid > li.today:hover > div > a.date {
      background-color: #fcc904; }

/**
 * Utility
 **/
/* line 726, ../sass/style.scss */
.fullwidth {
  width: 100%; }

/* line 727, ../sass/style.scss */
.label-hidden {
  line-height: 0;
  text-indent: -9999px;
  width: 1px !important;
  height: 1px;
  display: block; }

/* line 728, ../sass/style.scss */
.label-inner {
  font-size: 16px;
  color: #8d8d8d;
  font-weight: 300; }

/* line 730, ../sass/style.scss */
.sidebarfix > * {
  /* This does dumb things to tables. Wrap tables in a div to accomodate */
  padding-right: 10px; }
/* line 734, ../sass/style.scss */
.sidebarfix > .modal {
  padding-right: 0; }
/* line 738, ../sass/style.scss */
.sidebarfix > hr {
  padding-right: 0;
  margin-right: 10px; }
/* line 742, ../sass/style.scss */
.sidebarfix > .well {
  padding-right: 20px;
  margin-right: 10px; }
/* line 746, ../sass/style.scss */
.sidebarfix > .well-empty {
  padding-right: 30px; }

/* line 751, ../sass/style.scss */
.recurring {
  /* Helper text for designating recurring events */
  width: 0;
  height: 0;
  text-indent: -9999px;
  display: block; }

/**
 * Header
 **/
/* line 761, ../sass/style.scss */
header {
  padding-top: 15px; }
  /* line 764, ../sass/style.scss */
  header #header-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 10px 0;
    display: block; }
    /* line 772, ../sass/style.scss */
    header #header-title .alt {
      font-weight: 300; }
  /* line 777, ../sass/style.scss */
  header form.form-search {
    padding-top: 19px;
    float: right; }

/**
 * Main Navigation (subheader)
 **/
/* line 785, ../sass/style.scss */
#navwrap {
  background: #f1f1f1; }

/* line 789, ../sass/style.scss */
#navinner {
  padding: 10px 0; }

/* line 794, ../sass/style.scss */
nav .user {
  float: left;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }
  /* line 800, ../sass/style.scss */
  nav .user .user i {
    color: #8d8d8d; }
/* line 806, ../sass/style.scss */
nav #actions-primary,
nav #actions-secondary {
  list-style-type: none;
  margin: 0; }
  /* line 810, ../sass/style.scss */
  nav #actions-primary > li,
  nav #actions-secondary > li {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative; }
/* line 819, ../sass/style.scss */
nav #actions-primary {
  float: left; }
/* line 824, ../sass/style.scss */
nav #actions-primary > li > i {
  color: #4380fc;
  font-size: 16px; }
/* line 828, ../sass/style.scss */
nav #actions-primary > li > span.label {
  position: absolute;
  left: 25px;
  top: -3px; }
/* line 833, ../sass/style.scss */
nav #actions-secondary {
  float: right; }
  /* line 836, ../sass/style.scss */
  nav #actions-secondary > li > i {
    color: #8d8d8d;
    font-size: 16px; }
/* line 841, ../sass/style.scss */
nav li#create-event {
  border-left: 3px solid #e1e1e1;
  margin-left: 15px; }
  /* line 845, ../sass/style.scss */
  nav li#create-event .icon-circle-wrap {
    float: left;
    margin-right: 6px; }

/**
 * Alert Messages
 **/
/* line 855, ../sass/style.scss */
#messages {
  margin: 10px 0 0 0; }

/**
 * Page Tabs
 **/
/* line 862, ../sass/style.scss */
.nav.nav-tabs {
  margin-bottom: 5px; }

/**
 * Page Titles
 **/
/* line 869, ../sass/style.scss */
#page-title-wrap {
  position: relative;
  margin-top: 10px; }
  /* line 873, ../sass/style.scss */
  #page-title-wrap h1 {
    display: block;
    float: left;
    margin-bottom: 10px; }
  /* line 879, ../sass/style.scss */
  #page-title-wrap .edit-options {
    list-style-type: none;
    float: left;
    margin-top: 15px;
    margin-left: 10px; }
    /* line 885, ../sass/style.scss */
    #page-title-wrap .edit-options > li {
      float: left;
      margin-left: 10px; }
      /* line 888, ../sass/style.scss */
      #page-title-wrap .edit-options > li > a {
        font-weight: bold;
        color: #a8a8a8; }
        /* line 891, ../sass/style.scss */
        #page-title-wrap .edit-options > li > a > .caret {
          border-top: 4px solid #a8a8a8; }

/* line 899, ../sass/style.scss */
#page-title-icon {
  position: absolute;
  top: 10px;
  left: -48px;
  font-size: 36px;
  color: #a8a8a8; }
  /* line 906, ../sass/style.scss */
  #page-title-icon.icon-plus {
    top: 13px; }
  /* line 910, ../sass/style.scss */
  #page-title-icon.icon-cog {
    top: 12px; }

/**
 * Page Subtitles
 **/
/* line 918, ../sass/style.scss */
.page-subtitle {
  line-height: 28px;
  color: #8d8d8d;
  margin-top: 0;
  margin-bottom: 20px; }

/* line 925, ../sass/style.scss */
.subtitle-backlink-wrap {
  margin-top: -5px;
  margin-bottom: 25px; }
  /* line 929, ../sass/style.scss */
  .subtitle-backlink-wrap .subtitle-backlink {
    font-weight: bold; }

/**
 * Login/Initial Setup
 **/
/* line 937, ../sass/style.scss */
.popout {
  padding: 10px 20px 20px 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); }

/**
 * Page Content - General
 **/
/* line 950, ../sass/style.scss */
.page-content .page-top-action {
  margin: 20px 0; }

/**
 * Sidebars
 **/
/**
 * Footer
 **/
/* line 962, ../sass/style.scss */
footer {
  margin: 40px 0; }
  /* line 965, ../sass/style.scss */
  footer ul {
    list-style-type: none;
    margin-left: 0; }
    /* line 969, ../sass/style.scss */
    footer ul li {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 10px; }

/**
 * Static Pages
 **/
/* line 982, ../sass/style.scss */
#static-base h3 {
  margin-top: 20px; }
/* line 986, ../sass/style.scss */
#static-base h2 + h3 {
  margin-top: 10px; }
/* line 990, ../sass/style.scss */
#static-base .page-sidebar strong {
  margin-bottom: 5px;
  display: block; }

/**
 * My Calendars
 **/
/** Title **/
/** Event List **/
/* line 1003, ../sass/style.scss */
.form-horizontal.bulk-action-form {
  margin-bottom: 20px; }
  /* line 1006, ../sass/style.scss */
  .form-horizontal.bulk-action-form .control-label {
    width: 85px;
    font-weight: 400; }
  /* line 1010, ../sass/style.scss */
  .form-horizontal.bulk-action-form .controls {
    margin-left: 95px; }

/* line 1019, ../sass/style.scss */
label[for="bulk-select"],
th#thead-recommend,
td.field-bulk-select label,
td.field-recommended > span {
  display: block;
  text-indent: -9999px;
  line-height: 1px;
  margin: 0; }

/* line 1026, ../sass/style.scss */
#bulk-select-all,
td.field-bulk-select input {
  margin-top: -4px; }

/* line 1031, ../sass/style.scss */
th.field-recommended,
td.field-recommended {
  text-align: center; }

/* line 1035, ../sass/style.scss */
td.event-actions .btn {
  margin-top: -4px; }

/* line 1040, ../sass/style.scss */
.manager-item-table .field-bulk-select {
  width: 5%; }
/* line 1041, ../sass/style.scss */
.manager-item-table .field-recommended {
  width: 8%; }
/* line 1042, ../sass/style.scss */
.manager-item-table .event-title {
  width: 42%; }
/* line 1043, ../sass/style.scss */
.manager-item-table .event-time {
  width: 29%; }
/* line 1044, ../sass/style.scss */
.manager-item-table .event-actions {
  width: 16%; }
/* line 1046, ../sass/style.scss */
.manager-item-table .recurrences-toggle {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #777; }
/* line 1052, ../sass/style.scss */
.manager-item-table .recurrences {
  display: none;
  font-size: 12px;
  line-height: 16px; }
  /* line 1057, ../sass/style.scss */
  .manager-item-table .recurrences .archived-instance {
    text-decoration: line-through;
    color: #888; }

/**
 * Create/Update Calendar
 **/
/* line 1067, ../sass/style.scss */
#manager-calendar-delete {
  float: right;
  position: relative;
  top: -33px;
  font-weight: bold;
  color: #B71713; }

/**
 * Edit Calendar
 **/
/* Users & Permissions */
/* line 1081, ../sass/style.scss */
#users-permissions > h2,
#subscriptions > h2 {
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px;
  margin: 0; }

/* line 1089, ../sass/style.scss */
#users-permissions > h3,
#subscriptions > h3 {
  /* Look like h2 */
  font-size: 24.5px;
  font-weight: 300;
  line-height: 40px;
  margin: 0; }

/* line 1098, ../sass/style.scss */
#users-permissions label[for="id_add_user"],
#users-permissions label[for="id_add_role"] {
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px; }
/* line 1105, ../sass/style.scss */
#users-permissions label[for="id_add_role"] + .form-inline {
  margin-bottom: 30px; }
/* line 1109, ../sass/style.scss */
#users-permissions .calendar-access-username {
  font-weight: bold; }

/* line 1114, ../sass/style.scss */
#manager-calendar-add-user {
  position: relative; }

/* Calendar Info */
/* line 1120, ../sass/style.scss */
#calendar-info h2 {
  margin-top: 0; }
/* line 1124, ../sass/style.scss */
#calendar-info button {
  margin-top: 70px; }

/* line 1129, ../sass/style.scss */
#calendar-update {
  margin-bottom: 0; }

/* Subscriptions */
/**
 * Frontend Single Calendar
 **/
/* General */
/* line 1142, ../sass/style.scss */
ul.event-list {
  margin-bottom: 30px;
  list-style-type: none;
  margin-left: 0; }
/* line 1143, ../sass/style.scss */
ul.event-list li {
  background-color: #f1f1f1;
  position: relative;
  margin-bottom: 5px;
  padding: 5px 0 20px 30px;
  overflow: auto; }
  /* line 1150, ../sass/style.scss */
  ul.event-list li:after {
    /* Because border-left on the li ignores z-index? */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: #666; }
  /* line 1160, ../sass/style.scss */
  ul.event-list li:hover {
    background-color: #fffbe9; }
    /* line 1162, ../sass/style.scss */
    ul.event-list li:hover .event-content {
      text-decoration: none; }
      /* line 1165, ../sass/style.scss */
      ul.event-list li:hover .event-content h5 {
        color: #7c6b27; }
  /* line 1171, ../sass/style.scss */
  ul.event-list li .event-content {
    display: block;
    margin-left: 20px;
    padding-right: 20px; }
  /* line 1176, ../sass/style.scss */
  ul.event-list li .event-content img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    background-color: #666;
    margin: 0 20px 5px 0; }
  /* line 1185, ../sass/style.scss */
  ul.event-list li .event-content h5 {
    /* Room for event time */
    margin-right: 100px;
    margin-bottom: 0; }
  /* line 1190, ../sass/style.scss */
  ul.event-list li .event-content .location {
    color: #666;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    margin-right: 100px;
    /* Room for event time */ }
  /* line 1198, ../sass/style.scss */
  ul.event-list li .event-content .description {
    display: block;
    font-size: 12px;
    line-height: 18px; }
  /* line 1204, ../sass/style.scss */
  ul.event-list li .event-content .dtstart {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
    width: 100px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: right; }
  /* line 1218, ../sass/style.scss */
  ul.event-list li .category {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    z-index: 3;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
/* line 1243, ../sass/style.scss */
ul.event-list-condensed {
  margin: 8px 0 0 0;
  list-style-type: none;
  width: 100%; }
  /* line 1248, ../sass/style.scss */
  ul.event-list-condensed li {
    text-overflow: ellipsis;
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    line-height: 23px; }
    /* line 1256, ../sass/style.scss */
    ul.event-list-condensed li time {
      font-weight: bold; }

/* Day, Week View */
/* line 1265, ../sass/style.scss */
#calendar-events-day h2,
#calendar-events-week h2 {
  margin-bottom: 20px; }

/* line 1270, ../sass/style.scss */
#calendar-events-day h3,
#calendar-events-week h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300; }

/* Month View */
/* line 1277, ../sass/style.scss */
#calendar-events-month h2 {
  margin: 0;
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px; }

/* line 1285, ../sass/style.scss */
#calendar-events-month h3 {
  text-align: center;
  font-size: 24.5px;
  line-height: 40px; }

/* line 1291, ../sass/style.scss */
#month-toggle {
  margin: 15px 0 0 0;
  width: 280px;
  position: relative;
  top: 0;
  left: 0; }
  /* line 1298, ../sass/style.scss */
  #month-toggle label {
    width: 0;
    height: 0;
    text-indent: -9999px; }
  /* line 1305, ../sass/style.scss */
  #month-toggle select#id_year {
    width: 68px; }
  /* line 1309, ../sass/style.scss */
  #month-toggle select#id_month {
    width: 107px; }

/* Year View */
/* line 1316, ../sass/style.scss */
#calendar-events-year h2 {
  text-align: center; }

/**
 * Frontend Single Event
 **/
/* General - Body, Sidebar */
/* line 1326, ../sass/style.scss */
#event-single-sidebar span,
#event-single-sidebar h2 {
  display: block;
  width: 100%;
  margin-top: 0; }

/* line 1335, ../sass/style.scss */
#event-single h2,
#event-single-sidebar h2,
#event-single .event-single-subheader,
#event-single-sidebar span {
  font-weight: normal;
  font-size: 17.5px;
  line-height: 20px; }

/* line 1342, ../sass/style.scss */
#event-single h2.alt,
#event-single-sidebar h2.alt {
  width: 50%;
  float: left; }

/* line 1348, ../sass/style.scss */
#event-single hr,
#event-single-sidebar hr {
  border-width: 3px 0; }

/* Title icon date */
/* line 1353, ../sass/style.scss */
#page-title-wrap .event-icon-date {
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 23px;
  left: -46px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #a8a8a8;
  text-align: center; }

/* Sidebar */
/* line 1368, ../sass/style.scss */
#event-single-sidebar {
  position: relative;
  top: -40px; }
  /* line 1372, ../sass/style.scss */
  #event-single-sidebar .event-single-datetime {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.5px;
    margin-top: 0; }
  /* line 1379, ../sass/style.scss */
  #event-single-sidebar .event-single-attime {
    margin-bottom: 7px;
    margin-top: 5px; }
  /* line 1385, ../sass/style.scss */
  #event-single-sidebar .event-single-until,
  #event-single-sidebar .event-single-occurring {
    margin-top: 20px; }
  /* line 1390, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-wrap {
    display: block;
    float: left;
    width: 50%;
    clear: right; }
  /* line 1398, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-wrap span {
    margin-bottom: 5px; }
  /* line 1403, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-name {
    font-weight: bold; }
  /* line 1407, ../sass/style.scss */
  #event-single-sidebar i {
    color: #8d8d8d; }
  /* line 1411, ../sass/style.scss */
  #event-single-sidebar .event-location-widget {
    margin-top: 10px;
    margin-bottom: -10px; }
  /* line 1415, ../sass/style.scss */
  #event-single-sidebar .event-location-note {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px; }

/* Body - Meta Information */
/* line 1421, ../sass/style.scss */
#event-meta {
  overflow: hidden; }
  /* line 1424, ../sass/style.scss */
  #event-meta > * {
    margin-bottom: 10px; }
  /* line 1428, ../sass/style.scss */
  #event-meta h3 {
    display: block;
    float: left;
    width: 30%;
    clear: left;
    font-weight: normal;
    margin-top: 10px; }
  /* line 1439, ../sass/style.scss */
  #event-meta .event-meta-calendar,
  #event-meta .event-meta-category,
  #event-meta .event-meta-tags {
    display: block;
    float: left;
    width: 70%;
    clear: right;
    font-size: 17.5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; }
  /* line 1450, ../sass/style.scss */
  #event-meta .event-meta-tags a {
    display: block;
    width: auto;
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #8d8d8d;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px; }

/**
 * Create/Update Event
 **/
/* When/Where */
/* line 1471, ../sass/style.scss */
.whenwhere-wrap,
.cloner > div {
  border-radius: 4px 0 4px 4px;
  background: #f9f9f9;
  padding: 10px 20px 20px 20px;
  border: 1px solid #c8c8c8;
  margin-bottom: 5px; }

/* line 1478, ../sass/style.scss */
.cloneable:only-child .whenwhere-wrap {
  border-radius: 4px; }

/* line 1483, ../sass/style.scss */
.whenwhere-wrap hr {
  border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
  border-width: 1px 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8; }
/* line 1490, ../sass/style.scss */
.whenwhere-wrap label {
  margin-top: 10px; }

/* line 1495, ../sass/style.scss */
label[for*="-location-autocomplete"] {
  margin-top: 0; }

/* line 1501, ../sass/style.scss */
.whenwhere-end,
.whenwhere-until,
.location-selected {
  float: right;
  margin-right: 10px; }

/* line 1506, ../sass/style.scss */
.whenwhere-start label,
.whenwhere-end label {
  display: block;
  width: auto;
  float: left;
  margin-right: 4px;
  position: relative;
  z-index: 3; }

/* line 1515, ../sass/style.scss */
.cloner {
  position: relative; }
  /* line 1518, ../sass/style.scss */
  .cloner:hover {
    cursor: pointer; }
    /* line 1521, ../sass/style.scss */
    .cloner:hover > div {
      background: #DFF0D8;
      border-color: #62C462;
      color: #2D792D; }
  /* line 1528, ../sass/style.scss */
  .cloner > div {
    padding: 8px 20px;
    border-style: dashed;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    font-weight: bold;
    color: #646464; }
  /* line 1537, ../sass/style.scss */
  .cloner > a {
    position: absolute;
    top: 0;
    right: -39px;
    border-radius: 0 4px 4px 0;
    padding: 8px 14px; }

/* line 1546, ../sass/style.scss */
.remove-instance {
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  float: right;
  padding: 8px 14px; }

/* line 1553, ../sass/style.scss */
.remove-instance:hover ~ div > .whenwhere-wrap,
.remove-instance:focus ~ div > .whenwhere-wrap {
  background-color: #F2DEDE;
  border-color: #EE5F5B; }

/* line 1559, ../sass/style.scss */
.location-search,
.tag-search {
  position: relative; }

/* line 1563, ../sass/style.scss */
.location-new-btn {
  position: absolute;
  bottom: 2px;
  right: -16px;
  padding-left: 12px;
  padding-right: 16px;
  border-radius: 4px 20px 20px 4px; }

/* line 1573, ../sass/style.scss */
.location-suggestions li.selected a,
#id_event-tags-suggestions li.selected a {
  background-color: #3979fc;
  background-image: linear-gradient(to bottom, #4380fc, #2a6ffc);
  color: #fff !important; }

/* line 1579, ../sass/style.scss */
.location-selected {
  position: relative; }

/* line 1583, ../sass/style.scss */
.location-selected-remove {
  font-weight: bold;
  font-size: 20px;
  padding: 0 6px 1px 6px;
  position: absolute;
  top: 0;
  right: -16px;
  color: #A8A8A8; }

/* line 1594, ../sass/style.scss */
.location-selected-remove:hover {
  text-decoration: none; }
/* line 1599, ../sass/style.scss */
.location-selected-remove:hover ~ span, .location-selected-remove:focus ~ span {
  text-decoration: line-through; }

/* line 1606, ../sass/style.scss */
.location-selected-title,
.location-selected-room,
.location-selected-url {
  display: block;
  float: left;
  width: 90%; }

/* line 1612, ../sass/style.scss */
.clone-delete-hiddenfield {
  display: none; }

/* Tags */
/* line 1617, ../sass/style.scss */
#event-tags-selected li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  border-radius: 20px;
  padding: 2px 12px 2px 28px;
  background: #aaa;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: relative; }
  /* line 1629, ../sass/style.scss */
  #event-tags-selected li a {
    padding: 0 5px 0 9px;
    border-radius: 20px 0 0 20px;
    color: #fff;
    font-weight: bold;
    margin-right: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 14px;
    line-height: 22px; }
    /* line 1643, ../sass/style.scss */
    #event-tags-selected li a:hover, #event-tags-selected li a:focus {
      text-decoration: none;
      background-color: #EE5F5B; }

/**
 * Admin Sections
 **/
/* Category Manager */
/* line 1655, ../sass/style.scss */
.category-color span {
  display: block;
  padding: 0 5px;
  font-weight: bold;
  color: #fff; }
