@charset "UTF-8";
/**
 * Universal Styles
 **/
/* Body */
/* line 6, ../sass/style.scss */
body {
  background: url("../img/gradient.png") top left repeat-x; }

/* Header tags, basic text */
/* line 11, ../sass/style.scss */
h1 .alt,
h3 .alt,
h4 .alt,
h5 .alt,
h6 .alt {
  font-weight: 300; }

/* line 19, ../sass/style.scss */
h2 {
  letter-spacing: 0;
  font-weight: 300; }
  /* line 21, ../sass/style.scss */
  h2 .alt {
    font-weight: bold; }

/* line 26, ../sass/style.scss */
.icon-circle-wrap {
  display: block;
  width: 25px;
  height: 18px;
  padding-top: 5px;
  border-radius: 25px;
  box-shadow: 0 2px 0 0 #3566c9;
  background-color: #4380fc;
  color: #fff;
  text-align: center;
  margin-top: -2px; }

/* line 39, ../sass/style.scss */
form a:not([class]),
.page-content a:not([class]),
.page-sidebar a:not([class]) {
  /* Add color to links that don't have a class assigned to them */
  color: #3566C9; }

/* line 47, ../sass/style.scss */
a:not(.btn) > i {
  padding-right: 6px; }
/* line 51, ../sass/style.scss */
a:hover > i {
  text-decoration: none; }
/* line 55, ../sass/style.scss */
a.btn-mini {
  font-weight: 500;
  letter-spacing: 0.3px; }

/* line 60, ../sass/style.scss */
i + a:not(.btn) {
  padding-left: 6px; }

/* Dropdowns */
/* line 66, ../sass/style.scss */
.btn b.caret {
  border-top: 4px solid #fff; }

/* line 73, ../sass/style.scss */
.dropdown.open a.btn.dropdown-toggle {
  background-image: none;
  box-shadow: 0 2px 0 0 #4D4D4D inset, 0 2px 0 0 #8D8D8D;
  outline: 0 none; }
/* line 79, ../sass/style.scss */
.dropdown li i {
  padding-right: 6px; }

/* line 84, ../sass/style.scss */
.dropdown-menu {
  max-height: 250px;
  overflow-y: scroll; }
  /* line 89, ../sass/style.scss */
  .dropdown-menu li i {
    padding-right: 6px; }
  /* line 95, ../sass/style.scss */
  .dropdown-menu > li > a {
    color: #333 !important; }
    /* line 98, ../sass/style.scss */
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff !important; }

/* Modals */
/* line 106, ../sass/style.scss */
.modal h2 {
  font-weight: bold;
  line-height: 30px; }
  /* line 109, ../sass/style.scss */
  .modal h2 .alt {
    font-weight: 300; }

/* line 114, ../sass/style.scss */
.modal-header .object-type,
.modal-footer .object-type {
  text-transform: capitalize; }

/* Pagination */
/* line 120, ../sass/style.scss */
.pagination {
  text-align: center;
  margin-top: 30px; }
  /* line 123, ../sass/style.scss */
  .pagination a {
    color: #fff !important; }

/* Wells */
/* line 129, ../sass/style.scss */
.well-empty {
  padding: 60px 30px; }

/* Forms */
/* line 135, ../sass/style.scss */
form.form-horizontal {
  margin: 20px 0 30px 0; }
/* line 139, ../sass/style.scss */
form.form-tabbed, form.form-tabbed .tab-content .tab-pane h2 {
  margin-top: 0; }
/* line 144, ../sass/style.scss */
form p.help-text {
  font-size: 11px;
  font-style: italic;
  line-height: 18px;
  color: #888;
  padding-top: 8px; }
  /* line 146, ../sass/style.scss */
  form p.help-text + .dropdown-menu {
    top: 30px; }

/* line 153, ../sass/style.scss */
.form-horizontal .control-label {
  font-weight: bold; }
/* line 157, ../sass/style.scss */
.form-horizontal legend.control-label {
  border: 0px solid transparent;
  color: #333;
  margin-bottom: 5px;
  line-height: 20px; }
/* line 166, ../sass/style.scss */
.form-horizontal .control-group.large .control-label {
  font-size: 18px;
  text-indent: -1px;
  width: 200px; }
/* line 172, ../sass/style.scss */
.form-horizontal .control-group.large .controls {
  margin-left: 220px; }
/* line 177, ../sass/style.scss */
.form-horizontal .control-group .controls > .row {
  margin-top: 5px;
  display: inline-block;
  /* req'd for .rows in .controls to clear properly */ }

/* line 184, ../sass/style.scss */
.label-desc {
  display: block;
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #8d8d8d; }

/* line 195, ../sass/style.scss */
.control-group.large .label-desc {
  width: 200px; }

/* line 201, ../sass/style.scss */
.field-date {
  width: 70%;
  margin-right: 10px;
  margin-bottom: 8px !important; }

/* line 206, ../sass/style.scss */
.field-time {
  width: 70%;
  margin-right: 0; }
  /* line 210, ../sass/style.scss */
  .field-time + .add-on {
    display: none; }

/* line 215, ../sass/style.scss */
textarea {
  height: 175px; }

/* line 219, ../sass/style.scss */
select option {
  padding-top: 3px;
  padding-bottom: 3px; }

/* line 223, ../sass/style.scss */
label.error,
div.error label,
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #EE5F5B; }

/* line 231, ../sass/style.scss */
input.error,
textarea.error,
select.error,
div.error input,
div.error textarea,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border: 1px solid #EE5F5B;
  color: #B71713; }

/* line 244, ../sass/style.scss */
ul.errorlist {
  background: none repeat scroll 0 0 #EE5F5B;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  max-width: 220px; }
  /* line 255, ../sass/style.scss */
  ul.errorlist:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #EE5F5B;
    position: absolute;
    top: -5px;
    left: 10px; }
  /* line 267, ../sass/style.scss */
  ul.errorlist li {
    margin-top: 5px;
    text-indent: 0;
    padding-left: 20px; }
    /* line 272, ../sass/style.scss */
    ul.errorlist li:first-child {
      margin-top: 0; }
    /* line 276, ../sass/style.scss */
    ul.errorlist li:before {
      font-family: "FontAwesome";
      content: "";
      float: left;
      width: 20px;
      margin-left: -20px; }
/* line 285, ../sass/style.scss */
ul.autocomplete-suggestion-list {
  max-width: 300px;
  overflow: hidden; }
  /* line 290, ../sass/style.scss */
  ul.autocomplete-suggestion-list li.selected {
    background-color: #3979fc;
    background-image: linear-gradient(to bottom, #4380fc, #2a6ffc); }
    /* line 294, ../sass/style.scss */
    ul.autocomplete-suggestion-list li.selected a {
      color: #fff !important; }
  /* line 298, ../sass/style.scss */
  ul.autocomplete-suggestion-list li a {
    white-space: normal; }

/* line 305, ../sass/style.scss */
.autocomplete-new-btn {
  position: absolute;
  bottom: auto;
  right: -16px;
  padding-left: 12px;
  padding-right: 16px;
  border-radius: 4px 20px 20px 4px; }

/* Date/Timepicker overrides */
/* line 320, ../sass/style.scss */
.bootstrap-datepicker {
  position: relative; }
  /* line 323, ../sass/style.scss */
  .bootstrap-datepicker i {
    position: absolute;
    right: 60px;
    bottom: 15px;
    color: #cccccc; }

/* line 331, ../sass/style.scss */
.bootstrap-timepicker {
  position: relative; }
  /* line 334, ../sass/style.scss */
  .bootstrap-timepicker input {
    border-radius: 4px; }
  /* line 338, ../sass/style.scss */
  .bootstrap-timepicker i {
    position: absolute;
    right: 60px;
    bottom: 7px;
    color: #cccccc; }

/* line 347, ../sass/style.scss */
.datepicker:before, .datepicker:after {
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }
/* line 354, ../sass/style.scss */
.datepicker td.active, .datepicker td.active:hover,
.datepicker td span.active {
  background-image: none;
  background-color: #ffc904 !important;
  text-shadow: 0 0 0 transparent;
  font-weight: bold; }
/* line 364, ../sass/style.scss */
.datepicker td,
.datepicker th,
.datepicker td span {
  border-radius: 0; }

/* line 371, ../sass/style.scss */
.ui-timepicker-wrapper {
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

/** WYSIWYG overrides **/
/* line 378, ../sass/style.scss */
ul.wysihtml5-toolbar {
  display: inline-block; }
  /* line 381, ../sass/style.scss */
  ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-color: #8D8D8D;
    box-shadow: 0 2px 0 0 #4d4d4d inset, 0 2px 0 0 #8d8d8d; }
  /* line 386, ../sass/style.scss */
  ul.wysihtml5-toolbar span.current-font,
  ul.wysihtml5-toolbar a[data-wysihtml5-command="italic"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command="underline"] {
    font-weight: normal; }
  /* line 392, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="div"] {
    color: #333; }
  /* line 396, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    font-weight: bold;
    color: #333; }
  /* line 406, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] {
    letter-spacing: -1px;
    line-height: 40px; }
  /* line 413, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"],
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    line-height: 20px; }
  /* line 419, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"] {
    font-size: 36px; }
  /* line 423, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"] {
    font-size: 30px; }
  /* line 427, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"] {
    font-size: 24.5px; }
  /* line 431, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"] {
    font-size: 17.5px; }
  /* line 435, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"] {
    font-size: 14px; }
  /* line 439, ../sass/style.scss */
  ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"] {
    font-size: 11.9px; }
  /* line 443, ../sass/style.scss */
  ul.wysihtml5-toolbar a:hover {
    color: #fff; }

/* Calendar Sliders */
/* line 450, ../sass/style.scss */
.calendar-slider {
  position: relative;
  z-index: 1; }
  /* line 453, ../sass/style.scss */
  .calendar-slider .pager {
    margin: 0;
    position: relative;
    z-index: 2; }
    /* line 456, ../sass/style.scss */
    .calendar-slider .pager li {
      position: absolute;
      top: 15px; }
      /* line 459, ../sass/style.scss */
      .calendar-slider .pager li.previous {
        left: 0; }
      /* line 463, ../sass/style.scss */
      .calendar-slider .pager li.next {
        right: 0; }
      /* line 467, ../sass/style.scss */
      .calendar-slider .pager li .carousel-control {
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        padding: 0;
        position: static;
        height: auto;
        opacity: 1;
        margin: 0;
        float: none; }
        /* line 478, ../sass/style.scss */
        .calendar-slider .pager li .carousel-control > i {
          padding-right: 0; }
        /* line 482, ../sass/style.scss */
        .calendar-slider .pager li .carousel-control > span {
          width: 0;
          height: 0;
          text-indent: -9999px;
          display: block;
          line-height: 0; }
  /* line 494, ../sass/style.scss */
  .calendar-slider .item h2 {
    text-align: center;
    font-size: 21px;
    line-height: 36px;
    margin-bottom: 0; }
  /* line 498, ../sass/style.scss */
  .calendar-slider .item .table {
    border-collapse: separate;
    border-spacing: 3px; }
    /* line 501, ../sass/style.scss */
    .calendar-slider .item .table th,
    .calendar-slider .item .table td {
      border-top: 0;
      text-align: center; }
    /* line 506, ../sass/style.scss */
    .calendar-slider .item .table td {
      background: #f1f1f1;
      font-size: 18px;
      line-height: 18px;
      padding: 0; }
      /* line 512, ../sass/style.scss */
      .calendar-slider .item .table td a {
        font-weight: bold;
        color: #8d8d8d;
        display: block;
        padding: 11px 8px;
        position: relative;
        z-index: 1; }
        /* line 520, ../sass/style.scss */
        .calendar-slider .item .table td a:hover {
          background: #fffbe9;
          text-decoration: none; }
      /* line 525, ../sass/style.scss */
      .calendar-slider .item .table td.active {
        background: #fcc904; }
        /* line 528, ../sass/style.scss */
        .calendar-slider .item .table td.active a {
          color: #fff; }
          /* line 531, ../sass/style.scss */
          .calendar-slider .item .table td.active a:hover {
            background-color: #daad00; }
      /* line 538, ../sass/style.scss */
      .calendar-slider .item .table td.hasevents a:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #daae00 transparent;
        z-index: 2; }
      /* line 552, ../sass/style.scss */
      .calendar-slider .item .table td.muted {
        background-color: #fff; }
        /* line 555, ../sass/style.scss */
        .calendar-slider .item .table td.muted a {
          color: #e2e2e2; }
          /* line 557, ../sass/style.scss */
          .calendar-slider .item .table td.muted a:hover {
            color: #8d8d8d; }
      /* line 562, ../sass/style.scss */
      .calendar-slider .item .table td.hasevents.muted a:after {
        border-color: transparent transparent #EFDB97 transparent; }
      /* line 566, ../sass/style.scss */
      .calendar-slider .item .table td.today a {
        text-decoration: underline; }

/* Calendar Grids */
/* line 577, ../sass/style.scss */
.calendar-grid-labels > span {
  width: 14.285%;
  font-size: 18px;
  color: #6e6e6e;
  text-align: center;
  font-weight: 300;
  display: block;
  float: left;
  padding: 10px 0; }

/* line 588, ../sass/style.scss */
.calendar-grid {
  width: 100%;
  list-style-type: none;
  margin-left: 0; }
  /* line 594, ../sass/style.scss */
  .calendar-grid > li {
    width: 14.285%;
    height: 130px;
    border-top: 0px solid transparent;
    padding: 0;
    float: left;
    border-bottom: 4px solid #fff;
    overflow: hidden;
    position: relative; }
    /* line 604, ../sass/style.scss */
    .calendar-grid > li:hover {
      overflow: visible; }
    /* line 609, ../sass/style.scss */
    .calendar-grid > li > a.event-expander {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      z-index: 3;
      cursor: default;
      text-align: center;
      color: #fff; }
      /* line 621, ../sass/style.scss */
      .calendar-grid > li > a.event-expander:hover {
        display: none; }
      /* line 625, ../sass/style.scss */
      .calendar-grid > li > a.event-expander > span.help-text {
        text-indent: -9999px;
        display: block;
        width: 0;
        height: 0; }
      /* line 632, ../sass/style.scss */
      .calendar-grid > li > a.event-expander > span.icon-text {
        display: block;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        background-color: #d4d4d4;
        height: 100%;
        line-height: 20px; }
    /* line 643, ../sass/style.scss */
    .calendar-grid > li > div {
      background-color: #f1f1f1;
      height: 100px;
      overflow: hidden;
      position: relative;
      z-index: 2;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      padding-top: 30px; }
      /* line 653, ../sass/style.scss */
      .calendar-grid > li > div:after {
        /* Add some faux padding btwn the edge of the li and its child div */
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 2px;
        height: 6px;
        background-color: #f1f1f1;
        z-index: 10; }
      /* line 665, ../sass/style.scss */
      .calendar-grid > li > div > ul {
        position: absolute;
        left: 0; }
        /* line 669, ../sass/style.scss */
        .calendar-grid > li > div > ul > li {
          padding: 0 8px;
          width: 114px; }
      /* line 674, ../sass/style.scss */
      .calendar-grid > li > div > a.date {
        font-size: 24px;
        font-weight: 400;
        color: #8d8d8d;
        padding: 8px 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3; }
        /* line 684, ../sass/style.scss */
        .calendar-grid > li > div > a.date > span {
          display: none; }
      /* line 689, ../sass/style.scss */
      .calendar-grid > li > div > .holiday {
        font-size: 12px;
        font-weight: 500;
        color: #8d8d8d;
        display: block;
        line-height: 14px;
        padding: 8px 8px 0 8px; }
    /* line 699, ../sass/style.scss */
    .calendar-grid > li:hover > div {
      width: auto;
      z-index: 10;
      overflow: visible; }
      /* line 704, ../sass/style.scss */
      .calendar-grid > li:hover > div > a.date {
        color: #fcc904; }
      /* line 708, ../sass/style.scss */
      .calendar-grid > li:hover > div > ul {
        background-color: #fffbe9;
        width: 200px;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); }
        /* line 713, ../sass/style.scss */
        .calendar-grid > li:hover > div > ul > li {
          width: 184px; }
      /* line 718, ../sass/style.scss */
      .calendar-grid > li:hover > div:after {
        display: none; }
    /* line 721, ../sass/style.scss */
    .calendar-grid > li.muted > div {
      background-color: #fff; }
      /* line 724, ../sass/style.scss */
      .calendar-grid > li.muted > div:after {
        background-color: #fff; }
      /* line 728, ../sass/style.scss */
      .calendar-grid > li.muted > div > a.date {
        color: #e2e2e2; }
    /* line 734, ../sass/style.scss */
    .calendar-grid > li.today > div > a.date {
      background-color: #a8a8a8;
      color: #fff;
      font-weight: bold; }
    /* line 740, ../sass/style.scss */
    .calendar-grid > li.today:hover > div > a.date {
      background-color: #fcc904; }

/**
 * Utility
 **/
/* line 751, ../sass/style.scss */
.fullwidth {
  width: 100%; }

/* line 752, ../sass/style.scss */
.label-hidden {
  line-height: 0;
  text-indent: -9999px;
  width: 1px !important;
  height: 1px;
  display: block; }

/* line 753, ../sass/style.scss */
.label-inner {
  font-size: 16px;
  color: #8d8d8d;
  font-weight: 300; }

/* line 755, ../sass/style.scss */
.sidebarfix > * {
  /* This does dumb things to tables. Wrap tables in a div to accomodate */
  padding-right: 10px; }
/* line 759, ../sass/style.scss */
.sidebarfix > .modal {
  padding-right: 0; }
/* line 763, ../sass/style.scss */
.sidebarfix > hr {
  padding-right: 0;
  margin-right: 10px; }
/* line 767, ../sass/style.scss */
.sidebarfix > .well {
  padding-right: 20px;
  margin-right: 10px; }
/* line 771, ../sass/style.scss */
.sidebarfix > .well-empty {
  padding-right: 30px; }

/* line 776, ../sass/style.scss */
.recurring {
  /* Helper text for designating recurring events */
  width: 0;
  height: 0;
  text-indent: -9999px;
  display: block; }

/**
 * Header
 **/
/* line 786, ../sass/style.scss */
header {
  padding-top: 15px; }
  /* line 789, ../sass/style.scss */
  header #header-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 10px 0;
    display: block; }
    /* line 797, ../sass/style.scss */
    header #header-title .alt {
      font-weight: 300; }
  /* line 802, ../sass/style.scss */
  header form.form-search {
    padding-top: 19px;
    float: right; }

/**
 * Main Navigation (subheader)
 **/
/* line 810, ../sass/style.scss */
#navwrap {
  background: #f1f1f1; }

/* line 814, ../sass/style.scss */
#navinner {
  padding: 10px 0; }

/* line 819, ../sass/style.scss */
nav .user {
  float: left;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }
  /* line 825, ../sass/style.scss */
  nav .user .user i {
    color: #8d8d8d; }
/* line 830, ../sass/style.scss */
nav #actions-primary,
nav #actions-secondary {
  list-style-type: none;
  margin: 0; }
  /* line 835, ../sass/style.scss */
  nav #actions-primary > li,
  nav #actions-secondary > li {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative; }
/* line 844, ../sass/style.scss */
nav #actions-primary {
  float: left; }
/* line 849, ../sass/style.scss */
nav #actions-primary > li > i {
  color: #4380fc;
  font-size: 16px; }
/* line 853, ../sass/style.scss */
nav #actions-primary > li > span.label {
  position: absolute;
  left: 25px;
  top: -3px; }
/* line 858, ../sass/style.scss */
nav #actions-secondary {
  float: right; }
  /* line 861, ../sass/style.scss */
  nav #actions-secondary > li > i {
    color: #8d8d8d;
    font-size: 16px; }
/* line 866, ../sass/style.scss */
nav li#create-event {
  border-left: 3px solid #e1e1e1;
  margin-left: 15px; }
  /* line 870, ../sass/style.scss */
  nav li#create-event .icon-circle-wrap {
    float: left;
    margin-right: 6px; }

/**
 * Alert Messages
 **/
/* line 880, ../sass/style.scss */
#messages {
  margin: 10px 0 0 0; }

/**
 * Page Tabs
 **/
/* line 887, ../sass/style.scss */
.nav.nav-tabs {
  margin-bottom: 5px; }

/**
 * Page Titles
 **/
/* line 894, ../sass/style.scss */
#page-title-wrap {
  position: relative;
  margin-top: 10px; }
  /* line 898, ../sass/style.scss */
  #page-title-wrap h1 {
    display: block;
    float: left;
    margin-bottom: 10px; }
  /* line 904, ../sass/style.scss */
  #page-title-wrap .edit-options {
    list-style-type: none;
    float: left;
    margin-top: 15px;
    margin-left: 10px; }
    /* line 910, ../sass/style.scss */
    #page-title-wrap .edit-options > li {
      float: left;
      margin-left: 10px; }
      /* line 913, ../sass/style.scss */
      #page-title-wrap .edit-options > li > a {
        font-weight: bold;
        color: #a8a8a8; }
        /* line 916, ../sass/style.scss */
        #page-title-wrap .edit-options > li > a > .caret {
          border-top: 4px solid #a8a8a8; }

/* line 924, ../sass/style.scss */
#page-title-icon {
  position: absolute;
  top: 10px;
  left: -48px;
  font-size: 36px;
  color: #a8a8a8; }
  /* line 931, ../sass/style.scss */
  #page-title-icon.icon-plus {
    top: 13px; }
  /* line 935, ../sass/style.scss */
  #page-title-icon.icon-cog {
    top: 12px; }

/**
 * Page Subtitles
 **/
/* line 943, ../sass/style.scss */
.page-subtitle {
  line-height: 28px;
  color: #8d8d8d;
  margin-top: 0;
  margin-bottom: 20px; }

/* line 950, ../sass/style.scss */
.subtitle-backlink-wrap {
  margin-top: -5px;
  margin-bottom: 25px; }
  /* line 954, ../sass/style.scss */
  .subtitle-backlink-wrap .subtitle-backlink {
    font-weight: bold; }

/**
 * Login/Initial Setup
 **/
/* line 962, ../sass/style.scss */
.popout {
  padding: 10px 20px 20px 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); }

/**
 * Page Content - General
 **/
/* line 975, ../sass/style.scss */
.page-content .page-top-action {
  margin: 20px 0; }

/**
 * Sidebars
 **/
/* line 983, ../sass/style.scss */
.social {
  overflow: hidden; }
  /* line 986, ../sass/style.scss */
  .social a {
    background-image: url("../../static/img/social-share.png");
    background-repeat: no-repeat;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    height: 20px;
    margin-right: 4px;
    width: 70px;
    height: 31px; }
    /* line 999, ../sass/style.scss */
    .social a.share-twitter {
      background-position: -71px 0; }
    /* line 1000, ../sass/style.scss */
    .social a.share-twitter:hover {
      background-position: -71px -31px; }
    /* line 1001, ../sass/style.scss */
    .social a.share-facebook {
      background-position: 0 0; }
    /* line 1002, ../sass/style.scss */
    .social a.share-facebook:hover {
      background-position: 0 -31px; }
    /* line 1003, ../sass/style.scss */
    .social a.share-googleplus {
      background-position: -142px 0; }
    /* line 1004, ../sass/style.scss */
    .social a.share-googleplus:hover {
      background-position: -142px -31px; }

/* line 1008, ../sass/style.scss */
.feeds-list {
  margin-left: 0; }
  /* line 1011, ../sass/style.scss */
  .feeds-list a {
    text-indent: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 10px;
    height: 25px;
    background-image: url("../../static/img/feeds.png");
    background-repeat: no-repeat;
    padding: 6px 18px; }
    /* line 1021, ../sass/style.scss */
    .feeds-list a.ical {
      background-position: 13px -23px; }
    /* line 1022, ../sass/style.scss */
    .feeds-list a.outlook {
      background-position: 13px -57px; }
    /* line 1023, ../sass/style.scss */
    .feeds-list a.rss {
      background-position: 13px 7px; }
    /* line 1024, ../sass/style.scss */
    .feeds-list a.xml {
      background-position: 13px -119px; }
    /* line 1025, ../sass/style.scss */
    .feeds-list a.json {
      background-position: 13px -91px; }

/**
 * Footer
 **/
/* line 1032, ../sass/style.scss */
footer {
  margin: 40px 0; }
  /* line 1035, ../sass/style.scss */
  footer ul {
    list-style-type: none;
    margin-left: 0; }
    /* line 1039, ../sass/style.scss */
    footer ul li {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 10px; }

/**
 * Static Pages
 **/
/* line 1052, ../sass/style.scss */
#static-base h3 {
  margin-top: 20px; }
/* line 1056, ../sass/style.scss */
#static-base h2 + h3 {
  margin-top: 10px; }
/* line 1060, ../sass/style.scss */
#static-base .page-sidebar strong {
  margin-bottom: 5px;
  display: block; }

/**
 * My Calendars
 **/
/** Title **/
/** Event List **/
/* line 1073, ../sass/style.scss */
.form-horizontal.bulk-action-form {
  margin-bottom: 20px; }
  /* line 1076, ../sass/style.scss */
  .form-horizontal.bulk-action-form .control-label {
    width: 85px;
    font-weight: 400; }
  /* line 1080, ../sass/style.scss */
  .form-horizontal.bulk-action-form .controls {
    margin-left: 95px; }

/* line 1086, ../sass/style.scss */
label[for="bulk-select"],
th#thead-recommend,
td.field-bulk-select label,
td.field-recommended > span {
  display: block;
  text-indent: -9999px;
  line-height: 1px;
  margin: 0; }

/* line 1095, ../sass/style.scss */
#bulk-select-all,
td.field-bulk-select input {
  margin-top: -4px; }

/* line 1100, ../sass/style.scss */
th.field-recommended,
td.field-recommended {
  text-align: center; }

/* line 1105, ../sass/style.scss */
td.event-actions .btn {
  margin-top: -4px; }

/* line 1110, ../sass/style.scss */
.manager-item-table .field-bulk-select {
  width: 5%; }
/* line 1111, ../sass/style.scss */
.manager-item-table .field-recommended {
  width: 8%; }
/* line 1112, ../sass/style.scss */
.manager-item-table .event-title {
  width: 42%; }
/* line 1113, ../sass/style.scss */
.manager-item-table .event-time {
  width: 29%; }
/* line 1114, ../sass/style.scss */
.manager-item-table .event-actions {
  width: 16%; }
/* line 1116, ../sass/style.scss */
.manager-item-table .recurrences-toggle {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #777; }
/* line 1122, ../sass/style.scss */
.manager-item-table .recurrences {
  display: none;
  font-size: 12px;
  line-height: 16px;
  margin-left: 0;
  padding-left: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 250px; }
  /* line 1132, ../sass/style.scss */
  .manager-item-table .recurrences .archived-instance {
    text-decoration: line-through;
    color: #888; }

/**
 * Create/Update Calendar
 **/
/* line 1142, ../sass/style.scss */
#manager-calendar-delete {
  float: right;
  position: relative;
  top: -33px;
  font-weight: bold;
  color: #B71713; }

/**
 * Edit Calendar
 **/
/* Users & Permissions */
/* line 1155, ../sass/style.scss */
#users-permissions > h2,
#subscriptions > h2 {
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px;
  margin: 0; }

/* line 1163, ../sass/style.scss */
#users-permissions > h3,
#subscriptions > h3 {
  /* Look like h2 */
  font-size: 24.5px;
  font-weight: 300;
  line-height: 40px;
  margin: 0; }

/* line 1172, ../sass/style.scss */
#users-permissions label[for="id_add_user"],
#users-permissions label[for="id_role"],
#users-permissions label[for="id_username_d"] {
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px; }
/* line 1181, ../sass/style.scss */
#users-permissions label[for="id_add_role"] + .form-inline {
  margin-bottom: 30px; }
/* line 1185, ../sass/style.scss */
#users-permissions .calendar-access-username {
  font-weight: bold; }

/* line 1190, ../sass/style.scss */
#manager-calendar-add-user {
  position: relative; }

/* Calendar Info */
/* line 1196, ../sass/style.scss */
#calendar-info h2 {
  margin-top: 0; }
/* line 1200, ../sass/style.scss */
#calendar-info button {
  margin-top: 70px; }

/* line 1205, ../sass/style.scss */
#calendar-update {
  margin-bottom: 0; }

/* Subscriptions */
/**
 * Frontend Single Calendar
 **/
/* General */
/* line 1218, ../sass/style.scss */
ul.event-list {
  margin-bottom: 30px;
  list-style-type: none;
  margin-left: 0; }
/* line 1219, ../sass/style.scss */
ul.event-list li {
  background-color: #f1f1f1;
  position: relative;
  margin-bottom: 5px;
  padding: 5px 0 20px 30px;
  overflow: auto; }
  /* line 1226, ../sass/style.scss */
  ul.event-list li:after {
    /* Because border-left on the li ignores z-index? */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: #666; }
  /* line 1236, ../sass/style.scss */
  ul.event-list li:hover {
    background-color: #fffbe9; }
    /* line 1238, ../sass/style.scss */
    ul.event-list li:hover .event-content {
      text-decoration: none; }
      /* line 1241, ../sass/style.scss */
      ul.event-list li:hover .event-content h5 {
        color: #7c6b27; }
  /* line 1247, ../sass/style.scss */
  ul.event-list li .event-content {
    display: block;
    margin-left: 20px;
    padding-right: 20px; }
  /* line 1252, ../sass/style.scss */
  ul.event-list li .event-content img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    background-color: #666;
    margin: 0 20px 5px 0; }
  /* line 1261, ../sass/style.scss */
  ul.event-list li .event-content h5 {
    /* Room for event time */
    margin-right: 100px;
    margin-bottom: 0; }
  /* line 1266, ../sass/style.scss */
  ul.event-list li .event-content .location,
  ul.event-list li .event-content .calendar {
    color: #666;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    margin-right: 100px;
    /* Room for event time */ }
  /* line 1275, ../sass/style.scss */
  ul.event-list li .event-content .description {
    display: block;
    font-size: 12px;
    line-height: 18px; }
  /* line 1281, ../sass/style.scss */
  ul.event-list li .event-content .dtstart {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
    width: 100px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: right; }
  /* line 1295, ../sass/style.scss */
  ul.event-list li .category {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    z-index: 3;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
/* line 1320, ../sass/style.scss */
ul.event-list-condensed {
  margin: 8px 0 0 0;
  list-style-type: none;
  width: 100%; }
  /* line 1325, ../sass/style.scss */
  ul.event-list-condensed li {
    text-overflow: ellipsis;
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    line-height: 23px; }
    /* line 1333, ../sass/style.scss */
    ul.event-list-condensed li time {
      font-weight: bold; }

/* Day, Week View */
/* line 1341, ../sass/style.scss */
#calendar-events-day h2,
#calendar-events-week h2 {
  margin-bottom: 20px; }

/* line 1346, ../sass/style.scss */
#calendar-events-day h3,
#calendar-events-week h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300; }

/* Month View */
/* line 1354, ../sass/style.scss */
#calendar-events-month h2 {
  margin: 0;
  width: 0;
  height: 0;
  display: block;
  text-indent: -9999px; }

/* line 1362, ../sass/style.scss */
#calendar-events-month h3 {
  text-align: center;
  font-size: 24.5px;
  line-height: 40px; }

/* line 1368, ../sass/style.scss */
#month-toggle {
  margin: 15px 0 0 0;
  width: 280px;
  position: relative;
  top: 0;
  left: 0; }
  /* line 1375, ../sass/style.scss */
  #month-toggle label {
    width: 0;
    height: 0;
    text-indent: -9999px; }
  /* line 1382, ../sass/style.scss */
  #month-toggle select#id_year {
    width: 68px; }
  /* line 1386, ../sass/style.scss */
  #month-toggle select#id_month {
    width: 107px; }

/* Year View */
/* line 1393, ../sass/style.scss */
#calendar-events-year h2 {
  text-align: center; }

/**
 * Frontend Events by Category, Tag, Term
 **/
/* line 1400, ../sass/style.scss */
#term-events ul.event-list li .event-content .dtstart {
  background-color: transparent;
  width: 100%;
  position: static;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  padding: 15px 0 0 0; }

/* line 1409, ../sass/style.scss */
#term-events ul.event-list li .event-content .location,
#term-events ul.event-list li .event-content .calendar {
  margin-right: 0; }

/* line 1413, ../sass/style.scss */
#term-events ul.event-list li .event-content .calendar {
  padding-top: 10px; }

/**
 * Frontend Single Event
 **/
/* General - Body, Sidebar */
/* line 1423, ../sass/style.scss */
#event-single-sidebar span,
#event-single-sidebar h2 {
  display: block;
  width: 100%;
  margin-top: 0; }

/* line 1430, ../sass/style.scss */
#event-single h2,
#event-single-sidebar h2,
#event-single .event-single-subheader,
#event-single-sidebar span {
  font-weight: normal;
  font-size: 17.5px;
  line-height: 20px; }

/* line 1439, ../sass/style.scss */
#event-single h2.alt,
#event-single-sidebar h2.alt {
  width: 50%;
  float: left; }

/* line 1445, ../sass/style.scss */
#event-single hr,
#event-single-sidebar hr {
  border-width: 3px 0; }

/* Title icon date */
/* line 1451, ../sass/style.scss */
#page-title-wrap .event-icon-date {
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 23px;
  left: -46px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #a8a8a8;
  text-align: center; }

/* Sidebar */
/* line 1466, ../sass/style.scss */
#event-single-sidebar {
  position: relative; }
  /* line 1469, ../sass/style.scss */
  #event-single-sidebar .event-single-datetime {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.5px;
    margin-top: 0; }
  /* line 1476, ../sass/style.scss */
  #event-single-sidebar .event-single-attime {
    margin-bottom: 7px;
    margin-top: 5px; }
  /* line 1481, ../sass/style.scss */
  #event-single-sidebar .event-single-until,
  #event-single-sidebar .event-single-occurring {
    margin-top: 20px; }
  /* line 1486, ../sass/style.scss */
  #event-single-sidebar .event-contact {
    overflow: hidden; }
  /* line 1490, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-info {
    display: block;
    float: left;
    width: 50%;
    clear: right; }
  /* line 1498, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-info span {
    margin-bottom: 5px; }
  /* line 1503, ../sass/style.scss */
  #event-single-sidebar .event-location-title,
  #event-single-sidebar .event-contact-name {
    font-weight: bold; }
  /* line 1508, ../sass/style.scss */
  #event-single-sidebar i {
    color: #8d8d8d; }
  /* line 1512, ../sass/style.scss */
  #event-single-sidebar .event-location-widget {
    margin-top: 10px;
    margin-bottom: -10px; }
  /* line 1516, ../sass/style.scss */
  #event-single-sidebar .event-location-note {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px; }

/* Body - Meta Information */
/* line 1522, ../sass/style.scss */
#event-meta {
  overflow: hidden; }
  /* line 1525, ../sass/style.scss */
  #event-meta > * {
    margin-bottom: 10px; }
  /* line 1529, ../sass/style.scss */
  #event-meta h3 {
    display: block;
    float: left;
    width: 30%;
    clear: left;
    font-weight: normal;
    margin-top: 10px; }
  /* line 1538, ../sass/style.scss */
  #event-meta .event-meta-calendar,
  #event-meta .event-meta-category,
  #event-meta .event-meta-tags {
    display: block;
    float: left;
    width: 70%;
    clear: right;
    font-size: 17.5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; }
  /* line 1551, ../sass/style.scss */
  #event-meta .event-meta-tags a {
    display: block;
    width: auto;
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #8d8d8d;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px; }

/**
 * Create/Update Event
 **/
/* When/Where */
/* line 1571, ../sass/style.scss */
.whenwhere-wrap,
.cloner > div {
  border-radius: 4px 0 4px 4px;
  background: #f9f9f9;
  padding: 10px 20px 20px 20px;
  border: 1px solid #c8c8c8;
  margin-bottom: 5px; }

/* line 1579, ../sass/style.scss */
.cloneable:only-child .whenwhere-wrap {
  border-radius: 4px; }

/* line 1584, ../sass/style.scss */
.whenwhere-wrap hr {
  border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
  border-width: 1px 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8; }
/* line 1591, ../sass/style.scss */
.whenwhere-wrap label {
  margin-top: 10px; }

/* line 1596, ../sass/style.scss */
label[for*="-location-autocomplete"] {
  margin-top: 0; }

/* line 1600, ../sass/style.scss */
.whenwhere.end,
.whenwhere-until,
.location-selected {
  float: right;
  margin-right: 10px; }

/* line 1606, ../sass/style.scss */
.whenwhere.start label,
.whenwhere.end label {
  display: block;
  width: auto;
  float: left;
  margin-right: 4px;
  position: relative;
  z-index: 3; }

/* line 1616, ../sass/style.scss */
.cloner {
  position: relative; }
  /* line 1619, ../sass/style.scss */
  .cloner:hover {
    cursor: pointer; }
    /* line 1622, ../sass/style.scss */
    .cloner:hover > div {
      background: #DFF0D8;
      border-color: #62C462;
      color: #2D792D; }
  /* line 1629, ../sass/style.scss */
  .cloner > div {
    padding: 8px 20px;
    border-style: dashed;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    font-weight: bold;
    color: #646464; }
  /* line 1638, ../sass/style.scss */
  .cloner > a {
    position: absolute;
    top: 0;
    right: -39px;
    border-radius: 0 4px 4px 0;
    padding: 8px 14px; }

/* line 1647, ../sass/style.scss */
.remove-instance {
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  float: right;
  padding: 8px 14px; }

/* line 1653, ../sass/style.scss */
.remove-instance:hover ~ div > .whenwhere-wrap,
.remove-instance:focus ~ div > .whenwhere-wrap {
  background-color: #F2DEDE;
  border-color: #EE5F5B; }

/* line 1659, ../sass/style.scss */
.location-search,
.tag-search {
  position: relative; }

/* line 1664, ../sass/style.scss */
.location-search .autocomplete-new-btn {
  top: 25px; }

/* line 1667, ../sass/style.scss */
.tag-search .autocomplete-new-btn {
  top: 0;
  right: 66px; }

/* line 1672, ../sass/style.scss */
.location-selected {
  position: relative; }

/* line 1676, ../sass/style.scss */
.location-selected-remove {
  font-weight: bold;
  font-size: 20px;
  padding: 0 6px 1px 6px;
  position: absolute;
  top: 0;
  right: -16px;
  color: #A8A8A8; }

/* line 1687, ../sass/style.scss */
.location-selected-remove:hover {
  text-decoration: none; }
/* line 1691, ../sass/style.scss */
.location-selected-remove:hover ~ span, .location-selected-remove:focus ~ span {
  text-decoration: line-through; }

/* line 1697, ../sass/style.scss */
.location-selected-title,
.location-selected-room,
.location-selected-url {
  display: block;
  float: left;
  width: 90%; }

/* line 1705, ../sass/style.scss */
.clone-delete-hiddenfield {
  display: none; }

/* Tags */
/* line 1710, ../sass/style.scss */
#event-tags-selected li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  border-radius: 20px;
  padding: 2px 12px 2px 28px;
  background: #aaa;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: relative; }
  /* line 1722, ../sass/style.scss */
  #event-tags-selected li a {
    padding: 0 5px 0 9px;
    border-radius: 20px 0 0 20px;
    color: #fff;
    font-weight: bold;
    margin-right: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 14px;
    line-height: 22px; }
    /* line 1735, ../sass/style.scss */
    #event-tags-selected li a:hover, #event-tags-selected li a:focus {
      text-decoration: none;
      background-color: #EE5F5B; }

/* Contact information */
/* line 1744, ../sass/style.scss */
#add-user-contact-info {
  margin-bottom: 10px; }

/**
 * Admin Sections
 **/
/* Category Manager */
/* line 1753, ../sass/style.scss */
.category-color span {
  display: block;
  padding: 0 5px;
  font-weight: bold;
  color: #fff; }
