{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block alerts %}
  {{ block.super }}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>Error: </strong>
      {{ form.non_field_errors }}
    </div>
  {% endif %}
{% endblock %}

{% block title %}Create a Calendar | {{ block.super }}{% endblock %}

{% block content_title %}
  <div class="col-12">
    <h1 class="h2 mb-2">Create a Calendar</h1>
  </div>
{% endblock %}

{% block content_subheader %}
  <div class="row">
    <div class="col-md-12">
      <p class="lead mb-4">
        Use the form below to create a new calendar.
      </p>
    </div>
  </div>
{% endblock %}

{% block content_body %}
<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <form action="{% url 'events.views.manager.calendar-create' %}" method="post" id="calendar-create">
      {% csrf_token %}
      <div class="form-group row{% if form.title.errors %} has-danger{% endif %}">
        <div class="col-md-3 col-xl-4 text-md-right mb-2">
          <label class="font-weight-bold col-form-label" for="id_title">Calendar Name</label>
        </div>
        <div class="col-md-6 col-xl-8">
          {{ form.title|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"placeholder:Enter a calendar name..." }}
          {% if form.title.errors %}
            {% for error in form.title.errors %}
              <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="form-group row{% if form.description.errors %} has-danger{% endif %}">
        <div class="col-md-3 col-xl-4 text-md-right mb-2">
          <label class="font-weight-bold col-form-label pb-0" for="id_description">Description</label>
          <small class="form-text text-muted mt-0" tabindex="-1">A brief blurb about your calendar and/or its events. Limit 140 characters.</small>
        </div>
        <div class="col-md-6 col-xl-8">
          {{ form.description|add_class:"form-control"|add_error_class:"form-control-danger" }}
          {% if form.description.errors %}
            {% for error in form.description.errors %}
              <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div class="form-group row">
        <div class="col-md-9 offset-md-3 col-xl-8 offset-xl-4">
          <button type="submit" class="btn btn-primary btn-block-xs">Create Calendar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
  {{ block.super }}
{% endblock %}
