{% extends 'events/manager/base.html' %}
{% block content_title_icon %}
    {% if first_login %}
    {% else %}
    <i class="icon-plus" id="page-title-icon"></i>
    {% endif %}
{% endblock %}
{% block content_body %}
    {% if first_login %}
    <div class="row">
        <div class="span8 offset2">
            <div class="popout">
                <h2><span class="alt">Step 2:</span> Create a Calendar</h2>
                <div class="progress">
                    <div class="bar" style="width: 66%;"></div>
                </div>
                <p class="progress-desc">Step 2 of 2</p>
                <p>
                    To create or subscribe to events, you'll need a calendar to put them in. 
                    If you know you'll be added to an existing calendar later, you can 
                    <a href="#">skip this step</a>.  You will have limited access to the 
                    events system until you're added to a calendar.
                    <br/>
                    <strong>
                        Create your first calendar below, or click the cancel
                        button to skip this step and make one later.
                    </strong>
                </p>
    {% else %}
	<div id="calendar-create-update">
		{% if mode == 'create' %}
			<h2>Create a Calendar</h2>
			<form action="{% url calendar-create %}" method="post" id="calendar-create" class="form-horizontal">
		{% else %}
			{% if mode == 'update' %}
				<h2>Update {{calendar.name}} Calendar</h2>
				<form action="{% url calendar-update id=calendar.id %}" method="post" id="calendar-create">
			{% endif %}
		{% endif %}
		{% if form.non_field_errors %}
		  <p>{{form.non_field_errors}}</p>
	    {% endif %}
	{% endif %}
	           <div class="control-group">
	               <label class="control-label" for="name">Calendar Name</label>
	               <div class="controls">
                   {{ form.name }}
                   </div>
               </div>
               <div class="control-group">
                   <label class="control-label" for="name">Calendar Description</label>
                   <div class="controls">
        		   {{ form.description.as_textarea }}
        		   </div>
        	   </div>
        			{% for field in form.hidden_fields %}
        				{{field}}
        			{% endfor %}
        			{% if mode == 'create' %}
        				<button type="submit">Create</button>
        			{% else %}
        				{% if mode == 'update' %}
        					<button type="submit">Update</button>
        					<a href="{% url calendar-delete id=calendar.id %}" class="button">Delete Calendar</a>
        				{% endif %}
        			{% endif %}
                </div>
			</div>
		</form>
    {% if first_login %}
            </div>
        </div>
    </div>
    {% else %}
	</div>
	{% endif %}
{% endblock %}
{% block footer_scripts %}
    {{block.super}}
    <script type="text/javascript">
        $().ready(function() {
            $('#id_name')
                .keyup(function() {
                    $('#id_slug').val(sluggify($(this).val()));
                })
        });
    </script>
{% endblock %}