{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Error: </strong>
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    <h1 class="col-md-12">Create a Calendar</h1>
{% endblock %}

{% block content_subheader %}
    <div class="row">
        <div class="col-md-12">
            <p class="h2 page-subtitle">
                Use the form below to create a new calendar. Note that you can only
                own or be an editor on up to five (5) calendars at a time.
            </p>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <form action="{% url 'calendar-create' %}" method="post" id="calendar-create" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group large">
            <label class="control-label col-md-3" for="id_title">Calendar Name</label>
            <div class="controls col-md-6">
                {{ form.title|add_class:"form-control"|attr:"placeholder:Enter a calendar name..." }}
                {{ form.title.errors }}
            </div>
        </div>
        <div class="form-group large">
            <div class="control-label-group col-md-3">
                <label class="control-label" for="id_description">Description</label>
                <p class="label-desc">A brief blurb about your calendar and/or its events. Limit 140 characters.</p>
            </div>
            <div class="controls col-md-6">
                {{ form.description|add_class:"form-control" }}
                {{ form.description.errors }}
            </div>
        </div>
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary btn-block-xs">Create Calendar</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
