{% extends 'events/manager/base.html' %}
{% load widgets %}
{% load url %}

{% block title %}All Calendars | {{ block.super }}{% endblock %}

{% block content_title %}
  <div class="col-12">
    <h1 class="h2">All Calendars</h1>
  </div>
{% endblock %}

{% block content_subheader %}
  {% if current_calendar.description %}
    {% block content_subheader_text %}
      <p class="lead">
        All calendars registered in the events system are listed below. Super admins have access to manage all calendars and their settings.
      </p>
    {% endblock %}
  {% endif %}
{% endblock %}

{% block content_body %}
  {% if calendars.count > 0 %}
  <div class="card mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Calendar</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for calendar in calendars %}
        <tr>
          <td>
            <a href="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}">{{ calendar.title }}</a>
          </td>
          <td>
            <span class="d-block">{{ calendar.owner.username }}</span>
            <span class="d-block small">{% if calendar.owner.first_name and calendar.owner.last_name %}
              ({{ calendar.owner.first_name }} {{ calendar.owner.last_name }})
            {% else %}
              (n/a)
            {% endif %}</span>
          </td>
          <td class="calendar-actions actions-col">
            <div class="dropdown">
              <a class="btn btn-default btn-sm dropdown-toggle" href="#" role="button" id="calendarSelectDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select
              </a>
              <div class="dropdown-menu" aria-labelledby="calendarSelectDropdownMenu">

                <a class="dropdown-item" href="{% url 'dashboard' pk=calendar.pk %}">
                  <span class="far fa-calendar-alt fa-fw mr-1" aria-hidden="true"></span>Manage Events
                </a>

                <a class="dropdown-item" href="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}">
                  <span class="fa fa-pencil-alt fa-fw mr-1" aria-hidden="true"></span>Edit Calendar
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'events.views.event_views.calendar' pk=calendar.pk slug=calendar.slug %}">
                  <span class="fa fa-play-circle fa-fw mr-1" aria-hidden="true"></span>Live View
                </a>

              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}

  {% else %}
  <div class="alert alert-info">
    No calendars found. Want to <a class="alert-link" href="{% url 'events.views.manager.calendar-create' %}">create one?</a>
  </div>
  {% endif %}
{% endblock %}
