{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}
{% load url %}

{% block alerts %}
  {{ block.super }}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>Error: </strong>
      {{ form.non_field_errors }}
    </div>
  {% endif %}
{% endblock %}

{% block title %}{% block calendar_edit_title %}Edit Calendar{% endblock %}: {{ calendar.title }} | {{ block.super }}{% endblock %}

{% block content_title %}
  <div class="col-lg-8">
    <h1 class="h2 mb-4">Edit Calendar: <span class="font-weight-normal">{{ calendar.title }}</span></h1>
  </div>
  <div class="col-lg-4 edit-options mb-3 mb-lg-0 text-lg-right">
    <a class="small font-weight-bold text-default-aw mr-3" href="{% url 'dashboard' pk=calendar.pk %}">
      <span class="fa fa-tachometer-alt fa-fw mr-1" aria-hidden="true"></span>Manager View
    </a>
    <a class="small font-weight-bold text-default-aw" href="{% url 'events.views.event_views.calendar' pk=calendar.pk slug=calendar.slug %}">
      <span class="fa fa-play-circle pr-1" aria-hidden="true"></span>Live View
    </a>
  </div>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
  <div class="row mb-2">
    <div class="col-md-12">
      <ul class="nav nav-tabs hidden-sm-down mb-3">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events.views.manager.calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}">Calendar Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events.views.manager.calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
        </li>
        {% if user == calendar.owner or user.is_superuser %}
        <li class="d-flex align-items-center ml-auto">
          <a class="text-danger-aw object-modify" id="manager-calendar-delete" href="{% url 'events.views.manager.calendar-delete' pk=calendar.pk %}">
            <span class="fa fa-trash-alt mr-1" aria-hidden="true"></span>Delete Calendar
          </a>
        </li>
        {% endif %}
      </ul>
      <div class="dropdown hidden-md-up mb-3">
        <button class="btn btn-default dropdown-toggle" type="button" id="calendarUpdateDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options...
        </button>
        <div class="dropdown-menu" aria-labelledby="calendarUpdateDropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'events.views.manager.calendar-update-users' pk=calendar.pk %}">Users &amp; Permissions</a>
          <a class="dropdown-item active" href="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}">Calendar Info</a>
          <a class="dropdown-item" href="{% url 'events.views.manager.calendar-update-subscriptions' pk=calendar.pk %}">Subscriptions</a>
          {% if user == calendar.owner or user.is_superuser %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger-aw object-modify" id="manager-calendar-delete" href="{% url 'events.views.manager.calendar-delete' pk=calendar.pk %}">
            <span class="fa fa-trash-alt mr-1" aria-hidden="true"></span>Delete Calendar
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content_body %}
  <div class="row">
    <div class="col-12">
      <h2 class="h3 font-weight-normal">Calendar Info</h2>
      <form action="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}" method="post" id="calendar-update">
        {% csrf_token %}
        <div class="form-group row{% if form.title.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.title.auto_id }}">Calendar Name</label>
            {% if calendar.is_main_calendar %}
            <small class="form-text text-muted mt-0">
              The main calendar's title (and its slug) cannot be modified while the events system is running.
              This value must be manually changed and the application must be restarted to flush cached files that depend on its slug.
            </small>
            {% endif %}
          </div>
          <div class="col-md-9 col-xl-8">
            {{ form.title|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"placeholder:Enter a calendar name..." }}
            {% if form.title.errors %}
              {% for error in form.title.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="form-group row{% if form.description.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.description.auto_id }}">Description</label>
            <small class="form-text text-muted mt-0">A brief blurb about your calendar and/or its events. Limit 140 characters.</small>
          </div>
          <div class="col-md-9 col-xl-8">
            {{ form.description|add_class:"form-control"|add_error_class:"form-control-danger" }}
            {% if form.description.errors %}
              {% for error in form.description.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="form-group row{% if form.active.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.active.auto_id }}">Active</label>
            <small class="form-text text-muted mt-0">Determines if the calendar or its events show up in searches or are indexed by search engines.</small>
          </div>
          <div class="col-md-9 col-xl-8 d-md-flex flex-column justify-content-center">
            <div>
              {{ form.active|add_class:"form-check-input ml-0"}}<label for="{{ form.active.auto_id }}" class="switch"><span class="sr-only">Click to activate or deactivate this calendar.</span></label>
            </div>
            {% if form.active.errors %}
              {% for error in form.active.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        {% if user.is_superuser %}
        <div class="form-group row{% if form.trusted.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.trusted.auto_id }}">Trusted</label>
            <small class="form-text text-muted mt-0">Determines if the calendar can bypass the review process and directly post to the Main Calendar.</small>
          </div>
          <div class="col-md-9 col-xl-8 d-md-flex flex-column justify-content-center">
            <div>
              {{ form.trusted|add_class:"form-check-input ml-0"}}<label for="{{ form.trusted.auto_id }}" class="switch"><span class="sr-only">Click to designate this calendar as a trusted calendar.</span></label>
            </div>
            {% if form.trusted.errors %}
              {% for error in form.trusted.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if calendar.is_main_calendar %}
        <div class="form-group row{% if form.desktop_header_image.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.desktop_header_image.auto_id }}">Desktop Header Image</label>
            <small class="form-text text-muted mt-0">An optional 1600x500 pixel header image for the calendar.</small>
          </div>
          <div class="col-md-9 col-xl-8 d-md-flex flex-column justify-content-center">
            {{ form.desktop_header_image|add_class:"form-control"|add_error_class:"form-control-danger" }}
            {% if form.desktop_header_image.errors %}
              {% for error in form.desktop_header_image.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="form-group row{% if form.mobile_header_image.errors %} has-danger{% endif %}">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.mobile_header_image.auto_id }}">Mobile Header Image</label>
            <small class="form-text text-muted mt-0">An optional 575x575 pixel header image for the calendar.</small>
          </div>
          <div class="col-md-9 col-xl-8 d-md-flex flex-column">
            {{ form.mobile_header_image|add_class:"form-control"|add_error_class:"form-control-danger" }}
            {% if form.mobile_header_image.errors %}
              {% for error in form.mobile_header_image.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        <div class="form-group row">
          <div class="col-md-9 offset-md-3 col-xl-8 offset-xl-4">
            <button type="submit" class="btn btn-primary">Update Settings</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
