{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title_icon %}
    <i class="icon-pencil" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>Edit Calendar: <span class="alt">{{ calendar.title }}</span></h1>
    <ul class="edit-options">
        <li>
            <a href="{% url 'calendar' calendar=calendar.slug %}">Live View</a>
        </li>
    </ul>
{% endblock %}

{% block content_subheader %}
    <div class="row">
        <div class="span12 subtitle-backlink-wrap">
            <a class="subtitle-backlink" href="{% url 'dashboard' calendar_id=calendar.id %}">&laquo; Back to Manager View</a>
        </div>
    </div>
{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li>
                    <a href="{% url 'calendar-update-users' pk=calendar.id %}">Users &amp; Permissions</a>
                </li>
                <li class="active">
                    <a href="{% url 'calendar-update' pk=calendar.id %}">Calendar Info</a>
                </li>
                <li>
                    <a href="{% url 'calendar-update-subscriptions' pk=calendar.id %}">Subscriptions</a>
                </li>
            </ul>
            <a id="manager-calendar-delete" class="object-modify" href="{% url 'calendar-delete' pk=calendar.id %}">
                <i class="icon-trash"></i>Delete Calendar
            </a>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row page-content">
        <div class="span9" id="calendar-info">
            <form action="{% url 'calendar-update' pk=calendar.id %}" method="post" id="calendar-update" class="form-horizontal form-tabbed span9">
                <h2>Calendar Info</h2>
                <div class="control-group large">
                   <label class="control-label" for="id_title">Calendar Name</label>
                   <div class="controls">
                   {{ form.title|add_class:"span5"|attr:"placeholder:Enter a calendar name..." }}
                   </div>
                </div>
                <div class="control-group large">
                   <label class="control-label" for="id_description">Description</label>
                   <p class="label-desc">A brief blurb about your calendar and/or its events. Limit 140 characters.</p>
                   <div class="controls">
                   <!-- TODO: add textarea cols via view; django-widget-tweaks doesn't work with .as_textarea :( -->
                   {{ form.description|add_class:"span5" }}
                   {% for field in form.hidden_fields %}
                       {{field}}
                   {% endfor %}
                   <button class="btn btn-primary" type="submit">Update Settings</button>
                   </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
