/**
 * Universal Styles
 **/

/* Body */
body {
    background: url('../img/gradient.png') top left repeat-x;
}

/* Header tags, basic text */
h1 .alt,
h3 .alt,
h4 .alt,
h5 .alt,
h6 .alt {
    font-weight: 300;
}

h2 {
    letter-spacing: 0; font-weight: 300;
    .alt {
        font-weight: bold;
    }
}

.icon-circle-wrap {
    display: block;
    width: 25px;
    height: 18px;
    padding-top: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 0 0 #3566c9;
    background-color: #4380fc;
    color: #fff;
    text-align: center;
    margin-top: -2px;
}

form a:not([class]),
.page-content a:not([class]),
.page-sidebar a:not([class]) {
    /* Add color to links that don't have a class assigned to them */
    color: #3566C9;
}

a {
    &:not(.btn) > i {
        padding-right: 6px;
    }

    &:hover > i {
        text-decoration: none;
    }

    &.btn-mini {
        font-weight: 500; letter-spacing: 0.3px;
    }
}

i + a:not(.btn) {
    padding-left: 6px;
}


/* Dropdowns */
.btn b.caret {
    border-top: 4px solid #fff;
}

$dropdown-i-padding: 6px;

.dropdown {
    &.open a.btn.dropdown-toggle {
        background-image: none;
        box-shadow: 0 2px 0 0 #4D4D4D inset, 0 2px 0 0 #8D8D8D;
        outline: 0 none;
    }

    li i {
        padding-right: $dropdown-i-padding;
    }
}

.dropdown-menu {
    li {
        i {
            padding-right: $dropdown-i-padding;
        }
    }

    > li {
        > a {
            color: #333 !important;

            &:hover, &:focus {
                color: #fff !important;
            }
        }
    }
}

/* Modals */
.modal h2 {
    font-weight: bold; line-height: 30px;

    .alt {
        font-weight: 300;
    }
}

.modal-header .object-type,
.modal-footer .object-type {
    text-transform: capitalize;
}

/* Pagination */
.pagination {
    text-align: center; margin-top: 30px;

    a {
        color: #fff !important;
    }
}

/* Wells */
.well-empty {
    padding: 60px 30px;
}

/* Forms */
form {
    &.form-horizontal {
        margin: 20px 0 30px 0;
    }

    &.form-tabbed,
    &.form-tabbed .tab-content .tab-pane h2 {
        margin-top: 0;
    }

    p.help-text {
        font-size: 11px; font-style: italic; line-height: 18px; color: #888; padding-top: 8px;
        + .dropdown-menu {
            top: 30px;
        }
    }
}

.form-horizontal {
    .control-label {
        font-weight: bold;
    }

    legend.control-label {
        border: 0px solid transparent;
        color: #333;
        margin-bottom: 5px;
        line-height: 20px;
    }

    .control-group {
        &.large {
            .control-label {
                font-size: 18px;
                text-indent: -1px;
                width: 200px;
            }

            .controls {
                margin-left: 220px;
            }
        }

        .controls > .row {
            margin-top: 5px;
            display: inline-block; /* req'd for .rows in .controls to clear properly */
        }
    }
}

.label-desc {
    display: block;
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
    color: #8d8d8d;
}

.control-group.large .label-desc {
    width: 200px;
}

$field-date-time-width: 70%;

.field-date{
    width: $field-date-time-width;
    margin-right: 10px; margin-bottom: 8px !important;
}


.field-time {
    width: $field-date-time-width;
    margin-right: 0;

    + .add-on {
        display: none;
    }
}

textarea {
    height: 175px;
}

select option {
    padding-top: 3px; padding-bottom: 3px;
}

.typeahead {
    margin-top: 0;
}

label.error,
div.error label,
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #EE5F5B;
}

input.error,
textarea.error,
select.error,
div.error input,
div.error textarea,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border: 1px solid #EE5F5B;
    color: #B71713;
}

ul {
    &.errorlist {
        background: none repeat scroll 0 0 #EE5F5B;
        border-radius: 4px;
        color: #FFFFFF;
        display: block;
        list-style-type: none;
        margin: 10px 0;
        padding: 10px;
        position: relative;
        max-width: 220px;

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #EE5F5B;
            position: absolute;
            top: -5px;
            left: 10px;
        }

        li {
            margin-top: 5px;
            text-indent: 0;
            padding-left: 20px;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                font-family: "FontAwesome";
                content: "";
                float: left;
                width: 20px;
                margin-left: -20px;
            }
        }
    }
}

/* Date/Timepicker overrides */
$bootstrap-dtp-position: relative;
$bootstrap-dtp-i-position: absolute;
$bootstrap-dtp-i-right: 60px;
$bootstrap-dtp-i-color: #ccc;

.bootstrap-datepicker {
    position: $bootstrap-dtp-position;

    i {
        position: $bootstrap-dtp-i-position;
        right: $bootstrap-dtp-i-right;
        bottom: 15px;
        color: $bootstrap-dtp-i-color;
    }
}

.bootstrap-timepicker {
    position: $bootstrap-dtp-position;

    input {
        border-radius: 4px;
    }

    i {
        position: $bootstrap-dtp-i-position;
        right: $bootstrap-dtp-i-right;
        bottom: 7px;
        color: $bootstrap-dtp-i-color;
    }
}

.datepicker {
    &:before, &:after {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    td {
        &.active,
        &.active:hover,
        span.active {
            background-image: none;
            background-color: #ffc904 !important;
            text-shadow: 0 0 0 transparent;
            font-weight: bold;
        }
    }

    td,
    th,
    td span {
        border-radius: 0;
    }
}

.ui-timepicker-wrapper {
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/** WYSIWYG overrides **/
ul.wysihtml5-toolbar {
    display: inline-block;

    a.btn.wysihtml5-command-active {
        background-color: #8D8D8D;
        box-shadow: 0 2px 0 0 #4d4d4d inset, 0 2px 0 0 #8d8d8d;
    }

    span.current-font,
    a[data-wysihtml5-command="italic"],
    a[data-wysihtml5-command="underline"] {
        font-weight: normal;
    }

    a[data-wysihtml5-command-value="div"] {
        color: #333;
    }

    a[data-wysihtml5-command-value="h1"],
    a[data-wysihtml5-command-value="h2"],
    a[data-wysihtml5-command-value="h3"],
    a[data-wysihtml5-command-value="h4"],
    a[data-wysihtml5-command-value="h5"],
    a[data-wysihtml5-command-value="h6"] {
        font-weight: bold;
        color: #333;
    }

    a[data-wysihtml5-command-value="h1"],
    a[data-wysihtml5-command-value="h2"],
    a[data-wysihtml5-command-value="h3"] {
        letter-spacing: -1px;
        line-height: 40px;
    }

    a[data-wysihtml5-command-value="h4"],
    a[data-wysihtml5-command-value="h5"],
    a[data-wysihtml5-command-value="h6"] {
        line-height: 20px;
    }

    a[data-wysihtml5-command-value="h1"] {
        font-size: 36px;
    }

    a[data-wysihtml5-command-value="h2"] {
        font-size: 30px;
    }

    a[data-wysihtml5-command-value="h3"] {
        font-size: 24.5px;
    }

    a[data-wysihtml5-command-value="h4"] {
        font-size: 17.5px;
    }

    a[data-wysihtml5-command-value="h5"] {
        font-size: 14px;
    }

    a[data-wysihtml5-command-value="h6"] {
        font-size: 11.9px;
    }

    a:hover {
        color: #fff;
    }
}


/* Calendar Sliders */
.calendar-slider {
    position: relative; z-index: 1;

    .pager {
        margin: 0; position: relative; z-index: 2;

        li {
            position: absolute; top: 15px;

            &.previous {
                left: 0;
            }

            &.next {
                right: 0;
            }

            .carousel-control {
                font-size: 14px;
                height: 26px;
                line-height: 26px;
                padding: 0;
                position: static;
                height: auto;
                opacity: 1;
                margin: 0;
                float: none;

                > i {
                    padding-right: 0;
                }

                > span {
                    width: 0;
                    height: 0;
                    text-indent: -9999px;
                    display: block;
                    line-height: 0;
                }
            }
        }
    }

    .item {
        h2 {
            text-align: center; font-size: 21px; line-height: 36px; margin-bottom: 0;
        }

        .table {
            border-collapse: separate; border-spacing: 3px;

            th,
            td {
                border-top: 0;
                text-align: center;
            }
            td {
                background: #f1f1f1;
                font-size: 18px;
                line-height: 18px;
                padding: 0;

                a {
                    font-weight: bold;
                    color: #8d8d8d;
                    display: block;
                    padding: 11px 8px;
                    position: relative;
                    z-index: 1;

                    &:hover {
                        background: #fffbe9; text-decoration: none;
                    }
                }

                &.active {
                    background: #fcc904;

                    a {
                        color: #fff;

                        &:hover {
                            background-color: #daad00;
                        }
                    }

                }

                &.hasevents a:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 10px 10px;
                    border-color: transparent transparent #daae00 transparent;
                    z-index: 2;
                }

                &.muted {
                    background-color: #fff;

                    a {
                        color: #e2e2e2;
                        &:hover { color: #8d8d8d; }
                    }

                }

                &.hasevents.muted a:after {
                    border-color: transparent transparent #EFDB97 transparent;
                }

                &.today a {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Calendar Grids */
$calendar-grid-width: 14.285%;

.calendar-grid-labels > span {
    width: $calendar-grid-width;
    font-size: 18px;
    color: #6e6e6e;
    text-align: center;
    font-weight: 300;
    display: block;
    float: left;
    padding: 10px 0;
}

.calendar-grid {
    width: 100%;
    list-style-type: none;
    margin-left: 0;


    > li {
        width: $calendar-grid-width;
        height: 130px;
        border-top: 0px solid transparent;
        padding: 0;
        float: left;
        border-bottom: 4px solid #fff;
        overflow: hidden;
        position: relative;

        &:hover {
            overflow: visible;
        }

        > a{
            &.event-expander {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 20px;
                z-index: 3;
                cursor: default;
                text-align: center;
                color: #fff;

                &:hover {
                    display: none;
                }

                > span.help-text {
                    text-indent: -9999px;
                    display: block;
                    width: 0;
                    height: 0;
                }

                > span.icon-text {
                    display: block;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                    background-color: #d4d4d4;
                    height: 100%;
                    line-height: 20px;
                }
            }
        }

        > div {
            background-color: #f1f1f1;
            height: 100px;
            overflow: hidden;
            position: relative;
            z-index: 2;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
            padding-top: 30px;

            &:after { /* Add some faux padding btwn the edge of the li and its child div */
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 2px;
                height: 6px;
                background-color: #f1f1f1;
                z-index: 10;
            }

            > ul {
                position: absolute;
                left: 0;

                > li {
                    padding: 0 8px; width: 114px;
                }
            }

            > a.date {
                font-size: 24px;
                font-weight: 400;
                color: #8d8d8d;
                padding: 8px 5px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;

                > span {
                    display: none;
                }
            }

            > .holiday {
                font-size: 12px;
                font-weight: 500;
                color: #8d8d8d;
                display: block;
                line-height: 14px;
                padding: 8px 8px 0 8px;
            }
        }

        &:hover > div {
            width: auto;
            z-index: 10;
            overflow: visible;

            > a.date {
                color: #fcc904;
            }

            > ul {
                background-color: #fffbe9;
                width: 200px;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);

                > li {
                    width: 184px;
                }
            }

            &:after { display: none; }
        }

        &.muted > div {
            background-color: #fff;

            &:after {
                background-color: #fff;
            }

            > a.date {
                color: #e2e2e2;
            }
        }

        &.today {
            > div > a.date {
                background-color: #a8a8a8;
                color: #fff;
                font-weight: bold;
            }

            &:hover > div > a.date {
                background-color: #fcc904;
            }
        }
    }
}


/**
 * Utility
 **/
.fullwidth { width: 100%; }
.label-hidden { line-height: 0; text-indent: -9999px; width: 1px !important; height: 1px; display: block; }
.label-inner { font-size: 16px; color: #8d8d8d; font-weight: 300; }
.sidebarfix {
    > * {/* This does dumb things to tables. Wrap tables in a div to accomodate */
        padding-right: 10px;
    }

    > .modal {
        padding-right: 0;
    }

    > hr {
        padding-right: 0; margin-right: 10px;
    }

    > .well {
        padding-right: 20px; margin-right: 10px;
    }

    > .well-empty {
        padding-right: 30px;
    }
}

.recurring { /* Helper text for designating recurring events */
    width: 0;
    height: 0;
    text-indent: -9999px;
    display: block;
}

/**
 * Header
 **/
header {
    padding-top: 15px;

    #header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 10px 0;
        display: block;

        .alt {
            font-weight: 300;
        }
    }

    form.form-search {
        padding-top: 19px; float: right;
    }
}

/**
 * Main Navigation (subheader)
 **/
#navwrap {
    background: #f1f1f1;
}

#navinner {
    padding: 10px 0;
}

nav {
    .user {
        float: left;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;

        .user i {
            color: #8d8d8d;
        }
    }

    #actions-primary,
    #actions-secondary {
        list-style-type: none;
        margin: 0;

        > li {
            float: left;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
        }
    }

    #actions-primary {
        float: left;
    }

    #actions-primary > li {
        > i {
            color: #4380fc; font-size: 16px;
        }

        > span.label {
            position: absolute; left: 25px; top: -3px;
        }
    }

    #actions-secondary {
        float: right;

        > li > i {
            color: #8d8d8d; font-size: 16px;
        }
    }

    li#create-event {
        border-left: 3px solid #e1e1e1;
        margin-left: 15px;

        .icon-circle-wrap {
            float: left;
            margin-right: 6px;
        }
    }
}

/**
 * Alert Messages
 **/
#messages {
    margin: 10px 0 0 0;
}

/**
 * Page Tabs
 **/
.nav.nav-tabs {
    margin-bottom: 5px;
}

/**
 * Page Titles
 **/
#page-title-wrap {
    position: relative;
    margin-top: 10px;

    h1 {
        display: block;
        float: left;
        margin-bottom: 10px;
    }

    .edit-options {
        list-style-type: none;
        float: left;
        margin-top: 15px;
        margin-left: 10px;

        > li {
            float: left; margin-left: 10px;

            > a {
                font-weight: bold; color: #a8a8a8;

                > .caret {
                    border-top: 4px solid #a8a8a8;
                }
            }
        }
    }
}

#page-title-icon {
    position: absolute;
    top: 10px;
    left: -48px;
    font-size: 36px;
    color: #a8a8a8;

    &.icon-plus {
        top: 13px;
    }

    &.icon-cog {
        top: 12px;
    }
}

/**
 * Page Subtitles
 **/
.page-subtitle {
    line-height: 28px;
    color: #8d8d8d;
    margin-top: 0;
    margin-bottom: 20px;
}

.subtitle-backlink-wrap {
    margin-top: -5px;
    margin-bottom: 25px;

    .subtitle-backlink {
        font-weight: bold;
    }
}

/**
 * Login/Initial Setup
 **/
.popout {
    padding: 10px 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

/**
 * Page Content - General
 **/
.page-content {
    .page-top-action {
        margin: 20px 0;
    }
}

/**
 * Sidebars
 **/
.social { overflow: hidden; }
.social a {
    background-image: url('../../static/img/social-share.png');
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    height: 20px;
    margin-right: 4px;
    width: 70px;
    height: 31px;
}
.social .share-twitter { background-position: -71px 0; }
.social .share-twitter:hover { background-position: -71px -31px; }
.social .share-facebook { background-position: 0 0; }
.social .share-facebook:hover { background-position: 0 -31px; }
.social .share-googleplus { background-position: -142px 0; }
.social .share-googleplus:hover { background-position: -142px -31px; }

/**
 * Footer
 **/
footer {
    margin: 40px 0;

    ul {
        list-style-type: none;
        margin-left: 0;

        li {
            display: block;
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

/**
 * Static Pages
 **/
#static-base {
    h3 {
        margin-top: 20px;
    }

    h2 + h3 {
        margin-top: 10px;
    }

    .page-sidebar strong {
        margin-bottom: 5px;
        display: block;
    }
}

/**
 * My Calendars
 **/

/** Title **/

/** Event List **/
.form-horizontal.bulk-action-form {
    margin-bottom: 20px;

    .control-label {
        width: 85px; font-weight: 400;
    }

    .controls {
        margin-left: 95px;
    }

}

label[for="bulk-select"],
th#thead-recommend,
td.field-bulk-select label,
td.field-recommended > span {
    display: block;
    text-indent: -9999px;
    line-height: 1px; margin: 0;
}

#bulk-select-all,
td.field-bulk-select input {
    margin-top: -4px;
}

th.field-recommended,
td.field-recommended {
    text-align: center;
}

td.event-actions .btn {
    margin-top: -4px;
}

.manager-item-table {
    .field-bulk-select { width: 5%; }
    .field-recommended { width: 8%; }
    .event-title { width: 42%; }
    .event-time { width: 29%; }
    .event-actions { width: 16%; }

    .recurrences-toggle {
        display: block;
        font-size: 11px;
        font-weight: bold;
        color: #777;
    }
    .recurrences {
        display: none;
        font-size: 12px;
        line-height: 16px;

        .archived-instance {
            text-decoration: line-through;
            color: #888;
        }
    }
}

/**
 * Create/Update Calendar
 **/
#manager-calendar-delete {
    float: right;
    position: relative;
    top: -33px;
    font-weight: bold;
    color: #B71713;
}

/**
 * Edit Calendar
 **/

/* Users & Permissions */
#users-permissions > h2,
#subscriptions > h2 {
    width: 0;
    height: 0;
    display: block;
    text-indent: -9999px;
    margin: 0; }

#users-permissions > h3,
#subscriptions > h3 { /* Look like h2 */
    font-size: 24.5px;
    font-weight: 300;
    line-height: 40px;
    margin: 0;
}

#users-permissions {
    label[for="id_add_user"],
    label[for="id_add_role"] {
        width: 0;
        height: 0;
        display: block;
        text-indent: -9999px;
    }

    label[for="id_add_role"] + .form-inline {
        margin-bottom: 30px;
    }

    .calendar-access-username {
        font-weight: bold;
    }
}

#manager-calendar-add-user {
    position: relative;
}

/* Calendar Info */
#calendar-info {
    h2 {
        margin-top: 0;
    }

    button {
        margin-top: 70px;
    }
}

#calendar-update {
    margin-bottom: 0;
}

/* Subscriptions */

/**
 * Frontend Single Calendar
 **/

/* General */
ul {

    &.event-list { margin-bottom: 30px; list-style-type: none; margin-left: 0; }
    &.event-list li {
        background-color: #f1f1f1;
        position: relative;
        margin-bottom: 5px;
        padding: 5px 0 20px 30px;
        overflow: auto;

        &:after { /* Because border-left on the li ignores z-index? */
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30px;
            background-color: #666;
        }

        &:hover {
            background-color: #fffbe9;
            .event-content {
                text-decoration: none;

                h5 {
                    color: #7c6b27;
                }
            }
        }

        .event-content {
            display: block; margin-left: 20px; padding-right: 20px;
        }

        .event-content {
            img {
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                background-color: #666;
                margin: 0 20px 5px 0;
            }

            h5 {/* Room for event time */
                margin-right: 100px;
                margin-bottom: 0;
            }

            .location {
                color: #666;
                font-size: 13px;
                margin-bottom: 5px;
                display: block;
                margin-right: 100px; /* Room for event time */
            }

            .description {
                display: block;
                font-size: 12px;
                line-height: 18px;
            }

            .dtstart {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 15px 0;
                width: 100px;
                background-color: #fff;
                font-size: 20px;
                font-weight: 300;
                text-align: right;
            }
        }

        .category {
            position: absolute;
            left: 0;
            bottom: -20px;
            font-size: 11px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            line-height: 30px;
            z-index: 3;

            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }



    &.event-list-condensed {
        margin: 8px 0 0 0;
        list-style-type: none;
        width: 100%;

        li {
            text-overflow: ellipsis;
            width: 114px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 11px;
            line-height: 23px;

            time {
                font-weight: bold;
            }
        }
    }
}

/* Day, Week View */
#calendar-events-day h2,
#calendar-events-week h2 {
    margin-bottom: 20px;
}

#calendar-events-day h3,
#calendar-events-week h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

/* Month View */
#calendar-events-month h2 {
    margin: 0;
    width: 0;
    height: 0;
    display: block;
    text-indent: -9999px;
}

#calendar-events-month h3 {
    text-align: center;
    font-size: 24.5px;
    line-height: 40px;
}

#month-toggle {
    margin: 15px 0 0 0;
    width: 280px;
    position: relative;
    top: 0;
    left: 0;

    label {
        width: 0;
        height: 0;
        text-indent: -9999px;
    }

    select {
        &#id_year {
            width: 68px;
        }

        &#id_month {
            width: 107px;
        }
    }
}

/* Year View */
#calendar-events-year h2 {
    text-align: center;
}

/**
 * Frontend Single Event
 **/

/* General - Body, Sidebar */
#event-single-sidebar span,
#event-single-sidebar h2 {
    display: block;
    width: 100%;
    margin-top: 0;
}

#event-single h2,
#event-single-sidebar h2,
#event-single .event-single-subheader,
#event-single-sidebar span {
    font-weight: normal;
    font-size: 17.5px;
    line-height: 20px;
}

#event-single h2.alt,
#event-single-sidebar h2.alt {
    width: 50%;
    float: left;
}

#event-single hr,
#event-single-sidebar hr {
    border-width: 3px 0;
}

/* Title icon date */
#page-title-wrap .event-icon-date {
    display: block;
    width: 28px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: -46px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #a8a8a8;
    text-align: center;
}

/* Sidebar */
#event-single-sidebar {
    position: relative;

    .event-single-datetime {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.5px;
        margin-top: 0;
    }

    .event-single-attime {
        margin-bottom: 7px;
        margin-top: 5px;
    }

    .event-single-until,
    .event-single-occurring {
        margin-top: 20px;
    }

    .event-location-title,
    .event-contact-wrap {
        display: block;
        float: left;
        width: 50%;
        clear: right;
    }

    .event-location-title,
    .event-contact-wrap span {
        margin-bottom: 5px;
    }

    .event-location-title,
    .event-contact-name {
        font-weight: bold;
    }

    i {
        color: #8d8d8d;
    }

    .event-location-widget {
        margin-top: 10px; margin-bottom: -10px;
    }

    .event-location-note {
        font-size: 12px; line-height: 16px; margin-top: 20px;
    }
}

/* Body - Meta Information */
#event-meta {
    overflow: hidden;

    > * {
        margin-bottom: 10px;
    }

    h3 {
        display: block;
        float: left;
        width: 30%;
        clear: left;
        font-weight: normal;
        margin-top: 10px;
    }

    .event-meta-calendar,
    .event-meta-category,
    .event-meta-tags {
        display: block;
        float: left;
        width: 70%;
        clear: right;
        font-size: 17.5px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .event-meta-tags a {
        display: block;
        width: auto;
        float: left;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        background: #8d8d8d;
        padding: 4px 10px;
        border-radius: 4px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

/**
 * Create/Update Event
 **/

/* When/Where */
.whenwhere-wrap,
.cloner > div {
    border-radius: 4px 0 4px 4px;
    background: #f9f9f9;
    padding: 10px 20px 20px 20px;
    border: 1px solid #c8c8c8;
    margin-bottom: 5px;
}
.cloneable:only-child .whenwhere-wrap {
    border-radius: 4px;
}

.whenwhere-wrap {
    hr {
        border-color: #c8c8c8 -moz-use-text-color #c8c8c8;
        border-width: 1px 0;
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
    }

    label {
        margin-top: 10px;
    }
}

label[for*="-location-autocomplete"] {
    margin-top: 0;
}

.whenwhere-end,
.whenwhere-until,
.location-selected {
    float: right; margin-right: 10px;
}

.whenwhere-start label,
.whenwhere-end label {
    display: block;
    width: auto;
    float: left;
    margin-right: 4px;
    position: relative;
    z-index: 3;
}

.cloner {
    position: relative;

    &:hover {
        cursor: pointer;

        > div {
            background: #DFF0D8;
            border-color: #62C462;
            color: #2D792D;
        }
    }

    > div {
        padding: 8px 20px;
        border-style: dashed;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
        font-weight: bold;
        color: #646464;
    }

    > a {
        position: absolute;
        top: 0;
        right: -39px;
        border-radius: 0 4px 4px 0;
         padding: 8px 14px;
     }
}

.remove-instance {
    border-radius: 0 4px 4px 0;
    font-size: 18px;
    float: right;
    padding: 8px 14px;
}
.remove-instance:hover ~ div > .whenwhere-wrap,
.remove-instance:focus ~ div > .whenwhere-wrap {
    background-color: #F2DEDE;
    border-color: #EE5F5B;
}

.location-search,
.tag-search {
    position: relative;
}

.location-new-btn {
    position: absolute;
    bottom: 2px;
    right: -16px;
    padding-left: 12px;
    padding-right: 16px;
    border-radius: 4px 20px 20px 4px;
}

.location-suggestions li.selected a,
#id_event-tags-suggestions li.selected a {
    background-color: #3979fc;
    background-image: linear-gradient(to bottom, #4380FC, #2A6FFC);
    color: #fff !important;
}

.location-selected {
    position: relative;
}

.location-selected-remove {
    font-weight: bold;
    font-size: 20px;
    padding: 0 6px 1px 6px;
    position: absolute;
    top: 0;
    right: -16px;
    color: #A8A8A8;
}

.location-selected-remove {
    &:hover {
        text-decoration: none;
    }

    &:hover ~ span,
    &:focus ~ span{
        text-decoration: line-through;
    }
}

.location-selected-title,
.location-selected-room,
.location-selected-url {
    display: block;
    float: left;
    width: 90%;
}

.clone-delete-hiddenfield {
    display: none;
}

/* Tags */
#event-tags-selected li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    border-radius: 20px;
    padding: 2px 12px 2px 28px;
    background: #aaa;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;

    a {
        padding: 0 5px 0 9px;
        border-radius: 20px 0 0 20px;
        color: #fff;
        font-weight: bold;
        margin-right: 6px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        font-size: 14px;
        line-height: 22px;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: #EE5F5B;
        }
    }
}

/**
 * Admin Sections
 **/

/* Category Manager */
.category-color span {
    display: block;
    padding: 0 5px;
    font-weight: bold;
    color: #fff;
}
