{% if widget.is_initial %}
  <div class="custom-image-field-widget mb-2">
    <img class="custom-image-field-preview img-fluid" src="{{ widget.value.url }}" alt="">
    {% if not widget.required %}
      <div class="form-check mt-2">
        <label class="form-check-label" for="{{ widget.checkbox_id }}">
          <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
          Remove image
        </label>
      </div>
    {% endif %}
  </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
