{% extends 'events/frontend/base.html' %}

{% block content_title_icon %}
<i class="icon-calendar-empty" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>
        <a href="{% url event calendar=calendar.slug instance_id=event.id %}">{{ event.event.title }}</a>
    </h1>
    {% if user.is_authenticated %}
    <ul id="calendar-edit-options"><!-- TODO: rewrite to use a class; e.g. 'edit-options' -->
    	{% if event.event.calendar in user.editable_calendars.all %}
    	<li>
    		<a href="{% url event-update event_id=event.event.id %}"><i class="icon-pencil"></i>Edit</a>
    	</li>
    	{% else %}
    	<li>
    		<a href="{% url event-copy event_id=event.event.id %}"><i class="icon-share-alt"></i>Add Event To</a>
    	</li>
    	{% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_body %}
<div class="row">
    <div class="span8 sidebarfix page-content" id="calendar-events-week">

    	<!-- TODO: image here, once we get images going... -->

    	{{ event.event.description|safe }}

    	<hr />

        {% if event.event.has_instances %}<!-- TODO: microformats -->
    	<h2>Full Schedule</h2>
    	<table class="table table-striped">
    		<thead>
    			<tr>
	    			<th>Date</th>
	    			<th>Location</th>
	    		</tr>
    		</thead>
    		<tbody>
    			{% for instance in event.event.event_instances.all %}
    			<tr>
    				<td>{{ instance.start|date:"F j" }}</td>
    				<td>
    					<a href="{{ instance.location.url }}" target="_blank">
    						{{ instance.location.title }}: {{ instance.location.room }}
    					</a>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>

    	<hr />
        {% endif %}
        
    	<div class="well" id="event-meta">
    		<h3>Event Type</h3>
    		<a href="{% url category category=event.event.category.slug %}">{{ event.event.category.title }}</a>
    		<h3>Tags</h3>
    		{% for tag in event.event.tags.all %}
    		<a href="{% url tag tag=tag.slug %}">{{ tag }}</a>
    		{% endfor %}
    		<h3>Calendar</h3>
    		<a href="{% url calendar calendar=event.event.calendar.slug %}">{{ event.event.calendar.title }}</a>
    	</div>

    </div>
    <aside class="span4 page-sidebar" id="calendar-events-sidebar">
    	<h2>Starting on</h2>
    	<span>{{ event.start|date:"l, F j" }}</span>
    	<span class="">at</span>
    	<span>{{ event.start|date:"P" }}</span>

    	<h2>Social Stuff Here...</h2>

        <h2>Located At Here...</h2>

        <h2>Contact Info Here...</h2>
    </aside>
</div>
{% endblock %}
