{% extends 'events/frontend/base.html' %}
{% load bleach_tags %}
{% load widgets %}
{% load core_tags %}

{% block meta_alt_title %}'{{ event_instance.title }}' {{ block.super }}{% endblock %}

{% block content_section_classes %}
vevent
{% endblock %}

{% block content_title %}
    <h1>
        <a class="summary url" href="{% url 'event' pk=event_instance.pk slug=event_instance.event.slug %}">{% if event_instance.event.canceled %}CANCELED: {% endif %}{{ event_instance.event.title }}</a>
    </h1>

    <ul class="edit-options">
        <li class="hide" id="event-edit">
            <a href="{% url 'event-update' pk=event_instance.event.pk %}"><i class="fa fa-pencil"></i>Edit</a>
        </li>
        <li>
            <a class="object-modify hide" id="event-subscription" href="{% url 'event-copy' pk=event_instance.event.pk %}"><i class="fa fa-share"></i>Add Event To</a>
        </li>
    </ul>
{% endblock %}

{% block content_subheader %}
    <div class="row">
        <div class="col-md-12" id="page-subtitle-event-date">
            <span class="event-single-date">
                {{ event_instance.start|date:"l," }} {{ event_instance.start|date:"F j" }}
                <span class="dtstart"><span class="value-title" title="{{ event_instance.start|date:"c" }}"></span></span>
            </span>
            {% if event_instance.start|date:"H:i" != "00:00" %}
            <span class="event-single-time">{{ event_instance.start|date:"P" }}</span>
            {% endif %}

            {% comment %}
            "Until" Phrasing logic:
            "all day": if start date/time and end date/time are the same, or if the start date and end date are the same,
                but the start time is "00:00" and the end time is "23:59"
            "until [time]": if start and end date are the same, but times differ (and are not "all day")
            "until [day]": if event spans multiple days, consuming the entirety of each day
            "until [day] at [time]": if event spans multiple days, ending at some point before midnight of the last day
            {% endcomment %}

            <span class="event-single-subheader event-single-time event-single-until">
                {% if event_instance.start == event_instance.end %}<!-- TODO: remove this in favor of the more specific 'same day' check -->
                All Day
                {% elif event_instance.start|date:"omd" == event_instance.end|date:"omd" and event_instance.start|date:"H:i" == "00:00" and event_instance.end|date:"H:i" == "23:59" %}
                All Day
                {% elif event_instance.start|date:"omd" == event_instance.end|date:"omd" and event_instance.start|date:"H:i" != event_instance.end|date:"H:i" %}
                to {{ event_instance.end|date:"P" }}
                {% else %}
                to {{ event_instance.end|date:"l, F j" }}
                    {% if event_instance.end|date:"H:i" != "00:00" and event_instance.end|date:"H:i" != "23:59" %}
                    at {{ event_instance.end|date:"P" }}
                    {% endif %}
                {% endif %}
               <span class="dtend"><span class="value-title" title="{{ event_instance.end|date:"c" }}"></span></span>
            </span>
        </div>
    </div>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-8 sidebarfix page-content" id="event-single">
        <div class="event-content">
    	   {{ event_instance.event.description|bleach }}
        </div>

        {% if event_instance.event.has_instances %}
        <h3 class="h4 event-single-schedule-header">
            Event runs on multiple dates <span class="alt">(select event date for details)</span>
        </h3>

    	<div class="event-single-schedule">
    	   <table class="table table-hover table-clickable">
                <thead class="sr-only">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in event_instance.event.event_instances.all %}
                    <tr {% if instance.pk == event_instance.pk %}class="info"{% endif %}>
                        <td>
                            <a class="row-link" href="{% url 'event' pk=instance.pk slug=event_instance.event.slug %}">{{ instance.start|date:"F j, Y, P" }}</a>
                        </td>
                        <td>
                            {{ instance.location.title }}{% if instance.location.room %}: {{ instance.location.room }}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    	</div>
        {% endif %}

        {% if event_instance.location.get_map_widget_url %}
        <div id="event-location-map" class="map-widget-wrap">
            <iframe class="map-widget" frameborder="0" src="{{ event_instance.location.get_map_widget_url }}"></iframe>
        </div>
        {% endif %}

    	<dl id="event-meta" class="dl-horizontal">
            <dt><h3 class="h4 alt">Calendar:</h3></dt>
            <dd class="event-meta-calendar">
                <a href="{% url 'calendar' pk=event_instance.event.calendar.pk slug=event_instance.event.calendar.slug %}">{{ event_instance.event.calendar.title }}</a>
            </dd>

            <dt><h3 class="h4 alt">Category:</h3></dt>
            <dd class="event-meta-category category-text {{ event_instance.event.category.slug }}">
        		<a href="{% url 'category' category_pk=event_instance.event.category.pk category=event_instance.event.category.slug %}">{{ event_instance.event.category.title }}</a>
            </dd>
            <dt><h3 class="h4 alt">Tags:</h3></dt>
            <dd class="event-meta-tags">
    	        {% for tag in event_instance.event.tags.all %}
                <a class="label label-default" href="{% url 'tag' tag_pk=tag.pk tag=tag.slug %}">{{ tag }}</a>
                {% endfor %}
            </dd>
    	</dl>
    </div>
    <aside class="col-md-4 page-sidebar" id="event-single-sidebar">
        <div class="location vcard">
            <h2 class="h4 alt">Location:</h2>
            <span class="h2 alt event-location-title fn org">
                {{ event_instance.location.title }}{% if event_instance.event.has_instances %}*{% endif %}
            </span>

            {% if not event_instance.location.get_map_widget_url %}
                {% if event_instance.location.url %}
                <span class="event-location-url url">
                    <a target="_blank" href="{{ event_instance.location.url }}">[ View Website ]</a>
                </span>
                {% endif %}
            {% else %}
            <span class="event-location-url">
                <a href="#event-location-map">[ View Map ]</a>
            </span>
            {% endif %}

            {% if event_instance.event.has_instances %}
            <p class="small event-location-note">
                *This event occurs on multiple dates/times. This event takes place at this location on this date.
            </p>
            {% endif %}
        </div>

        <hr />

        <div class="event-contact{% if event_instance.event.contact_name %} vcard{% endif %}">
            <h2 class="h4 alt">Contact:</h2>
            <div class="event-contact-info">
                {% if not event_instance.event.contact_name and event_instance.event.contact_phone and event_instance.event.contact_email %}
                    <em>No contact information available.</em>
                {% else %}
                    {% if event_instance.event.contact_name %}
                    <span class="h4 event-contact-name fn">{{ event_instance.event.contact_name }}</span>
                    {% endif %}
                    {% if event_instance.event.contact_phone %}
                    <span class="h4 alt event-contact-phone tel"><a href="tel:{{ event_instance.event.contact_phone }}">{{ event_instance.event.contact_phone }}</a></span>
                    {% endif %}
                    {% if event_instance.event.contact_email %}
                    <span class="h4 alt event-contact-email email"><a href="mailto:{{ event_instance.event.contact_email }}">{{ event_instance.event.contact_email }}</a></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <hr />

        {% social_btns url=request.build_absolute_uri page_title=event_instance.event.title %}

        <h2 class="h4 alt pull-left">Feeds:</h2>
        {% feed_btns url=request.build_absolute_uri %}
    </aside>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
// Show edit button only for editors
var user_calendars = [{% include_esi_template "esi/user-calendar-ids.html" %}];
if(user_calendars.length && user_calendars.indexOf({{ event_instance.event.calendar.pk }}) > -1) {
    $('#event-edit').show();
}

// Show subscription button if user has calendars and the event isn't on their only calendar or
// if the event is on their calendar and they have more than that one calendar to make a subscription too.
if(user_calendars.length && (user_calendars.indexOf({{ event_instance.event.calendar.pk }}) < 0 ||
                             (user_calendars.indexOf({{ event_instance.event.calendar.pk }}) > -1 && user_calendars.length > 1 ))) {
    $('#event-subscription').show();
}
</script>
{% endblock %}
