{% extends 'base.html' %}

{% block content %}
<section id="calendar-base" class="container {% block content_section_classes %}{% endblock %}">
    {% block content_header %}
        <div class="row">
            <div class="span12" id="page-title-wrap">
                {% block content_title_icon %}
                <i class="icon-calendar" id="page-title-icon"></i>
                {% endblock %}
                
                {% block content_title %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block content_subheader %}
        <div class="row">
            <div class="span12">
                <h2 class="page-subtitle">{% block content_subheader_text %}{% endblock %}</h2>
            </div>
        </div>
    {% endblock %}
    {% block content_tabs %}{% endblock %}
    {% block content_body %}{% endblock %}
    {% block content_footer %}{% endblock %}
</section>
{% endblock %}