{% extends 'base.html' %}

{% block meta %}
<link rel="alternate" type="application/rss+xml" title="{% block meta_alt_title %}RSS Feed{% endblock %}" href="{{ request.build_absolute_uri }}{% if request.build_absolute_uri|slice:"-1:"|last != "/" %}/{% endif %}feed.rss" />
{% endblock %}

{% block content %}
<section id="calendar-base" class="container {% block content_section_classes %}{% endblock %}">
    {% block content_header %}
        <div class="row">
            <div class="col-md-12" id="page-title-wrap">
                {% block content_title_icon %}
                <i class="glyphicon glyphicon-calendar" id="page-title-icon"></i>
                {% endblock %}
                
                {% block content_title %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block content_subheader %}
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-subtitle">{% block content_subheader_text %}{% endblock %}</h2>
            </div>
        </div>
    {% endblock %}
    {% block content_tabs %}{% endblock %}
    {% block content_body %}{% endblock %}
    {% block content_footer %}{% endblock %}
</section>
{% endblock %}