{% extends 'full-header-base.html' %}
{% load core_tags %}
{% block meta %}
  {{ block.super }}
  {% if page_obj and page_obj.number > 1 %}
  <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}
{% block content %}
  {% block content_header %}
    <div class="row" id="page-title-wrap">
      {% block content_title %}{% endblock %}
    </div>
  {% endblock %}
  {% block content_subheader %}
    <div class="row">
      <div class="col-12">
        <p class="lead mb-4">{% block content_subheader_text %}{% endblock %}</p>
      </div>
    </div>
  {% endblock %}
  {% block content_tabs %}{% endblock %}
  {% block navbar %}
    {{ block.super }}
  {% endblock %}
  {% block content_body %}{% endblock %}
  {% block content_footer %}{% endblock %}
{% endblock %}

{% block footer_scripts %}
  {{ block.super }}
  <script src="{% static_ver 'js/script-frontend.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
