/*
 * General Styles
 */
#manager-base header {margin-top:35px;}
#manager-base h1 {font-size:225%;float:left;margin-bottom:10px;}
#manager-base h1 > a {text-decoration:none;}
#manager-base h2 {font-size:150%;font-weight:normal;}
.box {background:none;}
#nav {float:right;}
#nav > li { display:inline; font-size:120%; border-left:1px solid #333; }
#nav > li > a { padding-left:7px; text-decoration:none; }
#nav > li > a:hover { text-decoration:underline; }
#nav > li:first-child { border-left:none; padding-right:5px; }
.datepicker { border-color:#FFF; width:140px; }
#messages { margin:0 0 30px 0; padding:0; }
#messages li { list-style-type:none; }
a.serious { color:#CC0000 !important; }
.inlineldapsearch { margin:5px 0; }
.inlineldapsearch .input { clear:both; }
.inlineldapsearch .query { width:240px; }
.inlineldapsearch .choices, .inlineldapsearch .selections { display:block; width:130px; float:left; height:100px; margin-top:5px; }
.inlineldapsearch .actions { margin:10px; padding:0; float:left; text-align:center; }
.inlineldapsearch .actions li { list-style-type:none; }


/*
 * jQuery UI overrides
 */


/*
 * Login Styles 
 */
#login { display:block; border-radius:2px; background: #FFF6D4; border: 1px solid #DAD1AC; }
#login h2 { margin-top:0; }
#login #login-form table { width:100%; }
#login .error { margin:10px 10px 0 10px; }
#login .error > li { list-style-type:none; }
#login .error > li:last-child { margin-bottom:0; }
#login td .error { font-size:80%; text-align:right; background-color:inherit; border:none; font-style:italic; margin:0; padding:0 5px 0 0; }
#login #login-message p { font-size:115%; }

/*
 * Manage Styles 
 */
#event_create { float:left; position:relative; z-index:2; font-size:100%; padding:6px; }
#other_actions { float:left; margin:0; padding:0; z-index:2; position:relative; margin-left:5px; }
#other_actions > li:first-child { position:static; display:block; margin:0; }
#other_actions > li:first-child button { width:145px; text-align:left; }
#other_actions > li:first-child button span { margin-left:35px; }
#other_actions > li { list-style-type:none; position:absolute; display:none; }
#other_actions > li > a { display:block; padding:6px; width:131px; }
#calendars { margin:0; padding:5px 0 0 0; }
#calendars > li { list-style-type:none; padding:5px; border-radius:2px; border-top:1px solid #f7f7f7; margin:5px 0; }
#calendars > li:first-child { border:none; }
#calendars > li:first-child > a:first-child; { padding-left:0; }
#calendars li p { margin:0; }
#calendars li.selected { background-color:#eee; border:none; }
#calendars li > a { font-size:130%; text-decoration:none; padding-left:5px; }
#calendars li > a:hover { text-decoration:underline; }
#calendars li .name { display:block; margin-bottom:10px; }
#calendars li .details { text-align:right; font-size:85%; margin-top:2px; }
#calendars li .links { margin:0; padding:0; }
#calendars li .links li { display:inline; list-style-type:none; margin:0 inherit; padding:0 inherit; border-left: 1px solid #d9d9d9; padding-left:3px; padding-right:3px; }
#calendars li .links li:first-child { border:none; padding-left:0; }
#calendars li .links li > a{ color:#4183C4; font-size:85%; }
#search { display:block; padding-top:10px; padding-bottom:5px; border-bottom: 2px solid #eee; }
#search input[type="text"] { font-size:100%; height:17px; width:201px; }
#search input[type="text"].prefill { color:#999; font-style:italic; }
#event_date { text-align:center; margin-bottom:10px; font-size:110%; }
#event_date .prev { display:inline; float:left; }
#event_date .next { display:inline; float:right; }
#event_date a { text-decoration:none; font-size:65%; position:relative; top:-2px; }
#instances { margin:0; padding:0; border-top:2px solid #EEE; }
#instances > li { list-style-type:none; margin-bottom:5px; padding:10px 0 7px 0; border-bottom:1px solid #eee; }
#instances > li > a { text-decoration:none; }
#instances li .image { }
#instances li .title { font-size:120%; font-weight:bold; margin-bottom:3px; }
#instances li .tags, #instances li .categories { margin:0;padding:0; }
#instances li .tags > li, #instances li .categories > li { list-style-type:none; padding-left:3px; font-style:italic; }
#instances li .tags > li:first-child, #instances li .categories > li:first-child { padding-left:0; }
#instances li .datetime { text-align:right; font-size:115%; }
#instances li .location { text-align:right; }
#instances li .state { text-align:right; margin-top:.75em; float:right; }
#instances li .state > a { font-size:80%; font-weight:bold; }

/*
 * Event Creation / Updating 
 */

.event .error { background:none; border:0; color:black; margin:0; padding:0 0 10px; }
.event .error p { font-size:12px; color:black; }
.event .error h4 { color:#a31218; font-weight:bold; margin:0; padding:0 0 4px 38px; background:url('../img/red-x.png') 0 6px no-repeat; line-height:14px; font-size:14px; }
.event .error h4 strong { font-size:22px; line-height:26px; }

.event input { border:1px dotted #DEDEDE; font-size:42px; font-weight:bold; padding:0 3px; outline:0; color:black; outline:none; }
.event select { outline:none;}
.event select option { outline:none; border:0; }
.event select:focus option { outline:none; border:0; }
.event .col1 > input[type=text] { width:624px; margin-bottom:25px; }
.msie .event input { height:48px; font-size:42px; }

.event .hasPlaceholder { color:#A2A2A2; }
.event input:placeholder { color:#A2A2A2; }
.event input:-moz-placeholder { color:#A2A2A2; }
.event input::-webkit-input-placeholder { color:#A2A2A2; }
.event input:hover, 
.event select:hover { border:1px solid #b4b4b4; box-shadow: inset 5px 5px 5px -1px rgba(0, 0, 0, .15), inset -2px -2px 2px 0px rgba(0, 0, 0, .05); }
.event input:focus, 
.event select:focus { border:1px solid #466bc9; box-shadow: inset 5px 5px 5px -1px rgba(70, 107, 201, .25), inset -2px -2px 2px 0px rgba(70, 107, 201, .08); outline:none; }
.msie .event input, .msie .event select { background:url('../img/ie-input-bg.png') -500px -500px no-repeat; }
.msie .event input:hover, 
.msie .event select:hover {  background-position:0 -100px; }
.msie .event input:focus, 
.msie .event select:focus {  background-position:0 0; }

.event input.error { border-color:#cc484a; box-shadow: inset 5px 5px 5px -1px rgba(204, 72, 74, .2), inset -2px -2px 2px 0px rgba(204, 72, 74, .05); background:white; color:black; }
.event input.error::-webkit-input-placeholder { color:black; }

.event .col2 { font-size:13px; color:#787878; }
.event .col2 h3 { font-size:15px; font-weight:100; color:#567190; position:relative; margin:0; padding:5px 0; }
.event .col2 h3 span { position:absolute; right:0; font-family:arial; font-size:12px; position:absolute; }
.event .col2 h3 span:before { content:"*"; color:#718CAF; font-size:30px; display:block; height:3px; width:4px; position:absolute; top:-2px;; left:-14px;; }
.event .col2 h3 span.check { overflow:hidden; text-indent:-5000px; background:url('../img/green-check.png') top right no-repeat; padding:0 10px 10px; }

.when-where { position:relative; background:#fcfcfc; border:1px solid #e8e8e8; border-radius: 3px; padding:15px 0 10px 110px; margin-bottom:10px; }
.when-where label { font-weight:600; text-transform:uppercase; font-size:22px; color:#888;  }
.when-where input { height:36px; margin-bottom:6px; font-size:19px; font-weight:normal; border:1px solid #b4b4b4; }
.when-where select { border:1px solid #b4b4b4; border-radius:2px; }
.when-where .when  { position:absolute; text-align:right; display:block; width:90px; top:22px; left:5px; }
.when-where .date  { width:129px; }
.when-where .time  { text-align:middle; width:108px; margin:0; padding:8px; height:38px; font-size:19px; vertical-align:top; }
.when-where .end   { display:none; }
.when-where .add   { display:inline-block; margin-left:15px; color:#1846bc; text-decoration:none; height:15px; padding-top:15px; vertical-align:top; }
.when-where .where { position:absolute; text-align:right; display:block; width:90px; top:65px; left:5px; }
.when-where .place { width:240px; }
.when-where .rec   { display:block; margin:0; padding:5px 0 0; height:16px; line-height:16px; font-size:14px; text-transform:none; font-weight:normal; font-family:arial; color:#585858;}
.when-where .rec input { height:16px; line-height:14px; font-size:12px; margin:0; padding:0; }
.when-where .remove { background:url('../img/grey-remove.png'); width:10px; height:10px; position:absolute; top:30px; right:4px; }
.when-where .remove:hover { opacity:.7; }
.when-where .street { display:none; height:73px; margin:0; padding:0;  }
.when-where .street input { width:492px; }
.when-where .rm-addr { display:none; top:94px; }
.when-where .summary { display:none; }
.when-where .delete { display:none; position:absolute; top:-8px; right:-8px; height:26px; width:25px; background:url('../img/red-x-round.png'); text-indent:-5000px; overflow:hidden; }
.firefox .when-where .rec input { top:1.5px;  }
.webkit .when-where .rec input { top:4px; }
.msie .when-where input { color:black; font-size:19px; padding:8px 0 0 0; padding-left:5px; height:28px; }
.msie .when-where .rec { padding-bottom:5px; }
.msie .when-where .rec input { background:none; height:16px; line-height:14px; font-size:12px; margin:0 0 0 2px; padding:0; top:5px; border:0;}
.msie .when-where .rec input:hover { background:none;}
.msie7 .when-where { zoom:1; }
.msie7 .when-where .time { font-size:26px; margin-top:2px; }
.msie7 .when-where .rec { vertical-align:top; font-weight:normal; }
.msie7 .when-where .rec input { font-size:2px; }
.msie7 .when-where label { font-weight:bold; }
#when-where-add { text-align:right; padding:0 10px 10px; }
#when-where-add a {  text-decoration:none; color:#1846bc; font-weight:bold; }
#repeat-dialog { width:475px; padding:15px 15px 0; display:none; }
#repeat-dialog table { margin:0; }
#repeat-dialog td { padding-bottom:10px;}
#repeat-dialog th { vertical-align:top; padding:6px 15px 0 0; width:80px; text-align:right; font-weight:bold; }
#repeat-dialog td input { width:150px; height:28px; padding:3px 10px 0; margin:0; font-size:15px; font-weight:bold; }
.ui-dialog .ui-dialog-buttonpane button.clear-all {float:left; margin-right:190px;}
#week-days { padding:3px 0 2px; }
#week-days .ui-button { font-size:12px; }
#repeat-summary { height:20px; padding:4px 0; font-size:16px;}



#event-old { padding-top:30px; border-top:1px dotted #666; margin-top:50px; }
#event-old #details { }
#event-old #details label { display:block; margin:5px 0; }
#event-old #details #create_tag { float:right; display:block; margin-top:2px; }
#event-old #details select { width:100%; }
#id_event-title { width:97%; margin:0; margin-bottom:10px; }
#id_event-description { width:97%; height:80px; margin-bottom:15px; }
#event-old #details button { display:block; width:100%; margin-top:10px; }
#event-old #instances { margin:0; padding:0; }
#event-old #instances > li { list-style-type:none; }
#event-old #instances label { display:block; margin-top:10px; }
#event-old #instances .recur input { width:50px; }
#event-old #instances .recur select { width:205px; }
#event-old #instances .location select { width:270px; }
#event-old #instances label { font-weight:normal; }
#event-old #instances .start label, #event-old #instances .end label { display:block; }

/* 
 * Tag and Category Management 
 */
#manage-tags, #manage-categories { margin-top:10px; }
#manage-tags th, #manage-categories th { background-color:#eee; padding:5px; font-weight:bold; }
#manage-tags td, #manage-categories td { vertical-align:top; padding:5px; }
#manage-tags td.name, #manage-categories td.name { width:35%; }
#manage-tags td.event_count, #manage-categories td.event_count { width:20%; }
#manage-tags td.actions, #manage-categories td.actions { width:35%; }