{% extends 'events/static/base.html' %}

{% block title %}
Page Not Found
{% endblock %}

{% block content_title_icon %}
<i class="fa fa-question-sign" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>404 - Page Not Found</h1>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-md-9 page-content">
            <p>Sorry, we couldn't find this page.  Maybe try searching?</p>
            <br/>
            <form class="form-search">
                <div class="input-group">
                    <label class="label-hidden" for="global-search">Search events, calendars</label>
                    <input type="text" class="col-md-3 search-query" id="global-search" placeholder="Search events, calendars" />
                    <button type="submit" class="btn">Search <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}