{% extends 'events/static/base.html' %}
{% load humanize %}

{% block content_title %}
    <h1>For Developers</h1>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-md-8 sidebarfix page-content" id="static-help">
            <h2 id="feeds">Feeds</h2>
            
            <h3 id="feeds-overview">Overview</h3>
            <p>
                Feeds are available; where to access them; parameters...
            </p>
            
            <h3 id="feeds-rss">RSS</h3>

            <h3 id="feeds-xml">XML</h3>
            
            <h3 id="feeds-json">JSON</h3>
            
            <h3 id="feeds-ics">ICS (iCal/Outlook)</h3>

            <hr />

            <h2 id="events-widget">Events Widget</h2>
            
            <h3 id="events-widget-overview">Overview</h3>
            <p>
                What is the Events Widget; what does it do...
            </p>
            
            <h3 id="events-widget-requirements">Requirements</h3>
            <p>
                The UCF Events Widget is built as a <a href="http://jquery.com/">jQuery</a> plugin.
                The widget is compatible with jQuery v1.4.2+.
            </p>
            
            <h3 id="events-widget-installation">Installation</h3>
            <p>
                The UCF Events Widget can be <a href="#">downloaded and installed locally</a>, or linked to directly 
                from UCF Events using the code below.
            </p>
            
            <ol>
                <li>
                    In the header, link the javascript and stylesheet:
                    <pre>&lt;!-- jQuery is required --&gt;
&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;!-- Widget Includes --&gt;
&lt;script src="http://events.ucf.edu/tools/script.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;link href="http://events.ucf.edu/tools/style.css" rel="stylesheet" type="text/css"&gt;</pre>
                </li>
                <li>
                    Place where you want the widget to display:
                    <pre>&lt;div class="events"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="http://events.ucf.edu/"&gt;View Calendar&lt;/a&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    $(function(){ $(".events").eventsUCF(); });
&lt;/script&gt;</pre>
                </li>
            </ol>
            
            
            <h3 id="events-widget-options">Available Options</h3>
            <p>
                All properties listed below are optional.
            </p>
            <p>
                Options are attached to the Events Widget using 
                <a href="http://dev.w3.org/html5/spec/Overview.html#custom-data-attribute">data attributes</a>; 
                e.g. <code>&lt;div class="events" data-limit="5" data-calendar-id="7"&gt;...</code>
            </p>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Type</th>
                            <th>Default Value</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>limit</code></td>
                            <td><code>number</code></td>
                            <td><code>4</code></td>
                            <td>How many events should be included in the event list.</td>
                        </tr>
                        <tr>
                            <td><code>calendar-id</code></td>
                            <td><code>number</code></td>
                            <td><code>1</code></td>
                            <td>Chooses which UCF Event Calendar to use.  Defaults to the main calendar.</td>
                        </tr>
                        <tr>
                            <td><code>monthwidget</code></td>
                            <td><code>boolean</code></td>
                            <td><code>false</code></td>
                            <td>Switches plugin to calendar view.  Defaults to list view.</td>
                        </tr>
                        <tr>
                            <td><code>month</code></td>
                            <td><code>number</code></td>
                            <td><code>false</code></td>
                            <td>Chooses specific calendar month to view.</td>
                        </tr>
                        <tr>
                            <td><code>year</code></td>
                            <td><code>number</code></td>
                            <td><code>false</code></td>
                            <td>Chooses specific calendar year to view.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h3 id="events-widget-demos">Demos</h3>
            
            <h4 id="events-widget-demos-list">List Display</h4>
            <div class="row">
                <div class="col-md-3">
                    links to list demos...
                </div>
                <div class="col-md-4">
                    screenshot
                </div>
            </div>
            
            <h4 id="events-widget-demos-calendar">Calendar Display</h4>
            <div class="row">
                <div class="col-md-3">
                    links to calendar display demos...
                </div>
                <div class="col-md-4">
                    screenshot
                </div>
            </div>
        </div>
        <aside class="col-md-4 page-sidebar" id="static-developers-sidebar">
            <nav>
                <strong>Feeds</strong>
                <ul>
                    <li>
                        <a href="#feeds-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#feeds-rss">RSS</a>
                    </li>
                    <li>
                        <a href="#feeds-xml">XML</a>
                    </li>
                    <li>
                        <a href="#feeds-json">JSON</a>
                    </li>
                    <li>
                        <a href="#feeds-ics">ICS (iCal/Outlook)</a>
                    </li>
                </ul>
                <strong>Events Widget</strong>
                <ul>
                    <li>
                        <a href="#events-widget">Overview</a>
                    </li>
                    <li>
                        <a href="#events-widget-requirements">Requirements</a>
                    </li>
                    <li>
                        <a href="#events-widget-installation">Installation</a>
                    </li>
                    <li>
                        <a href="#events-widget-options">Available Options</a>
                    </li>
                    <li>
                        <a href="#events-widget-demos">Demos</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
{% endblock %}