{% extends 'events/static/base.html' %}

{% block title %}Help and Documentation | {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Help &amp; Documentation</h1>
{% endblock %}
    
{% block content_body %}
    <div class="row">
        <div class="col-md-8 sidebarfix page-content" id="static-help">
            <h2 id="about">About the Events System</h2>
            <p>
                <a href="{{ CANONICAL_ROOT }}">{{ CANONICAL_ROOT }}</a> is the online location for listing and promoting UCF events. 
                The UCF events system makes it easy for you to create events listings and share events with the UCF community. Any 
                occurrence that has a start date and specific location can be entered as an event. A carefully constructed title, start 
                date &amp; time, category and location are all required for submitting an event into the system.
            </p>
            <p>
                The intuitive administrative console makes publishing events and calendars on your website simple; or you can recommend 
                an event for publication on the main site. If your website promotes UCF events - including lectures, receptions, speakers, 
                meetings, and shows, the UCF events system can help your users find this information and easily add it to their own 
                calendars. Here’s what you can do with the new UCF events system:
            </p>
            <ul>
                <li>Get a unique events calendar for yourself or your UCF organization</li>
                <li>Add, edit, and manage your upcoming events</li>
                <li>Recommend events for posting on the main UCF web site</li>
                <li>Share events with other organizations on campus</li>
                <li>Display a calendar on your site</li>
            </ul>
            <p>
                As with any IT system at UCF, use of the Events System is governed by the 
                <a href="http://policies.ucf.edu/documents/4-002UseofInformationTechnologiesandResourcesFINAL.pdf">
                    Division of Information Technologies and Resources Use of Information Technology and Resources Policy.
                </a> 
                Please be sure you have reviewed and understand this policy before logging in and entering content in the Events System.
            </p>
            
            <h3 id="event-or-announcement">Events, or Announcements?</h3>

            <h3 id="old-system-changes">Changes from the Old Events System</h3>

            <h3 id="sharing">Sharing and Distribution of Events and Calendars</h3>
            <p>

            </p>

            <hr />

            <h2 id="getting-started">Getting Started</h2>

            <h3 id="first-time-user-setup">First Time User Setup</h3>
            <p>
                To create new events, you'll need to <a href="{% url 'accounts-login' %}">log in</a> to the events system using your NID and 
                NID password.  If you've never used the events system before, using the login form will set up your events system account for you.
            </p>
            <div class="well">
                <p>
                    If you are unsure of what your NID is, you may look it up using the <a href="https://my.ucf.edu/nid.html">NID lookup tool</a>.  
                    If you don't know the password associated with that NID, you may reset it using the 
                    <a href="http://mynid.ucf.edu/">NID password reset tool</a>. You will need your UCF ID card to complete the password reset.
                </p>
                <p>
                    If you have issues with retrieving your NID or resetting your password, please contact the Service Desk at 407-823-5117.
                </p>
            </div>
            <p>
                First time users will be guided through a two-step setup process to confirm user settings and create a first calendar.  Users that
                used the previous version of the events system will have all their events and settings copied over, and will not see this walkthrough
                when they log in.
            </p>
            <p>
                When you've finished the initial setup process, you'll be directed to your Manager View.  If you didn't create a new calendar in the 
                second step, you can either create one here, or request to be added to an existing calendar as an administrator or editor.  Requests
                to be added to a calendar should be handled outside of the events system; contact the owner or an administrator of the calendar directly
                so that they can add you.
            </p>

            <h3 id="create-new-calendar">Create a New Calendar</h3>
            <p>
                Like the previous events system, all users require a calendar to be able to post events.  In the new events system, however, calendars
                are not directly tied to your NIDs, so you can have more than one calendar, or be an administrator or editor of another calendar that
                doesn't belong to you.
            </p>
            <p>
                If you're a first time user, the second step of the first login process will ask you to create a new calendar.  You can create your first
                calendar during this step, or click <strong>My Calendars > Create New Calendar</strong> in the admin navbar later.
            </p>
            <p>
                Calendars require a title; you can also add an optional description to tell users about the types of events on your calendar.
            </p>

            <h3 id="create-new-event">Create a New Event</h3>
            <p>
                If you are added to or own at least one calendar, you can create a new event.  Click the blue <strong>Create Event</strong> button in the
                admin navbar to get started.
            </p>

            <h4>Calendar</h4>
            <p>
                Select the calendar you want to post the event to.  Events must be posted to an existing calendar before they can be added to the Main Calendar.
            </p>
            <p>
                To recommend this event for Main Calendar approval, check the checkbox next to the Calendar select dropdown.
            </p>

            <h4>Title</h4>
            <p>
                Your event title should be unique, concise, and immediately recognizable to your audience.  Keep it simple.
            </p>

            <h4>Status</h4>
            <p>
                Before saving your event, you can determine whether or not the event will display on your front-facing calendar immediately.  To immediately
                publish it, select "posted"; to save the event without making it publically available in event listings, select "pending".
            </p>
            <p>
                For more information, see the help section on <a href="#event-statuses">Event Statuses</a>.
            </p>

            <h4>Description</h4>
            <p>
                
            </p>

            <hr />
            
            <h2 id="calendar-management">Managing Your Calendars</h2>
            
            <h3 id="manager-view-basics">Manager View Basics</h3>

            <h3 id="calendar-settings">Calendar Settings and User Management</h3>
            
            <h3 id="subscribe-to-another-calendar">Subscribe to Another Calendar</h3>
            
            <hr />
            
            <h2 id="event-information">Event Information</h2>

            <h3 id="event-creation-guidelines">Event Creation Guidelines</h3>
            
            <h3 id="posting-an-event-on-the-main-calendar">Posting an Event on the Main Calendar</h3>

            <h3 id="copy-an-event">Copy an Event</h3>
            
            <h3 id="recurring-events">Recurring Events</h3>
            
            <h3 id="event-statuses">Event Statuses</h3>

            <hr />
            
            <h2 id="for-developers">For Developers</h2>

            <h3 id="feeds">Feeds</h3>
            <p>
                Similar to the previous events system, consumable feeds are available for grabbing and displaying events on your own
                website.  Feeds are available in JSON, RSS, XML, and ICS (iCal, Microsoft Outlook) formats.
            </p>
            <p>
                All front-facing views (excluding the Year View) offer a feed of all the events data currently in that view.  Feeds
                follow similar data structures to those previously available in the old events system; if your site is already consuming
                a feed from the old events system, you shouldn't need to make any changes to your code for the new system.
            </p>
            <p>
                Listed below are all available feed locations. All calendar-based views listed below assume you're trying to fetch events
                on a specific calendar.  To fetch events on the Main Calendar, remove the <code>/calendar/[calendar_id]/[calendar_slug]/</code>
                portion of the example URLs.
            </p>

            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>URL Example</th>
                            <th>Arguments</th>
                            <th>URL Parameter Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Today's Events (default view)<br/>
                                <p><small>
                                    A list of all event instances happening on the current day on the given calendar.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that occur
                                    within the current day, but don't necessarily start or end on that day, and wouldn't otherwise
                                    appear in the feed.
                                </small></p>
                            </td>
                            <td>
                                <code>{% url 'calendar' pk=1234 slug='my-calendar-slug' %}feed.json</code>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Events This Week<br/>
                                <p><small>
                                    A list of all event instances happening on the current week on the given calendar. The
                                    list always runs from Sunday through Saturday.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that fall
                                    within the current week, cloned with modified start/end datetimes for each day they occur on.
                                </small></p>
                            </td>
                            <td><code>{% url 'named-listing' pk=1234 slug='my-calendar-slug' type='this-week' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Events This Month<br/>
                                <p><small>
                                    A list of all event instances happening on the current month on the given calendar.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that fall
                                    within the current month, cloned with modified start/end datetimes for each day they occur on.
                                </small></p>
                            </td>
                            <td><code>{% url 'named-listing' pk=1234 slug='my-calendar-slug' type='this-month' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Upcoming Events<br/>
                                <p><small>
                                    A list (max 25) of events occurring soon on the given calendar.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return upcoming events, cloned with modified
                                    start/end datetimes for each day they occur on.
                                </small></p>
                            </td>
                            <td><code>{% url 'named-listing' pk=1234 slug='my-calendar-slug' type='upcoming' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Events by Day<br/>
                                <p><small>
                                    A list of all events occurring on a specific day on the given calendar.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that occur
                                    within the given day, but don't necessarily start or end on that day, and wouldn't otherwise
                                    appear in the feed.
                                </small></p>
                            </td>
                            <td><code>{% url 'day-listing' pk=1234 slug='my-calendar-slug' year=2014 month=3 day=28 %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                    <li>
                                        <code>year</code><br/>
                                        <small>Example value: <em>2014</em></small>
                                    </li>
                                    <li>
                                        <code>month</code><br/>
                                        <small>Example value: <em>3</em></small>
                                    </li>
                                    <li>
                                        <code>day</code><br/>
                                        <small>Example value: <em>28</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Events on Week of [day]<br/>
                                <p><small>
                                    A list of all events happening on a week determined by the specified day. A weeks' worth of events from the
                                    Sunday of the week through Saturday are returned, regardless of the day of the week of the specified day.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that fall
                                    within the given week, cloned with modified start/end datetimes for each day they occur on.
                                </small></p>
                            </td>
                            <td><code>{% url 'week-listing' pk=1234 slug='my-calendar-slug' year=2014 month=3 day=28 %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                    <li>
                                        <code>year</code><br/>
                                        <small>Example value: <em>2014</em></small>
                                    </li>
                                    <li>
                                        <code>month</code><br/>
                                        <small>Example value: <em>3</em></small>
                                    </li>
                                    <li>
                                        <code>day</code><br/>
                                        <small>Example value: <em>28</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Events by Month<br/>
                                <p><small>
                                    A list of all events happening on the specified month.
                                </small></p>
                                <p><small>
                                    Use the <code>mapped_events</code> URL param to return all event instances that fall
                                    within the given month, cloned with modified start/end datetimes for each day they occur on.
                                </small></p>
                            </td>
                            <td><code>{% url 'month-listing' pk=1234 slug='my-calendar-slug' year=2014 month=3 %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                    <li>
                                        <code>year</code><br/>
                                        <small>Example value: <em>2014</em></small>
                                    </li>
                                    <li>
                                        <code>month</code><br/>
                                        <small>Example value: <em>3</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>mapped_events</code><br/>
                                        <small>Default: <em>false</em></small>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Events by Category</td>
                            <td><code>{% url 'category-by-calendar' pk=1234 slug='my-calendar-slug' category_pk=2 category='category-slug' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                    <li>
                                        <code>category_id</code><br/>
                                        <small>Example value: <em>2</em></small>
                                    </li>
                                    <li>
                                        <code>category_slug</code><br/>
                                        <small>Example value: <em>category-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                n/a
                            </td>
                        </tr>
                        <tr>
                            <td>Events by Tag</td>
                            <td><code>{% url 'tag-by-calendar' pk=1234 slug='my-calendar-slug' tag_pk=2 tag='tag-slug' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>calendar_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>calendar_slug</code><br/>
                                        <small>Example value: <em>my-calendar-slug</em></small>
                                    </li>
                                    <li>
                                        <code>tag_id</code><br/>
                                        <small>Example value: <em>2</em></small>
                                    </li>
                                    <li>
                                        <code>tag_slug</code><br/>
                                        <small>Example value: <em>tag-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                n/a
                            </td>
                        </tr>
                        <tr>
                            <td>Single Event Profile</td>
                            <td><code>{% url 'event' pk=1234 slug='my-event-slug' %}feed.json</code></td>
                            <td>
                                <ul class="table-list">
                                    <li>
                                        <code>event_id</code><br/>
                                        <small>Example value: <em>1234</em></small>
                                    </li>
                                    <li>
                                        <code>event_slug</code><br/>
                                        <small>Example value: <em>my-event-slug</em></small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                n/a
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="alert alert-warning">
                <strong>Note:</strong> Feeds can also be accessed from any view by using the <code>?format=FORMAT</code> URL parameter, but this is
                strictly for backward compatibility with the old events system and may be deprecated at any time.  We strongly recommend using
                the methods listed above for accessing feed data.
            </div>

            <h3 id="events-widget">Events Widget</h3>
            <div class="alert alert-danger">
                <strong>Heads up!</strong> The events widget is legacy code offered strictly for backward compatibility with the old events
                system's events widget.  It may be deprecated at any time.  We strongly recommend using <a href="#feeds">feeds</a> for consuming
                data instead.
            </div>

            <h4>Requirements</h4>
            <p>
                The UCF Events Widget is built as a jQuery plugin, compatible with jQuery v1.4.2+.
            </p>

            <h4>Installation</h4>
            <p>
                Copy and paste the markup below into your site's code:
            </p>
            <ol>
                <li>
                    In the header, link the javascript and stylesheet:
                    <pre>&lt;!-- jQuery is required --&gt;
&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;!-- Widget Includes --&gt;
&lt;script src="http://events.ucf.edu/tools/script.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;link href="http://events.ucf.edu/tools/style.css" rel="stylesheet" type="text/css"&gt;</pre>
                </li>
                <li>
                    Place where you want the widget to display:
                    <pre>&lt;div class="events"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="http://events.ucf.edu/"&gt;View Calendar&lt;/a&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    $(function(){ $(".events").eventsUCF(); });
&lt;/script&gt;</pre>
                </li>
            </ol>

            <h4>Available Options</h4>
            <p>
                All properties listed below are optional.
            </p>
            <p>
                Options are attached to the Events Widget using data attributes; 
                e.g. <code>&lt;div class="events" data-limit="5" data-calendar-id="7"&gt;...</code>
            </p>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Type</th>
                            <th>Default Value</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>limit</code></td>
                            <td><code>number</code></td>
                            <td><code>4</code></td>
                            <td>How many events should be included in the event list.</td>
                        </tr>
                        <tr>
                            <td><code>calendar-id</code></td>
                            <td><code>number</code></td>
                            <td><code>1</code></td>
                            <td>Chooses which UCF Event Calendar to use.  Defaults to the Main Calendar.</td>
                        </tr>
                        <tr>
                            <td><code>monthwidget</code></td>
                            <td><code>boolean</code></td>
                            <td><code>false</code></td>
                            <td>Switches plugin to calendar view.  Defaults to list view.</td>
                        </tr>
                        <tr>
                            <td><code>month</code></td>
                            <td><code>number</code></td>
                            <td><code>false</code></td>
                            <td>Chooses specific calendar month to view.</td>
                        </tr>
                        <tr>
                            <td><code>year</code></td>
                            <td><code>number</code></td>
                            <td><code>false</code></td>
                            <td>Chooses specific calendar year to view.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4>Demos</h4>
            <div class="row">
                <div class="col-md-3">
                    <h5>List View</h5>
                    <a class="btn btn-primary" href="{% url 'home' %}tools/demo-list.html">View Live Demo</a><br/><br/>
                </div>
                <div class="col-md-9">
                    <a href="{% url 'home' %}tools/demo-list.html">
                        <img class="img-responsive img-thumbnail" src="{{ STATIC_URL }}img/help-screenshots/event-widget-list.png" alt="List widget screenshot" title="List widget screenshot" />
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <h5>Calendar View</h5>
                    <a class="btn btn-primary" href="{% url 'home' %}tools/demo-calendar.html">View Live Demo</a><br/><br/>
                </div>
                <div class="col-md-9">
                    <a href="{% url 'home' %}tools/demo-calendar.html">
                        <img class="img-responsive img-thumbnail" src="{{ STATIC_URL }}img/help-screenshots/event-widget-calendar.png" alt="Calendar widget screenshot" title="Calendar widget screenshot" />
                    </a>
                </div>
            </div>
        </div>

        <aside class="col-md-4 page-sidebar" id="static-help-sidebar">
            <nav data-spy="affix" data-offset-top="50" data-offset-bottom="200">
                <strong>About the Events System</strong>
                <ul>
                    <li>
                        <a href="#about" class="jump-to">Overview</a>
                    </li>
                    <li>
                        <a href="#event-or-announcement" class="jump-to">Events, or Announcements?</a>
                    </li>
                    <li>
                        <a href="#old-system-changes" class="jump-to">Changes from the Old Events System</a>
                    </li>
                    <li>
                        <a href="#sharing" class="jump-to">Sharing and Distribution of Events and Calendars</a>
                    </li>
                </ul>
                <strong>Getting Started</strong>
                <ul>
                    <li>
                        <a href="#first-time-user-setup" class="jump-to">First Time User Setup</a>
                    </li>
                    <li>
                        <a href="#create-new-calendar" class="jump-to">Create a New Calendar</a>
                    </li>
                    <li>
                        <a href="#create-new-event" class="jump-to">Create a New Event</a>
                    </li>
                </ul>
                <strong>Managing Your Calendars</strong>
                <ul>
                    <li>
                        <a href="#manager-view-basics" class="jump-to">Manager View Basics</a>
                    </li>
                    <li>
                        <a href="#calendar-settings" class="jump-to">Calendar Settings and User Management</a>
                    </li>
                    <li>
                        <a href="#subscribe-to-another-calendar" class="jump-to">Subscribe to Another Calendar</a>
                    </li>
                </ul>
                <strong>Event Information</strong>
                <ul>
                    <li>
                        <a href="#event-creation-guidelines" class="jump-to">Event Creation Guidelines</a>
                    </li>
                    <li>
                        <a href="#posting-an-event-on-the-main-calendar" class="jump-to">Posting an Event on the Main Calendar</a>
                    </li>
                    <li>
                        <a href="#copy-an-event" class="jump-to">Copy an Event</a>
                    </li>
                    <li>
                        <a href="#recurring-events" class="jump-to">Recurring Events</a>
                    </li>
                    <li>
                        <a href="#event-statuses" class="jump-to">Event Statuses</a>
                    </li>
                </ul>
                <strong>For Developers</strong>
                <ul>
                    <li>
                        <a href="#feeds" class="jump-to">Feeds</a>
                    </li>
                    <li>
                        <a href="#events-widget" class="jump-to">Events Widget</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
{% endblock %}
