{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block title %}
    {% spaceless %}
    {{ block.super }}
    |
    {% if object %}
        Update Category
    {% else %}
        Create Category
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title_icon %}
<i class="glyphicon glyphicon-pencil" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    {% if object %}
        <h1>Update Category: <span class="alt">{{ category.title }}</span></h1>
    {% else %}
        <h1>Create a Category</h1>
    {% endif %}
{% endblock %}

{% block content_subheader_text %}
    {% if object %}
        Use the form below to update the category "{{ category.title }}". Events with this category will be updated with these changes.
    {% else %}
        Use the form below to create a new category.
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if object %}
        <form class="form-horizontal" action="{% url 'category-update' pk=category.pk %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form class="form-horizontal" action="{% url 'category-create' %}" method="post" enctype="multipart/form-data">
    {% endif %}
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group large">
                <label class="control-label" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                <div class="controls">
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>
            </div>
            <div class="form-group large">
                <label class="control-label" for="{{ form.url.auto_id }}">{{ form.color.label }}</label>
                <p class="label-desc">A color to represent this category in the front-end interface. Standard hex values are recommended.</p>
                <div class="controls">
                    {{ form.color }}
                    {{ form.color.errors }}
                </div>
            </div>
            <div class="form-group large">
                <div class="controls">
                    {% if object %}
                        <button class="btn btn-primary" type="submit">Update Category</button>
                        <a href="{% url 'category-list' %}" class="btn">Cancel</a>
                    {% else %}
                        <button class="btn btn-primary" type="submit">Create Category</button>
                    {% endif %}
                </div>
            </div>
        </form>
{% endblock %}
