{% extends 'events/manager/modify-object.html' %}
{% load widget_tweaks %}

{% block content_title_icon %}
    <i class="glyphicon glyphicon-trash" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>Delete Category: <span class="alt">{{ category.title }}</span></h1>
{% endblock %}

{% block content_form_action %}
    {# url 'category-delete' pk=category.pk #}
{% endblock %}

{% block content_form_id %}category-delete{% endblock %}

{% block content_form_body %}
    <p>Are you sure you want to delete this category? There is no undo!</p>
{% endblock %}

{% block content_form_footer %}
    <button type="submit" class="btn btn-danger">Delete Category</button>
    <a href="{% url 'category-update' pk=category.pk %}" class="btn" data-dismiss="modal">Cancel</a>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}
