<section class="calendar-widget" data-month="{{this_month.month}}" data-year="{{this_month.year}}">
	<div class="heading">
		<h1 class="month"><a href="{%url month-listing calendar.slug this_month.year this_month.month%}">{{this_month|date:"F Y"}}</a></h1>
		<a class="expand">Expand</a>
	</div>
	<div class="table-wrap">
		<ul class="month-controls">
			<li class="back last-month"><a href="{%url calendar-widget calendar.slug last_month.year last_month.month %}">{{last_month|date:"F"}}</a></li>
			<li class="now"><a href="{%url calendar-widget calendar.slug today.year today.month %}">Today</a></li>
			<li class="forward next-month"><a href="{%url calendar-widget calendar.slug next_month.year next_month.month %}">{{next_month|date:"F"}}</a></li>
		</ul>
		<table>
			<thead>
				<tr>
					<th scope="col">Su</th>
					<th scope="col">M</th>
					<th scope="col">T</th>
					<th scope="col">W</th>
					<th scope="col">Th</th>
					<th scope="col">F</th>
					<th scope="col">S</th>
				</tr>
			</thead>
			<tbody>
				{% for week in weeks %}
				<tr class="week">
					{% for day, events, weight in week %}
					<td class="day {%if weight%}{{weight}}{%endif%}{%if today == day.date%} active{%endif%}{%if day.month != this_month.month%}subtle{%endif%}">
						<ul class="events">
							{%for event in events%}
							<li>
								<span class="title">{{event.title}}</span>
								<span class="starts">{{event.start|date:"fA"|lower}}</span>
							</li>
							{%endfor%}
						</ul>
						<a href="{%url day-listing calendar.slug day.year day.month day.day%}">
						{{day.day}}
						</a>
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>