.location-selected-url {
  word-wrap: break-word;
}

#event-tags-selected {
  .badge-pill {
    align-items: stretch;
    display: flex;
    padding: 0;
  }

  .selected-remove {
    align-items: center;
    border-radius: 10rem 0 0 10rem;
    color: $white;
    display: flex;
    justify-content: center;
    padding: .5rem .25rem .5rem .5rem;

    &:focus,
    &:hover {
      background-color: $brand-danger;
      color: $black;
      text-decoration: none;
    }
  }

  .tag-name {
    align-items: center;
    display: flex;
    line-height: 1.2;
    padding: .35rem .5rem .35rem .25rem;
  }
}

.location-search {
  input {
    padding-right: 4.5rem;
  }

  .autocomplete-new-btn {
    bottom: 0px;
    position: absolute;
    right: 15px;
  }
}

.location-selected {
  .location-selected-remove {
    float: right;
  }
}


#cloner:hover {
  cursor: pointer;

  .card {
    background-color: $state-success-bg;
    border-color: $brand-success;
  }
}
