.header-media {
  min-height: 450px;
}

.header-media-wrap {
  overflow: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .media-background-container {
    height: 500px;
    width: 100%;

    @media (min-width: 575px) {
      height: 500px
    }

    & > picture {
      height: calc(100% + 1px);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(100% + 1px);
      z-index: -1;
    }
  }
}

.header-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  z-index: 2;
  .edit-options {
    .btn {
      margin-bottom: 1rem;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
    }
  }
  @include media-breakpoint-down(sm){
    .dropdown {
      width: 100%;
    }
  }
}

header.single-event {
  @include media-breakpoint-only(xs){
    width: 100%;
  }
}
