<section class="event-list">
	{%if heading%}
	<{{heading_tag|default_if_none:"h1"}} class="heading">{{heading}}</{{heading_tag|default_if_none:"h1"}}>
	{%endif%}
	<ul>
		{%for event in events%}
		<li class="event{%if forloop.first%} first{%endif%} span-15 last">
			<div class="image span-2"><img src="{{MEDIA_URL}}-/img/test-64x64.png" /></div>
			<div class="details span-13 last">
				<div class="heading">
					<div class="title span-10">{{event.title}}</div>
					<div class="start span-3 last">{{event.start|date:"fA"|lower}}</div>
				</div>
				<div class="description span-13 last">{{event.description|truncatewords:16}}</div>
				<div class="buttons span-13 last">
					<a class="primary button" href="#">Social Something</a>
					<a class="button" href="#">Button</a>
				</div>
			</div>
		</li>
		{%endfor%}
	</ul>
</section>