<section class="event-list">
	{%if heading%}
	<{{heading_tag|default_if_none:"h1"}} class="heading">{{heading}}</{{heading_tag|default_if_none:"h1"}}>
	{%endif%}
	<ul>
		{%for event in events%}
		<li class="event{%if forloop.first%} first{%endif%}">
			<div class="image"><img src="{{MEDIA_URL}}-/img/test-64x64.png"></div>
			<div class="heading">
				<div class="title">{{event.title}}</div>
				<div class="start">{{event.start|date:"fA"|lower}}</div>
				<div class="end"><!-- --></div>
			</div>
			<div class="description">{{event.description|truncatewords:16}}</div>
			<ul class="buttons">
				<li><a class="primary button" href="#">Social Something</a></li>
				<li><a class="button" href="#">Button</a></li>
			</ul>
		</li>
		{%endfor%}
	</ul>
</section>