{%extends 'events/calendar/base.html'%}
{%load humanize%}
{%load widgets%}

{%block content_body%}

<div class="event-listing">
	<div id="left-column" class="span-15 append-1">
		{{events|format_event_list}}
		<a class="button" href="#">Load more events</a>
	</div>
	<div id="right-column" class="span-8 last">
		{% calendar_widget calendar%}
		
		{% include "events/calendar/widgets/search.html" %}
		
		<section class="subscribe-widget">
			<h1>Subscribe</h1>
		</section>
	</div>
</div>

{%endblock%}