{%extends 'events/calendar/base.html'%}
{%load humanize%}
{%load widgets%}

{%block content_body%}

<div class="event-listing">
	<div id="left-column" class="span-15 append-1">
		{%if events|length%}
		{{events|format_event_list}}
		{%else%}
		<p>No events found.</p>
		{%endif%}
	</div>
	<div id="right-column" class="span-8 last">
		{% calendar_widget calendar%}
		
		{% include "events/calendar/widgets/search.html" %}
		
		<section class="subscribe-widget">
			<h1>Subscribe</h1>
			<ul class="inline">
				<li class="rss"><a href="./.rss">RSS</a></li>
				<li class="ical"><a href="#">iCal</a></li>
				<li class="gcal"><a href="#">Google Calendar</a></li>
			</ul>
		</section>
	</div>
</div>

{%endblock%}