$calendar-grid-width: 14.285%;

.calendar-grid-labels > span {
  width: $calendar-grid-width;
  font-size: 18px;
  color: #6e6e6e;
  text-align: center;
  font-weight: 300;
  display: block;
  float: left;
  padding: 10px 0;
}
.calendar-grid-labels {
  @include respond-to(xs) { display: none; }
}

.calendar-grid {
  width: 100%;
  list-style-type: none;

  /*
   * Handle toggling a condensed event list when a .calendar-grid li is hovered over.
   * An expander is provided to guide touch device users; it is hidden on hover.
   * Mobile devices (>768px) should display a vertical list of all days with
   * all events displayed by default. Hover states should be disabled here.
   */

  > li {
    width: $calendar-grid-width;
    height: 130px;
    border-top: 0px solid transparent;
    padding: 0;
    float: left;
    border-bottom: 4px solid #fff;
    overflow: hidden;
    position: relative;
    @include respond-to(xs) {
      width: 100%;
      height: auto;
    }

    &:hover,
    &:focus {
      overflow: visible;
    }

    > .event-expander {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      z-index: 3;
      cursor: default;
      text-align: center;
      color: #fff;
      @include respond-to(xs) { display: none; }

      &:hover,
      &:focus {
        display: none;
      }

      > .event-expander-icon {
        display: block;
        border-left: 2px solid #fff; /* Faux padding to emulate sibling div's faux padding */
        border-right: 2px solid #fff;
        background-color: #d4d4d4;
        height: 100%;
        line-height: 20px;
      }
    }

    > div {
      background-color: #f1f1f1;
      height: 126px; /* Fixed height req'd here for background-color */
      overflow: hidden;
      position: relative;
      z-index: 2;
      border-left: 2px solid #fff; /* Faux padding; should match .event-expander-icon's border-left and border-right */
      border-right: 2px solid #fff;
      padding-top: 25px; /* Make room for absolutely positioned .date */
      @include respond-to(xs) {
        height: auto;
        padding-bottom: 5px;
      }

      &:after { /* Add some faux padding btwn the edge of the li and its child div */
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 2px;
        height: 6px;
        background-color: #f1f1f1;
        z-index: 10;
        @include respond-to(xs) { display: none; }
      }

      > ul {
        position: absolute;
        left: 0;
        @include respond-to(xs) {
          position: static;
          box-shadow: 0 0 0 transparent;
        }

        > li {
          padding: 0 8px;
          width: 114px;
          @include respond-to(xs) { width: 100%; }
        }
      }

      > a.date {
        font-size: 20px;
        font-weight: 400;
        color: $gray-light;
        padding: 0 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        @include respond-to(xs) { width: 100%; }

        > span {
          display: none;
        }
      }

      > .holiday {
        font-size: 12px;
        font-weight: 500;
        color: $gray-light;
        display: block;
        line-height: 14px;
        padding: 8px 0 0 8px;
      }
    }

    &:nth-child(7n) div > ul { /* Don't let the 7th day's event list cause a horizontal scrollbar */
      left: auto;
      right: 0;
    }

    &:hover > div,
    & > div:focus {
      width: auto;
      z-index: 10;
      overflow: visible;
      @include respond-to(xs) { overflow: hidden; }

      > a.date {
        color: #000;
      }

      > ul {
        background-color: #fffbe9;
        width: 200px;
        max-height: 200px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        @include scrollbox();
        @include respond-to(xs) {
          background-color: inherit;
          width: 100%;
          box-shadow: 0 0 0 transparent;
        }

        > li {
          width: 184px;
          @include respond-to(xs) { width: 100%; }
        }
      }

      &:after { display: none; }
    }

    &.muted > div {
      background-color: #fff;

      &:after {
        background-color: #fff;
      }

      > a.date {
        color: #e2e2e2;
      }
    }

    &.today {
      > div > a.date {
        text-decoration: underline;
      }
    }
  }
}