.calendar-slider {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;

  .pager {
    margin: 0;
    position: relative;
    z-index: 2;

    li {
      position: absolute;
      top: 22px;
      @include respond-to(sm) { top: 25px; }
      @include respond-to(xs) { top: 4px; }

      &.previous {
        left: 0;
      }

      &.next {
        right: 0;
      }

      i {
        color: $brand-primary;
      }

      & > a,
      & > span {
        padding: 4px 10px;
        @include respond-to(sm) {
          padding: 2px 8px;
        }
      }
    }
  }

  .item {
    h3 {
      text-align: center;
      font-size: 17.5px;
      line-height: 36px;
      font-weight: 500;
      margin-bottom: 0;
      @include respond-to(sm) { font-size: 16px; }
      @include respond-to(xs) { margin-top: 0; }
    }

    .table {
      border-collapse: separate;
      border-spacing: 3px;
      @include respond-to(xs) { margin-bottom: 20px; }

      th,
      td {
        border-top: 0;
        text-align: center;
      }
      th {
        border-bottom: 0;
        font-weight: 500;
        @include respond-to(sm) {
          font-size: 12px;
          padding: 2px;
        }
      }
      td {
        font-size: 12.5px;
        line-height: 18px;
        padding: 0;
        @include respond-to(sm) { font-size: 11.5px; }

        a {
          color: $gray-light;
          display: block;
          margin: auto;
          position: relative;
          z-index: 1;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 32px;
          @include respond-to(sm) {
            width: 28px;
            height: 28px;
            line-height: 28px;
            border-radius: 28px;
          }

          &:hover {
            text-decoration: none;
            background-color: $gray-lighter;
            color: #000;
          }
        }

         

        &.active {
          background-color: #fff;
          
          a {
            color: #fff;
            background-color: #000;

            &:hover {
              color: #000;
              background-color: $gray-lighter;
            }
          }

        }

        &.hasevents a {
          color: #000;
          font-weight: 500;
        }
        &.active.hasevents a {
          color: #fff;

          &:hover {
            color: #000;
          }
        }

        &.muted a {
          color: $gray-lighter;

          &:hover {
            color: $gray-light;
          }
        }

        &.today a {
          text-decoration: underline;
        }
      }
    }
  }
}