/* Forms - General */
form {
  &.form-horizontal {
    margin: 20px 0 30px 0;
  }

  &.form-tabbed,
  &.form-tabbed .tab-content .tab-pane h2 {
    margin-top: 0;
  }
}
.form-horizontal {
  .control-label {
    font-weight: bold;
    @include respond-to(xs) { margin-bottom: 3px; }
  }

  legend.control-label {
    border: 0px solid transparent;
    color: #333;
    margin-bottom: 5px;
    line-height: 20px;
    @include respond-to(xs-sm) { text-align: left; }
  }

  .form-group {
    &.large {
      .control-label-group,
      .control-label {
        font-size: 18px;
      }
    }
    .control-label-group {
      text-align: right;
      @include respond-to(xs-sm) { text-align: left; }
    }
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 3px;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
 @include respond-to(xs-sm) { margin-top: 8px; }
}
.form-group {
  margin-bottom: 20px;
}


/* Textareas */
textarea {
  height: 175px;
}


/* Select fields */
select option {
  padding-top: 3px;
  padding-bottom: 3px;
}


/* Bulk select form elements */
.form-horizontal.bulk-action-form {
  margin-bottom: 20px;
}

label[for="bulk-select"],
.field-bulk-select label {
  @include text-hide();
}

#bulk-select-all,
.field-bulk-select input {
  margin-top: -4px;
}


/* Labels, faux-labels, label descriptions */
.label-inner {
  font-size: 16px;
  color: $gray-light;
  font-weight: 300;

  &.vertical-label-inner {
    margin-top: 10px;
  }
}

.label-desc {
  font-size: 12px;
  line-height: 16px;
  color: $gray-light;
}


/* Help text */
.help-block {
  color: $gray-light;
  font-size: 11px;
  font-style: italic;
  line-height: 1.4em;

  & + .dropdown-menu {
    top: 30px;
  }
}


/* Autocomplete fields */
.autocomplete-new-btn {
  position: absolute;
  bottom: auto;
  top: 0;
  right: 3px;
  padding-left: 12px;
  padding-right: 14px;
  border-radius: 0 20px 20px 0;
  @include respond-to(xs) {
    border-radius: 0 4px 4px 0;
    padding-left: 9px;
    padding-right: 9px;
    right: 15px;
  }
}


/* Date, time fields */
.field-date {
  margin-right: 10px;
  margin-bottom: 8px !important;
}
.field-time {
  margin-right: 0;

  + .input-group-addon {
    display: none;
  }
}

$bootstrap-dtp-border-radius: 4px;

.bootstrap-dtp {
  position: relative;
  clear: both;
  background: #fff;
  border-radius: $bootstrap-dtp-border-radius;

  input {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #ccc;
    z-index: 1;
  }
}
.bootstrap-timepicker {
  input {
    border-radius: $bootstrap-dtp-border-radius;
  }
}

.datepicker {
  padding: 0 10px 5px 10px;

  &:before,
  &:after {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  td {
    &.active,
    &.active:hover,
    span.active {
      background-image: none;
      background-color: $ucf-gold !important;
      text-shadow: 0 0 0 transparent;
      font-weight: bold;
    }
  }

  td,
  th,
  td span {
    border-radius: 0;
  }

  td span {
    height: 40px;
    line-height: 40px;
    width: 38px;
  }
}

.ui-timepicker-wrapper {
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 4px;
}


/* WYSIWYG editors */
ul.wysihtml5-toolbar {
  a[data-wysihtml5-command="bold"],
  a[data-wysihtml5-command="italic"],
  a[data-wysihtml5-command="underline"] {
    font-weight: normal;
  }
}


/* Errors - label, input styles */
label.error,
div.error label,
.form-group.error .control-label,
.form-group.error .help-block,
.form-group.error .help-inline {
  color: $brand-danger;
}

input.error,
textarea.error,
select.error,
div.error input,
div.error textarea,
.form-group.error input,
.form-group.error select,
.form-group.error textarea {
  border: 1px solid $btn-danger-border;
  color: $brand-danger;
}


/* Errors - error lists */
ul.errorlist {
  background: none repeat scroll 0 0 $btn-danger-border;
  border-radius: 4px;
  color: #fff;
  display: block;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  max-width: 220px;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $btn-danger-border;
    position: absolute;
    top: -5px;
    left: 10px;
  }

  li {
    margin-top: 5px;
    text-indent: 0;
    padding-left: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      font-family: "FontAwesome";
      content: "";
      float: left;
      width: 20px;
      margin-left: -20px;
    }
  }
}


/* Object Modify Views (non-modal) */
.modal-footer-content {
  margin-top: 30px;
}