/* Headings */
h1,
.h1 {
    font-size: 40px;
}

h1 .alt,
h1.alt,
.h1.alt,
h3 .alt,
h3.alt,
.h3.alt {
    font-weight: 300;
}

h4 .alt,
h4.alt,
.h4.alt,
h5 .alt,
h5.alt,
.h5.alt,
h6 .alt,
h6.alt,
.h6.alt {
    font-weight: 400;
}

h2,
.h2 {
    letter-spacing: 0;
    font-weight: 300;

    .alt,
    &.alt {
        font-weight: 500;
    }
}

// form a:not([class]),
// .page-content a:not([class]),
// .page-sidebar a:not([class]) {
//     /* Add color to links that don't have a class assigned to them */
//     color: #3566C9;
// }


/* Links */
a {
    &:not(.btn) > i {
        margin-right: 6px;
    }

    &:hover > i {
        text-decoration: none;
    }
}


/* Icons */
i + a:not(.btn) {
    margin-left: 6px;
}


/* Lists */
ul {
    padding-left: 0;
}
ul.bullets,
ul.errors,
#messages ul,
#static-base ul {
    padding-left: 15px;
}


/* Tables */
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    border-top: 2px dotted $table-border-color;
}


/* Horizontal Rules */
hr {
    border-top: 2px dotted $table-border-color;
}