/* Static Pages */
#static-base {
    h3 {
        margin-top: 20px;
    }

    h2 + h3 {
        margin-top: 10px;
    }

    .page-sidebar strong {
        margin-bottom: 5px;
        display: block;
    }
}


/* Search View */
#search form {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Frontend Calendar View - Base */
ul {
    &.event-list {
        margin-bottom: 30px;
        list-style-type: none;
        margin-left: 0;
    }
    &.event-list li {
        background-color: #f1f1f1;
        position: relative;
        margin-bottom: 5px;
        padding: 5px 0 20px 30px;
        overflow: auto;

        &:after { /* Because border-left on the li ignores z-index? */
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30px;
            background-color: #666;
        }

        &:hover {
            background-color: #fffbe9;

            .event-content {
                text-decoration: none;

                h5 {
                    color: #7c6b27;
                }
            }
        }

        .event-content {
            display: block;
            margin-left: 20px;
            padding-right: 20px;

            img {
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                background-color: #666;
                margin: 0 20px 5px 0;
            }

            h5 {/* Room for event time */
                margin-right: 100px;
                margin-bottom: 0;
            }

            .location,
            .calendar {
                color: #666;
                font-size: 13px;
                margin-bottom: 5px;
                display: block;
                margin-right: 100px; /* Room for event time */
            }

            .description {
                display: block;
                font-size: 12px;
                line-height: 18px;
            }

            .dtstart {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 15px 0;
                width: 100px;
                background-color: #fff;
                font-size: 20px;
                font-weight: 300;
                text-align: right;
            }
        }

        .category {
            position: absolute;
            left: 0;
            bottom: -20px;
            font-size: 11px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            line-height: 30px;
            z-index: 3;

            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }

    &.event-list-condensed {
        list-style-type: none;
        width: 100%;
        margin-top: 4px;

        li {
            text-overflow: ellipsis;
            width: 114px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 11px;
            line-height: 23px;

            time {
                font-weight: bold;
            }
        }
    }
}


/* Frontend Calendar View - Day, Week */
#calendar-events-day h2,
#calendar-events-week h2 {
    margin-bottom: 20px;
}

#calendar-events-day h3,
#calendar-events-week h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}


/* Frontend Calendar View - Month */
#calendar-events-month {
    h2 {
        text-align: center;
        font-size: 24.5px;
        line-height: 40px;
    }
    .calendar-large h2 {
        display: none;
    }
}

#month-toggle {
    margin: 15px 0 0 0;
    width: 280px;
    position: relative;
    top: 0;
    left: 0;

    select {
        &#id_year {
            width: 85px;
        }

        &#id_month {
            width: 125px;
        }
    }
}


/* Frontend Calendar View - Year */
#calendar-events-year h2 {
    text-align: center;
}


/* Frontend Events - by Category, Tag, Search Term */
#term-events ul.event-list li .event-content .dtstart {
    background-color: transparent;
    width: 100%;
    position: static;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0 0 0;
}
#term-events ul.event-list li .event-content .location,
#term-events ul.event-list li .event-content .calendar {
    margin-right: 0;
}
#term-events ul.event-list li .event-content .calendar {
    padding-top: 10px;
}


/* Frontend Single Event View */

// Title/Subtitle
#page-subtitle-event-date {
    font-size: 24px;
    line-height: 1.4em;

    .event-single-date {
        font-weight: bold;
        color: #9e0b0f;
        padding-right: 8px;
    }
}


// Body
#event-single,
#event-single-sidebar {
    margin-top: 30px;
}
#event-single {
    .event-content {
        font-size: 18px;
        line-height: 1.3em;
        margin-bottom: 35px;
    }

    .event-single-schedule-header {
        color: $gray-light;
        margin-bottom: 20px;
    }

    .event-single-schedule {
        max-height: 300px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }
}

.map-widget-wrap {
    height: 300px;
    margin-bottom: 20px;
}
.map-widget {
    border: 0;
    width: 100% !important;
    height: 100% !important;
}


// Sidebar
#event-single-sidebar {
    position: relative;

    i {
        color: $gray-light;
    }

    h2:first-child {
        margin: 0 0 5px 0;
    }

    .social {
        margin-bottom: 20px;
    }

    .feeds-list {
        float: left;
        margin-left: 10px;
        margin-top: 3px;
    }
}

.event-location-title {
    margin-top: 0;
}

.event-location-title,
.event-location-url {
    display: block;
}

.event-location-note {
    margin-top: 15px;
}

.event-contact-email,
.event-contact-phone {
    display: block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0 0 0;
    margin: 0;

    &:before {
        content: "•";
        display: block;
        float: left;
        padding-right: 6px;
    }
}



// Event Meta (On Calendar, Category, Tag)
#event-meta {
    dt {
        text-align: left;
    }

    dd > * {
        vertical-align: middle;
    }

    h3 {
        margin: 5px 0;
    }
}

.event-meta-calendar,
.event-meta-category,
.event-meta-tags {
    font-size: 17.5px;
    font-weight: bold;
}

.event-meta-tags {
    line-height: 1.6em;
}
