{% load core_tags %}

<li>
    <a href="{% url 'event' pk=object.pk slug=object.slug %}">
        <time>
            {% if object.start.time and object.end.time %}
                {{ object.start|date:"f a" }}
            {% elif object.start.time|date:"H:i" == "00:00" and object.end|date:"H:i" == "23:59" %}
                All Day
            {% elif object.start.time|date:"H:i" == "00:00" and object.end|date:"H:i" != "23:59" %}
                until {{ object.end|date:"f a" }}
            {% else %}
                All Day
            {% endif %}
        </time>
        {{ object.event.get_title_canceled }}
    </a>
</li>