{% load core_tags %}

{% comment %}
Try to use passed instance_start and instance_end value in context or request.GET
for each instance (which pass mapped start/end datetimes), if available.
Context values are passed in debug mode; GET params are passed when debug is turned off.

Default to the instance's start and end datetime.

Strings are parsed into datetimes with the 'parse_string' filter.
{% endcomment %}

{% with instance_start=instance_start.0|default:object.start instance_end=instance_end.0|default:object.end %}
  {% with instance_start=request.GET.instance_start|default:instance_start|parse_date instance_end=request.GET.instance_end|default:instance_end|parse_date %}
    <li class="event mb-3 mb-md-4 {% include_esi 'category' object.event.category.pk 'slug' %}{% if object.event.canceled %} canceled{% endif %}">
      <h3 class="h5 mb-2">
        <a class="stretched-link" href="{% url 'events.views.event_views.event' pk=object.pk slug=object.slug %}">{{ object.event.get_title_canceled }}</a>
        {% if object.is_recurring %}
        <span class="fa fa-sync-alt pl-1"></span><span class="sr-only">(Recurring Event)</span>
        {% endif %}
      </h3>

      {% include 'events/frontend/instance-start-end.html' with start_date=start_date instance_start=instance_start instance_end=instance_end %}

      <div class="location mb-2">
      {% if object.location.pk %}
      <span class="fa fa-map-marker-alt" aria-hidden="true"></span> {% include_esi 'location' object.location.pk 'comboname' %}
      {% endif %}
      {% if object.location.pk and object.virtual_url %}
      <span class="px-1" aria-hidden="true">|</span><span class="sr-only">and</span>
      {% endif %}
      {% if object.virtual_url %}
      <span class="fa fa-laptop" aria-hidden="true"></span> Virtual
      {% endif %}
      </div>

      <p class="description">
        {{ object.event.description|remove_html|truncatewords:60 }}
      </p>

      {% if not calendar %}
      <span class="calendar">
        <span class="fa fa-calendar-alt" aria-hidden="true"></span> {% include_esi 'calendar' object.event.calendar.pk 'title' %}
      </span>
      {% endif %}
    </li>
    {% endwith %}
{% endwith %}
