{% load core_tags %}

{% comment %}
Try to use passed instance_start and instance_end value in context or request.GET
for each instance (which pass mapped start/end datetimes), if available.
Context values are passed in debug mode; GET params are passed when debug is turned off.

Default to the instance's start and end datetime.

Strings are parsed into datetimes with the 'parse_string' filter.
{% endcomment %}

{% with instance_start=instance_start.0|default:object.start instance_end=instance_end.0|default:object.end %}
    {% with instance_start=request.GET.instance_start|default:instance_start|parse_date instance_end=request.GET.instance_end|default:instance_end|parse_date %}
        <li class="event {% include_esi 'category' object.event.category.pk 'slug' %}{% if object.event.canceled %} canceled{% endif %}">
            <h3 class="event-title">
                <a class="summary" href="{% url 'event' pk=object.pk slug=object.slug %}">{{ object.event.get_title_canceled }}</a>
                {% if object.is_recurring %}
                <i class="fa fa-refresh"></i><span class="sr-only">(Recurring Event)</span>
                {% endif %}
            </h3>

            {% include 'events/frontend/instance-start-end.html' with start_date=start_date instance_start=instance_start instance_end=instance_end %}

            <span class="location h4 alt">{% include_esi 'location' object.location.pk 'comboname' %}</span>
            <p class="description">
                {{ object.event.description|remove_html|truncatewords:60 }}
            </p>
            {% if not calendar %}
            <span class="calendar">
                <i class="fa fa-calendar"></i> {% include_esi 'calendar' object.event.calendar.pk 'title' %}
            </span>
            {% endif %}

            <a class="event-content url" href="{% url 'event' pk=object.pk slug=object.slug %}">
                <span class="sr-only">View Event</span>
            </a>
        </li>
    {% endwith %}
{% endwith %}
