{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}
{% load locations %}

{% block page_header %}
	{% spaceless %}
	{{block.super}}
	|
	{% if mode == 'create' %}
		Create Event
	{% else %}
		{% if mode == 'update' %}
			Update Event
		{% endif %}
	{% endif %}
	{% endspaceless %}
{% endblock %}

{% block header_scripts %}
<script type="text/javascript">
    var eventLocations = {
    {% for location in locations %}"{{ location.comboname }}": { "name": "{{ location.name }}", "room": "{{ location.room }}", "id": "{{ location.id }}", "url": "{{ location.url }}" },{% endfor %}
    };
</script>
{% endblock %}

{% block alerts %}{% endblock %}

{% block content_title_icon %}
<i class="icon-pencil" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    {% if mode == 'create' %}
        <h2>Create an Event</h2>
    {% elif mode == 'update' %}
        <h2>Update Event: <span class="alt">{{ event.title }}</span></h2>
    {% endif %}
{% endblock %}

{% block content_subheader_text %}
    {% if mode == 'create' %}
        Use the form below to create a new one-time or recurring event. Please read the 
        <a target="_blank" href="#">event creation guidelines</a> before creating your event!
    {% elif mode == 'update' %}
        Use the form below to update the event "{{ event.title }}". Calendars subscribed to 
        your event will be updated as well.
    {% endif %}
{% endblock %}

{% block content_body %}
	{% if mode == 'create' %}
		<form class="form-horizontal" action="{% url event-create %}" method="post" enctype="multipart/form-data">
	{% elif mode == 'update' %}
		<form class="form-horizontal" action="{% url event-update event_id=event.id %}" method="post" enctype="multipart/form-data">
	{% endif %}
            <div class="control-group large">
                <label class="control-label" for="{{ event_form.calendar.auto_id }}">{{ event_form.calendar.label }}</label>
                <p class="label-desc">Select an existing calendar to post this event to.</p>
                <div class="controls">
                    {{ event_form.calendar }}
                </div>
            </div>
            <div class="control-group large">
                <label class="control-label" for="{{ event_form.title.auto_id }}">{{ event_form.title.label }}</label>
                <p class="label-desc">
                    Be Brief. Be Bright. Be Done.
                    <br/>
                    (<a target="_blank" href="https://brand.ucf.edu/writing-style-guide/tips-for-writing-copy/">Need some tips?</a>)
                </p>
                <div class="controls">
                    {{ event_form.title|add_class:"span8" }}
                </div>
            </div>
            {% if event.is_re_review %}
            <div class="pull-right">
                <button id="copy_title" class="btn btn-info" data-copy-to="{{ event_form.title.auto_id }}">Copy</button>
            </div>
            <div class="control-group large"><label class="control-label" for="new_title">New Title</label>
                <p class="label-desc">The new title form the originating event</p>
                <div class="controls">
                    <input id="new_title" class="span8" disabled='disabled' type='text' value='{{ event.created_from.title }}' />
                </div>
            </div>
            {% endif %}
            <div class="control-group large">
                <label class="control-label" for="{{ event_form.description.auto_id }}">{{ event_form.description.label }}</label>
                <p class="label-desc">A description for your event.</p>
                <div class="controls">
                    {% render_field event_form.description id=event_form.description.auto_id class="span8 wysiwyg" %}
                </div>
            </div>
            {% if event.is_re_review %}
            <div class="span1 pull-right">
                <button id="copy_description" class="btn btn-info" data-copy-to="{{ event_form.description.auto_id }}">Copy</button>
            </div>
            <div class="control-group large">
                <label class="control-label" for="new_description">New Description</label>
                <p class="label-desc">The new description from the originating event.</p>
                <div class="controls">
                    <textarea id="new_description" class="span8 wysiwyg disabled-wysiwyg" disabled='disabled'>{{ event.created_from.description }}</textarea>
                </div>
            </div>
            {% endif %}
            <div class="control-group large">
                <p class="control-label">When &amp; Where</p>
                <p class="label-desc">When and where your event takes place, and how often it occurs.</p>
                <div class="controls">
                    {% for form in event_instance_formset %}
                    <div class="row cloneable" data-form-prefix="event_instance">
                        {{ form.id }}
                        <a class="btn btn-danger remove-instance hidden" href="#" alt="Remove this instance">&times;</a>
                        <div class="span7">
                            <div class="whenwhere-wrap">
                                <div class="row">
                                    <div class="span3 whenwhere-start">
                                        <label class="label-inner" for="{{ form.start.auto_id }}_0">Start Date</label>
                                        <label class="label-inner" for="{{ form.start.auto_id }}_1">Start Time</label>
                                        {{ form.start }}
                                        <span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                    <div class="span3 whenwhere-end">
                                        <label class="label-inner" for="{{ form.end.auto_id }}_0">End Date</label>
                                        <label class="label-inner" for="{{ form.end.auto_id }}_1">End Time</label>
                                        {{ form.end }}
                                        <span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3 whenwhere-interval">
                                        <label class="label-inner" for="{{ form.interval.auto_id }}">How often does it re-occur?</label>
                                        {{ form.interval }}
                                    </div>
                                    <div class="span3 whenwhere-until">
                                        <label class="label-inner" for="{{ form.until.auto_id }}">Re-occurs until...</label>
                                        {{ form.until|add_class:"field-date" }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="span3 location-search">
                                        <label class="label-inner" for="{{ form.location.auto_id }}">Select a Location</label>
                                        {{ form.location|add_class:"location-dropdown" }}
                                    </div>
                                    <div class="span3 location-selected">
                                        <span class="location-selected-name">
                                            {% if form.location.value %}
                                                {{ locations|locations_name:form.location.value }}
                                            {% endif %}
                                        </span>
                                        <span class="location-selected-room">
                                            {% if form.location.value %}
                                                {{ locations|locations_room:form.location.value }}
                                            {% endif %}
                                        </span>
                                        <span class="location-selected-url">
                                            {% if form.location.value %}
                                            <a target="_blank" href="{{ locations|locations_url:form.location.value }}">
                                                <i class="icon-external-link"></i>{{ locations|locations_url:form.location.value }}
                                            </a>
                                            {% endif %}
                                        </span>
                                        <div class="location-new-form">
                                            <label class="label-inner" for="{{ form.new_location_name.auto_id }}">New Location Name</label>
                                            {{ form.new_location_name }}
                                            
                                            <label class="label-inner" for="{{ form.new_location_room.auto_id }}">New Location Room</label>
                                            {{ form.new_location_room }}
                                            
                                            <label class="label-inner" for="{{ form.new_location_url.auto_id }}">New Location Map URL</label>
                                            {{ form.new_location_url }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="controls">
                    <div class="row">
                        <div class="span7 cloner">
                        </div>
                    </div>
                </div>
            </div>
            {{ event_instance_formset.management_form }}
            <div class="control-group large">
                <p class="control-label">Contact Information</p>
                <p class="label-desc">Let users know how to get in touch with questions about your event.</p>
                <div class="controls">
                    <label class="label-inner" for="{{ event_form.contact_name.auto_id }}">Contact Name</label>
                    {{ event_form.contact_name }}
                    <div class="row">
                        <div class="span4">
                            <label class="label-inner" for="{{ event_form.contact_email.auto_id }}">Email</label>
                            {{ event_form.contact_email }}
                        </div>
                        <div class="span4">
                            <label class="label-inner" for="{{ event_form.contact_phone.auto_id }}">Phone Number</label>
                            {{ event_form.contact_phone }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group large">
                <label class="control-label" for="{{ event_form.submit_to_main.auto_id }}">Submit for Main Calendar Approval</label>
                <p class="label-desc">Request that this event be displayed on UCF's main calendar.</p>
                <div class="controls">
                    {{ event_form.submit_to_main }}
                </div>
            </div>
            <div class="control-group large">
                <div class="controls">
                    {% if mode == 'create' %}
                        <button class="btn btn-primary" type="submit">Create Event</button>
                    {% elif mode == 'update' %}
                        <button class="btn btn-primary" type="submit">Update Event</button>
                        <a href="{% url dashboard %}" class="btn">Cancel</a> <!-- TODO: make this a back link? -->
                    {% endif %}    
                </div>
            </div>
        </form>
{% endblock %}