{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}
{% load locations %}

{% block title %}
	{% spaceless %}
	{% if object %}
        Update Event
	{% else %}
        Create Event
	{% endif %}
    | {{ block.super }}
	{% endspaceless %}
{% endblock %}

{% block header_scripts %}
<script type="text/javascript">
    var eventLocations = {
    {% for location in locations %}"{{ location.pk|escapejs }}": { "title": "{{ location.title|escapejs }}", "comboname": "{{ location.comboname|escapejs }}", "room": "{{ location.room|escapejs }}", "url": "{{ location.url|escapejs }}" }{% if not forloop.last %},{% endif %}
    {% endfor %}
    };
    var eventTags = [
    {% for tag in tags %}"{{ tag.name|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}
    ];
</script>
{% endblock %}

{% block alerts %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert-danger">
                    <strong>Error: </strong>
                    {{form.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if object %}
        <h1 class="col-md-12" tabindex="0">Update Event: <span class="alt">{{ event.title }}</span></h1>
    {% else %}
        <h1 class="col-md-12" tabindex="0">Create an Event</h1>
    {% endif %}
{% endblock %}

{% block content_subheader_text %}
    {% if object %}
        Use the form below to update this event. Calendars subscribed to
        your event will be updated as well.
    {% else %}
        Use the form below to create a new one-time or recurring event. Please read the
        <a target="_blank" href="{% url 'help' %}#event-creation-guidelines">event creation guidelines</a> before creating your event!
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if object %}
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {% with created_from=event.created_from user_calendars=request.user.calendars %}
                        {% if not created_from and event.calendar in user_calendars and event.state == posted_state or created_from and created_from.calendar in user_calendars and created_from.state == posted_state or request.user.is_superuser %}
                            <a class="btn btn-warning event-update-cancel" href="{% url 'event-cancel-uncancel' pk=event.pk %}">
                                <i class="fa fa-ban"></i>
                            {% if event.canceled %}
                                Un-Cancel Event
                            {% else %}
                                Cancel Event
                            {% endif %}
                            </a>
                        {% endif %}
                    {% endwith %}
                    <a class="btn btn-danger object-modify event-update-delete" href="{% url 'event-delete' pk=event.pk %}"><i class="fa fa-trash-o"></i> Delete Event</a>
                </div>
            </div>
        </div>
        <form class="form-horizontal" action="{% url 'event-update' pk=event.pk %}" method="post" enctype="multipart/form-data">
    {% else%}
        <form class="form-horizontal" action="{% url 'event-create' %}" method="post" enctype="multipart/form-data">
    {% endif %}
            {% csrf_token %}
            <fieldset class="form-group large">
                <div class="control-label-group col-md-3">
                    <label class="control-label {% if form.calendar.errors %}error{% endif %}" for="{{ form.calendar.auto_id }}" title="Calendar" tabindex="-1">{{ form.calendar.label }}</label>
                    <p class="label-desc" id="help-label-calendar" tabindex="-1">Select an existing calendar to post this event to.</p>
                </div>
                <div class="controls col-md-9">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            {% render_field form.calendar class="form-control" aria-describedby="help-label-calendar" %}
                            {{ form.calendar.errors }}
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="checkbox-inline" for="{{ form.submit_to_main.auto_id }}">
                                {{ form.submit_to_main }}
                                 <strong>Suggest for Main Calendar Approval</strong>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group large {% if form.title.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="{{ form.title.auto_id }}" tabindex="-1">{{ form.title.label }}</label>
                    <p class="label-desc" id="help-label-title" tabindex="-1">
                        Be Brief. Be Bright. Be Done.
                        <br/>
                        (<a tabindex="-1" target="_blank" href="https://brand.ucf.edu/writing-style-guide/tips-for-writing-copy/">Need some tips?</a>)
                    </p>
                </div>
                <div class="controls col-md-6">
                    {% render_field form.title class="form-control" aria-describedby="help-label-title" %}
                    {{ form.title.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group large {% if form.state.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="{{ form.state.auto_id }}" title="State" tabindex="-1">Status</label>
                    <p class="label-desc" id="help-label-state" tabindex="-1">Specify how your event should be saved.</p>
                </div>
                <div class="controls col-md-3 col-sm-4">
                    {% render_field form.state class="form-control" aria-describedby="help-label-state" %}
                    {{ form.state.errors }}
                </div>
            </fieldset>
            {% if event.is_re_review %}
            <div class="pull-right">
                <button id="copy_title" class="btn btn-info" data-copy-to="{{ form.title.auto_id }}">Copy</button>
            </div>
            <fieldset class="form-group large {% if event.created_from.title.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="new_title" tabindex="-1">New Title</label>
                    <p class="label-desc" id="help-label-new_title" tabindex="-1">The new title for the originating event</p>
                </div>
                <div class="controls col-md-6">
                    <input id="new_title" class="form-control" disabled="disabled" type="text" value="{{ event.created_from.title }}" />
                    {{ event.created_from.title.errors }}
                </div>
            </fieldset>
            {% endif %}
            <fieldset class="form-group large {% if form.description.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="{{ form.description.auto_id }}" tabindex="-1">{{ form.description.label }}</label>
                    <p class="label-desc" id="help-label-description" tabindex="-1">A description for your event.</p>
                </div>
                <div class="controls col-md-8">
                    {% render_field form.description id=form.description.auto_id class="form-control wysiwyg" title=form.description.label aria-describedby="help-label-description" %}
                    {{ form.description.errors }}
                </div>
            </fieldset>
            {% if event.is_re_review %}
            <div class="col-md-1 pull-right">
                <button id="copy_description" class="btn btn-info" data-copy-to="{{ form.description.auto_id }}">Copy</button>
            </div>
            <fieldset class="form-group large {% if event.created_from.description.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="new_description" tabindex="-1">New Description</label>
                    <p class="label-desc" id="help-label-new_description" tabindex="-1">The new description from the originating event.</p>
                </div>
                <div class="controls col-md-8">
                    <textarea id="new_description" class="form-control wysiwyg disabled-wysiwyg" title="New Description" disabled="disabled">{{ event.created_from.description }}</textarea>
                    {{ event.created_from.description.errors }}
                </div>
            </fieldset>
            {% endif %}
            <fieldset class="form-group large">
                <div class="control-label-group col-md-3">
                    <legend class="control-label" tabindex="-1">When &amp; Where</legend>
                    <p class="label-desc" tabindex="-1">When and where your event takes place, and how often it occurs.</p>
                </div>
                <div class="controls col-md-8">
                {% if event_instance_formset|length > 0 %}
                    {% for ei_form in event_instance_formset %}
                    <div class="row cloneable" data-form-prefix="event_instances">
                        {{ ei_form.id }}
                        <div class="col-md-10 col-sm-11 col-xs-11">
                            <a class="btn btn-danger remove-instance hidden" href="#" alt="Remove this event instance" title="Remove this event instance">&times;</a>
                            <div class="whenwhere-wrap">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 whenwhere start {% if ei_form.start.errors %}error{% endif %}">
                                        <label class="label-inner" for="{{ ei_form.start.auto_id }}_0" alt="Start Date">Start Date</label>
                                        <label class="label-inner" for="{{ ei_form.start.auto_id }}_1" alt="Start Time">&amp; Time</label>
                                        {{ ei_form.start }}
                                        {{ ei_form.start.errors }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 whenwhere end {% if ei_form.end.errors %}error{% endif %}">
                                        <label class="label-inner" for="{{ ei_form.end.auto_id }}_0" alt="End Date">End Date</label>
                                        <label class="label-inner" for="{{ ei_form.end.auto_id }}_1" alt="End Time">&amp; Time</label>
                                        {{ ei_form.end }}
                                        {{ ei_form.end.errors }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 whenwhere-interval">
                                        <label class="label-inner vertical-label-inner" for="{{ ei_form.interval.auto_id }}">How often does it re-occur?</label>
                                        {{ ei_form.interval|add_class:"form-control" }}
                                        {{ ei_form.interval.errors }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 whenwhere-until">
                                        <label class="label-inner vertical-label-inner" for="{{ ei_form.until.auto_id }}">Re-occurs until...</label>
                                        {{ ei_form.until|add_class:"field-date form-control" }}
                                        {{ ei_form.until.errors }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 location-search {% if ei_form.location.errors %}error{% endif %}">
                                        <label class="label-inner" for="{{ ei_form.location.auto_id }}">Select a Location</label>
                                        {{ ei_form.location|add_class:"location-dropdown form-control" }}
                                        {{ ei_form.location.errors }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 location-selected">
                                        <span class="location-selected-title">
                                            {% if ei_form.location.value %}
                                                {{ locations|locations_title:ei_form.location.value }}
                                            {% endif %}
                                        </span>
                                        <span class="location-selected-room">
                                            {% if ei_form.location.value %}
                                                {{ locations|locations_room:ei_form.location.value }}
                                            {% endif %}
                                        </span>
                                        <span class="location-selected-url">
                                            {% if ei_form.location.value %}
                                            <a target="_blank" href="{{ locations|locations_url:ei_form.location.value }}">
                                                <i class="fa fa-external-link"></i>{{ locations|locations_url:ei_form.location.value }}
                                            </a>
                                            {% endif %}
                                        </span>
                                        <div class="location-new-form">
                                            <label class="label-inner {% if ei_form.new_location_title.errors %}error{% endif %}" for="{{ ei_form.new_location_title.auto_id }}">New Location Name</label>
                                            {{ ei_form.new_location_title|add_class:"form-control" }}
                                            {{ ei_form.new_location_title.errors }}

                                            <label class="label-inner vertical-label-inner {% if ei_form.new_location_room.errors %}error{% endif %}" for="{{ ei_form.new_location_room.auto_id }}">New Location Room</label>
                                            {{ ei_form.new_location_room|add_class:"form-control" }}
                                            {{ ei_form.new_location_room.errors }}

                                            <label class="label-inner vertical-label-inner {% if ei_form.new_location_url.errors %}error{% endif %}" for="{{ ei_form.new_location_url.auto_id }}">New Location Map URL</label>
                                            {{ ei_form.new_location_url|add_class:"form-control" }}
                                            {{ ei_form.new_location_url.errors }}
                                        </div>
                                        <div class="clone-delete-hiddenfield">
                                            <label for="{{ ei_form.DELETE.auto_id }}">Delete Instance: {{ ei_form.start.value }} - {{ ei_form.end.value }}</label>
                                            {{ ei_form.DELETE }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <p>An error has occurred when trying to load this page.  Please refresh or try again later.</p>
                {% endif %}
                </div>
                <div class="controls col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-10 col-sm-11 col-xs-11 cloner">
                        </div>
                    </div>
                </div>
            </fieldset>
            {{ event_instance_formset.management_form }}
            <fieldset class="form-group large {% if form.category.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="{{ form.category.auto_id }}" tabindex="-1">Category</label>
                    <p class="label-desc" id="help-label-category" tabindex="-1">Select a category to group this event under.</p>
                </div>
                <div class="controls col-md-3 col-sm-6">
                    {% render_field form.category class="form-control" aria-describedby="help-label-category" %}
                    {{ form.category.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group large {% if form.tags.errors %}error{% endif %}">
                <div class="control-label-group col-md-3">
                    <label class="control-label" for="{{ form.tags.auto_id }}" tabindex="-1">Tags</label>
                    <p class="label-desc" id="help-label-tags" tabindex="-1">Provide keywords that describe this event for better searchability.</p>
                </div>
                <div class="controls col-md-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 tag-search">
                            {% render_field form.tags class="form-control" aria_describedby="help-label-tags" %}
                            {{ form.tags.errors }}
                            <p class="help-block" tabindex="0">Type tags separated by commas in this field, e.g. <strong>football, UCF Sports, Knights</strong>.</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul id="event-tags-selected">
                            </ul>
                        </div>
                    </div>

                </div>
            </fieldset>
            <fieldset class="form-group large">
                <div class="control-label-group col-md-3">
                    <legend class="control-label" tabindex="-1">Contact Information</legend>
                    <p class="label-desc" tabindex="-1">Let users know how to get in touch with questions about your event.</p>
                </div>
                <div class="controls col-md-8">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
                            <label class="checkbox-inline" for="add-user-contact-info">
                                <input type="checkbox" id="add-user-contact-info">
                                <strong>Use Your Contact Information</strong>
                            </label>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
                            <label class="label-inner {% if form.contact_name.errors %}error{% endif %}" for="{{ form.contact_name.auto_id }}">Contact Name</label>
                            {{ form.contact_name|add_class:"form-control" }}
                            {{ form.contact_name.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label class="label-inner vertical-label-inner {% if form.contact_email.errors %}error{% endif %}" for="{{ form.contact_email.auto_id }}">Email</label>
                            {{ form.contact_email|add_class:"form-control" }}
                            {{ form.contact_email.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label class="label-inner vertical-label-inner {% if form.contact_phone.errors %}error{% endif %}" for="{{ form.contact_phone.auto_id }}">Phone Number</label>
                            {{ form.contact_phone|add_class:"form-control" }}
                            {{ form.contact_phone.errors }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group large">
                <div class="col-md-8 col-md-offset-3">
                    {% if object %}
                        <button class="btn btn-primary btn-block-xs" type="submit">Update Event</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-default btn-block-xs">Cancel</a>
                    {% else %}
                        <button class="btn btn-primary btn-block-xs" type="submit">Create Event</button>
                    {% endif %}
                </div>
            </div>
        </form>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
    var usersFullName = '{{ user.get_full_name }}';
    var usersEmail = '{{ user.email }}';
</script>
{{ block.super }}
{% endblock %}
