{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}
{% load locations %}

{% block title %}
  {% spaceless %}
  {% if object %}
    Update Event
  {% else %}
    Create Event
  {% endif %}
    | {{ block.super }}
  {% endspaceless %}
{% endblock %}

{% block header_scripts %}
<script type="text/javascript">
  var eventPromotedTags = [
  {% for tag in promoted_tags %}"{{ tag|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}
  ];
  {% comment %} var existingTags = {{ event.tags }}; {% endcomment %}
</script>
{% endblock %}

{% block alerts %}
  {{ block.super }}
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>Error: </strong>
    {{form.non_field_errors}}
  </div>
  {% endif %}
{% endblock %}

{% block content_title %}
  <div class="col-12">
  {% if object %}
    <h1 class="h2" tabindex="0">Update Event: <span class="font-weight-normal">{{ event.title }}</span></h1>
  {% else %}
    <h1 class="h2" tabindex="0">Create an Event</h1>
  {% endif %}
  </div>
{% endblock %}

{% block content_subheader_text %}
  {% if object %}
    Use the form below to update this event. Calendars subscribed to your event will be updated as well.
  {% else %}
    Use the form below to create a new one-time or recurring event. Please read the <a target="_blank" href="{% url 'help' %}#event-creation-guidelines">event creation guidelines</a> before creating your event!
  {% endif %}
{% endblock %}

{% block content_body %}
  {% if object %}
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="text-right">
          {% with created_from=event.created_from user_calendars=request.user.calendars %}
            {% if not created_from and event.calendar in user_calendars and event.state == posted_state or created_from and created_from.calendar in user_calendars and created_from.state == posted_state or request.user.is_superuser %}
              <a class="btn btn-warning btn-sm event-update-cancel mr-2" href="{% url 'events.views.manager.event-cancel-uncancel' pk=event.pk %}">
                <span class="fa fa-ban" aria-hidden="true"></span>
              {% if event.canceled %}
                Un-Cancel Event
              {% else %}
                Cancel Event
              {% endif %}
              </a>
            {% endif %}
          {% endwith %}
          <a class="btn btn-danger btn-sm object-modify event-update-delete" href="{% url 'events.views.manager.event-delete' pk=event.pk %}"><span class="fa fa-trash" aria-hidden="true"></span> Delete Event</a>
        </div>
      </div>
    </div>
    <form action="{% url 'events.views.manager.event-update' pk=event.pk %}{% if form_action_next %}?next={{ form_action_next }}{% endif %}" method="post" enctype="multipart/form-data">
  {% else %}
    <form action="{% url 'events.views.manager.event-create' %}" method="post" enctype="multipart/form-data">
  {% endif %}
      {% csrf_token %}
      <fieldset class="form-group{% if form.calendar.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.calendar.auto_id }}" title="Calendar" >{{ form.calendar.label }}</label>
            <small class="form-text text-muted mt-0" id="help-label-calendar">
              <a href="{% url 'help' %}#create-new-event-calendar" target="_blank">Select an existing calendar</a> to post this event to.
            </small>
          </div>
          <div class="col-md-9 col-xl-8">
            <div class="row">
              <div class="col-xl-6">
                {{ form.calendar|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"aria-describedby:help-label-calendar" }}
              </div>
              <div class="col-12 flex-xl-last mb-2 mb-xl-0">
                {% if form.calendar.errors %}
                  {% for error in form.calendar.errors %}
                    <div class="form-control-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="col-xl-6 d-flex align-items-center mb-md-2 mb-xl-0">
                <div class="form-check mb-0">
                  <label class="form-check-label font-italic" for="{{ form.submit_to_main.auto_id }}">
                    {{ form.submit_to_main|add_class:"form-check-input" }} Suggest for Main Calendar Approval
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group{% if form.title.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.title.auto_id }}" tabindex="-1">{{ form.title.label }}</label>
            <small class="form-text text-muted mt-0" id="help-label-title">
              <a href="{% url 'help' %}#create-new-event-title" target="_blank">Be unique</a>. Be concise.
            </small>
          </div>
          <div class="col-md-9 col-xl-8">
            {{ form.title|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"aria-describedby:help-label-title" }}
            {% if form.title.errors %}
              {% for error in form.title.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group{% if form.state.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.state.auto_id }}" title="State" tabindex="-1">Status</label>
            <small class="form-text text-muted mt-0" id="help-label-state" tabindex="-1">
              Specify how your event <a href="{% url 'help' %}#create-new-event-status" target="_blank">should be saved</a>.
            </small>
          </div>
          <div class="col-md-6 col-xl-5">
            {{ form.state|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"aria-describedby:help-label-state" }}
            {% if form.state.errors %}
              {% for error in form.state.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>

      {% if event.is_re_review %}
      <fieldset class="form-group{% if event.created_from.title.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="new_title" tabindex="-1">New Title</label>
            <small class="form-text text-muted mt-0 mb-1" id="help-label-new_title" tabindex="-1">The new title for the originating event.</small>
            <button id="copy_title" class="btn btn-sm btn-info copy-btn" data-copy-to="{{ form.title.auto_id }}">Copy</button>
          </div>
          <div class="col-md-9 col-xl-8">
            <input id="new_title" class="form-control{% if event.created_from.title.errors %} form-control-danger{% endif %}" disabled="disabled" type="text" value="{{ event.created_from.title }}" />
            {{ event.created_from.title.errors }}
            {% if event.created_from.title.errors %}
              {% for error in event.created_from.title.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>
      {% endif %}

      <fieldset class="form-group{% if form.description.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.description.auto_id }}" tabindex="-1">{{ form.description.label }}</label>
            <small class="form-text text-muted mt-0" id="help-label-description">
              The <a href="{% url 'help' %}#create-new-event-description" target="_blank">who, what, and why</a> of your event. Check your spelling!
            </small>
          </div>
          <div class="col-md-9 col-xl-8">
            {{ form.description|add_class:"form-control wysiwyg"|add_error_class:"form-control-danger"|attr:"aria-describedby:help-label-description" }}
            {% if form.description.errors %}
              {% for error in form.description.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>

      {% if event.is_re_review %}
      <fieldset class="form-group{% if event.created_from.description.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="new_description" tabindex="-1">New Description</label>
            <small class="form-text text-muted mt-0 mb-1" id="help-label-new_description" tabindex="-1">The new description from the originating event.</small>
            <button id="copy_description" class="btn btn-sm btn-info copy-btn" data-copy-to="{{ form.description.auto_id }}">Copy</button>
          </div>
          <div class="col-md-9 col-xl-8">
            <textarea id="new_description" class="form-control wysiwyg" title="New Description" disabled="disabled">{{ event.created_from.description }}</textarea>
            {% if event.created_from.description.errors %}
              {% for error in event.created_from.description.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>
      {% endif %}

      <fieldset class="form-group">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <legend class="font-weight-bold col-form-legend pb-0" tabindex="-1">Registration Information</legend>
            <small class="form-text text-muted mt-0" tabindex="-1">How and where can someone register? Is it required?</small>
          </div>
          <div class="col-md-9 col-xl-8">
            <div class="form-check mt-md-3 mb-3 mb-md-4">
              <label class="form-check-label" for="{{ form.registration_checkbox.auto_id }}">
                {{ form.registration_checkbox|add_class:"form-check-input" }}
                Is registration available for this event?
              </label>
            </div>
            <div id="event-registration-fields" {% if form.registration_link.errors %}class="error"{% endif %} style="display:none;">
              <div class="form-group{% if form.registration_link.errors %} has-danger{% endif %}">
                <label class="form-control-label" for="{{ form.registration_link.auto_id }}">Registration Link</label>
                {{ form.registration_link|add_class:"form-control"|add_error_class:"form-control-danger" }}
                <small class="form-text text-muted mt-0" tabindex="-1">Enter the registration link for this event.</small>
                {% if form.registration_link.errors %}
                  {% for error in form.registration_link.errors %}
                    <div class="form-control-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="form-group{% if form.registration_info.errors %} has-danger{% endif %}">
                <label class="form-control-label" for="{{ form.registration_info.auto_id }}">Registration Info</label>
                {{ form.registration_info|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"rows:3" }}
                <small class="form-text text-muted mt-0" tabindex="-1">Is there any additional information that users need to know about registration? Limited to 255 characters. Defaults to 'Register for this event.'</small>
                {% if form.registration_info.errors %}
                  {% for error in form.registration_info.errors %}
                    <div class="form-control-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group" id="event-instance-form" data-form-prefix="{{ event_instance_formset.prefix }}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <legend class="font-weight-bold col-form-legend pb-0" tabindex="-1">When &amp; Where</legend>
            <small class="form-text text-muted mt-0" tabindex="-1">
              Details about <a href="{% url 'help' %}#create-new-event-whenwhere" target="_blank">event location and time(s)</a>.
            </small>
          </div>
          <div class="col-md-9 col-xl-8">
            {% if event_instance_formset|length > 0 %}
              {% for ei_form in event_instance_formset %}
                {% include 'events/manager/events/instance_create_update.html' with ei_form=ei_form ei_prefix_template=False %}
              {% endfor %}
              {% include 'events/manager/events/instance_create_update.html' with ei_form=event_instance_formset.empty_form ei_prefix_template=True %}
            {% else %}
            <p>An error has occurred when trying to load this page. Please refresh or try again later.</p>
            {% endif %}
            <div class="d-none" id="cloner">
              <div class="row no-gutters">
                <div class="col-11">
                  <div class="card card-faded">
                    <div class="card-block">
                      <span class="font-weight-bold">Add another event instance...</span>
                    </div>
                  </div>
                </div>
                <div class="col-1 d-flex">
                  <a class="btn btn-success w-100 text-center p-0 d-flex align-items-center justify-content-center" href="#" alt="Add another event instance" title="Add another event instance">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      {{ event_instance_formset.management_form }}
      <fieldset class="form-group{% if form.category.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.category.auto_id }}" tabindex="-1">Category</label>
            <small class="form-text text-muted mt-0" id="help-label-category" tabindex="-1">
              <a href="{% url 'help' %}#create-new-event-category" target="_blank">Select a category</a> to group this event under.
            </small>
          </div>
          <div class="col-md-6 col-xl-5">
            {{ form.category|add_class:"form-control"|add_error_class:"form-control-danger"|attr:"aria-describedby:help-label-category" }}
            {% if form.category.errors %}
              {% for error in form.category.errors %}
                <div class="form-control-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group{% if form.tags.errors %} has-danger{% endif %}">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <label class="font-weight-bold col-form-label pb-0" for="{{ form.tags.auto_id }}" tabindex="-1">Tags</label>
            <small class="form-text text-muted mt-0" id="help-label-tags" tabindex="-1">
              <a href="{% url 'help' %}#create-new-event-tags" target="_blank">Provide keywords</a> that describe this event for better searchability. Limited to <strong>5 tags</strong> that best describe your event.
            </small>
          </div>
          <div class="col-md-9 col-xl-8">
            <div class="row">
              {% if promoted_tags %}
              <div class="col-12 mb-2 mt-md-3">
                <span class="d-block h6">Promoted Tags</span>
                <p class="empty-promoted-tags d-none font-italic text-muted">All promoted tags have been added to this event.</p>
                <ul id="event-tags-promoted" class="event-tags list-unstyled">
                  {% for tag in promoted_tags %}
                    <li class="list-inline-item" data-tag-text="{{ tag }}">
                      <a class="promoted-add badge badge-pill badge-success mb-2" href="#" alt="Add this tag" title="Add this tag">
                        <span class="action-icon"><span class="fa fa-plus fa-fw" aria-hidden="true"></span></span><span class="tag-name">{{ tag }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <div class="col-md-6 col-xl-6 mb-2 mb-md-0">
                <span class="d-block h6">Add Tags</span>
                <div class="row no-gutters">
                  <div class="col-10">
                    <input type="text" id="event-tags-typeahead" class="form-control{% if form.tags.errors %} form-control-danger{% endif %}" autocomplete="false" placeholder="Type a tag or phrase...">
                  </div>
                  <div class="col-2">
                    <a id="add-new-tag" href="#" class="btn btn-primary" style="display: none;">
                      <span class="fa fa-plus" aria-hidden="true"><span class="sr-only">Add Tag</span></span>
                    </a>
                  </div>
                </div>
                {% render_field form.tags class="form-control d-none" aria_describedby="help-label-tags" %}
                {% if form.tags.errors %}
                  {% for error in form.tags.errors %}
                    <div class="form-control-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
                <small class="form-text text-muted" tabindex="0">Type tags separated by commas in this field, e.g. <strong>football, UCF Sports, Knights</strong>.<br><br>Please note that tags are case-insensitive.</small>
              </div>
              <div class="col-md-5 col-xl-6">
                <span class="d-block h6">Selected Tags</span>
                <ul id="event-tags-selected" class="event-tags list-unstyled">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <div class="row">
          <div class="col-md-3 col-xl-4 text-md-right mb-2">
            <legend class="font-weight-bold col-form-legend pb-0" tabindex="-1">Contact Information</legend>
            <small class="form-text text-muted mt-0" tabindex="-1">Let users know how to get in touch with questions about your event.</small>
          </div>
          <div class="col-md-6 col-xl-8">
            <div class="row">
              <div class="col-xl-6 flex-xl-last mt-3 mb-3 mb-xl-0 mt-xl-2">
                <div class="form-check">
                  <label class="form-check-label" for="add-user-contact-info">
                    <input type="checkbox" class="form-check-input" id="add-user-contact-info">
                    <strong>Use Your Contact Information</strong>
                  </label>
                </div>
              </div>
              <div class="col-xl-6 mt-xl-2">
                <div class="form-group{% if form.contact_name.errors %} has-danger{% endif %}">
                  <label for="{{ form.contact_name.auto_id }}">Contact Name</label>
                  {{ form.contact_name|add_class:"form-control"|add_error_class:"form-control-danger" }}
                  {% if form.contact_name.errors %}
                    {% for error in form.contact_name.errors %}
                      <div class="form-control-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group{% if form.contact_name.errors %} has-danger{% endif %}">
                  <label for="{{ form.contact_email.auto_id }}">Email</label>
                  {{ form.contact_email|add_class:"form-control"|add_error_class:"form-control-danger" }}
                  {% if form.contact_email.errors %}
                    {% for error in form.contact_email.errors %}
                      <div class="form-control-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group{% if form.contact_name.errors %} has-danger{% endif %}">
                  <label for="{{ form.contact_phone.auto_id }}">Phone Number</label>
                  {{ form.contact_phone|add_class:"form-control"|add_error_class:"form-control-danger" }}
                  {% if form.contact_phone.errors %}
                    {% for error in form.contact_phone.errors %}
                      <div class="form-control-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group row mt-4">
        <div class="col-md-9 offset-md-3 col-xl-8 offset-xl-4">
          {% if object %}
            <button class="btn btn-primary" type="submit">Update Event</button>
            <a href="{% url 'dashboard' %}" class="btn btn-default">Cancel</a>
          {% else %}
            <button class="btn btn-primary" type="submit">Create Event</button>
            <button id="preview" name="preview" class="btn btn-default" type="submit">Preview Event</button>
          {% endif %}
        </div>
      </div>
    </form>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.0.1/typeahead.bundle.js"></script>
<script type="text/javascript">
  var usersFullName = '{{ user.get_full_name }}';
  var usersEmail = '{{ user.email }}';
</script>
{{ block.super }}
{% endblock %}
