{% load core_tags %}
<li>
    <h3 class="search-object-title event-title">
        <a href="{{ object.get_absolute_url }}">
            {{ object.title }}
        </a>
    </h3>
    <a class="event-edit hide" href="{% url 'event-update' pk=object.pk %}" data-calendar-pk="{{ object.calendar.pk }}">
        <i class="fa fa-pencil"></i>Edit Event
    </a>
    <p class="description">
        {{ object.description|striptags|truncatewords:60 }}
    </p>
    <div class="result-meta">
        <div class="event-calendar">
            <i class="fa fa-calendar fa-fw"></i>
            {% include_esi 'calendar' object.calendar.pk 'link' %}
        </div>
        <div class="event-category category-text {% include_esi 'category' object.category.pk 'slug' %}">
            <i class="fa fa-tag fa-fw"></i>
            {% include_esi 'category' object.category.pk 'link' %}
        </div>
        {% if object.tags.all|length > 0 %}
        <div class="event-tags">
            <i class="fa fa-tags fa-fw"></i>
            <ul>
            {% for tag in object.tags.all %}
                <li>{% include_esi 'tag' tag.pk 'link' %}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</li>