{% load core_tags %}

{% comment %}
Prioritize Main Calendar events. Assume that Main Calendar events
will always be copied from somewhere else.
{% endcomment %}

{% with object=object.get_main_event|default:object %}
<li>
    <h3 class="search-object-title event-title">
        <a href="{{ object.get_absolute_url }}">
            {{ object.title }}
        </a>
    </h3>
    <a class="event-edit hide" href="{% url 'event-update' pk=object.pk %}" data-calendar-pk="{{ object.calendar.pk }}">
        <i class="fa fa-pencil"></i>Edit Event
    </a>

    <div class="start-end">
        {% include 'events/frontend/instance-start-end.html' with start_date=None instance_start=object.get_first_instance.start instance_end=object.get_last_instance.end %}
    </div>

    <p class="description">
        {{ object.description|striptags|truncatewords:60 }}
    </p>
    <div class="result-meta">
        <div class="event-calendar">
            <i class="fa fa-calendar fa-fw"></i>
            {% include_esi 'calendar' object.calendar.pk 'link' %}
        </div>
        <div class="event-category category-text {% include_esi 'category' object.category.pk 'slug' %}">
            <i class="fa fa-tag fa-fw"></i>
            {% include_esi 'category' object.category.pk 'link' %}
        </div>
        {% if object.tags.all|length > 0 %}
        <div class="event-tags">
            <i class="fa fa-tags fa-fw"></i>
            <ul>
            {% for tag in object.tags.all %}
                <li>{% include_esi 'tag' tag.pk 'link' %}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% if object.calendar.is_main_calendar %}
        {% if object.created_from %}
            <div class="event-copy-info">
                <span class="info-text">Copied from:</span> <i class="fa fa-calendar fa-fw"></i>{% include_esi 'calendar' object.created_from.calendar.pk 'link' %}
            </div>
        {% endif %}
        {% if object.created_from.duplicated_to.all %}
            {% if object.created_from.duplicated_to.all|length == 1 and object in object.created_from.duplicated_to.all %}
            {% else %}
                <div class="event-duplicate-info">
                    <span class="info-text">Also on:</span>
                    <ul>
                        {% for dupe in object.created_from.duplicated_to.all %}
                            {% if dupe != object %}
                            <li><i class="fa fa-calendar fa-fw"></i>{% include_esi 'calendar' dupe.calendar.pk 'link' %}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.duplicated_to.all %}
            <div class="event-duplicate-info">
                <span class="info-text">Also on:</span>
                <ul>
                    {% for dupe in object.duplicated_to.all %}
                    <li><i class="fa fa-calendar fa-fw"></i>{% include_esi 'calendar' dupe.calendar.pk 'link' %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
</li>
{% endwith %}