{% extends 'search/search.html' %}
{% load widgets %}
{% load widget_tweaks %}
{% load core_tags %}

{% block search_nav %}

{% if request.GET.q %}
    {% with request.GET.q|quote_plus as query %}
        {% with 'q='|add:query as params %}
            {% include_esi_template 'esi/template/manager-search-nav.html' params %}
        {% endwith %}
    {% endwith %}
{% else %}
    {% include_esi_template 'esi/template/manager-search-nav.html' 'q=' %}
{% endif %}

{% endblock %}

{% block search_bar %}
<form method="GET" action="." role="form">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label class="sr-only" for="{{ form.q.auto_id }}">{{ form.q.label }}</label>
                <input type="text" id="q" name="q" class="search-query form-control" placeholder="Search all events and calendars" value="{{query}}">
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% comment %}
Events use the first instance's search-list-item.html esi template.
See esi/eventinstance/search-list-item.html for info.
{% endcomment %}

<ul class="search-results-list">
{% for result in results %}
  {% include_esi 'eventinstance' result.get_first_instance.pk 'search-list-item' %}
{% endfor %}
</ul>
