{% extends 'search/search.html' %}
{% load widgets %}
{% load widget_tweaks %}
{% load core_tags %}

{% block search_nav %}

{% if request.GET.q %}
  {% with request.GET.q|quote_plus as query %}
    {% with 'q='|add:query as params %}
      {% include_esi_template 'esi/template/manager-search-nav.html' params %}
    {% endwith %}
  {% endwith %}
{% else %}
  {% include_esi_template 'esi/template/manager-search-nav.html' 'q=' %}
{% endif %}

{% endblock %}

{% block search_bar %}
<form class="d-flex mb-3" method="GET" action="." role="form">
  <input class="search-query form-control" type="text" id="q" name="q" placeholder="Search my events" aria-label="Search my events" value="{{query}}">
  <button class="btn btn-primary" tabindex="-1" type="submit">Search</button>
</form>
{% endblock %}

{% comment %}
Events use the first instance's search-list-item.html esi template.
See esi/eventinstance/search-list-item.html for info.
{% endcomment %}

{% block calendar_results_block %}{% endblock %}
