{% extends 'events/frontend/base.html' %}
{% load widgets %}
{% load widget_tweaks %}
{% load core_tags %}

{% block title %}Search {% if query %}results for "{{ query }}" {% endif %}| {{ block.super }}{% endblock %}
{% block og_title %}Search {% if query %}results for "{{ query }}" {% endif %}| {{ block.super }}{% endblock %}

{% block meta_description %}{% block og_description %}Search results for events at the University of Central Florida in Orlando Florida{% endblock %}{% endblock %}

{% block content_title %}
<h1 class="col-md-12">
    <a href="{{ request.build_absolute_uri }}">
    {% if not query %}
    Search
    {% else %}
    Search Results For: <span class="alt"><em>&ldquo;{{ query }}&rdquo;</em></span>
    {% endif %}
    </a>
</h1>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-12" id="search">
        {% block search_nav %}

        {% if request.GET.q %}
            {% with 'q='|add:request.GET.q as params %}
            {% include_esi_template 'esi/search-nav.html' params %}
            {% endwith %}
        {% else %}
            {% include_esi_template 'esi/search-nav.html' 'q=' %}
        {% endif %}

        {% endblock %}

        {% block search_bar %}
        <form method="GET" action="." role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="{{ form.q.auto_id }}">{{ form.q.label }}</label>
                        {% render_field form.q class="search-query form-control" placeholder="Search all events, calendars" %}

                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-primary" type="submit">Search</button>
                            <button tabindex="-1" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form dropdown-menu-right" id="{{ form.models.auto_id }}" role="menu">
                                {% for model in form.models %}
                                <li>{{ model }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}

        <div class="row">
            <div class="col-md-12 page-content">
                <p><em>{{ page.paginator.count }} result(s) found.</em></p>

                {% if query %}
                    {% with results=page.object_list %}
                        {% if results %}
                            <ul class="search-results-list">
                            {% for result in results %}
                                <li>
                                {% if result.model_name == 'calendar' %}
                                    <h3 class="search-object-title calendar-title">
                                        <a href="{{ result.object.get_absolute_url }}">
                                            <i class="fa fa-calendar"></i>{{ result.object.title }}
                                        </a>
                                    </h3>
                                    {% if result.description %}
                                    <span class="calendar-description">
                                        {{ result.description }}
                                    </span>
                                    {% endif %}
                                {% elif result.model_name == 'event' %}
                                    <h3 class="search-object-title event-title">
                                        <a href="{{ result.object.get_absolute_url }}">
                                            {{ result.object.title }}
                                        </a>
                                    </h3>
                                    <a class="event-edit hide" href="{% url 'event-update' pk=result.pk %}" data-calendar-pk="{{ result.object.calendar.pk }}">
                                        <i class="fa fa-pencil"></i>Edit Event
                                    </a>
                                    <p class="description">
                                        {{ result.description|striptags|truncatewords:60 }}
                                    </p>
                                    <div class="result-meta">
                                        <div class="event-calendar">
                                            <i class="fa fa-calendar fa-fw"></i>
                                            <a href="{% url 'calendar' pk=result.object.calendar.pk slug=result.object.calendar.slug %}">{{ result.calendar }}</a>
                                        </div>
                                        <div class="event-category category-text {{ result.object.category.slug }}">
                                            <i class="fa fa-tag fa-fw"></i>
                                            <a href="{% url 'category' category_pk=result.object.category.pk category=result.object.category.slug %}">{{ result.category }}</a>
                                        </div>
                                        {% if result.object.tags.all|length > 0 %}
                                        <div class="event-tags">
                                            <i class="fa fa-tags fa-fw"></i>
                                            <ul>
                                            {% for tag in result.object.tags.all %}
                                                <li><a href="{% url 'tag' tag_pk=tag.pk tag=tag.slug %}">{{ tag }}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    <p>Search for something using the search bar.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
// Show edit button only for editors
var user_calendars = [{% include_esi_template "esi/user-editable-calendar-ids.html" %}];
if (user_calendars.length) {
    $.each($('.event-edit'), function() {
        var link = $(this),
            pk = parseInt(link.attr('data-calendar-pk'));
            
        if (user_calendars.indexOf(pk) > -1) {
            link.removeClass('hide');
        }
    });
}
</script>
{% endblock %}
