{% extends 'events/frontend/base.html' %}
{% load widgets %}
{% load widget_tweaks %}
{% load core_tags %}
{% load url %}

{% block title %}Search {% if query %}results for '{{ query }}' {% endif %}| {{ block.super }}{% endblock %}
{% block og_title %}Search {% if query %}results for '{{ query }}' {% endif %}| {{ block.super }}{% endblock %}

{% block meta_description %}{% block og_description %}Search results for events at the University of Central Florida in Orlando Florida{% endblock %}{% endblock %}
{% block og_url %}{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}{% endblock %}

{% block meta %}{% endblock %}

{% block content_title %}
<h1 class="col-md-12">
    <a href="{{ request.build_absolute_uri }}">
    {% if not query %}
    Search
    {% else %}
    Search Results For: <span class="alt"><em>&ldquo;{{ query }}&rdquo;</em></span>
    {% endif %}
    </a>
</h1>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-12" id="search">
        {% block search_nav %}

        {% if request.GET.q %}
            {% with request.GET.q|quote_plus as query %}
                {% with 'q='|add:query as params %}
                    {% include_esi_template 'esi/template/search-nav.html' params %}
                {% endwith %}
            {% endwith %}
        {% else %}
            {% include_esi_template 'esi/template/search-nav.html' 'q=' %}
        {% endif %}

        {% endblock %}

        {% block search_bar %}
        <form method="GET" action="." role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="{{ form.q.auto_id }}">{{ form.q.label }}</label>
                        <input type="text" id="q" name="q" class="search-query form-control" placeholder="Search all events and calendars">
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}

        <div class="row">
            <div class="col-md-8 page-content">
                <p><em>{{ page_obj.paginator.count }} event(s) found.</em></p>
                {% if query %}
                    {% with results=object_list %}
                        {% if results %}
                            {% comment %}
                            Prioritize Main Calendar events. Assume that Main Calendar events
                            will always be copied from somewhere else.

                            Events use the first instance's search-list-item.html esi template.
                            See esi/eventinstance/search-list-item.html for info.
                            {% endcomment %}

                            <ul class="search-results-list">
                            {% for result in results %}
                              {% with object=result.get_main_event|default:result %}
                                  {% include_esi 'eventinstance' object.get_first_instance.pk 'search-list-item' %}
                              {% endwith %}
                            {% endfor %}
                            </ul>

                        {% endif %}
                    {% endwith %}
                    {% pager paginator=paginator current_page=request.GET.page url=request.build_absolute_uri %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    <p>Search for something using the search bar.</p>
                {% endif %}
            </div>
            <div class="col-md-4">
              <p><em>{{ calendars.count }} calendars found.</em></p>
              {% if query %}
                    {% with results=calendars %}
                        {% if results %}
                            <ul class="search-results-list">
                            {% for result in results %}
                             {% include_esi 'calendar' result.pk 'search-list-item' %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <p>Search for something using the search bar.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
// Show Edit Event button for users with access to events listed
var user_calendars = [{% include_esi_template "esi/template/user-calendar-ids.html" %}];
var is_superuser = parseInt({% include_esi_template "esi/template/user-is-superuser.html" %});

if (user_calendars.length || is_superuser == 1) {
    $.each($('.event-edit'), function() {
        var link = $(this),
            pk = parseInt(link.attr('data-calendar-pk'));

        if (user_calendars.indexOf(pk) > -1 || is_superuser == 1) {
            link.removeClass('hide');
        }
    });
}
</script>
{% endblock %}
