{% extends 'events/manager/base.html' %}

{% block alerts %}
    {{ block.super }}
    {% if forms.user.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{forms.user.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if forms.profile.non_field_errors %}
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <strong>Error: </strong>
                    {{forms.profile.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title_icon %}
<i class="icon-cog" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
<h1>Settings</h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">My Profile</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_body %}
<h2>Edit Profile</h2>
<form action="{% url profile-settings %}" method="post" class="form-horizontal">
	<div class="control-group">
	    <label class="control-label" for="id_user-first_name">First Name</label>
	    <div class="controls">
		    {{ forms.user.first_name }}
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_user-last_name">Last Name</label>
        <div class="controls">
		    {{ forms.user.last_name }}
		</div>
	</div>
	<div class="control-group">
        <label class="control-label" for="id_user-email">Email</label>
        <div class="controls">
            {{ forms.user.email }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
    </div>
</form>
{% endblock %}
