{% extends 'events/manager/base.html' %}
{% load widget_tweaks %}

{% block alerts %}
    {{ block.super }}
    {% if forms.user.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Error: </strong>
                    {{forms.user.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if forms.profile.non_field_errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Error: </strong>
                    {{forms.profile.non_field_errors}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
<h1 class="col-md-12">Settings</h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_tabs %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">My Profile</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-9">
        <h2>Edit Profile</h2>
        <form action="{% url 'profile-settings' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-3" for="id_first_name">First Name</label>
                <div class="controls col-md-5">
                    {{ form.first_name|add_class:"form-control" }}
                    {{ form.first_name.errors }}
        		</div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="id_last_name">Last Name</label>
                <div class="controls col-md-5">
                    {{ form.last_name|add_class:"form-control" }}
                    {{ form.last_name.errors }}
        		</div>
        	</div>
        	<div class="form-group">
                <label class="control-label col-md-3" for="id_email">Email</label>
                <div class="controls col-md-5">
                    {{ form.email|add_class:"form-control" }}
                    {{ form.email.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="submit" class="btn btn-primary btn-block-xs">Save Profile</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
