{% extends 'events/frontend/base.html' %}
{% load humanize %}
{% load widgets %}

{% block meta_alt_title %}Events By Tag: '{{ category.title }}' {{ block.super }}{% endblock %}

{% block meta %}
<link rel="alternate" type="application/rss+xml" title="Events By Tag: {{ tag.name }} RSS Feed" href="{{ request.build_absolute_uri }}feed.rss" />
{% endblock %}

{% block content_title_icon %}
<i class="icon-tags" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>
        {% if calendar %}
        <a href="{% url 'tag-by-calendar' pk=calendar.pk slug=calendar.slug tag_pk=tag.pk tag=tag.slug %}">{{ calendar.title }}: <span class="alt">by Tag <em>&ldquo;{{ tag }}&rdquo;</em></span></a>
        {% else %}
        <a href="{% url 'tag' tag_pk=tag.pk tag=tag.slug %}">Event Tag: <span class="alt"><em>&ldquo;{{ tag }}&rdquo;</em></span></a>
        {% endif %}
    </h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="span8 sidebarfix page-content" id="calendar-events-week">
            {% include 'events/frontend/event-listing/listing.html' %}

            {% pager paginator=paginator current_page=request.GET.page %}
        </div>
        <aside class="span4 page-sidebar" id="calendar-events-sidebar">
            <h2>Feeds</h2>
            {% feed_btns url=request.build_absolute_uri %}
        </aside>
    </div>
{% endblock %}
