{% extends 'events/frontend/base.html' %}
{% load humanize %}

{% block meta %}
		<link rel="alternate" type="application/rss+xml" title="Events By Tag: {{ tag.name }} RSS Feed" href="{% if calendar %}{% url tag-by-calendar calendar=calendar.slug tag=tag %}{% else %}{% url tag tag=tag %}{% endif %}.rss" />
{% endblock %}

{% block content_title_icon %}
<i class="icon-tags" id="page-title-icon"></i>
{% endblock %}

{% block content_title %}
    <h1>
        {% if calendar %}
        <a href="{% url tag-by-calendar calendar=calendar.slug tag=tag %}">{{ calendar.title }}: <span class="alt">by Tag <em>&ldquo;{{ tag }}&rdquo;</em></span></a>
        {% else %}
        <a href="{% url tag tag=tag %}">Event Tag: <span class="alt"><em>&ldquo;{{ tag }}&rdquo;</em></span></a>
        {% endif %}
    </h1>
{% endblock %}

{% block content_subheader %}{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="span8 sidebarfix page-content" id="calendar-events-week">
            {% include 'events/frontend/event-listing/event-listing.html' %}
            
            <div class="pagination">
                <ul>
                    {% if events.has_previous %}
                    <li>
                        <a href="?page={{ events.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for page in events.paginator.page_range %}
                    <li{% if page == events.number %} class="active"{% endif %}>
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if events.has_next %}
                    <li>
                        <a href="?page={{ events.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div> 
        </div>
        <aside class="span4 page-sidebar" id="calendar-events-sidebar">
            <h2>Subscribe</h2>
            feed download links
        </aside>
    </div>
{% endblock %}
