{%extends 'events/base.html'%}
{%block content%}
<div id="manager-base" class="container">
	{%block content_header%}
		<header class="span-24 last">
			<h1>{% block page_header %}<a href="{% url dashboard %}">Events</a>{% endblock %}</h1>
			{% if user.is_authenticated %}
				<ul id="nav">
					<li><a href="{% url profile-settings %}">settings</a></li>
					<li><a href="{% url accounts-logout %}">log out</a></li>
				</ul>
			{% endif %}
			{% if messages %}
			<ul id="messages" class="clear">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</header>
	{%endblock%}
	<div class="span-24 last" id="bar">
		<div class="span-15" id="greeting">
			Hi, {{user.first_name}}
		</div>
	</div>
	{% block content_body %}{% endblock %}
	{% block content_footer%}{% endblock %}
</div>
{%endblock%}