{% extends 'events/manager/base.html' %}
{% load humanize %}
{% block content_title %}
    <h2>
        My Calendars 
        {% if current_calendar %}
        <span class="alt">{{ current_calendar.name }}</span>
        {% endif %}
    </h2>
    {% if current_calendar %}
    <ul id="calendar-edit-options">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <a href="#">Users &amp; Permissions</a>
                </li>
                <li>
                    <a href="#">Calendar Info</a>
                </li>
                <li>
                    <a href="#">Subscriptions</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">Delete Calendar</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Live View</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
{% block content_body %}

{% if messages %}
<ul id="messages" class="clear">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

my calendars page
{% endblock %}