{% extends 'events/manager/base.html' %}
{% load humanize %}

{% block alerts %}
    {% if messages %}
    <div class="row">
        <div class="span12">
            <div class="alert fade in" id="messages">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Message:</strong> 
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    <h2>
        My Calendar{% if current_calendar %}: <span class="alt">{{ current_calendar.name }}</span>{% else %}s{% endif %}
    </h2>
    {% if current_calendar %}
    <ul id="calendar-edit-options">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <a href="#"><i class="icon-group"></i> Users &amp; Permissions</a>
                </li>
                <li>
                    <a href="#"><i class="icon-info-sign"></i> Calendar Info</a>
                </li>
                <li>
                    <a href="#"><i class="icon-share-alt"></i> Subscriptions</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="icon-trash"></i> Delete Calendar</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Live View</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block content_subheader %}
    {% if current_calendar.description %}
        {% block content_subheader_text %}
            <h3 class="page-subtitle">{{ current_calendar.description }}</h3>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content_tabs %}
    {% if owned_calendars > 0 %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">Posted</a>
                </li>
                <li>
                    <a href="#">Pending (#)</a>
                </li>
                <li>
                    <a href="#">Archived (#)</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if owned_calendars > 0 %}
    <div class="row">
        <div class="span8 sidebarfix" id="page-content">
            {% if events %}
                {% for event in events %}
                    {{ event.title }}: {{event.start }}-{{ event.end }}<br/>
                {% endfor %}
            {% else %}
                You have no events
            {% endif %}
        </div>
        <div class="span4" id="page-sidebar">
            sidebar mini calendar here...
        </div>
    </div>
    {% else %}
     <div class="row">
        <div class="span12">
            <div class="alert">
                <strong>Heads Up:</strong> It doesn't look like you have any calendars.  Why not go create one?
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}