{% extends 'events/manager/base.html' %}
{% load humanize %}
{% block content_body %}
    <div class="row">
        <div class="span3">
			<ul id="calendars" class="clear">
				{% if tag != None %}
				<li class="selected">
					<a href="{% url dashboard %}">Events Tagged with<br /><strong>{{ tag.name }}</strong></a>
				</li>
				{% endif %}
				{% if search_results != None %}
				<li class="selected">
					<a href="{% url dashboard %}">Search Results</a>
				</li>
				{% endif %}
                <a href="{% url calendar-create %}">Create Calendar</a>
				{% for calendar in user.calendars %}
					<li class="clearfix{% if current_calendar == calendar %} selected{% endif %}">
						<a href="{% url dashboard calendar_id=calendar.id %}" class="name">{{ calendar.name }}</a>
						<ul class="links">
							<li><a href="{% url calendar calendar.slug %}" class="view">View</a></li>
							<li><a class="manage" href="{% url calendar-update id=calendar.id %}">Manage</a></li>
						</ul>
						<div class="details span-4 last">
							<span class="visibility">
								{% if calendar.public %}Public{% else %}Private{% endif %}
							</span>
							&mdash;
							<span class="shared">
								{% if not calendar.shared %}Not {% else %}{% endif %}Shared
							</span>
						</div>
					</li>
				{% endfor %}
			</ul>
        </div>
        <div class="span9">

        </div>
    </div>
{% endblock %}