{% extends 'events/manager/base.html' %}
{% load core_tags %}


{% block title %}Log Out | {{ block.super }} Admin{% endblock %}

{% block pagehead %}
  {% include_esi_template 'esi/template/header.html' %}
{% endblock %}

{% block content_header %}{% endblock %}

{% block content_body %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-block">
        <h1>Log Out</h1>
        <p class="mb-4">You have logged out of the UCF Events system.</p>
        <a href="{% url 'accounts-login' %}" class="btn btn-primary">Sign Back In</a>
        <a href="https://{{ request.get_host }}" class="btn btn-default">UCF Events Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
