{% extends 'events/manager/base.html' %}
{% block content_header %}{% endblock %}
{% block content_body %}
	<div class="row">
        <div class="span8 offset2">
            <div class="popout">
                <!-- TODO: Merge this template w/calendar.create_update -->
                <h2>Create Your First Calendar</h2>
                <p>To create or subscribe to events, you'll need a calendar to put them in.</p>
                <p>If you know you'll be added to an existing calendar later, you can <a href="{% url dashboard %}">skip this step</a>.  You will have limited access to the events system until you're added to a calendar.</p>
                <form class="form-horizontal" action="{% url calendar-create %}" method="post" id="calendar-create">
                    <div class="control-group">
                        <label class="control-label" for="id_name">Calendar Name</label>
                        <div class="controls">
                            <input type="text" id="id_name" placeholder="A name for your calendar">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="id_desc">Description</label>
                        <div class="controls">
                            <textarea id="id_desc" name="id_desc" placeholder="A brief blurb that describes your calendar."></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Create Calendar</button>
                            <a href="{% url dashboard %}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}