{% extends 'events/static/base.html' %}

{# NOTE: static handler templates do NOT include ESIs to avoid missing request context data errors. #}


{% block category_color_styles %}{% endblock %}

{% block navbar %}<body>{% endblock %}

{% block pagehead %}
<header class="container mt-4 mt-md-5 mb-4">
  <a href="{% url 'home' %}" class="text-secondary mb-3">
    <span class="fa fa-home pr-1" aria-hidden="true"></span>Events at UCF
  </a>
</header>
{% endblock %}

{% block title %}Page Not Found{% endblock %}

{% block content_title %}
  <h1>404 - Page Not Found</h1>
{% endblock %}

{% block content_body %}
  <div class="row">
    <div class="col-lg-9">
      <p class="mb-4">The content you requested could not be found. The content may have moved or been deleted from the events system. Perhaps try searching below for what you're looking for?</p>
    </div>
    <div class="col-lg-6">
      <form class="d-flex mb-3" method="GET" action="{% url 'search_view' %}" role="form">
        <label class="sr-only" for="global-search">Search events, calendars</label>
        <input class="search-query form-control" type="text" id="global-search" name="q" placeholder="Search events, calendars">
        <button class="btn btn-primary" tabindex="-1" type="submit">Search</button>
      </form>
    </div>
  </div>
{% endblock %}
