{% load category_colors %}
{% load core_tags %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
    {% block head %}
        <title>{% block title %}Unify Events{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="{% block meta_description %}Unify Events{% endblock %}">
        {% block meta %}{% endblock %}

        <script type="text/javascript">
            var Unify = {};
            if(!window.console ) { window.console = { log: function() { return; } }; }

            var HTTPHOST = '{{ request.META.HTTP_HOST }}';
        </script>
        <!--[if IE]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block header_scripts %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ MEDIA_URL }}-/img/favicon.ico" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/jonthornton-jquery-timepicker/jquery.timepicker.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/datepicker/css/datepicker.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" media="all" />
        {% block links %}
        {% endblock %}

        {% category_color_styles %}

    {% endblock %}
    </head>
    <body>
        {% block pagehead %}
        <header class="container">
            <div class="row">
                <div class="span7">
                    <span id="header-title"><a href="{% url 'home' %}"><span class="alt">UCF</span> Events</a></span>
                </div>
                <div class="span5">
                    <form class="form-search" method="GET" action="{% url 'haystack_search' %}">
                        <div class="input-append">
                            <label class="label-hidden" for="q">Search events, calendars</label>
                            <input type="text" class="span3 search-query" id="q" name="q" placeholder="Search events, calendars" />
                            <button type="submit" class="btn">Search <i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block navbar %}
        <div class="fullwidth" id="navwrap">
            <nav class="container">
                <div class="row">
                    <div class="span12" id="navinner">
                        <div class="user">
                            <i class="icon-user"></i>
                            {% if user.is_authenticated %}
                            Hi, <strong>{{user.first_name}}</strong>
                            {% else %}
                            Hi, <strong>Guest</strong>
                            {% endif %}
                        </div>
                        {% include_esi_template 'esi/header.html' %}
                        <!-- Secondary actions that require less attention go here. -->
                        <ul id="actions-secondary">
                            {% if user.is_authenticated %}
                            <li>
                                <i class="icon-cog"></i>
                                <a href="{% url 'profile-settings' %}">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <i class="icon-power-off"></i>
                                <a href="{% url 'accounts-logout' %}">
                                    Logout
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <i class="icon-signin"></i>
                                <a href="{% url 'accounts-login' %}">
                                    Sign In
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% endblock %}

        <!-- Content -->
        {% block body %}
            {% block content %}
                {% block content_header %}{% endblock %}
                {% block content_body %}{% endblock %}
                {% block content_footer %}{% endblock %}
            {% endblock %}
        {% endblock %}

        <!-- Generic Modal for Object Modification -->
        <div class="modal hide fade" id="object-modify-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2></h2>
            </div>
            <form action="" method="post" id="object-modify">
                {% csrf_token %}
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>

        <div class="modal hide fade" id="bulk-event-delete-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Bulk Action: Delete</h2>
            </div>
            <div class="modal-body">
                <p>One of the events you selected has multiple date times. If you delete the event then every date time will be deleted as well. If you would like to ONLY delete the date time for the event press Cancel and then click on edit from the event action.
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" id="bulk-event-delete-btn">Delete Events</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>

        {% block footer %}
        <footer class="container">
            <div class="row">
                <hr class="span12" />
                <div class="span8">
                    &copy; University of Central Florida
                </div>
                <div class="span4">
                    <ul>
                        <li>
                            <a href="{% url 'help' %}">Help &amp; Documentation</a>
                        </li>
                        <li>
                            <a href="{% url 'for-developers' %}">For Developers</a>
                        </li>
                        <li>
                            <a href="mailto:webcom@ucf.edu">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block footer_scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" id="ucfhb-script" src="//universityheader.ucf.edu/bar/js/university-header.js?use-bootstrap-overrides=1"></script>
        <script src="{{ MEDIA_URL }}bootstrap/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/jonthornton-jquery-timepicker/jquery.timepicker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/datepicker/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/wysihtml5-base/dist/wysihtml5-0.3.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/placeholders.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/script.js" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
