{% load category_colors %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
    {% block head %}
        <title>{% block title %}Unify Events{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="{% block meta_description %}Unify Events{% endblock %}">
        {% block meta %}{% endblock %}

        <script type="text/javascript">
            var Unify = {};
            if(!window.console ) { window.console = { log: function() { return; } }; }

            var HTTPHOST = '{{ request.META.HTTP_HOST }}';
        </script>
        <!--[if IE]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block header_scripts %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ MEDIA_URL }}-/img/favicon.ico" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/jonthornton-jquery-timepicker/jquery.timepicker.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/datepicker/css/datepicker.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" media="all" />
        {% block links %}
        {% endblock %}

        {% category_color_styles %}

    {% endblock %}
    </head>
    <body>
        {% block pagehead %}
        <header class="container">
            <div class="row">
                <div class="span7">
                    <span id="header-title"><a href="{% url 'dashboard' %}"><span class="alt">UCF</span> Events</a></span>
                </div>
                <div class="span5">
                    <form class="form-search">
                        <div class="input-append">
                            <label class="label-hidden" for="global-search">Search events, calendars</label>
                            <input type="text" class="span3 search-query" id="global-search" placeholder="Search events, calendars" />
                            <button type="submit" class="btn">Search <i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block navbar %}
        <div class="fullwidth" id="navwrap">
            <nav class="container">
                <div class="row">
                    <div class="span12" id="navinner">
                        <div class="user">
                            <i class="icon-user"></i>
                            {% if user.is_authenticated %}
                            Hi, <strong>{{user.first_name}}</strong>
                            {% else %}
                            Hi, <strong>Guest</strong>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            {% if first_login %}
                            {% else %}
                        <!-- Primary actions go here - actions that should grab the user's attention. -->
                        <ul id="actions-primary">
                            {% if user.is_superuser %}
                            <li class="dropdown">
                                <i class="icon-key"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'calendar-list' %}">
                                    Admin Menu
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Moderate</li>
                                    <li role="presentation">
                                        <a href="{% url 'location-list' %}">
                                            <i class="icon-map-marker"></i>
                                            Locations
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'category-list' %}">
                                            <i class="icon-tag"></i>
                                            Categories
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'tag-list' %}">
                                            <i class="icon-tags"></i>
                                            Tags
                                        </a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation">
                                        <a href="{% url 'profile-list' %}">
                                            <i class="icon-group"></i>
                                            All Users
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'calendar-list' %}">
                                            <i class="icon-calendar"></i>
                                            All Calendars
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="dropdown">
                                <i class="icon-calendar"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'dashboard' %}">
                                    My Calendars
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">
                                        <a href="{% url 'dashboard' %}">View All</a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                {% if user.calendars %}
                                    {% for calendar in user.calendars %}
                                        <li role="presentation"{% if current_calendar == calendar %} class="selected"{% endif %}>
                                            <a href="{% url 'dashboard' calendar_id=calendar.id %}" class="name">
                                                <i class="icon-calendar"></i> {{ calendar.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="divider" role="presentation"></li>
                                 {% endif %}
                                    <li role="presentation">
                                        <a href="{% url 'calendar-create' %}"><i class="icon-plus"></i> Create New Calendar</a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.calendars %}
                            <li id="create-event">
                                <span class="icon-circle-wrap">
                                    <i class="icon-pencil"></i>
                                </span>
                                <a href="{% url 'event-create' %}">
                                    Create Event
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                            {% endif %}
                        {% endif %}
                        <!-- Secondary actions that require less attention go here. -->
                        <ul id="actions-secondary">
                            {% if user.is_authenticated %}
                            <li>
                                <i class="icon-cog"></i>
                                <a href="{% url 'profile-settings' %}">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <i class="icon-power-off"></i>
                                <a href="{% url 'accounts-logout' %}">
                                    Logout
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <i class="icon-signin"></i>
                                <a href="{% url 'accounts-login' %}">
                                    Sign In
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% endblock %}

        <!-- Content -->
        {% block body %}
            {% block content %}
                {% block content_header %}{% endblock %}
                {% block content_body %}{% endblock %}
                {% block content_footer %}{% endblock %}
            {% endblock %}
        {% endblock %}

        {% block footer %}
        <footer class="container">
            <div class="row">
                <hr class="span12" />
                <div class="span8">
                    &copy; University of Central Florida
                </div>
                <div class="span4">
                    <ul>
                        <li>
                            <a href="{% url 'help' %}">Help &amp; Documentation</a>
                        </li>
                        <li>
                            <a href="{% url 'for-developers' %}">For Developers</a>
                        </li>
                        <li>
                            <a href="mailto:webcom@ucf.edu">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block footer_scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" id="ucfhb-script" src="//universityheader.ucf.edu/bar/js/university-header.js?use-bootstrap-overrides=1"></script>
        <script src="{{ MEDIA_URL }}bootstrap/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/jonthornton-jquery-timepicker/jquery.timepicker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/datepicker/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/wysihtml5-base/dist/wysihtml5-0.3.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/placeholders.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/script.js" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
