<!DOCTYPE html>
<html lang="en-US">
    <head>
    {% block head %}
        <title>{% block title %}Unify Events{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="{% block meta-description %}Unify Events{% endblock %}">
        {% block meta %}{% endblock %}
        
        <script>
            var Unify = {};
            if(!window.console ) { window.console = { log: function() { return; } }; }
        </script>
            
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {% block links %}
        <link rel="shortcut icon" href="{{ MEDIA_URL }}-/img/favicon.ico" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}bootstrap/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/datepicker/css/datepicker.css" rel="stylesheet" media="all" />
        <link href="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.css" rel="stylesheet" media="all" />
        <link href="http://universityheader.ucf.edu/bar/css/bar.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" media="all" />
        {% endblock %}
        
    {% endblock %}
    </head>
    <body>
        {% block pagehead %}
        <header class="container">
            <div class="row">
                <div class="span7">
                    <h1><a href="{% url dashboard %}"><span class="alt">UCF</span> Events</a></h1>
                </div>
                <div class="span5">
                    <form class="form-search">
                        <div class="input-append">
                            <input type="text" class="span3 search-query" placeholder="Search events, calendars" />
                            <button type="submit" class="btn">Search <i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </header>	    
        {% endblock %}
        
        {% block navbar %}
        <div class="fullwidth" id="navwrap">
            <nav class="container">
                <div class="row">
                    <div class="span12" id="navinner">
                        <div class="user">
                            <i class="icon-user"></i> 
                            {% if user.is_authenticated %}
                            Hi, <strong>{{user.first_name}}</strong>
                            {% else %}
                            Hi, <strong>Guest</strong>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            {% if first_login %}
                            {% else %}
                        <!-- Primary actions go here - actions that should grab the user's attention. -->
                        <ul id="actions-primary">
                            <li class="dropdown">
                                <i class="icon-calendar"></i> 
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    My Calendars
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">
                                        <a href="{% url dashboard %}">View All</a>
                                    </li>
                                    <li class="divider" role="presentation"></li>
                                {% if user.calendars %}
                                    {% for calendar in user.calendars %}
                                        <li role="presentation"{% if current_calendar == calendar %} class="selected"{% endif %}>
                                            <a href="{% url dashboard calendar_id=calendar.id %}" class="name">
                                                <i class="icon-calendar"></i> {{ calendar.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="divider" role="presentation"></li>
                                 {% endif %}   
                                    <li role="presentation">
                                        <a href="{% url calendar-create %}"><i class="icon-plus"></i> Create New Calendar</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <a href="#">
                                    Messages
                                </a>
                                <span class="label label-important">2</span>
                            </li>
                            {% if user.calendars %}
                            <li id="create-event">
                                <span class="icon-circle-wrap">
                                    <i class="icon-pencil"></i>
                                </span>
                                <a href="{% url event-create %}">
                                    Create Event
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                            {% endif %}
                        {% endif %}
                        <!-- Secondary actions that require less attention go here. -->
                        <ul id="actions-secondary">
                            {% if user.is_authenticated %}
                            <li>
                                <i class="icon-cog"></i>
                                <a href="{% url profile-settings %}">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <i class="icon-power-off"></i>
                                <a href="{% url accounts-logout %}">
                                    Logout
                                </a>                                
                            </li>
                            {% else %}
                            <li>
                                <i class="icon-signin"></i>
                                <a href="{% url accounts-login %}">
                                    Sign In
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% endblock %}
	    
		<!-- Content -->
		{% block body %}
            {% block content %}{% endblock %}
            
            {% block footer_scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script type="text/javascript" src="http://universityheader.ucf.edu/bar/js/university-header.js"></script>
            <script src="{{ MEDIA_URL }}bootstrap/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
            <script src="{{ MEDIA_URL }}js/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript" charset="utf-8"></script>
            <script src="{{ MEDIA_URL }}js/datepicker/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
            <script src="{{ MEDIA_URL }}js/wysihtml5-base/dist/wysihtml5-0.3.0.min.js" type="text/javascript" charset="utf-8"></script>
            <script src="{{ MEDIA_URL }}js/wysihtml5-bootstrap/wysihtml5-bootstrap.js" type="text/javascript" charset="utf-8"></script>
            <script src="{{ MEDIA_URL }}js/script.js" type="text/javascript" charset="utf-8"></script>
            {% endblock %}
		{% endblock %}
	</body>
</html>