{% extends 'events/manager/base.html' %}

{% block content_body %}
<div class="event">
	
	{% if mode == 'create' %}<h2>Create an Event</h2>{% endif %}
	{% if mode == 'update' %}<h2>Update Event</h2>{% endif %}
	
	<div id="title">
		<div class="span-16 append-1 col1">
			<input type="text" placeholder="Event Title">
		</div>
		<div class="span-7 last col2">
			<div class="label">
				<h3>Event Title <span>required</span></h3>
				<p><em>Be Brief.  Be Bright. Be Done.</em></p>
			</div>
			<div class="error" style="display:none;">
				<h4><strong>Title Too Long</strong><br>(64 Characters Max)</h4>
				<p>Notice this error message is exactly sixty-four characters long.</p>
			</div>
		</div>
	</div>
	
	
	<div class="span-16 append-1 col1">
		<div class="when-where">
			<label class="when">When</label>
			<input class="date" value="{% now "m/d/y" %}">
			<select class="time">
				<script>
				Unify.hour = new Date();
				Unify.hour = Unify.hour.getHours();
				for(var i=0; i<24; i++){
					document.write('<option ');
					if(i==Unify.hour) document.write('selected="selected"');
					document.write('>'+i+':00</option>');
					document.write('<option>'+i+':15</option>');
					document.write('<option>'+i+':30</option>');
					document.write('<option>'+i+':45</option>');
				}
				</script>
			</select>
			<span class="end">
				<input class="date" value="{% now "d/m/y" %}">
				<select class="time">
					<script>
					Unify.hour = new Date();
					Unify.hour = Unify.hour.getHours();
					for(var i=0; i<24; i++){
						document.write('<option ');
						if(i==Unify.hour) document.write('selected="selected"');
						document.write('>'+i+':00</option>');
						document.write('<option>'+i+':15</option>');
						document.write('<option>'+i+':30</option>');
						document.write('<option>'+i+':45</option>');
					}
					</script>
				</select>
				<a class="remove rm-time"></a>
			</span>
			<a class="add end-time">add an end time</a>
			<br>
			<label class="where">Where</label>
			<input class="place">
			<div class="street">
				<input>
				<input>
				<a class="remove rm-addr"></a>
			</div>
			<a class="add address">switch to street address</a>
			<br>
			<label class="rec">Recurring? <input type="checkbox"></label>
		</div>
		<div id="when-where-add"><a>add another time/location</a></div>
		
		<div id="repeat-dialog" title="Repeat">
			<p>Events can only repeat for one year</p>
			<table>
			<tr>
				<th>Repeats:</th><td><select><option>Weekly</option></select></td>
			</tr><tr>
				<th>Repeats every:</th><td><select><option>1</option></select>weeks</td>
			</tr><tr>
				<th>Repeat on:</th><td>

					<div class="buttons">
						<input type="checkbox" id="repeat-sunday" /><label for="repeat-sunday">S</label>
						<input type="checkbox" id="repeat-monday" /><label for="repeat-monday">M</label>
						<input type="checkbox" id="repeat-tuesday" /><label for="repeat-tuesday">T</label>
						<input type="checkbox" id="repeat-wednesday" /><label for="repeat-wednesday">W</label>
						<input type="checkbox" id="repeat-thursday" /><label for="repeat-thursday">T</label>
						<input type="checkbox" id="repeat-friday" /><label for="repeat-friday">F</label>
						<input type="checkbox" id="repeat-saturday" /><label for="repeat-saturday">S</label>
					</div>
				</td>
			</tr><tr>
				<th>Ends:</th><td>
					<label><input type="radio" name="ends"> Never</label>
					<label><input type="radio" name="ends"> After</label><input> occurrences
					<label><input type="radio" name="ends"> On</label><input>
				</td>
			</tr><tr>
				<th>Summary:</th><td>recurrence is hard</td>
			</tr></table>
		</div>
		
		
	</div>
	<div class="span-7 last col2">
		<h3>When &amp; Where <span>required</span></h3>
		<p>Events can happen in more than one location.</p>
	</div>
	
	<div class="clear"></div>
	

</div><!-- /event -->


	
	
			
			
<div id="event-old">
	{{event_form.non_field_errors}}
	{{event_form.errors}}
	{% for form in event_formset %}
		{{form.non_field_errors}}
		{{form.errors}}
	{% endfor %}
	{% if mode == 'create' %}
	<form action="{% url event-create %}" method="post" enctype="multipart/form-data">
	{% else %}
		{% if mode == 'update' %}
		<form action="{% url event-update id=event.id %}" method="post" enctype="multipart/form-data">
		{% endif %}
	{% endif %}
	
		<div id="details" class="span-8">
			{{event_form.title.label_tag}}
			{{event_form.title}}
			{{event_form.description.label_tag}}
			{{event_form.description}}
			<a id="create_tag" href="{% url tag-create %}" class="button">Create New Tag</a>
			{{event_form.tags.label_tag}}
			{{event_form.tags}}
			{{event_form.categories.label_tag}}
			{{event_form.categories}}
			{{event_form.image.label_tag}}
			{{event_form.image}}
			{{event_form.calendar.label_tag}}
			{{event_form.calendar}}
			{{event_formset.management_form}}
			{% csrf_token %}
			{% if mode == 'create' %}
			<button type="submit">Create Event</button>
			{% else %}
				{% if mode == 'update' %}
				<button type="submit">Update Event</button>
				{% endif %}
			{% endif %}
		</div>
		<div class="span-15 prepend-1 last">
			<label>Date, Time &amp; Location:</label>
			<ul id="instances">
				{% for form in event_formset %}
					<li class="clearfix">
						{{form.id}}
						<div class="dates span-8">
							<div class="start">
								{{form.start.label_tag}}
								{{form.start}}
							</div>
							<div class="end">
								{{form.end.label_tag}}
								{{form.end}}
							</div>
						</div>
						<div class="span-7 last">
							<div class="recur">
								{{form.interval.label_tag}}
								{{form.interval}} {{form.until}}
							</div>
							<div class="location">
								{{form.location.label_tag}}
								{{form.location}}
							</div>
							<p>{{form.DELETE}} Delete this event instance</p>
						</div>
					</li>
				{% endfor %}
			</ul>
			<button id="event_instance_add" class="clear">Add Another Event Instance</button>
		</div>
	</form>
</div>

{% endblock %}