{% extends 'events/manager/base.html' %}

{% block content_body %}
<div class="event">
	
	{% if mode == 'create' %}<h2>Create an Event</h2>{% endif %}
	{% if mode == 'update' %}<h2>Update Event</h2>{% endif %}
	
	<div id="title">
		<div class="span-16 append-1 col1">
			<input type="text" placeholder="Event Title">
		</div>
		<div class="span-7 last col2">
			<div class="label">
				<h3>Event Title <span>required</span></h3>
				<p><em>Be Brief.  Be Bright. Be Done.</em></p>
			</div>
			<div class="error" style="display:none;">
				<h4><strong>Title Too Long</strong><br>(64 Characters Max)</h4>
				<p>Notice this error message is exactly sixty-four characters long.</p>
			</div>
		</div>
	</div>
	
	
	<div class="span-16 append-1 col1">
		{# this may have to be done via ajax to ensure clean form IDs #}
		{%include 'events/manager/events/when-where.html' %}
		<div id="when-where-template" style="display:none;">
		{%include 'events/manager/events/when-where.html' %}
		</div>



		<div id="when-where-add"><a>add another time/location</a></div>
		
		<div id="repeat-dialog" title="Repeat">
			<table>
			<tr>
				<th>Repeats:</th><td>
					<div class="buttons">
						<input type="radio" id="radioweek"  name="repeats" value="week" ><label class="repeats" for="radioweek"  >Weekly</label>
						<input type="radio" id="radiomonth" name="repeats" value="month"><label class="repeats" for="radiomonth" >Monthly</label>
					</div>
				</td>
			</tr>
			<tr id="repeats-week">
				<th>Repeat on:</th><td>
					<div class="buttons" id="week-days">
						<input value="Sun" type="checkbox" id="repeat-sunday"    class="Sun"><label class="Sun" for="repeat-sunday">Sun</label>
						<input value="Mon" type="checkbox" id="repeat-monday"    class="Mon"><label class="Mon" for="repeat-monday">Mon</label>
						<input value="Tue" type="checkbox" id="repeat-tuesday"   class="Tue"><label class="Tue" for="repeat-tuesday">Tue</label>
						<input value="Wed" type="checkbox" id="repeat-wednesday" class="Wed"><label class="Wed" for="repeat-wednesday">Wed</label>
						<input value="Thu" type="checkbox" id="repeat-thursday"  class="Thu"><label class="Thu" for="repeat-thursday">Thu</label>
						<input value="Fri" type="checkbox" id="repeat-friday"    class="Fri"><label class="Fri" for="repeat-friday">Fri</label>
						<input value="Sat" type="checkbox" id="repeat-saturday"  class="Sat"><label class="Sat" for="repeat-saturday">Sat</label>
					</div>
				</td>
			</tr>
			<tr id="repeats-month">
				<th>Repeat on:</th><td>
					<div class="buttons">
						<input type="radio" id="dayofweek"  name="dayof" value="dayofweek"><label for="dayofweek" >day of the week</label>
						<input type="radio" id="dayofmonth" name="dayof" value="dayofmonth"><label for="dayofmonth" >day of the month</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>Ends:</th><td>
					<input type="text" id="dialog-date">
				</td>
			</tr><tr>
				<th>Summary:</th><td><div id="repeat-summary">Recurrence is hard.</div></td>
			</tr></table>
		</div>
		
		
	</div>
	<div class="span-7 last col2">
		<h3>When &amp; Where <span>required</span></h3>
		<p>Events can happen in more than one location.</p>
	</div>
	
	<div class="clear"></div>
	

</div><!-- /event -->


	
	
			
			
<div id="event-old">
	{{event_form.non_field_errors}}
	{{event_form.errors}}
	{% for form in event_formset %}
		{{form.non_field_errors}}
		{{form.errors}}
	{% endfor %}
	{% if mode == 'create' %}
	<form action="{% url event-create %}" method="post" enctype="multipart/form-data">
	{% else %}
		{% if mode == 'update' %}
		<form action="{% url event-update id=event.id %}" method="post" enctype="multipart/form-data">
		{% endif %}
	{% endif %}
	
		<div id="details" class="span-8">
			{{event_form.title.label_tag}}
			{{event_form.title}}
			{{event_form.description.label_tag}}
			{{event_form.description}}
			<a id="create_tag" href="{% url tag-create %}" class="button">Create New Tag</a>
			{{event_form.tags.label_tag}}
			{{event_form.tags}}
			{{event_form.categories.label_tag}}
			{{event_form.categories}}
			{{event_form.image.label_tag}}
			{{event_form.image}}
			{{event_form.calendar.label_tag}}
			{{event_form.calendar}}
			{{event_formset.management_form}}
			{% csrf_token %}
			{% if mode == 'create' %}
			<button type="submit">Create Event</button>
			{% else %}
				{% if mode == 'update' %}
				<button type="submit">Update Event</button>
				{% endif %}
			{% endif %}
		</div>
		<div class="span-15 prepend-1 last">
			<label>Date, Time &amp; Location:</label>
			<ul id="instances">
				{% for form in event_formset %}
					<li class="clearfix">
						{{form.id}}
						<div class="dates span-8">
							<div class="start">
								{{form.start.label_tag}}
								{{form.start}}
							</div>
							<div class="end">
								{{form.end.label_tag}}
								{{form.end}}
							</div>
						</div>
						<div class="span-7 last">
							<div class="recur">
								{{form.interval.label_tag}}
								{{form.interval}} {{form.until}}
							</div>
							<div class="location">
								{{form.location.label_tag}}
								{{form.location}}
							</div>
							<p>{{form.DELETE}} Delete this event instance</p>
						</div>
					</li>
				{% endfor %}
			</ul>
			<button id="event_instance_add" class="clear">Add Another Event Instance</button>
		</div>
	</form>
</div>

{% endblock %}