<section class="event-list">
	{%if heading%}
	<{{heading_tag|default_if_none:"h1"}} class="heading">{{heading}}</{{heading_tag|default_if_none:"h1"}}>
	{%endif%}
	{%if events|length%}
	<ul>
		{%for event in events%}
		<li class="event{%if forloop.first%} first{%endif%} span-15 last">
			<div class="start span-4 append-1">
					{%if event.is_ongoing%}<div class="ongoing">ongoing since</div>{%endif%}
					{{event.start|date:"fA"|lower}}
			</div>
			<div class="details span-10 last">
				<div class="heading">
					<a href="{%url event calendar.slug event.id %}{{event.event.slug}}" class="title">{{event.title}}</a>
				</div>
				<div class="description">{{event.description|truncatewords:16}}</div>
				<div class="buttons">
					<a class="primary button" href="#">Social Something</a>
					<a class="button" href="#">Button</a>
				</div>
			</div>
		</li>
		{%endfor%}
	</ul>
	{%endif%}
</section>