{% extends 'events/manager/base.html' %}
{% block footer_scripts %}
	{{block.super}}
{% endblock %}
{% block content_body %}
		{% if mode == 'create' %}
			<h2>Create a Category</h2>
			<form action="{% url category-create %}" method="post" id="category-create">
		{% else %}
			{% if mode == 'update' %}
				<h2>Update {{category.name}}</h2>
				<form action="{% url category-update id=category.id %}" method="post" id="category-create">
			{% endif %}
		{% endif %}
				{% if form.non_field_errors %}
				<p>{{form.non_field_errors}}</p>
			{% endif %}
			<table>
				<tbody>
					<tr>
						<th scope="row">{{form.name.label_tag}}</th>
						<td>
							{{form.name}}
							{% if form.name.errors %}
								<ul>
								{% for error in form.name.errors %}
								<li>{{error}}</li>
								{% endfor %}
								</ul>
							{% endif %}
						</td>
						
					</tr>
				</tbody>
			</table>
			{% if mode == 'create' %}
				<button type="submit">Create</button>
			{% else %}
				{% if mode == 'update' and user.is_superuser %}
					<button type="submit">Update</button>
					<a href="{% url category-delete id=category.id %}" class="button">Delete category</a>
				{% endif %}
			{% endif %}
		</form>
{% endblock %}