{% extends 'events/manager/base.html' %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#event_instance_add')
				.click(function() {
					extend_formset('#instances > li:last', 'event_instance');
					return false;
				});
			$('#instances > li')
				.each(function(index, li) {
					var li = $(li);
					li.find('.event_instance_remove')
						.click(function() {
							if($('#instances > li').length == 1) {
								alert('An event must have at least one date, time and location combination.')
							} else {
								retract_formset($(this).parents('li:eq(0)'), 'event_instance');
							}
							return false;
						});
				});
		})
	</script>
{% endblock %}
{% block content_body %}
	<h2>Create an Event</h2>
	<div id="event" class="span-24">
			{{event_form.non_field_errors}}
			{{event_form.errors}}
			{% for form in event_formset %}
				{{form.non_field_errors}}
				{{form.errors}}
			{% endfor %}
			<form action="{% url event-create %}" method="post">
				<div id="details" class="span-8">
					<p>{{event_form.title.label_tag}}</p>
					{{event_form.title}}
					<p>{{event_form.description.label_tag}}</p>
					{{event_form.description}}
					<p>{{event_form.calendar.label_tag}}</p>
					<p>{{event_form.calendar}}</p>
					{{event_formset.management_form}}
					{% csrf_token %}
					<button type="submit">Create Event</button>
				</div>
				<div class="span-15 prepend-1 last">
					<label>Date, Time &amp; Location:</label>
					<ul id="instances">
						{% for form in event_formset %}
							<li class="clearfix">
								<div class="dates span-8">
									<div class="start">
										{{form.start.label_tag}}
										{{form.start}}
									</div>
									<div class="end">
										{{form.end.label_tag}}
										{{form.end}}
									</div>
								</div>
								<div class="span-7 last">
									<div class="recur">
										{{form.interval.label_tag}}
										{{form.interval}} {{form.limit}}
									</div>
									<div class="location">
										{{form.location.label_tag}}
										{{form.location}}
									</div>
									<button class="event_instance_remove">Remove Event Instance</button>
								</div>
							</li>
						{% endfor %}
					</ul>
					<button id="event_instance_add" class="clear">Add Another Event Instance</button>
				</div>
			</form>
		</div>
{% endblock %}