{% extends 'events/frontend/base.html' %}
{% load humanize %}
{% load core_tags %}

{% block meta_alt_title %}{{ calendar.title }}'s {{ list_title }} {{ block.super }}{% endblock %}

{% block content_title %}
    <h1 class="col-md-12">
        <a href="{% url 'calendar' pk=calendar.pk slug=calendar.slug %}">{{ calendar.title }}</a>
    </h1>

    <div class="col-md-4 edit-options hide">
        <ul>
            <li class="dropdown hide" id="edit-calendar-manage">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'dashboard' pk=calendar.pk %}">
                    <i class="fa fa-pencil"></i>Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                    <li class="dropdown-header">Edit Events</li>
                    <li>
                        <a href="{% url 'dashboard' pk=calendar.pk %}">
                            <i class="fa fa-dashboard fa-fw"></i>Manager View
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Edit Calendar</li>
                    <li>
                        <a href="{% url 'calendar-update-users' pk=calendar.pk %}"><i class="fa fa-group fa-fw"></i> Users &amp; Permissions</a>
                    </li>
                    <li>
                        <a href="{% url 'calendar-update' pk=calendar.pk %}"><i class="fa fa-info-circle fa-fw"></i> Calendar Info</a>
                    </li>
                    <li>
                        <a href="{% url 'calendar-update-subscriptions' pk=calendar.pk %}"><i class="fa fa-share fa-fw"></i> Subscriptions</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="object-modify" href="{% url 'calendar-delete' pk=calendar.pk %}"><i class="fa fa-trash-o fa-fw"></i> Delete Calendar</a>
                    </li>
                </ul>
            </li>
            <li class="hide" id="edit-calendar-subscribe">
                <a class="calendar-subscribe" data-toggle="modal" href="{% url 'calendar-subscribe' pk=calendar.pk subscribing_calendar_id=user.calendars.all.0.pk %}">
                    <i class="fa fa-share"></i>Subscribe to Calendar
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content_subheader_text %}
    {% if calendar.description %}
        {{ calendar.description }}
    {% endif %}
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
var user_calendars = [{% include_esi_template "esi/user-calendar-ids.html" %}];
var is_superuser = parseInt({% include_esi_template "esi/user-is-superuser.html" %});

// Show edit button only for editors
if (
    (user_calendars.length && user_calendars.indexOf({{ calendar.pk }}) > -1) ||
    is_superuser == 1
) {
    $('h1').attr('class', 'col-md-8');
    $('#page-title-wrap .edit-options').removeClass('hide');
    $('#edit-calendar-manage').removeClass('hide');
}

// Show subscription button if user has more than one calendar.
if (user_calendars.length > 1) {
    $('h1').attr('class', 'col-md-8');
    $('#page-title-wrap .edit-options').removeClass('hide');
    $('#edit-calendar-subscribe').removeClass('hide');
}
</script>
{% endblock %}
