{% extends 'events/frontend/base.html' %}
{% load core_tags %}
{% load url %}

{% block pagehead %}
  {# Move login link out of header for this template #}
  {% if calendar.is_main_calendar %}{% else %}{% include_esi_template 'esi/template/header.html' %}{% endif %}
{% endblock %}

{% block content_title %}
  <div class="col">
    <h1 class="h2 mb-2">
      <a class="text-secondary" href="{% url 'events.views.event_views.calendar' pk=calendar.pk slug=calendar.slug %}">{{ calendar.title }}</a>
    </h1>
  </div>
  {% if calendar.is_main_calendar and not user.is_authenticated %}
  <div class="col-4">
    {% include_esi_template 'esi/template/login.html' %}
  </div>
  {% endif %}

  <div class="col-lg-4 edit-options d-none mb-3 mb-lg-0 text-lg-right">
    <div class="dropdown d-inline-block mr-3" id="edit-calendar-manage">
      <a class="dropdown-toggle small font-weight-bold text-default-aw" href="{% url 'dashboard' pk=calendar.pk %}" role="button" id="manageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-pencil-alt pr-1" aria-hidden="true"></span>Manage
      </a>

      <div class="dropdown-menu" aria-labelledby="manageDropDown">
        <div class="dropdown-header font-weight-bold text-uppercase">Edit Events</div>
        <a class="dropdown-item" href="{% url 'dashboard' pk=calendar.pk %}">
          <span class="fa fa-tachometer-alt fa-fw mr-1" aria-hidden="true"></span>Manager View
        </a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header font-weight-bold text-uppercase">Edit Calendar</div>
        <a class="dropdown-item" href="{% url 'events.views.manager.calendar-update-users' pk=calendar.pk %}">
          <span class="fa fa-users fa-fw mr-1" aria-hidden="true"></span>Users &amp; Permissions
        </a>
        <a class="dropdown-item" href="{% url 'events.views.manager.calendar-update' pk=calendar.pk %}">
          <span class="fa fa-info-circle fa-fw mr-1" aria-hidden="true"></span>Calendar Info
        </a>
        <a class="dropdown-item" href="{% url 'events.views.manager.calendar-update-subscriptions' pk=calendar.pk %}">
          <span class="fa fa-share fa-fw mr-1" aria-hidden="true"></span>Subscriptions
        </a>

        {% if user == calendar.owner or user.is_superuser %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item object-modify" href="{% url 'events.views.manager.calendar-delete' pk=calendar.pk %}">
          <span class="fa fa-trash-alt fa-fw mr-1" aria-hidden="true"></span>Delete Calendar
        </a>
        {% endif %}
      </div>
    </div>

    <a class="object-modify small font-weight-bold text-default-aw d-none" id="edit-calendar-subscribe" href="{% url 'events.views.manager.calendar-subscribe' pk=calendar.pk %}">
      <span class="fa fa-share pr-1" aria-hidden="true"></span>Subscribe to Calendar
    </a>
  </div>
{% endblock %}

{% block content_subheader_text %}
  {% if calendar.description %}
    {{ calendar.description }}
  {% endif %}
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
var user_editable_calendars = [{% include_esi_template "esi/template/user-editable-calendar-ids.html" %}];
var is_superuser = parseInt({% include_esi_template "esi/template/user-is-superuser.html" %});

// Show Manage Calendar button only for admins, owners or superusers
if (
  (user_editable_calendars.length && user_editable_calendars.indexOf({{ calendar.pk }}) > -1) ||
  is_superuser == 1
) {
  $('#page-title-wrap .edit-options').removeClass('d-none');
  $('#edit-calendar-manage').removeClass('d-none');
}

// Show subscription button if user is viewing a calendar they don't have edit access to,
// or if the user has at least 2 editable calendars
if (
  (user_editable_calendars.length > 0 && user_editable_calendars.indexOf({{ calendar.pk }}) == -1) ||
  (user_editable_calendars.length > 1)
) {
  $('#page-title-wrap .edit-options').removeClass('d-none');
  $('#edit-calendar-subscribe').removeClass('d-none');
}
</script>
{% endblock %}
