{% extends 'events/frontend/calendar/base.html' %}
{% load url %}

{# NOTE: these block declarations must be kept separate so that {{ block.super }} renders properly #}
{% block title %}{% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }} | {{ list_title }}{% endblock %}
{% block og_title %}{% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }} | {{ list_title }}{% endblock %}

{% block meta_description %}{% block og_description %}{% if calendar.description %}{{ calendar.description }} | {% endif %}{{ calendar.title }} at the University of Central Florida | UCF Events{% endblock %}{% endblock %}

{% block meta %}
    {% if list_type != 'year' %}
    {% include 'events/frontend/meta-alt-feeds.html' %}
    {% endif %}
{% endblock %}

{% block content_tabs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hidden-xs">
                <li{% if list_type == None or list_type == 'day' %} class="active"{% endif %}>
                    <a href="{% url 'calendar' pk=calendar.pk slug=calendar.slug %}">Day View</a>
                </li>
                <li{% if list_type == 'week' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-week' %}">Week View</a>
                </li>
                <li{% if list_type == 'month' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-month' %}">Month View</a>
                </li>
                <li{% if list_type == 'year' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-year' %}">Year View</a>
                </li>
                <li{% if list_type == 'upcoming' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='upcoming' %}">Upcoming</a>
                </li>
            </ul>
            <div class="btn-group dropdown mobile-nav-tabs visible-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    View By... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li{% if list_type == None or list_type == 'day' %} class="active"{% endif %}>
                        <a href="{% url 'calendar' pk=calendar.pk slug=calendar.slug %}">Day View</a>
                    </li>
                    <li{% if list_type == 'week' %} class="active"{% endif %}>
                        <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-week' %}">Week View</a>
                    </li>
                    <li{% if list_type == 'month' %} class="active"{% endif %}>
                        <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-month' %}">Month View</a>
                    </li>
                    <li{% if list_type == 'year' %} class="active"{% endif %}>
                        <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='this-year' %}">Year View</a>
                    </li>
                    <li{% if list_type == 'upcoming' %} class="active"{% endif %}>
                        <a href="{% url 'named-listing' pk=calendar.pk slug=calendar.slug type='upcoming' %}">Upcoming</a>
                    </li>
                </ul>
            </div>
            <div class="secondary-nav-action searchbar">
                {% include 'events/frontend/searchbar.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    {% if list_type == 'day' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-day.html' %}
    {% elif list_type == 'week' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-week.html' with use_grouping=True %}
    {% elif list_type == 'month' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-month.html' %}
    {% elif list_type == 'year' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-year.html' %}
    {% elif list_type == 'upcoming' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-upcoming.html' %}
    {% else %} {# fallback template #}
        {% include 'events/frontend/calendar/calendar-type/calendar-default.html' %}
    {% endif %}
{% endblock %}
