{% extends 'events/frontend/calendar/base.html' %}
{% load humanize %}

{% block content_tabs %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li{% if list_type == None or list_type == 'day' %} class="active"{% endif %}>
                    <a href="{% url 'calendar' calendar.slug %}">Day View</a>
                </li>
                <li{% if list_type == 'week' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' calendar.slug "this-week" %}">Week View</a>
                </li>
                <li{% if list_type == 'month' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' calendar.slug "this-month" %}">Month View</a>
                </li>
                <li{% if list_type == 'year' %} class="active"{% endif %}>
                    <a href="{% url 'named-listing' calendar.slug "this-year" %}">Year View</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    {% if list_type == 'month' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-month.html' %}
    {% elif list_type == 'year' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-year.html' %}
    {% elif list_type == 'day' %}
        {% include 'events/frontend/calendar/calendar-type/calendar-day.html' %}
    {% else %}
        {% include 'events/frontend/calendar/calendar-type/calendar-default.html' %}
    {% endif %}

    <!-- Subscribe to Calendar Modal -->
    {% if user.editable_calendars.all.count > 0 %}
    <div class="modal hide fade" id="calendar-subscribe-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2>Subscribe to Calendar: <span class="alt">{{ calendar.title }}</span></h2>
        </div>
        <div class="modal-body">
            <p>
                Select one of your calendars below to automatically receive published
                events from <em>{{ calendar.title }}</em>.
            </p>
            <p>
                These settings can be changed at any time from the selected calendar
                settings screen under the "Subscriptions" tab.
            </p>
            <select id="new-subscription-select">
                <option value="">Select a Calendar</option>
                {% for mycal in user.calendars.all %}
                    {% if mycal.id != calendar.id  %}
                    <option value="{{ mycal.id }}">{{ mycal.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
            <a href="{% url 'calendar-subscribe' pk=calendar.id subscribing_calendar_id=user.calendars.all.0.id %}" class="btn btn-primary">Subscribe</a>
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
