{% extends 'events/frontend/calendar/full-header-base.html' %}
{% load url %}

{# NOTE: these block declarations must be kept separate so that {{ block.super }} renders properly #}
{% block title %}{% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }} | {{ list_title }}{% endblock %}
{% block og_title %}{% if not calendar.is_main_calendar %}{{ calendar.title }} | {% endif %}{{ block.super }} | {{ list_title }}{% endblock %}

{% block meta_description %}{% block og_description %}{% if calendar.description %}{{ calendar.description }} | {% endif %}{{ calendar.title }} at the University of Central Florida | UCF Events{% endblock %}{% endblock %}

{% block meta %}
  {{ block.super }}
  {% if list_type != 'year' %}
  {% include 'events/frontend/meta-alt-feeds.html' %}
  {% endif %}
{% endblock %}

{% block content_tabs %}
<nav class="navbar navbar-toggleable-lg navbar-light bg-primary">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#time-menu" aria-controls="time-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="time-menu">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link{% if list_type == None or list_type == 'day' %} active{% endif %}" href="{% url 'events.views.event_views.calendar' pk=calendar.pk slug=calendar.slug %}">Day View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if list_type == 'week' %} active{% endif %}" href="{% url 'events.views.event_views.named-listing' pk=calendar.pk slug=calendar.slug type='this-week' %}">Week View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if list_type == 'month' %} active{% endif %}" href="{% url 'events.views.event_views.named-listing' pk=calendar.pk slug=calendar.slug type='this-month' %}">Month View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if list_type == 'year' %} active{% endif %}" href="{% url 'events.views.event_views.named-listing' pk=calendar.pk slug=calendar.slug type='this-year' %}">Year View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if list_type == 'upcoming' %} active{% endif %}" href="{% url 'events.views.event_views.named-listing' pk=calendar.pk slug=calendar.slug type='upcoming' %}">Upcoming</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content_body %}
<div class="container full-header-container">
  {% if featured_event %}
    {% include 'events/frontend/calendar/components/featured-event.html' %}
  {% endif %}
  {% if list_type == 'day' %}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-day.html' %}
  {% elif list_type == 'week' %}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-week.html' with use_grouping=True %}
  {% elif list_type == 'month' %}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-month.html' %}
  {% elif list_type == 'year' %}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-year.html' %}
  {% elif list_type == 'upcoming' %}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-upcoming.html' %}
  {% else %} {# fallback template #}
    {% include 'events/frontend/calendar/calendar-type/full-header-calendar-default.html' %}
  {% endif %}
</div>
{% endblock %}
