/*
 * General Styles
 */
#manager-base header {margin-top:35px;}
#manager-base h1 {font-size:225%;float:left;margin-bottom:10px;}
#manager-base h1 > a {text-decoration:none;}
#manager-base h2 {font-size:150%;font-weight:normal;}

#manager-base label {font-size:17px;}
#manager-base input[type="text"], #manager-base input[type="password"] {
	font-size:18px;
}
.box {background:none;}

#nav {float:right;}
	#nav > li {
		display:inline;
		font-size:120%;
		border-left:1px solid #333;
	}
		#nav > li > a {
			padding-left:7px;
			text-decoration:none;
		}
		#nav > li > a:hover {
			text-decoration:underline;
		}
	#nav > li:first-child {
		border-left:none;
		padding-right:5px;
	}
.datepicker {
	border-color:#FFF;
	width:140px;
}
#messages {
	margin:0 0 30px 0;
	padding:0;
}
	#messages li {
		list-style-type:none;
	}
a.serious {
	color:#CC0000 !important; 
}
/*
 * Login Styles
 */
#login {
	display:block;
	border-radius:2px;
	background: #FFF6D4;
	border: 1px solid #DAD1AC;
}
	#login h2 {
		margin-top:0;
	}
	#login #login-form table {
		width:100%;
	}
	#login .error {
	 	margin:10px 10px 0 10px;
	 }
	 	#login .error > li {
	 		list-style-type:none;
	 	}
	 	#login .error > li:last-child {
	 		margin-bottom:0;
	 	}
	#login td .error {
	 	font-size:80%;
	 	text-align:right;
	 	background-color:inherit;
	 	border:none;
	 	font-style:italic;
	 	margin:0;
	 	padding:0 5px 0 0;
	 }
	 #login #login-message p {
	 	font-size:115%;
	 }

/*
 * Manage Styles
 */
#event_create {
	float:left;
	position:relative;
	z-index:2;
	font-size:100%;
	padding:6px;
}
#other_actions {
	float:left;
	margin:0;
	padding:0;
	z-index:2;
	position:relative;
	margin-left:5px;
}
	#other_actions > li:first-child {
		position:static;
		display:block;
		margin:0;
	}
		#other_actions > li:first-child button {
			width:145px;
			text-align:left;
		}
			#other_actions > li:first-child button span {
				float:right;
			}
	#other_actions > li {
		list-style-type:none;
		position:absolute;
		display:none;
	}
		#other_actions > li > a {
			display:block;
			padding:6px;
			width:131px;
		}
#calendars {
	margin:0;
	padding:5px 0 0 0;
}
	#calendars > li {
		list-style-type:none;
		padding:5px;
		border-radius:2px;
		border-top:1px solid #f7f7f7;
		margin:5px 0;
	}
		#calendars > li:first-child {
			border:none;
		}
		#calendars li p {
			margin:0;
		}
		#calendars li.selected {
			background-color:#f7f7f7;
			border:none;
		}
		#calendars li > a {
			font-size:160%;
			text-decoration:none;
		}
			#calendars li > a:hover {
				text-decoration:underline;
			}
		#calendars li .name {
			display:block;
			margin-bottom:10px;
		}
		#calendars li .details {
			text-align:right;
			font-size:85%;
			margin-top:2px;
		}
		#calendars li .links {
			margin:0;
			padding:0;
		}
			#calendars li .links li {
				display:inline;
				list-style-type:none;
				margin:0 inherit;
				padding:0 inherit;
				border-left: 1px solid #c1c1c1;
				padding-left:3px;
				padding-right:3px;
			}
				#calendars li .links li:first-child {
					border:none;
					padding-left:0;
				}
				#calendars li .links li > a{
					color:#4183C4;
					font-size:85%;
				}
#search {
	display:block;
	padding-top:10px;
	padding-bottom:5px;
	border-bottom: 2px solid #eee;
}
	#search input[type="text"] {
		font-size:100%;
		height:17px;
		width:203px;
	}
	#search input[type="text"].prefill {
		color:#999;
		font-style:italic;
	}

#event_date {
	text-align:center;
	margin-bottom:10px;
	font-size:150%;
}
	#event_date .prev {
		display:inline;
	}
	#event_date .next {
		display:inline;
	}
	#event_date a {
		text-decoration:none;
		font-size:65%;
		position:relative;
		top:-2px;
	}

#instances {
	margin:0;
	padding:0;
	border-top:2px solid #EEE;
}
	#instances li {
		list-style-type:none;
		margin-bottom:5px;
		padding:10px 0 3px 0;
	}
		#instances li.selected_instance {
			border-right:5px solid #eee;
		}
		#instances li .image {
		}
		#instances li .title {
			font-size:130%;
			color:#333;
			font-weight:bold;
			margin-bottom:3px;
		}
		#instances li .datetime {
			text-align:right;
			font-size:130%;
		}
		#instances li .location {
			text-align:right;
		}
		#instances li .admin {
			margin-top:10px;
			background-color:#f7f7f7;
		}
			#instances li .num_instances {
				font-style:italic;
				font-size:90%;
				float:left;
				margin-left:5px;
				padding:5px 0;
			}
			#instances li .state {
				float:right;
				border-left:3px solid #FFF;
				padding:5px 5px 5px 5px;
			}
				#instances li .state.posted {
				}
/*
 * Event Creation / Updating
 */
 #event {
}
	#event #details {
			
	}
		#event #details label {
			display:block;
			margin:5px 0;
		}
		#event #details #create_tag {
			float:right;
			display:block;
			margin-top:2px;
		}
		#event #details select {
			width:100%;
		}
		#id_event-title {
			width:97%;
			margin:0;
			margin-bottom:10px;
		}
		#id_event-description {
			width:97%;
			height:80px;
			margin-bottom:15px;
		}
		#event #details button {
			display:block;
			width:100%;
			margin-top:10px;
		}
	#event #instances {
		margin:0;
		padding:0;
	}
		#event #instances > li {
			list-style-type:none;
		}
		#event #instances label {
			display:block;
			margin-top:10px;
		}
		#event #instances .recur input {
			width:50px;
		}
		#event #instances .recur select {
			width:205px;
		}
		#event #instances .location select {
			width:270px;
		}
		#event #instances label {
			font-weight:normal;
		}
		#event #instances .start label,
			#event #instances .end label {
				display:block;
			}
/* Tag Management */
#manage-tags {
	margin-top:10px;
}
	#manage-tags th {
		background-color:#eee;
		padding:5px;
		font-weight:bold;
	}
	#manage-tags td {
		vertical-align:top;
		padding:5px;
	}
	#manage-tags td.name {
		width:35%;
	}
	#manage-tags td.event_count {
		width:20%;
	}
	#manage-tags td.actions {
		width:35%;
	}