/*
 * General Styles
 */
#manager-base header {margin-top:35px;}
#manager-base h1 {font-size:225%;float:left;}
#manager-base h1 > a {text-decoration:none;}
#manager-base h2 {font-size:150%;font-weight:normal;}

#manager-base label {font-size:17px;}
#manager-base input[type="text"], #manager-base input[type="password"] {
	font-size:18px;
	margin:5px 5px 10px 5px;
}
.box {background:none;}

#nav {float:right;}
	#nav > li {
		display:inline;
		font-size:120%;
		border-left:1px solid #333;
	}
		#nav > li > a {
			padding-left:7px;
			text-decoration:none;
		}
		#nav > li > a:hover {
			text-decoration:underline;
		}
	#nav > li:first-child {
		border-left:none;
		padding-right:5px;
	}
/*
 * Login Styles
 */
#login {
	display:block;
	border-radius:2px;
	background: #FFF6D4;
	border: 1px solid #DAD1AC;
}
	#login h2 {
		margin-top:0;
	}
	#login #login-form table {
		width:100%;
	}
	#login .error {
	 	margin:10px 10px 0 10px;
	 }
	 	#login .error > li {
	 		list-style-type:none;
	 	}
	 	#login .error > li:last-child {
	 		margin-bottom:0;
	 	}
	#login td .error {
	 	font-size:80%;
	 	text-align:right;
	 	background-color:inherit;
	 	border:none;
	 	font-style:italic;
	 	margin:0;
	 	padding:0 5px 0 0;
	 }
	 #login #login-message p {
	 	font-size:115%;
	 }

/*
 * Manage Styles
 */
#event_create {
	float:left;
	position:relative;
	z-index:2;
	top:3px;
	font-size:105%;
}
#other_actions {
	float:left;
	position:relative;
	margin-left:5px;
	z-index:2;
	top:3px;
	font-size:105%;
}
#event_date {
	text-align:right;
	font-size:200%;
	position:relative;
	top:-14px;
	z-index:1;
}
	#event_date_nav {
		font-size:43%;
	}
		#event_date_nav a {
			color:#666;
			text-decoration:none;
		}
			#event_date_nav a:hover {
				text-decoration:underline;
			}
#calendar_selector {
	float:left;
	position:relative;
	top:-15px;
	z-index:2;
	margin-left:60px;
}
	#calendar_selector p {
		margin:0;
		padding:0;
		font-size:90%;
	}
		#calendar_selector #default_view {
			float:right;
			font-style:italic;
			text-decoration:none;
			font-size:90%;
			position:relative;
			top:-2px;
		}
			#calendar_selector #default_view:hover {
				text-decoration:underline;
				cursor:pointer;
			}
	#calendar_selector select {
		clear:left;
		width:225px;
		height:27px;
	}
#events {
	position:relative;
	top:-7px;
}
	#events th {
		background-color:#3E83C9;
		color:#FFF;
		padding:5px;
		font-weight:bold;
	}
		#events th:first-child {
			border-top-left-radius:2px;
			border-bottom-left-radius:2px;
		}
		#events th:last-child {
			border-top-right-radius:2px;
			border-bottom-right-radius:2px;
		}
	#events td {
		vertical-align:top;
		padding:5px;
	}
		#events td.instances p {
			font-size:90%;
			margin:0;
		}
		#events td.instances ul {
			margin:0;
			padding:5px 0;
		}
			#events td.instances ul > li {
				list-style-type:none;
				margin:0;
				padding:2px 0;
			}

	

#calendars {
	margin:0;
	padding:0;
}
	#calendars > li {
		font-weight:normal;
		list-style-type:none;
		font-size:120%;
		margin:0 0 10px 0;
		padding:10px;
		border-radius:2px;
		border:1px solid #FFF;
	}
		#calendars > li.even {
			background-color:#f3f3f3;
			border:1px solid #e7e7e7;
			cursor:pointer;
		}
		#calendars > li.div:first-child {
			width:00px;
		}
		#calendars > li a {
			text-decoration:none;
		}
			#calendars > li a:hover {
				text-decoration:underline;
			}
	#calendars > li ul.actions {
		margin:2px 0 0 0;
		padding:0;
		height:12px;
	}
		#calendars > li ul.actions > li {
			font-size:11px;
			float:left;
			list-style-type:none;
			margin:0;
			padding:0 5px;
			border-right: 1px solid #BBB;
		}
			#calendars > li  ul.actions > li:first-child {
				padding-left:1px;
			}
			#calendars > li ul.actions > li.last {
				border-right:none;
			}
		#calendars > li ul.actions > li > a {
			color: #2F8DC3;
			text-decoration:none;
		}
			#calendars > li ul.actions > li > a.hover {
				text-decoration:underline;
			}
	#calendars > li .stats {
	}
		#calendars > li .stats > p {
			font-size:10px;
			margin:0;
			padding:0;
		}