{% extends 'events/manager/base.html' %}
{% load humanize %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#search > input[type="text"]')	
				.focus(function() {
					if($(this).val() == 'Search events...') {
						$(this).val('');
						$(this).removeClass('prefill');
					}
				});
			$('#events > tbody > tr')
				.each(function(index, row) {
					var row = $(row);
					row
						.hover(
							function() {
								row.find('.calendars .actions').show();
							},
							function() {
								row.find('.calendars .actions').hide();	
							}
					)
				});
			(function() {
				var other_actions = $('#other_actions');
				other_actions
					.find('li:gt(0)')
						.each(function(count, li) {
							$(li).css('top', (count + 1) * 25);
						})
				other_actions
					.hover(
						function() {
							other_actions.find('li:gt(0)').show();
						},
						function() {
							other_actions.find('li:gt(0)').hide();	
						})
			})();
			$('#instances li[data-update-url]')
				.hover(
					function() {
						$(this).css('cursor','pointer');
					},
					function() {
						$(this).css('cursor','none');	
					}
				)
				.click(function() {
					var update_url = $(this).attr('data-update-url');
					window.location = update_url; 
				})
			
		});
	</script>
{% endblock %}
{% block content_body %}
	<div class="span-24 last">
		<div class="span-7">
			<a id="event_create" href="{% url event-create %}" class="button">Create New Event</a>
			<ul id="other_actions">
				<li><button>Other Actions <span>&#9660;</span></button></li>
				<li><a class="button" href="{% url calendar-create %}">Create Calendar</a></li>
				<li><a class="button" href="">Import/Export</a></li>
			</ul>
			<form id="search" class="clear" action="{% url search-event %}" method="get">
				<input type="text" name="query" value="Search events..." class="prefill" />
				<button type="submit">Search</button>
			</form>
			<ul id="calendars" class="clear">
				{% if search_results %} 
				<li class="selected">
					<a href="{% url dashboard %}">Search Results</a>
				</li>
				{% endif %}
				{% for calendar in user.calendars_include_submitted %}
					<li class="clearfix{% if current_calendar == calendar %} selected{% endif %}">
						<a href="{% url dashboard calendar_id=calendar.id %}" class="name">{{calendar.name}}</a>
						<ul class="links span-3">
							<li><a href="{% url calendar calendar.slug %}" class="view">View</a></li>
							<li><a class="manage" href="{% url calendar-update id=calendar.id %}">Manage</a></li>
						</ul>
						<div class="details span-4 last">
							<span class="visibility">
								{% if calendar.public %}Public{% else %}Private{% endif %}
							</span>
							&mdash;
							<span class="shared">
								{% if not calendar.shared %}Not {% else %}{% endif %}Shared
							</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="span-17 last">
			<div id="event_date">
				{% if current_calendar %}
					<div class="prev">
						<a id="prev_month" href="{% url dashboard _date=dates.prev_month calendar_id=current_calendar.id %}" class="button">&lt;&lt;</a>
						<a id="prev_day" href="{% url dashboard _date=dates.prev_day calendar_id=current_calendar.id %}" class="button">&lt;</a>
						{% if dates.today != dates.relative and dates.today < dates.relative %}
						<a id="next_day" href="{% url dashboard _date=dates.today calendar_id=current_calendar.id %}" class="button">Today</a>
						{% endif %}
					</div>
					{{dates.relative|date:"F j, Y"}}
					<div class="next">
						{% if dates.today != dates.relative and dates.today > dates.relative %}
						<a id="next_day" href="{% url dashboard _date=dates.today calendar_id=current_calendar.id %}" class="button">Today</a>
						{% endif %}
						<a id="next_day" href="{% url dashboard _date=dates.next_day calendar_id=current_calendar.id %}" class="button">&gt;</a>
						<a id="next_month" href="{% url dashboard _date=dates.next_month calendar_id=current_calendar.id %}" class="button">&gt;&gt;</a>
					</div>
				{% else %}
					<div class="prev">
						<a id="prev_month" href="{% url dashboard _date=dates.prev_month %}" class="button">&lt;&lt;</a>
						<a id="prev_day" href="{% url dashboard _date=dates.prev_day %}" class="button">&lt;</a>
					</div>
					{{dates.relative|date:"F j, Y"}}
					<div class="next">
						<a id="next_day" href="{% url dashboard _date=dates.next_day %}" class="button">&gt;</a>
						<a id="next_month" href="{% url dashboard _date=dates.next_month %}" class="button">&gt;&gt;</a>
					</div>
				{% endif %}
			</div>
			<ul id="instances" class="span-17 last">
				{% for instance in instances %}
				<li class="{% cycle 'even' 'odd' %} clear clearfix" data-update-url="{% url event-update id=instance.event.id %}">
					<div>
						<div class="image span-2">
							{% if instance.event.image %}
								<img src="{{instance.event.image.url}}" />
							{% else %}
								<img src="{{MEDIA_URL}}-/img/test-64x64.png" />
							{% endif %}
						</div>
						<div class="span-6">
							<div class="title">{{instance.event.title}}</div>
							<div class="description">{{instance.event.description|truncatewords:25}}</div>
						</div>
						<div class="span-9 last">
							<div class="datetime">
								{% if dates.relative == dates.today %}
									{{instance.start|pretty_date:"manager"}}
								{% else %}
									{{instance.start|date:"F j, Y g a"}}
								{% endif %}
								{% if instance.end %} &ndash; {{instance.end|date:"g a"}}{% endif %}
							</div>
							<div class="location">
								{% if instance.location %}{{instance.location.name}}{% endif %}
							</div>
						</div>
						<div class="span-17 admin">
							<div class="num_instances">
								{% if instance.event.instances.count > 1 %}
									This is one of {{instance.event.instances.count|digit_to_word}} instances of this event.  
								{% endif %}
							</div>
							<div class="state {{instance.event.get_state_display}}">
								{{instance.event.get_state_display|capfirst}}
							</div>
						</div>
					</div>
				</li>
				{% empty %}
				<li>No upcoming events</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}